Iso20022.UnitTest/Resources/Colr/colr.003.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 16 16:13:22, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:colr.003.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:colr.003.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AggregatedIndependentAmount1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Trad" type="IndependentAmount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValAtRsk" type="IndependentAmount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetOpnPos" type="IndependentAmount1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrAmt" type="IndependentAmount2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Agreement2">
        <xs:sequence>
            <xs:element name="AgrmtDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgrmtId" type="Max140Text"/>
            <xs:element name="AgrmtDt" type="ISODate"/>
            <xs:element name="BaseCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgrmtFrmwk" type="AgreementFramework1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgreementFramework1Choice">
        <xs:choice>
            <xs:element name="AgrmtFrmwk" type="AgreementFramework1Code"/>
            <xs:element name="PrtryId" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AgreementFramework1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FBAA"/>
            <xs:enumeration value="BBAA"/>
            <xs:enumeration value="DERV"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="NONR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Collateral1">
        <xs:sequence>
            <xs:element name="VartnMrgn" type="MarginCollateral1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgrtdIndpdntAmt" type="MarginCollateral1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAccount1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CollateralAccountIdentificationType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAccountIdentificationType1Choice">
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CollateralAccountType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOUS"/>
            <xs:enumeration value="CLIE"/>
            <xs:enumeration value="LIPR"/>
            <xs:enumeration value="MGIN"/>
            <xs:enumeration value="DFLT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralBalance1Choice">
        <xs:choice>
            <xs:element name="TtlColl" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CollDtls" type="Collateral1"/>
            <xs:element name="SgrtdIndpdntAmt" type="MarginCollateral1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="LCRE"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MrgnCallReq" type="MarginCallRequestV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExpectedCollateral1">
        <xs:sequence>
            <xs:element name="VartnMrgn" type="ExpectedCollateralMovement1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgrtdIndpdntAmt" type="ExpectedCollateralMovement1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExpectedCollateral1Choice">
        <xs:choice>
            <xs:element name="XpctdCollDtls" type="ExpectedCollateral1"/>
            <xs:element name="SgrtdIndpdntAmt" type="ExpectedCollateralMovement1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ExpectedCollateralMovement1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dlvry" type="CollateralType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rtr" type="CollateralType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExposureConventionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROS"/>
            <xs:enumeration value="NET1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExposureType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BFWD"/>
            <xs:enumeration value="PAYM"/>
            <xs:enumeration value="CCPC"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="CRTL"/>
            <xs:enumeration value="CRSP"/>
            <xs:enumeration value="CCIR"/>
            <xs:enumeration value="CRPR"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="EQPT"/>
            <xs:enumeration value="EQUS"/>
            <xs:enumeration value="EXTD"/>
            <xs:enumeration value="EXPT"/>
            <xs:enumeration value="FIXI"/>
            <xs:enumeration value="FORX"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="OTCD"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SLOA"/>
            <xs:enumeration value="SBSC"/>
            <xs:enumeration value="SCRP"/>
            <xs:enumeration value="SLEB"/>
            <xs:enumeration value="SHSL"/>
            <xs:enumeration value="SCIR"/>
            <xs:enumeration value="SCIE"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="TBAS"/>
            <xs:enumeration value="TRBD"/>
            <xs:enumeration value="TRCP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification29">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IndependentAmount1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Cnvntn" type="IndependentAmountConventionType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndependentAmount2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Cnvntn" type="IndependentAmountConventionType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IndependentAmountConventionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NBTR"/>
            <xs:enumeration value="NATR"/>
            <xs:enumeration value="SEGR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Margin1">
        <xs:sequence>
            <xs:element name="VartnMrgn" type="VariationMargin1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgrtdIndpdntAmtMrgn" type="SegregatedIndependentAmountMargin1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginCall1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsdAmtPtyA" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsdAmtPtyB" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrCnvntn" type="ExposureConventionType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndpdntAmtPtyA" type="AggregatedIndependentAmount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndpdntAmtPtyB" type="AggregatedIndependentAmount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnTerms" type="MarginTerms1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollBal" type="CollateralBalance1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginCallRequestV03">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element name="Oblgtn" type="Obligation3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Agrmt" type="Agreement2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnDtlsDueToA" type="MarginCall1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnDtlsDueToB" type="MarginCall1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RqrmntDtlsDueToA" type="MarginRequirement1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RqrmntDtlsDueToB" type="MarginRequirement1Choice"/>
            <xs:element name="MrgnCallRslt" type="MarginCallResult3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdCollDueToB" type="ExpectedCollateral1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdCollDueToA" type="ExpectedCollateral1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginCallResult2">
        <xs:sequence>
            <xs:element name="VartnMrgnRslt" type="Result1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgrtdIndpdntAmt" type="Result1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginCallResult2Choice">
        <xs:choice>
            <xs:element name="MrgnCallRsltDtls" type="MarginCallResult2"/>
            <xs:element name="MrgnCallAmt" type="Result1"/>
            <xs:element name="SgrtdIndpdntAmt" type="Result1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarginCallResult3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DfltFndAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="MrgnCallRslt" type="MarginCallResult2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginCollateral1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="HeldByPtyA" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HeldByPtyB" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrrAgrdToPtyA" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrrAgrdToPtyB" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InTrnstToPtyA" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InTrnstToPtyB" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginRequirement1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrMrgnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrMrgnAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginRequirement1Choice">
        <xs:choice>
            <xs:element name="MrgnRqrmnt" type="Requirement1"/>
            <xs:element name="SgrtdIndpdntAmtRqrmnt" type="MarginRequirement1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarginTerms1Choice">
        <xs:choice>
            <xs:element name="MrgnDtls" type="Margin1"/>
            <xs:element name="SgrtdIndpdntAmtMrgn" type="SegregatedIndependentAmountMargin1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress6">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Obligation3">
        <xs:sequence>
            <xs:element name="PtyA" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyA" type="PartyIdentification33Choice"/>
            <xs:element name="PtyB" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyB" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollAcctId" type="CollateralAccount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrTp" type="ExposureType5Code"/>
            <xs:element name="ValtnDt" type="DateAndDateTimeChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification33Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification29"/>
            <xs:element name="NmAndAdr" type="NameAndAddress6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element name="PstCdId" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Requirement1">
        <xs:sequence>
            <xs:element name="VartnMrgnRqrmnt" type="MarginRequirement1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgrtdIndpdntAmtRqrmnt" type="MarginRequirement1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Result1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DueToPtyA" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DueToPtyB" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RoundingMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRDW"/>
            <xs:enumeration value="DRUP"/>
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="CLSR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SegregatedIndependentAmountMargin1">
        <xs:sequence>
            <xs:element name="MinTrfAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RndgAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RndgMtd" type="RoundingMethod1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ThresholdType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="UNSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="VariationMargin1">
        <xs:sequence>
            <xs:element name="ThrshldAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ThrshldTp" type="ThresholdType1Code"/>
            <xs:element name="MinTrfAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="RndgAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="RndgMtd" type="RoundingMethod1Code"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
