Iso20022.UnitTest/Resources/Colr/colr.007.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 16 16:13:19, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:colr.007.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:colr.007.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification26">
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Agreement2">
        <xs:sequence>
            <xs:element name="AgrmtDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgrmtId" type="Max140Text"/>
            <xs:element name="AgrmtDt" type="ISODate"/>
            <xs:element name="BaseCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgrmtFrmwk" type="AgreementFramework1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgreementFramework1Choice">
        <xs:choice>
            <xs:element name="AgrmtFrmwk" type="AgreementFramework1Code"/>
            <xs:element name="PrtryId" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AgreementFramework1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FBAA"/>
            <xs:enumeration value="BBAA"/>
            <xs:enumeration value="DERV"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="NONR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification5">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType40Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashCollateral2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CollId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcctId" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrXcss" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DpstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DpstTp" type="DepositType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element name="CollVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Hrcut" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashCollateral3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CollId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcctId" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DpstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DpstTp" type="DepositType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element name="CollVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Hrcut" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Collateral7">
        <xs:sequence>
            <xs:element name="MrgnCallReqId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnCallRspnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StdSttlmInstrs" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollPrpslRspnId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesColl" type="SecuritiesCollateral3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshColl" type="CashCollateral2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrColl" type="OtherCollateral2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Collateral8">
        <xs:sequence>
            <xs:element name="MrgnCallReqId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnCallRspnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StdSttlmInstrs" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollPrpslRspnId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesColl" type="SecuritiesCollateral3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshColl" type="CashCollateral3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrColl" type="OtherCollateral2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAccount1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CollateralAccountIdentificationType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAccountIdentificationType1Choice">
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CollateralAccountType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOUS"/>
            <xs:enumeration value="CLIE"/>
            <xs:enumeration value="LIPR"/>
            <xs:enumeration value="MGIN"/>
            <xs:enumeration value="DFLT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralMovement3Choice">
        <xs:choice>
            <xs:element name="CollMvmntDrctn" type="CollateralMovement6"/>
            <xs:element name="Rtr" type="Collateral7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CollateralMovement5">
        <xs:sequence>
            <xs:element name="AgrdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MvmntDrctn" type="CollateralMovement3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralMovement6">
        <xs:sequence>
            <xs:element name="Dlvr" type="Collateral8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rtr" type="Collateral7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralOwnership1">
        <xs:sequence>
            <xs:element name="Prtry" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntNm" type="PartyIdentification33Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralProposal3Choice">
        <xs:choice>
            <xs:element name="CollPrpslDtls" type="CollateralProposal4"/>
            <xs:element name="SgrtdIndpdntAmt" type="CollateralMovement5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CollateralProposal4">
        <xs:sequence>
            <xs:element name="VartnMrgn" type="CollateralMovement5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgrtdIndpdntAmt" type="CollateralMovement5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralProposalV03">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element name="Oblgtn" type="Obligation3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Agrmt" type="Agreement2"/>
            <xs:element name="TpAndDtls" type="Proposal3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode9Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat14Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtCd" type="DateCode9Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeliveringPartiesAndAccount10">
        <xs:sequence>
            <xs:element name="Dpstry" type="PartyIdentification34Choice"/>
            <xs:element name="Pty1" type="PartyIdentificationAndAccount102"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount77"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DepositType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FITE"/>
            <xs:enumeration value="CALL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CollPrpsl" type="CollateralProposalV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExposureType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BFWD"/>
            <xs:enumeration value="PAYM"/>
            <xs:enumeration value="CCPC"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="CRTL"/>
            <xs:enumeration value="CRSP"/>
            <xs:enumeration value="CCIR"/>
            <xs:enumeration value="CRPR"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="EQPT"/>
            <xs:enumeration value="EQUS"/>
            <xs:enumeration value="EXTD"/>
            <xs:enumeration value="EXPT"/>
            <xs:enumeration value="FIXI"/>
            <xs:enumeration value="FORX"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="OTCD"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SLOA"/>
            <xs:enumeration value="SBSC"/>
            <xs:enumeration value="SCRP"/>
            <xs:enumeration value="SLEB"/>
            <xs:enumeration value="SHSL"/>
            <xs:enumeration value="SCIR"/>
            <xs:enumeration value="SCIE"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="TBAS"/>
            <xs:enumeration value="TRBD"/>
            <xs:enumeration value="TRCP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification29">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification40">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification58">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="GenericIdentification40"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType40Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification2Code"/>
            <xs:element name="Prtry" type="GenericIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress13">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress6">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Obligation3">
        <xs:sequence>
            <xs:element name="PtyA" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyA" type="PartyIdentification33Choice"/>
            <xs:element name="PtyB" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyB" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollAcctId" type="CollateralAccount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrTp" type="ExposureType5Code"/>
            <xs:element name="ValtnDt" type="DateAndDateTimeChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherCollateral2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CollId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LttrOfCdtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LttrOfCdtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrntAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTpOfColl" type="OtherTypeOfCollateral2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="DateFormat14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="DateFormat14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdCvrgInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Hrcut" type="PercentageRate"/>
            <xs:element name="CollVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherTypeOfCollateral2">
        <xs:sequence>
            <xs:element name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification32Choice">
        <xs:choice>
            <xs:element name="BIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification29"/>
            <xs:element name="NmAndAdr" type="NameAndAddress13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification33Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification29"/>
            <xs:element name="NmAndAdr" type="NameAndAddress6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification34Choice">
        <xs:choice>
            <xs:element name="BIC" type="AnyBICIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount102">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcct" type="SubAccount4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctPrsn" type="ContactIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount77">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element name="PstCdId" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Price2">
        <xs:sequence>
            <xs:element name="Tp" type="YieldedOrValueType1Choice"/>
            <xs:element name="Val" type="PriceRateOrAmountChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmountChoice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Proposal3">
        <xs:sequence>
            <xs:element name="CollPrpslTp" type="ProposalType1Code"/>
            <xs:element name="CollPrpsl" type="CollateralProposal3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProposalType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INIT"/>
            <xs:enumeration value="COUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReceivingPartiesAndAccount10">
        <xs:sequence>
            <xs:element name="Dpstry" type="PartyIdentification34Choice"/>
            <xs:element name="Pty1" type="PartyIdentificationAndAccount102"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount77"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat7Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText1"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification58"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesCollateral3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CollId" type="Max35Text"/>
            <xs:element name="SctyId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdCvrgInd" type="YesNoIndicator"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Hrcut" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element name="SfkpgPlc" type="SafekeepingPlaceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmParams" type="SettlementDetails88"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDetails88">
        <xs:sequence>
            <xs:element name="TradDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPties" type="SettlementParties3Choice"/>
            <xs:element name="CollOwnrsh" type="CollateralOwnership1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties3Choice">
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="DeliveringPartiesAndAccount10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="ReceivingPartiesAndAccount10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubAccount4">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtc" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="YieldedOrValueType1Choice">
        <xs:choice>
            <xs:element name="Yldd" type="YesNoIndicator"/>
            <xs:element name="ValTp" type="PriceValueType1Code"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
