Iso20022.UnitTest/Resources/Colr/colr.008.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 04 16:41:12, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:colr.008.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:colr.008.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashCollateralResponse1">
        <xs:sequence>
            <xs:element name="RspnTp" type="Status4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcctId" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnRsn" type="RejectionReasonV021Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnInf" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAccount2">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CollateralAccountIdentificationType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAccountIdentificationType2Choice">
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CollateralAccountType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOUS"/>
            <xs:enumeration value="CLIE"/>
            <xs:enumeration value="LIPR"/>
            <xs:enumeration value="MGIN"/>
            <xs:enumeration value="DFLT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CollateralProposalResponse1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INPR"/>
            <xs:enumeration value="COPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralProposalResponse2">
        <xs:sequence>
            <xs:element name="VartnMrgn" type="CollateralProposalResponseType2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgrtdIndpdntAmt" type="CollateralProposalResponseType2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralProposalResponse2Choice">
        <xs:choice>
            <xs:element name="CollPrpsl" type="CollateralProposalResponse2"/>
            <xs:element name="SgrtdIndpdntAmt" type="CollateralProposalResponseType2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CollateralProposalResponseType2">
        <xs:sequence>
            <xs:element name="CollPrpslId" type="Max35Text"/>
            <xs:element name="Tp" type="CollateralProposalResponse1Code"/>
            <xs:element name="Rspn" type="CollateralResponse1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralProposalResponseV04">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element name="Oblgtn" type="Obligation4"/>
            <xs:element name="PrpslRspn" type="CollateralProposalResponse2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralResponse1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesCollRspn" type="SecuritiesCollateralResponse1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshCollRspn" type="CashCollateralResponse1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrCollRspn" type="OtherCollateralResponse1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CollPrpslRspn" type="CollateralProposalResponseV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExposureType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BFWD"/>
            <xs:enumeration value="PAYM"/>
            <xs:enumeration value="CCPC"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="CRTL"/>
            <xs:enumeration value="CRSP"/>
            <xs:enumeration value="CCIR"/>
            <xs:enumeration value="CRPR"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="EQPT"/>
            <xs:enumeration value="EQUS"/>
            <xs:enumeration value="EXTD"/>
            <xs:enumeration value="EXPT"/>
            <xs:enumeration value="FIXI"/>
            <xs:enumeration value="FORX"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="OTCD"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SLOA"/>
            <xs:enumeration value="SBSC"/>
            <xs:enumeration value="SCRP"/>
            <xs:enumeration value="SLEB"/>
            <xs:enumeration value="SHSL"/>
            <xs:enumeration value="SCIR"/>
            <xs:enumeration value="SCIE"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="TBAS"/>
            <xs:enumeration value="TRBD"/>
            <xs:enumeration value="TRCP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress6">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Obligation4">
        <xs:sequence>
            <xs:element name="PtyA" type="PartyIdentification100Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyA" type="PartyIdentification100Choice"/>
            <xs:element name="PtyB" type="PartyIdentification100Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyB" type="PartyIdentification100Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollAcctId" type="CollateralAccount2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrTp" type="ExposureType5Code"/>
            <xs:element name="ValtnDt" type="DateAndDateTimeChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherCollateralResponse1">
        <xs:sequence>
            <xs:element name="RspnTp" type="Status4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnRsn" type="RejectionReasonV021Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnInf" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification100Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element name="PstCdId" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReasonV021Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="EVNM"/>
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ICOL"/>
            <xs:enumeration value="CONL"/>
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="INID"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesCollateralResponse1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CollId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstNb" type="Max35Text"/>
            <xs:element name="RspnTp" type="Status4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnRsn" type="RejectionReasonV021Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnInf" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Status4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="PACK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
