Iso20022.UnitTest/Resources/Fxtr/fxtr.030.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 12 16:36:04, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:fxtr.030.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:fxtr.030.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AllocationIndicator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POST"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="UNAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingBrokerIdentification1">
        <xs:sequence>
            <xs:element name="SdInd" type="SideIndicator1Code"/>
            <xs:element name="ClrBrkrId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralisationIndicator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="ONEW"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="UNCO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CorporateSectorIdentifier1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="L"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="I"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="O"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="U"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CounterpartySideTransactionReporting1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgJursdctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgPty" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtrPtySdUnqTxIdr" type="UniqueTransactionIdentifier2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradBlkStsNtfctn" type="ForeignExchangeTradeBulkStatusNotificationV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact42Text">
        <xs:restriction base="xs:string">
            <xs:length value="42"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ForeignExchangeTradeBulkStatusNotificationV03">
        <xs:sequence>
            <xs:element name="StsDtls" type="TradeData10"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TradData" type="TradeData11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress8">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44">
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification59">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyNm" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="PartyIdentification44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNb" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNttyIdr" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification73Choice">
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress8"/>
            <xs:element name="AnyBIC" type="PartyIdentification44"/>
            <xs:element name="PtyId" type="PartyIdentification59"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegulatoryReporting4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradgSdTxRptg" type="TradingSideTransactionReporting1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtrPtySdTxRptg" type="CounterpartySideTransactionReporting1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CntrlCtrPtyClrHs" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrBrkr" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrXcptnPty" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrBrkrId" type="ClearingBrokerIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshldInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrdPdctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygPdctIdr" type="UnderlyingProductIdentifier1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AllcnInd" type="AllocationIndicator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollstnInd" type="CollateralisationIndicator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnVn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnTmstmp" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonStdFlg" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSwpId" type="Exact42Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinNtrOfTheCtrPtyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollPrtflInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollPrtflCd" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflCmprssnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpSctrInd" type="CorporateSectorIdentifier1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradWthNonEEACtrPtyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtrgrpTradInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComrclOrTrsrFincgInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRptgInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SideIndicator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CCPL"/>
            <xs:enumeration value="CLNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Status13Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeStatus5Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Status5Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeStatus3Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StatusAndSubStatus1">
        <xs:sequence>
            <xs:element name="StsCd" type="Status13Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubStsCd" type="Exact4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatusSubType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="SMDY"/>
            <xs:enumeration value="SDPG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData10">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsOrgtr" type="Max35Text"/>
            <xs:element name="CurSts" type="StatusAndSubStatus1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsSubTp" type="StatusSubType1Code"/>
            <xs:element name="CurStsDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsSts" type="Status5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsStsSubTp" type="StatusSubType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData11">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgtrRef" type="Max35Text"/>
            <xs:element name="MtchgSysUnqRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSysMtchgRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSysMtchdSdRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSsnIdr" type="Exact4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryRptg" type="RegulatoryReporting4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVA"/>
            <xs:enumeration value="UMTC"/>
            <xs:enumeration value="RSCD"/>
            <xs:enumeration value="STLD"/>
            <xs:enumeration value="FMTC"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="SMAU"/>
            <xs:enumeration value="SMNA"/>
            <xs:enumeration value="SMAT"/>
            <xs:enumeration value="SPLI"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="NAUT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeStatus5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVA"/>
            <xs:enumeration value="FMTC"/>
            <xs:enumeration value="AMUI"/>
            <xs:enumeration value="SMAP"/>
            <xs:enumeration value="NAUT"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="RSCD"/>
            <xs:enumeration value="STLD"/>
            <xs:enumeration value="SMAU"/>
            <xs:enumeration value="SMNA"/>
            <xs:enumeration value="SPLI"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="UMTC"/>
            <xs:enumeration value="SMAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingSideTransactionReporting1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgJursdctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgPty" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradgSdUnqTxIdr" type="UniqueTransactionIdentifier2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnderlyingProductIdentifier1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="NDFO"/>
            <xs:enumeration value="SPOT"/>
            <xs:enumeration value="SWAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UniqueTransactionIdentifier2">
        <xs:sequence>
            <xs:element name="UnqTxIdr" type="Max52Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrrUnqTxIdr" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
