Iso20022.UnitTest/Resources/Fxtr/fxtr.016.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 12 16:36:04, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:fxtr.016.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:fxtr.016.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreedRate1">
        <xs:sequence>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="CurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AllocationIndicator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POST"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="UNAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountsAndValueDate1">
        <xs:sequence>
            <xs:element name="TradgSdBuyAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="TradgSdSellAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="SttlmDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingBrokerIdentification1">
        <xs:sequence>
            <xs:element name="SdInd" type="SideIndicator1Code"/>
            <xs:element name="ClrBrkrId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralisationIndicator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="ONEW"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="UNCO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContactInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TelNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateSectorIdentifier1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="L"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="I"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="O"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="U"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CounterpartySideTransactionReporting1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgJursdctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgPty" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtrPtySdUnqTxIdr" type="UniqueTransactionIdentifier2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradInstrCxl" type="ForeignExchangeTradeInstructionCancellationV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact42Text">
        <xs:restriction base="xs:string">
            <xs:length value="42"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ForeignExchangeTradeInstructionCancellationV03">
        <xs:sequence>
            <xs:element name="TradInf" type="TradeAgreement11"/>
            <xs:element name="TradgSdId" type="TradePartyIdentification6"/>
            <xs:element name="CtrPtySdId" type="TradePartyIdentification6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgrdRate" type="AgreedRate1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSdSttlmInstrs" type="SettlementParties29"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtySdSttlmInstrs" type="SettlementParties29"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnlGnlInf" type="GeneralInformation4"/>
            <xs:element name="TradAmts" type="AmountsAndValueDate1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryRptg" type="RegulatoryReporting4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundIdentification4">
        <xs:sequence>
            <xs:element name="FndId" type="PartyIdentification60"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdWthCtdn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtdnId" type="PartyIdentification73Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralInformation4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdTradRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgMtd" type="Trading1MethodCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrkrId" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrkrsComssn" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndrToRcvrInf" type="Max210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgBrnchTradgSd" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgBrnchCtrPtySd" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctInf" type="ContactInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MatchingSystemReference1Choice">
        <xs:choice>
            <xs:element name="MtchgSysUnqRef" type="Max35Text"/>
            <xs:element name="RltdRef" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress8">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44">
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification59">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyNm" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="PartyIdentification44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNb" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNttyIdr" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification60">
        <xs:sequence>
            <xs:element name="FndId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNttyIdr" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification73Choice">
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress8"/>
            <xs:element name="AnyBIC" type="PartyIdentification44"/>
            <xs:element name="PtyId" type="PartyIdentification59"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegulatoryReporting4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradgSdTxRptg" type="TradingSideTransactionReporting1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtrPtySdTxRptg" type="CounterpartySideTransactionReporting1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CntrlCtrPtyClrHs" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrBrkr" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrXcptnPty" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrBrkrId" type="ClearingBrokerIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshldInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrdPdctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygPdctIdr" type="UnderlyingProductIdentifier1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AllcnInd" type="AllocationIndicator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollstnInd" type="CollateralisationIndicator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnVn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnTmstmp" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonStdFlg" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSwpId" type="Exact42Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinNtrOfTheCtrPtyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollPrtflInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollPrtflCd" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflCmprssnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpSctrInd" type="CorporateSectorIdentifier1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradWthNonEEACtrPtyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtrgrpTradInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComrclOrTrsrFincgInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRptgInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties29">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryAgt" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Intrmy" type="PartyIdentification73Choice"/>
            <xs:element name="RcvgAgt" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfcryInstn" type="PartyIdentification73Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SideIndicator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CCPL"/>
            <xs:enumeration value="CLNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeAgreement11">
        <xs:sequence>
            <xs:element name="TradDt" type="ISODate"/>
            <xs:element name="OrgtrRef" type="Max35Text"/>
            <xs:element name="MtchgSysRef" type="MatchingSystemReference1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmdOrCclRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OprTp" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OprScp" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSsnIdr" type="Exact4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtVrssPmtInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePartyIdentification6">
        <xs:sequence>
            <xs:element name="SubmitgPty" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradPty" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FndId" type="FundIdentification4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Trading1MethodCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELEC"/>
            <xs:enumeration value="PHON"/>
            <xs:enumeration value="BROK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingSideTransactionReporting1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgJursdctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgPty" type="PartyIdentification73Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradgSdUnqTxIdr" type="UniqueTransactionIdentifier2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnderlyingProductIdentifier1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="NDFO"/>
            <xs:enumeration value="SPOT"/>
            <xs:enumeration value="SWAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UniqueTransactionIdentifier2">
        <xs:sequence>
            <xs:element name="UnqTxIdr" type="Max52Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrrUnqTxIdr" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
