Iso20022.UnitTest/Resources/Trea/trea.008.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 09:49:00, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:trea.008.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:trea.008.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="trea.008.001.02" type="trea.008.001.02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeData1">
        <xs:sequence>
            <xs:element name="NtfctnId" type="Max35Text"/>
            <xs:element name="MtchgSysUnqRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsOrgtr" type="Max35Text"/>
            <xs:choice>
                <xs:element name="CurSts" type="TradeStatus1Code"/>
                <xs:element name="XtndedCurSts" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsSubTp" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsTm" type="ISODateTime"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="PrvsSts" type="TradeStatus1Code"/>
                <xs:element maxOccurs="1" minOccurs="0" name="XtndedPrvsSts" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsStsSubTp" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsStsTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVA"/>
            <xs:enumeration value="VALI"/>
            <xs:enumeration value="REGC"/>
            <xs:enumeration value="UMTC"/>
            <xs:enumeration value="VMTC"/>
            <xs:enumeration value="RSCD"/>
            <xs:enumeration value="STLD"/>
            <xs:enumeration value="PSTL"/>
            <xs:enumeration value="REGS"/>
            <xs:enumeration value="FMTC"/>
            <xs:enumeration value="SRJC"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="OPMA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="trea.008.001.02">
        <xs:sequence>
            <xs:element name="TradData" type="TradeData1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
