Iso20022.UnitTest/Resources/Trea/trea.009.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 09:49:00, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:trea.009.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:trea.009.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreedRate1">
        <xs:sequence>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="CurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountsAndValueDate2">
        <xs:sequence>
            <xs:element name="CallAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="PutAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="FnlSttlmDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreateForeignExchangeOptionV02">
        <xs:sequence>
            <xs:element name="TradInf" type="TradeAgreement1"/>
            <xs:element name="TradgSdId" type="TradePartyIdentification4"/>
            <xs:element name="CtrPtySdId" type="TradePartyIdentification4"/>
            <xs:element name="Optn" type="Option3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CretFXOptnV02" type="CreateForeignExchangeOptionV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundIdentification2">
        <xs:sequence>
            <xs:element name="FndId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdWthCtdn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtdnId" type="PartyIdentification8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress8">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Option3">
        <xs:sequence>
            <xs:element name="OptnAmts" type="AmountsAndValueDate2"/>
            <xs:element name="StrkPric" type="AgreedRate1"/>
            <xs:element name="ExrcStyle" type="OptionStyle2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstExrcDt" type="ISODate"/>
            <xs:element name="XpryDtAndTm" type="ISODateTime"/>
            <xs:element name="XpryLctn" type="Max4AlphaNumericText"/>
            <xs:element name="SttlmTp" type="SettlementType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlOptnInf" type="Max140Text"/>
            <xs:element name="Prm" type="PremiumAmount2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OptionParty1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLLR"/>
            <xs:enumeration value="BYER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionStyle2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification22">
        <xs:sequence>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification8Choice">
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress8"/>
            <xs:element name="BICOrBEI" type="PartyIdentification22"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PremiumAmount2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrmQt" type="PremiumQuote1Choice"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="SttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPty" type="PartyIdentification8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PremiumQuote1Choice">
        <xs:choice>
            <xs:element name="PctgOfCallAmt" type="PercentageRate"/>
            <xs:element name="PctgOfPutAmt" type="PercentageRate"/>
            <xs:element name="PtsOfCallAmt" type="BaseOneRate"/>
            <xs:element name="PtsOfPutAmt" type="BaseOneRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="NETO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeAgreement1">
        <xs:sequence>
            <xs:element name="TradDt" type="ISODate"/>
            <xs:element name="NtfctnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePartyIdentification4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FndInf" type="FundIdentification2"/>
            <xs:element name="BuyrOrSellrInd" type="OptionParty1Code"/>
            <xs:element name="SubmitgPty" type="PartyIdentification8Choice"/>
            <xs:element name="TradPty" type="PartyIdentification8Choice"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
