Iso20022.UnitTest/Resources/Trea/trea.007.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 09:49:00, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:trea.007.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:trea.007.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreedRate1">
        <xs:sequence>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="CurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountsAndValueDate1">
        <xs:sequence>
            <xs:element name="TradgSdBuyAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="TradgSdSellAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="SttlmDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClosingData2">
        <xs:sequence>
            <xs:element name="TradDt" type="ISODate"/>
            <xs:element name="NtfctnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmdOrCclRsn" type="Max35Text"/>
            <xs:element name="TradAmts" type="AmountsAndValueDate1"/>
            <xs:element name="ValtnRate" type="AgreedRate1"/>
            <xs:element name="ValtnInf" type="ValuationData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="NDFNtfctnV02" type="NonDeliverableForwardNotificationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FundIdentification2">
        <xs:sequence>
            <xs:element name="FndId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdWthCtdn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtdnId" type="PartyIdentification8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress8">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonDeliverableForwardNotificationV02">
        <xs:sequence>
            <xs:element name="TradgSdId" type="TradePartyIdentification3"/>
            <xs:element name="CtrPtySdId" type="TradePartyIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OpngData" type="OpeningData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnData" type="ClosingData2"/>
            <xs:element name="TradInfAndSts" type="TradeStatus1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmData" type="SettlementData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonDeliverableForwardValuationConditions2">
        <xs:sequence>
            <xs:element name="SttlmCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element name="ValtnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlValtnInf" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPty" type="PartyIdentification8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OpeningData2">
        <xs:sequence>
            <xs:element name="TradDt" type="ISODate"/>
            <xs:element name="NtfctnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmdOrCclRsn" type="Max35Text"/>
            <xs:element name="TradAmts" type="AmountsAndValueDate1"/>
            <xs:element name="AgrdRate" type="AgreedRate1"/>
            <xs:element name="ValtnConds" type="NonDeliverableForwardValuationConditions2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification22">
        <xs:sequence>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification8Choice">
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress8"/>
            <xs:element name="BICOrBEI" type="PartyIdentification22"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshFlowUnqRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSysUnqRef" type="Max35Text"/>
            <xs:element name="SttlmAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttldAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="PngPty" type="PartyIdentification8Choice"/>
            <xs:element name="RcvgPty" type="PartyIdentification8Choice"/>
            <xs:element name="SttlmDt" type="ISODate"/>
            <xs:choice>
                <xs:element name="SttlmSts" type="SettlementStatus1Code"/>
                <xs:element name="XtndedSttlmSts" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmStsSubTp" type="Max70Text"/>
            <xs:element name="Sspd" type="YesNoIndicator"/>
            <xs:element name="Pdg" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AAUT"/>
            <xs:enumeration value="ASTL"/>
            <xs:enumeration value="STCR"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="SPLT"/>
            <xs:enumeration value="PSTL"/>
            <xs:enumeration value="STLD"/>
            <xs:enumeration value="ACCF"/>
            <xs:enumeration value="ARCF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradePartyIdentification3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FndInf" type="FundIdentification2"/>
            <xs:element name="SubmitgPty" type="PartyIdentification8Choice"/>
            <xs:element name="TradPty" type="PartyIdentification8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeStatus1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AllgdTrad" type="YesNoIndicator"/>
            <xs:element name="MtchgSysUnqRef" type="Max35Text"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="TradeStatus1Code"/>
                <xs:element maxOccurs="1" minOccurs="0" name="XtndedSts" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="StsSubTp" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsOrgtr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVA"/>
            <xs:enumeration value="VALI"/>
            <xs:enumeration value="REGC"/>
            <xs:enumeration value="UMTC"/>
            <xs:enumeration value="VMTC"/>
            <xs:enumeration value="RSCD"/>
            <xs:enumeration value="STLD"/>
            <xs:enumeration value="PSTL"/>
            <xs:enumeration value="REGS"/>
            <xs:enumeration value="FMTC"/>
            <xs:enumeration value="SRJC"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="OPMA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ValuationData2">
        <xs:sequence>
            <xs:element name="ValtnRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlValtnInf" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPty" type="PartyIdentification8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
