Iso20022.UnitTest/Resources/Camt/camt.029.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2005 Oct 05 09:31:19-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:camt.029.001.01" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.029.001.01">
<xs:element name="Document" type="Document"/>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Case">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Cretr" type="AnyBICIdentifier"/>
<xs:element name="ReopCaseIndctn" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CaseAssignment">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Assgnr" type="AnyBICIdentifier"/>
<xs:element name="Assgne" type="AnyBICIdentifier"/>
<xs:element name="CreDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="CurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.029.001.01" type="camt.029.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="InvestigationExecutionConfirmation1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CNCL"/>
<xs:enumeration value="MODI"/>
<xs:enumeration value="ACDA"/>
<xs:enumeration value="IPAY"/>
<xs:enumeration value="ICOV"/>
<xs:enumeration value="MCOV"/>
<xs:enumeration value="IPYI"/>
<xs:enumeration value="INFO"/>
<xs:enumeration value="CONF"/>
<xs:enumeration value="CWFW"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="InvestigationStatusChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Conf" type="InvestigationExecutionConfirmation1Code"/>
<xs:element name="RjctdMod" type="PaymentModificationRejection1Code" minOccurs="1" maxOccurs="14"/>
<xs:element name="RjctdCxl" type="RejectedCancellationJustification"/>
<xs:element name="DplctOf" type="Case"/>
<xs:element name="AssgnmtCxlConf" type="YesNoIndicator"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PaymentCancellationRejection1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="LEGL"/>
<xs:enumeration value="AGNT"/>
<xs:enumeration value="CUST"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PaymentInstructionExtract">
<xs:sequence>
<xs:element name="AssgnrInstrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="AssgneInstrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CcyAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="ValDt" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PaymentModificationRejection1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="UM01"/>
<xs:enumeration value="UM02"/>
<xs:enumeration value="UM03"/>
<xs:enumeration value="UM04"/>
<xs:enumeration value="UM05"/>
<xs:enumeration value="UM06"/>
<xs:enumeration value="UM07"/>
<xs:enumeration value="UM08"/>
<xs:enumeration value="UM09"/>
<xs:enumeration value="UM10"/>
<xs:enumeration value="UM11"/>
<xs:enumeration value="UM12"/>
<xs:enumeration value="UM13"/>
<xs:enumeration value="UM14"/>
<xs:enumeration value="UM15"/>
<xs:enumeration value="UM16"/>
<xs:enumeration value="UM17"/>
<xs:enumeration value="UM18"/>
<xs:enumeration value="UM19"/>
<xs:enumeration value="UM20"/>
<xs:enumeration value="UM21"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="RejectedCancellationJustification">
<xs:sequence>
<xs:element name="RsnCd" type="PaymentCancellationRejection1Code"/>
<xs:element name="Rsn" type="Max140Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="camt.029.001.01">
<xs:sequence>
<xs:element name="Assgnmt" type="CaseAssignment"/>
<xs:element name="RslvdCase" type="Case"/>
<xs:element name="Sts" type="InvestigationStatusChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="CrrctnTx" type="PaymentInstructionExtract" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
