Iso20022.UnitTest/Resources/Camt/camt.039.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2005 Oct 05 09:31:19-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:camt.039.001.01" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.039.001.01">
<xs:element name="Document" type="Document"/>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Case">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Cretr" type="AnyBICIdentifier"/>
<xs:element name="ReopCaseIndctn" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CaseAssignment">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Assgnr" type="AnyBICIdentifier"/>
<xs:element name="Assgne" type="AnyBICIdentifier"/>
<xs:element name="CreDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CaseStatus">
<xs:sequence>
<xs:element name="DtTm" type="ISODateTime"/>
<xs:element name="CaseSts" type="CaseStatus1Code"/>
<xs:element name="InvstgtnSts" type="InvestigationExecutionConfirmation1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="Rsn" type="Max140Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CaseStatus1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CLOSE"/>
<xs:enumeration value="ASGN"/>
<xs:enumeration value="INVE"/>
<xs:enumeration value="UKNW"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.039.001.01" type="camt.039.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="InvestigationExecutionConfirmation1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CNCL"/>
<xs:enumeration value="MODI"/>
<xs:enumeration value="ACDA"/>
<xs:enumeration value="IPAY"/>
<xs:enumeration value="ICOV"/>
<xs:enumeration value="MCOV"/>
<xs:enumeration value="IPYI"/>
<xs:enumeration value="INFO"/>
<xs:enumeration value="CONF"/>
<xs:enumeration value="CWFW"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ReportHeader">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Fr" type="AnyBICIdentifier"/>
<xs:element name="To" type="AnyBICIdentifier"/>
<xs:element name="CreDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="camt.039.001.01">
<xs:sequence>
<xs:element name="Hdr" type="ReportHeader"/>
<xs:element name="Case" type="Case"/>
<xs:element name="Sts" type="CaseStatus"/>
<xs:element name="NewAssgnmt" type="CaseAssignment" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
