Iso20022.UnitTest/Resources/Camt/camt.031.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2005 Oct 05 09:31:19-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:camt.031.001.01" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.031.001.01">
<xs:element name="Document" type="Document"/>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Case">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Cretr" type="AnyBICIdentifier"/>
<xs:element name="ReopCaseIndctn" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CaseAssignment">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Assgnr" type="AnyBICIdentifier"/>
<xs:element name="Assgne" type="AnyBICIdentifier"/>
<xs:element name="CreDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CaseAssignmentRejection1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="NFND"/>
<xs:enumeration value="NAUT"/>
<xs:enumeration value="UKNW"/>
<xs:enumeration value="RJCT"/>
<xs:enumeration value="CNCL"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CaseAssignmentRejectionJustification">
<xs:sequence>
<xs:element name="RjctnRsn" type="CaseAssignmentRejection1Code"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.031.001.01" type="camt.031.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="camt.031.001.01">
<xs:sequence>
<xs:element name="Assgnmt" type="CaseAssignment"/>
<xs:element name="Case" type="Case"/>
<xs:element name="Justfn" type="CaseAssignmentRejectionJustification"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
