Iso20022.UnitTest/Resources/Camt/camt.045.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.42.1) on 2013 May 24 16:27:13, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.045.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.045.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalParameters1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GeoArea" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference3">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode"/>
                <xs:element name="PrtryIdSrc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="BloombergIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BreakdownByCountry1">
        <xs:sequence>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshInFcst" type="CashInForecast3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshOutFcst" type="CashOutForecast3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetCshFcst" type="NetCashForecast2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BreakdownByCurrency1">
        <xs:sequence>
            <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshOutFcst" type="CashOutForecast3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshInFcst" type="CashInForecast3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetCshFcst" type="NetCashForecast2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BreakdownByParty1">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlParams" type="AdditionalParameters1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshInFcst" type="CashInForecast3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshOutFcst" type="CashOutForecast3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetCshFcst" type="NetCashForecast2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BreakdownByUserDefinedParameter1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrDfnd" type="DataFormat2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshInFcst" type="CashInForecast3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshOutFcst" type="CashOutForecast3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetCshFcst" type="NetCashForecast2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="CashInForecast3">
        <xs:sequence>
            <xs:element name="CshSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTtlAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTtlUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcptnlCshFlowInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshInBrkdwnDtls" type="FundCashInBreakdown2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashOutForecast3">
        <xs:sequence>
            <xs:element name="CshSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTtlAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTtlUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcptnlCshFlowInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshOutBrkdwnDtls" type="FundCashOutBreakdown2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Charge16">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tp" type="ChargeType10Code"/>
                <xs:element name="XtndedTp" type="Extended350Code"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element name="Rate" type="PercentageRate"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ChargeType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEND"/>
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="PENA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Commission9">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tp" type="CommissionType6Code"/>
                <xs:element name="XtndedTp" type="Extended350Code"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
                <xs:element name="Rate" type="PercentageRate"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CommissionType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="BEND"/>
            <xs:enumeration value="CDPL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DataFormat2Choice">
        <xs:choice>
            <xs:element name="Strd" type="GenericIdentification1"/>
            <xs:element name="Ustrd" type="Max140Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FndDtldConfdCshFcstRptCxlV02" type="FundDetailedConfirmedCashForecastReportCancellationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument9">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdNAVCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code"/>
            <xs:element name="DualFndInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1">
        <xs:sequence>
            <xs:element name="Unit" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FlowDirectionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INCG"/>
            <xs:enumeration value="OUTG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FundCashForecast4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="TradDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTradDtTm" type="DateAndDateTimeChoice"/>
            <xs:element name="FinInstrmDtls" type="FinancialInstrument9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNAV" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTtlNAV" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTtlUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNAVChngRate" type="PercentageRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InvstmtCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetCshFcstDtls" type="NetCashForecast2"/>
            <xs:element name="XcptnlNetCshFlowInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BrkdwnByCtry" type="BreakdownByCountry1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BrkdwnByCcy" type="BreakdownByCurrency1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BrkdwnByPty" type="BreakdownByParty1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BrkdwnByUsrDfndParam" type="BreakdownByUserDefinedParameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundCashInBreakdown2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewAmtInd" type="YesNoIndicator"/>
            <xs:choice>
                <xs:element name="InvstmtFndTxInTp" type="InvestmentFundTransactionInType1Code"/>
                <xs:element name="XtndedInvstmtFndTxInTp" type="Extended350Code"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="OrgnlOrdrQtyTp" type="OrderQuantityType2Code"/>
                <xs:element name="XtndedOrgnlOrdrQtyTp" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ChrgDtls" type="Charge16"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ComssnDtls" type="Commission9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundCashOutBreakdown2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewAmtInd" type="YesNoIndicator"/>
            <xs:choice>
                <xs:element name="InvstmtFndTxOutTp" type="InvestmentFundTransactionOutType1Code"/>
                <xs:element name="XtndedInvstmtFndTxOutTp" type="Extended350Code"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="OrgnlOrdrQtyTp" type="OrderQuantityType2Code"/>
                <xs:element name="XtndedOrgnlOrdrQtyTp" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ChrgDtls" type="Charge16"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ComssnDtls" type="Commission9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundDetailedConfirmedCashForecastReport2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="FndCshFcstDtls" type="FundCashForecast4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CnsltdNetCshFcst" type="NetCashForecast3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundDetailedConfirmedCashForecastReportCancellationV02">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolRef" type="AdditionalReference3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsRef" type="AdditionalReference3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdRef" type="AdditionalReference3"/>
            <xs:element name="MsgPgntn" type="Pagination"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshFcstRptToBeCanc" type="FundDetailedConfirmedCashForecastReport2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="InvestmentFundTransactionInType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUBS"/>
            <xs:enumeration value="SWII"/>
            <xs:enumeration value="INSP"/>
            <xs:enumeration value="CROI"/>
            <xs:enumeration value="RDIV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvestmentFundTransactionOutType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="SWIO"/>
            <xs:enumeration value="INSP"/>
            <xs:enumeration value="CROO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetCashForecast2">
        <xs:sequence>
            <xs:element name="CshSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element name="FlowDrctn" type="FlowDirectionType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetCashForecast3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NetAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element name="FlowDrctn" type="FlowDirectionType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OrderQuantityType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNIT"/>
            <xs:enumeration value="CASH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:choice>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification3Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINIdentifier"/>
            <xs:element name="SEDOL" type="SEDOLIdentifier"/>
            <xs:element name="CUSIP" type="CUSIPIdentifier"/>
            <xs:element name="RIC" type="RICIdentifier"/>
            <xs:element name="TckrSymb" type="TickerIdentifier"/>
            <xs:element name="Blmbrg" type="BloombergIdentifier"/>
            <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
            <xs:element name="QUICK" type="QUICKIdentifier"/>
            <xs:element name="Wrtppr" type="WertpapierIdentifier"/>
            <xs:element name="Dtch" type="DutchIdentifier"/>
            <xs:element name="Vlrn" type="ValorenIdentifier"/>
            <xs:element name="SCVM" type="SicovamIdentifier"/>
            <xs:element name="Belgn" type="BelgianIdentifier"/>
            <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
            <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
