Iso20022.UnitTest/Resources/Camt/camt.043.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.0.1.3) on 2005 Mar 15 19:41:02-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:xsd:camt.043.001.02" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:xsd:camt.043.001.02">
<xs:element name="Document" type="Document"/>
<xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="13"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
<xs:simpleContent>
<xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveOrHistoricCurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AdditionalReference3">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="RefIssr" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="MsgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AddressType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ADDR"/>
<xs:enumeration value="PBOX"/>
<xs:enumeration value="HOME"/>
<xs:enumeration value="BIZZ"/>
<xs:enumeration value="MLTO"/>
<xs:enumeration value="DLVY"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AlternateSecurityIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:choice>
<xs:element name="DmstIdSrc" type="CountryCode"/>
<xs:element name="PrtryIdSrc" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BloombergIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CashInForecast1">
<xs:sequence>
<xs:element name="SttlmDt" type="ISODate"/>
<xs:element name="SubTtlAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="SubTtlUnitsNb" type="FinancialInstrumentQuantity1" minOccurs="0" maxOccurs="1"/>
<xs:element name="XcptnlCshFlowInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="CshInBrkdwnDtls" type="FundCashInBreakdown1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CashOutForecast1">
<xs:sequence>
<xs:element name="SttlmDt" type="ISODate"/>
<xs:element name="SubTtlAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="SubTtlUnitsNb" type="FinancialInstrumentQuantity1" minOccurs="0" maxOccurs="1"/>
<xs:element name="XcptnlCshFlowInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="CshOutBrkdwnDtls" type="FundCashOutBreakdown1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CashSortingCriterion2">
<xs:sequence>
<xs:element name="SrtgCritnTp" type="SortCriteria1Choice"/>
<xs:element name="FcstBrkdwnDtls" type="ForecastParameter2" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Commission4">
<xs:sequence>
<xs:element name="Tp" type="CommissionType1"/>
<xs:choice>
<xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
<xs:element name="Rate" type="PercentageRate"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CommissionType1">
<xs:sequence>
<xs:element name="Strd" type="CommissionType5Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CommissionType5Code">
<xs:restriction base="xs:string">
<xs:enumeration value="FEND"/>
<xs:enumeration value="BEND"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DataFormat1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Strd" type="GenericIdentification2"/>
<xs:element name="Ustrd" type="Max140Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DataFormat2Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Strd" type="GenericIdentification1"/>
<xs:element name="Ustrd" type="Max140Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateAndDateTimeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Dt" type="ISODate"/>
<xs:element name="DtTm" type="ISODateTime"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DecimalNumber">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="17"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="DistributionPolicy1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DIST"/>
<xs:enumeration value="ACCU"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.043.001.02" type="camt.043.001.02"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="EuroclearClearstreamIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="12"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Extension1">
<xs:sequence>
<xs:element name="PlcAndNm" type="Max350Text"/>
<xs:element name="Txt" type="Max350Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstrument5">
<xs:sequence>
<xs:element name="Id" type="SecurityIdentification1Choice"/>
<xs:element name="Nm" type="Max350Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SplmtryId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="ReqdNAVCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="ClssTp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SctiesForm" type="FormOfSecurity1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="DstrbtnPlcy" type="DistributionPolicy1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="DualFndInd" type="YesNoIndicator"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstrumentQuantity1">
<xs:sequence>
<xs:element name="Unit" type="DecimalNumber"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="FlowDirectionType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="INCG"/>
<xs:enumeration value="OUTG"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ForecastParameter2">
<xs:sequence>
<xs:element name="RptParam" type="ReportParameter2Choice"/>
<xs:element name="CshInFcstDtls" type="CashInForecast1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CshOutFcstDtls" type="CashOutForecast1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="NetCshFcstDtls" type="NetCashForecast1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="FormOfSecurity1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BEAR"/>
<xs:enumeration value="REGD"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="FundCashForecast2">
<xs:sequence>
<xs:element name="TradDtTm" type="DateAndDateTimeChoice"/>
<xs:element name="PrvsTradDtTm" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="FinInstrmDtls" type="FinancialInstrument5"/>
<xs:element name="TtlNAV" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="PrvsTtlNAV" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="TtlUnitsNb" type="FinancialInstrumentQuantity1" minOccurs="0" maxOccurs="1"/>
<xs:element name="PrvsTtlUnitsNb" type="FinancialInstrumentQuantity1" minOccurs="0" maxOccurs="1"/>
<xs:element name="TtlNAVChngRate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
<xs:element name="InvstmtCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="XcptnlNetCshFlowInd" type="YesNoIndicator"/>
<xs:element name="SrtgCritDtls" type="CashSortingCriterion2" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="NetCshFcstDtls" type="NetCashForecast1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FundCashInBreakdown1">
<xs:sequence>
<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="UnitsNb" type="FinancialInstrumentQuantity1" minOccurs="0" maxOccurs="1"/>
<xs:element name="NewAmtInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="InvstmtFndTxInTpDtls" type="InvestmentFundTransactionInType1" minOccurs="0" maxOccurs="1"/>
<xs:element name="OrgnlOrdrQtyDtls" type="OriginalOrderQuantityType1" minOccurs="0" maxOccurs="1"/>
<xs:element name="ComssnDtls" type="Commission4" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FundCashOutBreakdown1">
<xs:sequence>
<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="UnitsNb" type="FinancialInstrumentQuantity1" minOccurs="0" maxOccurs="1"/>
<xs:element name="NewAmtInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="InvstmtFndTxOutTpDtls" type="InvestmentFundTransactionOutType1" minOccurs="0" maxOccurs="1"/>
<xs:element name="OrgnlOrdrQtyDtls" type="OriginalOrderQuantityType1" minOccurs="0" maxOccurs="1"/>
<xs:element name="ComssnDtls" type="Commission4" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification2">
<xs:sequence>
<xs:element name="SchmeNm" type="Max35Text"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISINIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z0-9]{12,12}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:complexType name="InvestmentFundTransactionInType1">
<xs:sequence>
<xs:element name="Strd" type="InvestmentFundTransactionInType3Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="InvestmentFundTransactionInType3Code">
<xs:restriction base="xs:string">
<xs:enumeration value="SUBS"/>
<xs:enumeration value="SWII"/>
<xs:enumeration value="INSP"/>
<xs:enumeration value="CROI"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="InvestmentFundTransactionOutType1">
<xs:sequence>
<xs:element name="Strd" type="InvestmentFundTransactionOutType4Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="InvestmentFundTransactionOutType4Code">
<xs:restriction base="xs:string">
<xs:enumeration value="REDM"/>
<xs:enumeration value="SWIO"/>
<xs:enumeration value="INSP"/>
<xs:enumeration value="CROO"/>
<xs:enumeration value="DIVI"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max350Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="350"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max70Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="70"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="NameAndAddress5">
<xs:sequence>
<xs:element name="Nm" type="Max350Text"/>
<xs:element name="Adr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NetCashForecast1">
<xs:sequence>
<xs:element name="SttlmDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
<xs:element name="NetAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="NetUnitsNb" type="FinancialInstrumentQuantity1" minOccurs="0" maxOccurs="1"/>
<xs:element name="FlowDrctn" type="FlowDirectionType1Code"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="OrderQuantityType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="UNIT"/>
<xs:enumeration value="CASH"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="OriginalOrderQuantityType1">
<xs:sequence>
<xs:element name="Strd" type="OrderQuantityType1Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentification2Choice">
<xs:sequence>
<xs:choice>
<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
<xs:element name="PrtryId" type="GenericIdentification1"/>
<xs:element name="NmAndAdr" type="NameAndAddress5"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PercentageRate">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="10"/>
<xs:totalDigits value="11"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PostalAddress1">
<xs:sequence>
<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="5"/>
<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="RICIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ReportParameter2Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Pty" type="PartyIdentification2Choice"/>
<xs:element name="Ctry" type="CountryCode"/>
<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
<xs:element name="UsrDfnd" type="DataFormat2Choice"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ReportSortedType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="COUN"/>
<xs:enumeration value="PART"/>
<xs:enumeration value="CURR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SecurityIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="ISIN" type="ISINIdentifier"/>
<xs:element name="AltrnId" type="AlternateSecurityIdentification1"/>
<xs:element name="RIC" type="RICIdentifier"/>
<xs:element name="TckrSymb" type="TickerIdentifier"/>
<xs:element name="Blmbrg" type="BloombergIdentifier"/>
<xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
<xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SortCriteria1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Prdfnd" type="ReportSortedType1Code"/>
<xs:element name="UsrDfnd" type="DataFormat1Choice"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TickerIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="camt.043.001.02">
<xs:sequence>
<xs:element name="PoolRef" type="AdditionalReference3" minOccurs="0" maxOccurs="1"/>
<xs:element name="PrvsRef" type="AdditionalReference3" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="RltdRef" type="AdditionalReference3" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FndCshFcstDtls" type="FundCashForecast2" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="Xtnsn" type="Extension1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
