Iso20022.UnitTest/Resources/Camt/camt.028.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2005 Oct 05 09:31:19-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:camt.028.001.01" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.028.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="Account1">
<xs:sequence>
<xs:element name="Id" type="AccountIdentification1" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctSvcr" type="PartyIdentification1Choice"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentification1">
<xs:sequence>
<xs:element name="Prtry" type="SimpleIdentificationInformation"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="IBAN" type="IBANIdentifier"/>
<xs:element name="BBAN" type="BBANIdentifier"/>
<xs:element name="UPIC" type="UPICIdentifier"/>
<xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AddressType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ADDR"/>
<xs:enumeration value="PBOX"/>
<xs:enumeration value="HOME"/>
<xs:enumeration value="BIZZ"/>
<xs:enumeration value="MLTO"/>
<xs:enumeration value="DLVY"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AmountType1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="InstdAmt" type="CurrencyAndAmount"/>
<xs:element name="EqvtAmt" type="EquivalentAmount"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AustrianBankleitzahlIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AT[0-9]{5,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BEIIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="BranchAndFinancialInstitutionIdentification">
<xs:sequence>
<xs:element name="FinInstnId" type="FinancialInstitutionIdentification1"/>
<xs:element name="BrnchId" type="BranchData" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BranchData">
<xs:sequence>
<xs:element name="Id" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Nm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PstlAdr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CHIPSParticipantIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CP[0-9]{4,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CHIPSUniversalIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CH[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CanadianPaymentsARNIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CA[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Case">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Cretr" type="AnyBICIdentifier"/>
<xs:element name="ReopCaseIndctn" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CaseAssignment">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Assgnr" type="AnyBICIdentifier"/>
<xs:element name="Assgne" type="AnyBICIdentifier"/>
<xs:element name="CreDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CashAccount3">
<xs:sequence>
<xs:element name="Id" type="AccountIdentification1Choice"/>
<xs:element name="Tp" type="CashAccountType3Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ccy" type="CurrencyCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CashAccountType3Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CASH"/>
<xs:enumeration value="CHAR"/>
<xs:enumeration value="SACC"/>
<xs:enumeration value="CACC"/>
<xs:enumeration value="SVGS"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ClearingSystemMemberIdentificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
<xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
<xs:element name="IENSC" type="IrishNSCIdentifier"/>
<xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
<xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
<xs:element name="CHBC" type="SwissBCIdentifier"/>
<xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
<xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
<xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
<xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
<xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
<xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
<xs:element name="CHSIC" type="SwissSICIdentifier"/>
<xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
<xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
<xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
<xs:element name="HKNCC" type="HongKongBankIdentifier"/>
<xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
<xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="CurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.028.001.01" type="camt.028.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DocumentType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="MSIN"/>
<xs:enumeration value="CNFA"/>
<xs:enumeration value="DNFA"/>
<xs:enumeration value="CINV"/>
<xs:enumeration value="CREN"/>
<xs:enumeration value="DEBN"/>
<xs:enumeration value="HIRI"/>
<xs:enumeration value="SBIN"/>
<xs:enumeration value="RADM"/>
<xs:enumeration value="RPIN"/>
<xs:enumeration value="CMCN"/>
<xs:enumeration value="FXDR"/>
<xs:enumeration value="SOAC"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="DunsIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="EANGLNIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{13,13}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="EquivalentAmount">
<xs:sequence>
<xs:element name="Amt" type="CurrencyAndAmount"/>
<xs:element name="CcyOfTrf" type="CurrencyCode"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ExtensiveBranchNetworkIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AU[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FedwireRoutingNumberIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="FW[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="FinancialInstitutionIdentification1">
<xs:sequence>
<xs:element name="BIC" type="BICIdentifier" minOccurs="0" maxOccurs="1"/>
<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PstlAdr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
<xs:element name="PrtryId" type="GenericIdentification3" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification3">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification4">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="IdTp" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="GermanBankleitzahlIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="BL[0-9]{8,8}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="HongKongBankIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="HK[0-9]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:complexType name="Intermediary1">
<xs:sequence>
<xs:element name="Id" type="PartyIdentification1Choice"/>
<xs:element name="Acct" type="Account1" minOccurs="0" maxOccurs="1"/>
<xs:element name="Role" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="IrishNSCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="IE[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ItalianDomesticIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="IT[0-9]{10,10}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="LongPostalAddress1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Ustrd" type="Max140Text"/>
<xs:element name="Strd" type="StructuredLongPostalAddress1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max70Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="70"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="NameAndAddress2">
<xs:sequence>
<xs:element name="Nm" type="Max35Text"/>
<xs:element name="Adr" type="LongPostalAddress1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="NewZealandNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="NZ[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="NonFinancialInstitutionIdentification1">
<xs:sequence>
<xs:element name="BEI" type="BEIIdentifier" minOccurs="0" maxOccurs="1"/>
<xs:element name="EANGLN" type="EANGLNIdentifier" minOccurs="0" maxOccurs="1"/>
<xs:element name="USCHU" type="CHIPSUniversalIdentifier" minOccurs="0" maxOccurs="1"/>
<xs:element name="DUNS" type="DunsIdentifier" minOccurs="0" maxOccurs="1"/>
<xs:element name="BkPtyId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TaxIdNb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PrtryId" type="GenericIdentification3" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Party1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="OrgId" type="NonFinancialInstitutionIdentification1"/>
<xs:element name="PrvtId" type="PersonIdentification2" minOccurs="1" maxOccurs="2"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentification1">
<xs:sequence>
<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PstlAdr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
<xs:element name="Id" type="Party1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
<xs:element name="PrtryId" type="GenericIdentification1"/>
<xs:element name="NmAndAdr" type="NameAndAddress2"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentComplementaryInformation">
<xs:sequence>
<xs:element name="RmtChc" type="RemittanceInformation3Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="Dbtr" type="PartyIdentification1" minOccurs="0" maxOccurs="1"/>
<xs:element name="DbtrAcct" type="CashAccount3" minOccurs="0" maxOccurs="1"/>
<xs:element name="FrstAgt" type="BranchAndFinancialInstitutionIdentification" minOccurs="0" maxOccurs="1"/>
<xs:element name="Amt" type="AmountType1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="NstrVstrAcct" type="CashAccount3" minOccurs="0" maxOccurs="1"/>
<xs:element name="Intrmy" type="Intermediary1" minOccurs="0" maxOccurs="1"/>
<xs:element name="FrstSttlmAgt" type="BranchAndFinancialInstitutionIdentification" minOccurs="0" maxOccurs="1"/>
<xs:element name="LastSttlmAgt" type="BranchAndFinancialInstitutionIdentification" minOccurs="0" maxOccurs="1"/>
<xs:element name="IntrmySttlmAgt" type="BranchAndFinancialInstitutionIdentification" minOccurs="0" maxOccurs="1"/>
<xs:element name="Cdtr" type="PartyIdentification1" minOccurs="0" maxOccurs="1"/>
<xs:element name="CdtrAcct" type="CashAccount3" minOccurs="0" maxOccurs="1"/>
<xs:element name="SndrToRcvrInf" type="Max35Text" minOccurs="0" maxOccurs="6"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentInstructionExtract">
<xs:sequence>
<xs:element name="AssgnrInstrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="AssgneInstrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CcyAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="ValDt" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PersonIdentification2">
<xs:sequence>
<xs:choice>
<xs:element name="DrvrsLicNb" type="Max35Text"/>
<xs:element name="SclSctyNb" type="Max35Text"/>
<xs:element name="AlnRegnNb" type="Max35Text"/>
<xs:element name="PsptNb" type="Max35Text"/>
<xs:element name="TaxIdNb" type="Max35Text"/>
<xs:element name="IdntyCardNb" type="Max35Text"/>
<xs:element name="MplyrIdNb" type="Max35Text"/>
<xs:element name="OthrId" type="GenericIdentification4"/>
</xs:choice>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PortugueseNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="PT[0-9]{8,8}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PostalAddress1">
<xs:sequence>
<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="5"/>
<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReferredDocumentAmount1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="DuePyblAmt" type="CurrencyAndAmount"/>
<xs:element name="DscntApldAmt" type="CurrencyAndAmount"/>
<xs:element name="RmtdAmt" type="CurrencyAndAmount"/>
<xs:element name="CdtNoteAmt" type="CurrencyAndAmount"/>
<xs:element name="TaxAmt" type="CurrencyAndAmount"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RemittanceInformation3Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Ustrd" type="Max140Text"/>
<xs:element name="Strd" type="StructuredRemittanceInformation2"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="RU[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SmallNetworkIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AU[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SouthAfricanNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="ZA[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SpanishDomesticInterbankingIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="ES[0-9]{8,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="StructuredLongPostalAddress1">
<xs:sequence>
<xs:element name="BldgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="StrtNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="StrtBldgId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Flr" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TwnNm" type="Max35Text"/>
<xs:element name="DstrctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="RgnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Stat" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtyId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
<xs:element name="PstCdId" type="Max16Text"/>
<xs:element name="POB" type="Max16Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StructuredRemittanceInformation2">
<xs:sequence>
<xs:element name="RfrdDocTp" type="DocumentType1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="RfrdDocRltdDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
<xs:element name="RfrdDocAmt" type="ReferredDocumentAmount1Choice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="DocRefNb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CdtrRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Invcr" type="PartyIdentification1" minOccurs="0" maxOccurs="1"/>
<xs:element name="Invcee" type="PartyIdentification1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SwissBCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SW[0-9]{3,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SwissSICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SW[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UKDomesticSortCodeIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SC[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UPICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{8,17}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="camt.028.001.01">
<xs:sequence>
<xs:element name="Assgnmt" type="CaseAssignment"/>
<xs:element name="Case" type="Case"/>
<xs:element name="Undrlyg" type="PaymentInstructionExtract"/>
<xs:element name="Inf" type="PaymentComplementaryInformation"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
