Iso20022.UnitTest/Resources/Camt/camt.026.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2005 Oct 05 09:31:19-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:camt.026.001.01" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.026.001.01">
<xs:element name="Document" type="Document"/>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Case">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Cretr" type="AnyBICIdentifier"/>
<xs:element name="ReopCaseIndctn" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CaseAssignment">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Assgnr" type="AnyBICIdentifier"/>
<xs:element name="Assgne" type="AnyBICIdentifier"/>
<xs:element name="CreDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="CurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.026.001.01" type="camt.026.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MissingOrIncorrectInformation">
<xs:sequence>
<xs:element name="MssngInf" type="UnableToApplyMissingInfo1Code" minOccurs="0" maxOccurs="10"/>
<xs:element name="IncrrctInf" type="UnableToApplyIncorrectInfo1Code" minOccurs="0" maxOccurs="10"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentInstructionExtract">
<xs:sequence>
<xs:element name="AssgnrInstrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="AssgneInstrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CcyAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="ValDt" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="UnableToApplyIncorrectInfo1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="IN01"/>
<xs:enumeration value="IN02"/>
<xs:enumeration value="IN03"/>
<xs:enumeration value="IN04"/>
<xs:enumeration value="IN05"/>
<xs:enumeration value="IN06"/>
<xs:enumeration value="IN07"/>
<xs:enumeration value="IN08"/>
<xs:enumeration value="IN09"/>
<xs:enumeration value="IN10"/>
<xs:enumeration value="IN11"/>
<xs:enumeration value="IN12"/>
<xs:enumeration value="IN13"/>
<xs:enumeration value="IN14"/>
<xs:enumeration value="IN15"/>
<xs:enumeration value="IN16"/>
<xs:enumeration value="IN17"/>
<xs:enumeration value="IN18"/>
<xs:enumeration value="IN19"/>
<xs:enumeration value="MM20"/>
<xs:enumeration value="MM21"/>
<xs:enumeration value="MM22"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="UnableToApplyJustificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="AnyInf" type="YesNoIndicator"/>
<xs:element name="MssngOrIncrrctInf" type="MissingOrIncorrectInformation"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="UnableToApplyMissingInfo1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="MS01"/>
<xs:enumeration value="MS02"/>
<xs:enumeration value="MS03"/>
<xs:enumeration value="MS04"/>
<xs:enumeration value="MS05"/>
<xs:enumeration value="MS06"/>
<xs:enumeration value="MS07"/>
<xs:enumeration value="MS08"/>
<xs:enumeration value="MS09"/>
<xs:enumeration value="MS10"/>
<xs:enumeration value="MS11"/>
<xs:enumeration value="MS12"/>
<xs:enumeration value="MS13"/>
<xs:enumeration value="MS14"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="camt.026.001.01">
<xs:sequence>
<xs:element name="Assgnmt" type="CaseAssignment"/>
<xs:element name="Case" type="Case"/>
<xs:element name="Undrlyg" type="PaymentInstructionExtract"/>
<xs:element name="Justfn" type="UnableToApplyJustificationChoice"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
