Iso20022.UnitTest/Resources/Sese/sese.009.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.0.0.60) on 2004 Nov 03 14:01:25-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:xsd:sese.009.001.01" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:xsd:sese.009.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="Account1">
<xs:sequence>
<xs:element name="Id" type="AccountIdentification1" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctSvcr" type="PartyIdentification1Choice"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentification1">
<xs:sequence>
<xs:element name="Prtry" type="SimpleIdentificationInformation"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AdditionalReference2">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="RefIssr" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="MsgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="sese.009.001.01" type="sese.009.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="FormOfSecurity1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BEAR"/>
<xs:enumeration value="REGD"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="GenericIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="IncomePreference1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CASH"/>
<xs:enumeration value="DRIP"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Intermediary1">
<xs:sequence>
<xs:element name="Id" type="PartyIdentification1Choice"/>
<xs:element name="Acct" type="Account1" minOccurs="0" maxOccurs="1"/>
<xs:element name="Role" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvestmentAccount10">
<xs:sequence>
<xs:element name="OwnrId" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="AcctId" type="AccountIdentification1"/>
<xs:element name="AcctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctDsgnt" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="IntrmyInf" type="Intermediary1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SctiesForm" type="FormOfSecurity1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="DmtrlsdInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="IncmPref" type="IncomePreference1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="BnfcryCertfctnInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="SfkpgPlc" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctSvcr" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LongPostalAddress1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Ustrd" type="Max140Text"/>
<xs:element name="Strd" type="StructuredLongPostalAddress1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MessageAndBusinessReference1">
<xs:sequence>
<xs:choice>
<xs:element name="PrvsRef" type="AdditionalReference2"/>
<xs:element name="OthrRef" type="AdditionalReference2"/>
</xs:choice>
<xs:element name="InvstmtAcctDtls" type="InvestmentAccount10" minOccurs="0" maxOccurs="1"/>
<xs:element name="TrfRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameAndAddress2">
<xs:sequence>
<xs:element name="Nm" type="Max35Text"/>
<xs:element name="Adr" type="LongPostalAddress1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
<xs:element name="PrtryId" type="GenericIdentification1"/>
<xs:element name="NmAndAdr" type="NameAndAddress2"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StructuredLongPostalAddress1">
<xs:sequence>
<xs:element name="BldgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="StrtNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="StrtBldgId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Flr" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TwnNm" type="Max35Text"/>
<xs:element name="DstrctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="RgnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Stat" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtyId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
<xs:element name="PstCdId" type="Max16Text"/>
<xs:element name="POB" type="Max16Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="sese.009.001.01">
<xs:sequence>
<xs:element name="ReqDtls" type="MessageAndBusinessReference1" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
