Iso20022.UnitTest/Resources/Sese/sese.031.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.1.10.3) on 2011 May 25 16:05:58--><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.031.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.031.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="AcknowledgementReason3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason3">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="AcknowledgementReason5Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="NSTP"/>
            <xs:enumeration value="RQWV"/>
            <xs:enumeration value="LATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AutoBorrowing2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LAMI"/>
            <xs:enumeration value="NBOR"/>
            <xs:enumeration value="YBOR"/>
            <xs:enumeration value="RTRN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AutomaticBorrowing2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="AutoBorrowing2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeniedReason2">
        <xs:sequence>
            <xs:element name="Cd" type="DeniedReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeniedReason2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DeniedReason4Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DeniedReason4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DPRG"/>
            <xs:enumeration value="DREP"/>
            <xs:enumeration value="DSET"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeniedStatus2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="DeniedReason2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesSttlmCondModStsAdvc" type="SecuritiesSettlementConditionModificationStatusAdviceV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ShrtNb" type="Exact3NumericText"/>
                <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
                <xs:element name="PrtryNb" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldIndicator2">
        <xs:sequence>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="RegistrationReason1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Identification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LinkageType1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="LinkageType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LinkageType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="UNLK"/>
            <xs:enumeration value="SOFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Linkages10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgPos" type="ProcessingPosition2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNb" type="DocumentNumber1Choice"/>
            <xs:element name="Ref" type="References13Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefOwnr" type="PartyIdentification36Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MatchingDenied1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="MatchingProcess1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MatchingProcess1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNMT"/>
            <xs:enumeration value="MTRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NoSpecifiedReason1">
        <xs:sequence>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification36Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason2">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PendingReason6Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingStatus4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="PendingReason2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriorityNumeric1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Nmrc" type="Exact4NumericText"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTR"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingPosition2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ProcessingPosition1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus14Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus3Choice"/>
                <xs:element name="Rjctd" type="RejectionOrRepairStatus11Choice"/>
                <xs:element name="Cmpltd" type="NoSpecifiedReason1"/>
                <xs:element name="Dnd" type="DeniedStatus2Choice"/>
                <xs:element name="Prtry" type="ProprietaryStatusAndReason1"/>
                <xs:element name="Pdg" type="PendingStatus4Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason1">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification20"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References13Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="SctiesSttlmTxId" type="Max35Text"/>
                <xs:element maxOccurs="1" minOccurs="0" name="IntraPosMvmntId" type="Max35Text"/>
                <xs:element maxOccurs="1" minOccurs="0" name="IntraBalMvmntId" type="Max35Text"/>
                <xs:element name="AcctSvcrTxId" type="Max35Text"/>
                <xs:element name="MktInfrstrctrTxId" type="Max35Text"/>
                <xs:element name="PoolId" type="Max35Text"/>
                <xs:element name="CmonId" type="Max35Text"/>
                <xs:element name="TradId" type="Max35Text"/>
                <xs:element maxOccurs="1" minOccurs="0" name="OthrTxId" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Registration2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PTYH"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CDEL"/>
            <xs:enumeration value="CVAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Registration3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="Registration2Code"/>
                <xs:element name="Prtry" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegistrationReason1">
        <xs:sequence>
            <xs:element name="Cd" type="Registration3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason10Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RejectionReason21Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason10">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionAndRepairReason10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus11Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="RejectionOrRepairReason10"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason21Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="NRGM"/>
            <xs:enumeration value="NRGN"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="REFE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestDetails6">
        <xs:sequence>
            <xs:element name="Ref" type="References7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AutomtcBrrwg" type="AutomaticBorrowing2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lkg" type="LinkageType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="PriorityNumeric1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrPrcg" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlSttlmInd" type="SettlementTransactionCondition5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesRTGS" type="SecuritiesRTGS1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HldInd" type="HoldIndicator2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgDnl" type="MatchingDenied1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnltrlSplt" type="UnilateralSplit1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Lnkgs" type="Linkages10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesRTGS1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ind" type="YesNoIndicator"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesSettlementConditionModificationStatusAdviceV02">
        <xs:sequence>
            <xs:element name="ReqRef" type="Identification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification36Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqDtls" type="RequestDetails6"/>
            <xs:element name="PrcgSts" type="ProcessingStatus14Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesTransactionType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRAD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SettlementTransactionCondition5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NPAR"/>
            <xs:enumeration value="PARC"/>
            <xs:enumeration value="PARQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnilateralSplit1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SecuritiesTransactionType5Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
