Iso20022.UnitTest/Resources/Sese/sese.011.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.0.0.60) on 2004 Nov 03 14:01:25-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:xsd:sese.011.001.01" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:xsd:sese.011.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="AdditionalReference2">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="RefIssr" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="MsgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="sese.011.001.01" type="sese.011.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InRepairStatus2Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Rsn" type="InRepairStatusReason2"/>
<xs:element name="DataSrcSchme" type="GenericIdentification1"/>
<xs:element name="NoRsn" type="NoReasonCode"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InRepairStatusReason2">
<xs:sequence>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LongPostalAddress1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Ustrd" type="Max140Text"/>
<xs:element name="Strd" type="StructuredLongPostalAddress1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max350Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="350"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="NameAndAddress2">
<xs:sequence>
<xs:element name="Nm" type="Max35Text"/>
<xs:element name="Adr" type="LongPostalAddress1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="NoReasonCode">
<xs:restriction base="xs:string">
<xs:enumeration value="NORE"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PartyIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
<xs:element name="PrtryId" type="GenericIdentification1"/>
<xs:element name="NmAndAdr" type="NameAndAddress2"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PendingSettlementStatusChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Rsn" type="PendingSettlementStatusReason1"/>
<xs:element name="DataSrcSchme" type="GenericIdentification1"/>
<xs:element name="NoRsn" type="NoReasonCode"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PendingSettlementStatusReason1">
<xs:sequence>
<xs:element name="Strd" type="PendingSettlementStatusReason1Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PendingSettlementStatusReason1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="AWSH"/>
<xs:enumeration value="BLOC"/>
<xs:enumeration value="CAIS"/>
<xs:enumeration value="CLAC"/>
<xs:enumeration value="DOCC"/>
<xs:enumeration value="DOCY"/>
<xs:enumeration value="IAAD"/>
<xs:enumeration value="LACK"/>
<xs:enumeration value="LINK"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="PHCK"/>
<xs:enumeration value="PHSE"/>
<xs:enumeration value="SBLO"/>
<xs:enumeration value="MINF"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="RejectedStatus3Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Rsn" type="RejectedStatusReason5" minOccurs="1" maxOccurs="10"/>
<xs:element name="DataSrcSchme" type="GenericIdentification1" minOccurs="1" maxOccurs="10"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RejectedStatusReason5">
<xs:sequence>
<xs:element name="Strd" type="TransferRejectedStatusReason1Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StructuredLongPostalAddress1">
<xs:sequence>
<xs:element name="BldgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="StrtNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="StrtBldgId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Flr" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TwnNm" type="Max35Text"/>
<xs:element name="DstrctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="RgnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Stat" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtyId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
<xs:element name="PstCdId" type="Max16Text"/>
<xs:element name="POB" type="Max16Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TransferInstructionStatus">
<xs:sequence>
<xs:element name="Sts" type="TransferStatus1Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TransferRejectedStatusReason1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DDAT"/>
<xs:enumeration value="DEPT"/>
<xs:enumeration value="DSEC"/>
<xs:enumeration value="SECU"/>
<xs:enumeration value="ISTP"/>
<xs:enumeration value="ICTN"/>
<xs:enumeration value="SAFE"/>
<xs:enumeration value="IAQD"/>
<xs:enumeration value="BLCA"/>
<xs:enumeration value="DOCC"/>
<xs:enumeration value="IDNA"/>
<xs:enumeration value="DLVY"/>
<xs:enumeration value="LEGL"/>
<xs:enumeration value="NSLA"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="DQUA"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="TransferStatus1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="PACK"/>
<xs:enumeration value="STNP"/>
<xs:enumeration value="MACH"/>
<xs:enumeration value="COSE"/>
<xs:enumeration value="CANP"/>
<xs:enumeration value="RVSD"/>
<xs:enumeration value="CAND"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="TransferStatusAndReason">
<xs:sequence>
<xs:element name="TrfRef" type="Max35Text"/>
<xs:choice>
<xs:element name="Sts" type="TransferInstructionStatus"/>
<xs:element name="PdgSttlm" type="PendingSettlementStatusChoice"/>
<xs:element name="Umtchd" type="TransferUnmatchedStatus"/>
<xs:element name="InRpr" type="InRepairStatus2Choice"/>
<xs:element name="Rjctd" type="RejectedStatus3Choice"/>
</xs:choice>
<xs:element name="StsInitr" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TransferUnmatchedReason1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CMIS"/>
<xs:enumeration value="CPCA"/>
<xs:enumeration value="DELN"/>
<xs:enumeration value="DSEC"/>
<xs:enumeration value="PHYS"/>
<xs:enumeration value="PODU"/>
<xs:enumeration value="DEPT"/>
<xs:enumeration value="DDAT"/>
<xs:enumeration value="DQUA"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="TransferUnmatchedStatus">
<xs:sequence>
<xs:choice>
<xs:element name="Rsn" type="TransferUnmatchedStatusReason1"/>
<xs:element name="DataSrcSchme" type="GenericIdentification1"/>
<xs:element name="NoRsn" type="NoReasonCode"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TransferUnmatchedStatusReason1">
<xs:sequence>
<xs:element name="Strd" type="TransferUnmatchedReason1Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="sese.011.001.01">
<xs:sequence>
<xs:choice>
<xs:element name="RltdRef" type="AdditionalReference2" minOccurs="1" maxOccurs="2"/>
<xs:element name="OthrRef" type="AdditionalReference2"/>
</xs:choice>
<xs:element name="StsRpt" type="TransferStatusAndReason"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
