Iso20022.UnitTest/Resources/Sese/sese.024.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Feb 19 10:27:05, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.024.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.024.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus7Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcknowledgementReason3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason3">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason4Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason5Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="NSTP"/>
            <xs:enumeration value="RQWV"/>
            <xs:enumeration value="LATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection8">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BeneficialOwnership1Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BlockTrade1Choice">
        <xs:choice>
            <xs:element name="Cd" type="BlockTrade1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BlockTrade1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLPA"/>
            <xs:enumeration value="BLCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationReason12Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason13Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationReason5">
        <xs:sequence>
            <xs:element name="Cd" type="CancellationReason12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationStatus7Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancellationReason5"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CANS"/>
            <xs:enumeration value="CSUB"/>
            <xs:enumeration value="CXLR"/>
            <xs:enumeration value="CANT"/>
            <xs:enumeration value="CANZ"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="SCEX"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashSettlementSystem1Choice">
        <xs:choice>
            <xs:element name="Cd" type="CashSettlementSystem2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CashSettlementSystem2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROS"/>
            <xs:enumeration value="NETS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CentralCounterPartyEligibility1Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesSttlmTxStsAdvc" type="SecuritiesSettlementTransactionStatusAdviceV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExposureType10Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExposureType4Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ExposureType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BFWD"/>
            <xs:enumeration value="PAYM"/>
            <xs:enumeration value="CCPC"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="CRTL"/>
            <xs:enumeration value="CRSP"/>
            <xs:enumeration value="CCIR"/>
            <xs:enumeration value="CRPR"/>
            <xs:enumeration value="EQPT"/>
            <xs:enumeration value="EXTD"/>
            <xs:enumeration value="EQUS"/>
            <xs:enumeration value="EXPT"/>
            <xs:enumeration value="FIXI"/>
            <xs:enumeration value="FORX"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="OTCD"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SLOA"/>
            <xs:enumeration value="SBSC"/>
            <xs:enumeration value="SCRP"/>
            <xs:enumeration value="SLEB"/>
            <xs:enumeration value="SHSL"/>
            <xs:enumeration value="SCIR"/>
            <xs:enumeration value="SCIE"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="TBAS"/>
            <xs:enumeration value="TRCP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FailingReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="BYIY"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CANR"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="OBJT"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="STCD"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="MLAT"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingReason3">
        <xs:sequence>
            <xs:element name="Cd" type="FailingReason3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailingReason3Choice">
        <xs:choice>
            <xs:element name="Cd" type="FailingReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FailingStatus3Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="FailingReason3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification21">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldIndicator4">
        <xs:sequence>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="RegistrationReason3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LetterOfGuarantee1Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketClientSide1Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketClientSideCode"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketClientSideCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAKT"/>
            <xs:enumeration value="CLNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification78">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification1Choice"/>
            <xs:element name="Tp" type="MarketType3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MarketType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="VARI"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MatchingStatus19Choice">
        <xs:choice>
            <xs:element name="Mtchd" type="ProprietaryReason1"/>
            <xs:element name="Umtchd" type="UnmatchedStatus12Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NettingEligibility1Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OwnershipLegalRestrictions1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A144"/>
            <xs:enumeration value="NRST"/>
            <xs:enumeration value="RSTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification36Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification19"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification37Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification19"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification45Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification19"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification46">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification44Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount44">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification45Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingProcessingReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="NEXT"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="CDEL"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="CDAC"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingProcessingReason3">
        <xs:sequence>
            <xs:element name="Cd" type="PendingProcessingReason3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingProcessingReason3Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingProcessingReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingProcessingStatus3Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingProcessingReason3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingReason13Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingReason2">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="REFU"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="TAMM"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason5">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason13Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingStatus13Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatus9Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus37Choice">
        <xs:choice>
            <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus7Choice"/>
            <xs:element name="PdgPrcg" type="PendingProcessingStatus3Choice"/>
            <xs:element name="Rjctd" type="RejectionStatus13Choice"/>
            <xs:element name="Rpr" type="RepairStatus5Choice"/>
            <xs:element name="Canc" type="CancellationStatus7Choice"/>
            <xs:element name="PdgCxl" type="PendingStatus13Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason1"/>
            <xs:element name="CxlReqd" type="ProprietaryReason1"/>
            <xs:element name="ModReqd" type="ProprietaryReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason1">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification20"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI"/>
            <xs:enumeration value="RECE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Registration1Choice">
        <xs:choice>
            <xs:element name="Cd" type="Registration1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Registration1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NREG"/>
            <xs:enumeration value="YREG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Registration2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PTYH"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CDEL"/>
            <xs:enumeration value="CVAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Registration7Choice">
        <xs:choice>
            <xs:element name="Cd" type="Registration2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RegistrationReason3">
        <xs:sequence>
            <xs:element name="Cd" type="Registration7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReason14Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason37Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionReason17">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionReason14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason37Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="INVB"/>
            <xs:enumeration value="INVL"/>
            <xs:enumeration value="INVN"/>
            <xs:enumeration value="VALR"/>
            <xs:enumeration value="INVE"/>
            <xs:enumeration value="PLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionStatus13Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason17"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RepairReason1">
        <xs:sequence>
            <xs:element name="Cd" type="RepairReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RepairReason1Choice">
        <xs:choice>
            <xs:element name="Cd" type="RepairReason4Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RepairReason4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="ICUS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RepairStatus5Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RepairReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RepurchaseType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="RepurchaseType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RepurchaseType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CADJ"/>
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PAIR"/>
            <xs:enumeration value="RATE"/>
            <xs:enumeration value="ROLP"/>
            <xs:enumeration value="TOPU"/>
            <xs:enumeration value="WTHD"/>
            <xs:enumeration value="PADJ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Restriction1Choice">
        <xs:choice>
            <xs:element name="Cd" type="OwnershipLegalRestrictions1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat3Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText3"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification21"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText3">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesRTGS1Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesSettlementTransactionStatusAdviceV05">
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentifications16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgSts" type="ProcessingStatus37Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IfrrdMtchgSts" type="MatchingStatus19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSts" type="MatchingStatus19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSts" type="SettlementStatus7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDtls" type="TransactionDetails61"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesTransactionType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNCB"/>
            <xs:enumeration value="BSBK"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="FCTA"/>
            <xs:enumeration value="INSP"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="MKDW"/>
            <xs:enumeration value="MKUP"/>
            <xs:enumeration value="NETT"/>
            <xs:enumeration value="NSYN"/>
            <xs:enumeration value="OWNE"/>
            <xs:enumeration value="OWNI"/>
            <xs:enumeration value="PAIR"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PORT"/>
            <xs:enumeration value="REAL"/>
            <xs:enumeration value="REDI"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="RELE"/>
            <xs:enumeration value="REPU"/>
            <xs:enumeration value="RODE"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SBBK"/>
            <xs:enumeration value="SBRE"/>
            <xs:enumeration value="SECB"/>
            <xs:enumeration value="SECL"/>
            <xs:enumeration value="SLRE"/>
            <xs:enumeration value="SUBS"/>
            <xs:enumeration value="SYND"/>
            <xs:enumeration value="TBAC"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="TRPO"/>
            <xs:enumeration value="TRVO"/>
            <xs:enumeration value="TURN"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="CLAI"/>
            <xs:enumeration value="AUTO"/>
            <xs:enumeration value="ETFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesTransactionType9Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesTransactionType7Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate2Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="SettlementDateCode2Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDateCode2Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType4Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDetails69">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="HldInd" type="HoldIndicator4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmTxCond" type="SettlementTransactionCondition12Choice"/>
            <xs:element name="SctiesTxTp" type="SecuritiesTransactionType9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlgCpcty" type="SettlingCapacity4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyTaxBsis" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesRTGS" type="SecuritiesRTGS1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Regn" type="Registration1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfclOwnrsh" type="BeneficialOwnership1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrTp" type="ExposureType10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshClrSys" type="CashSettlementSystem1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCpcty" type="TaxCapacityParty1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RpTp" type="RepurchaseType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClntSd" type="MarketClientSide1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckTrad" type="BlockTrade1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglRstrctns" type="Restriction1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSysMtd" type="SettlementSystemMethod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetgElgblty" type="NettingEligibility1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CCPElgblty" type="CentralCounterPartyEligibility1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LttrOfGrnt" type="LetterOfGuarantee1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlSttlmInd" type="SettlementTransactionCondition5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElgblForColl" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification46"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount44"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementStatus7Choice">
        <xs:choice>
            <xs:element name="Pdg" type="PendingStatus9Choice"/>
            <xs:element name="Flng" type="FailingStatus3Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementSystemMethod1Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementSystemMethod1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementSystemMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSET"/>
            <xs:enumeration value="YSET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementTransactionCondition12Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementTransactionCondition8Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NPAR"/>
            <xs:enumeration value="PARC"/>
            <xs:enumeration value="PARQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SettlementTransactionCondition8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASGN"/>
            <xs:enumeration value="BUTC"/>
            <xs:enumeration value="CLEN"/>
            <xs:enumeration value="DIRT"/>
            <xs:enumeration value="DLWM"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="FRCL"/>
            <xs:enumeration value="KNOC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="RESI"/>
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="SPDL"/>
            <xs:enumeration value="SPST"/>
            <xs:enumeration value="EXPI"/>
            <xs:enumeration value="PENS"/>
            <xs:enumeration value="UNEX"/>
            <xs:enumeration value="TRIP"/>
            <xs:enumeration value="NOMC"/>
            <xs:enumeration value="TRAN"/>
            <xs:enumeration value="RHYP"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="RPTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SettlingCapacity2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAGE"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="SPRI"/>
            <xs:enumeration value="RISP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlingCapacity4Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlingCapacity2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxCapacityParty1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxLiability1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxLiability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="AGEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeDate1Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="TradeDateCode1Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeDateCode1Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionDetails61">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgtCollTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntTrptyCollTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntCollInstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyCollInstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification36Choice"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfTrad" type="MarketIdentification78"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfClr" type="AnyBICIdentifier"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification14"/>
            <xs:element name="SttlmQty" type="Quantity6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="AmountAndDirection8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LateDlvryDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdSttlmDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdValDt" type="DateAndDateTimeChoice"/>
            <xs:element name="SttlmDt" type="SettlementDate2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate1Choice"/>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code"/>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element name="SttlmParams" type="SettlementDetails69"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Invstr" type="PartyIdentification37Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QlfdFrgnIntrmy" type="PartyIdentification45Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmInstrPrcgAddtlDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifications16">
        <xs:sequence>
            <xs:element name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetgSvcPrvdrId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnmatchedReason11">
        <xs:sequence>
            <xs:element name="Cd" type="UnmatchedReason14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnmatchedReason14Choice">
        <xs:choice>
            <xs:element name="Cd" type="UnmatchedReason8Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UnmatchedReason8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CMIS"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DELN"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DTRA"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="FRAP"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="PODU"/>
            <xs:enumeration value="REGD"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="CPCA"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="LEOG"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="MIME"/>
            <xs:enumeration value="UNBR"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="ACRU"/>
            <xs:enumeration value="INVE"/>
            <xs:enumeration value="PLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnmatchedStatus12Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="UnmatchedReason11"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
