Iso20022.UnitTest/Resources/Sese/sese.024.002.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 08 11:54:18, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.024.002.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.024.002.07">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus25Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcknowledgementReason13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason13">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason16Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason16Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="NSTP"/>
            <xs:enumeration value="RQWV"/>
            <xs:enumeration value="LATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection67">
        <xs:sequence>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="RestrictedFINActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BeneficialOwnership5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BlockTrade1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLPA"/>
            <xs:enumeration value="BLCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BlockTrade5Choice">
        <xs:choice>
            <xs:element name="Cd" type="BlockTrade1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationReason14">
        <xs:sequence>
            <xs:element name="Cd" type="CancellationReason24Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationReason24Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason13Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationStatus17Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancellationReason14"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CANS"/>
            <xs:enumeration value="CSUB"/>
            <xs:enumeration value="CXLR"/>
            <xs:enumeration value="CANT"/>
            <xs:enumeration value="CANZ"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="SCEX"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CashSettlementSystem2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROS"/>
            <xs:enumeration value="NETS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashSettlementSystem5Choice">
        <xs:choice>
            <xs:element name="Cd" type="CashSettlementSystem2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CentralCounterPartyEligibility5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesSttlmTxStsAdvc" type="SecuritiesSettlementTransactionStatusAdvice002V07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExposureType17Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExposureType4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ExposureType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BFWD"/>
            <xs:enumeration value="PAYM"/>
            <xs:enumeration value="CCPC"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="CRTL"/>
            <xs:enumeration value="CRSP"/>
            <xs:enumeration value="CCIR"/>
            <xs:enumeration value="CRPR"/>
            <xs:enumeration value="EQPT"/>
            <xs:enumeration value="EXTD"/>
            <xs:enumeration value="EQUS"/>
            <xs:enumeration value="EXPT"/>
            <xs:enumeration value="FIXI"/>
            <xs:enumeration value="FORX"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="OTCD"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SLOA"/>
            <xs:enumeration value="SBSC"/>
            <xs:enumeration value="SCRP"/>
            <xs:enumeration value="SLEB"/>
            <xs:enumeration value="SHSL"/>
            <xs:enumeration value="SCIR"/>
            <xs:enumeration value="SCIE"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="TBAS"/>
            <xs:enumeration value="TRCP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingReason10">
        <xs:sequence>
            <xs:element name="Cd" type="FailingReason11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailingReason11Choice">
        <xs:choice>
            <xs:element name="Cd" type="FailingReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FailingReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="BYIY"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CANR"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="OBJT"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="STCD"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="MLAT"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingStatus12Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="FailingReason10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber"/>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification84">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification85">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldIndicator7">
        <xs:sequence>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="RegistrationReason6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource4Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="RestrictedFINExact2Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LetterOfGuarantee5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Linkages50">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgPos" type="ProcessingPosition23Choice"/>
            <xs:element name="SctiesSttlmTxId" type="RestrictedFINMax16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketClientSide5Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketClientSideCode"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketClientSideCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAKT"/>
            <xs:enumeration value="CLNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification2Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="RestrictedFINXMax30Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification90">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification2Choice"/>
            <xs:element name="Tp" type="MarketType16Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketType16Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="VARI"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MatchingStatus32Choice">
        <xs:choice>
            <xs:element name="Mtchd" type="ProprietaryReason5"/>
            <xs:element name="Umtchd" type="UnmatchedStatus21Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason7"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress12">
        <xs:sequence>
            <xs:element name="Nm" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NettingEligibility5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalAndCurrentQuantities4">
        <xs:sequence>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OwnershipLegalRestrictions1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A144"/>
            <xs:enumeration value="NRST"/>
            <xs:enumeration value="RSTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification104Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification108">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification109">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification114Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification110">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification115Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification111">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification114Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification115Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification58Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount146">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingProcessingReason12">
        <xs:sequence>
            <xs:element name="Cd" type="PendingProcessingReason14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingProcessingReason14Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingProcessingReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingProcessingReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="NEXT"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="CDEL"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="CDAC"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingProcessingStatus15Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingProcessingReason12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingReason20">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason37Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason24">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason41Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="REFU"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="TAMM"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason37Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingReason41Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingStatus46Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatus50Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason24"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PlaceOfClearingIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PlaceOfTradeIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MktTpAndId" type="MarketIdentification90"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingPosition23Choice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessingPosition5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingStatus63Choice">
        <xs:choice>
            <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus25Choice"/>
            <xs:element name="PdgPrcg" type="PendingProcessingStatus15Choice"/>
            <xs:element name="Rjctd" type="RejectionStatus26Choice"/>
            <xs:element name="Rpr" type="RepairStatus16Choice"/>
            <xs:element name="Canc" type="CancellationStatus17Choice"/>
            <xs:element name="PdgCxl" type="PendingStatus46Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason7"/>
            <xs:element name="CxlReqd" type="ProprietaryReason5"/>
            <xs:element name="ModReqd" type="ProprietaryReason5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason7">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification47"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity10Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities4"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI"/>
            <xs:enumeration value="RECE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Registration11Choice">
        <xs:choice>
            <xs:element name="Cd" type="Registration1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Registration12Choice">
        <xs:choice>
            <xs:element name="Cd" type="Registration2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Registration1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NREG"/>
            <xs:enumeration value="YREG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Registration2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PTYH"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CDEL"/>
            <xs:enumeration value="CVAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RegistrationReason6">
        <xs:sequence>
            <xs:element name="Cd" type="Registration12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReason33Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason37Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectionReason37Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="INVB"/>
            <xs:enumeration value="INVL"/>
            <xs:enumeration value="INVN"/>
            <xs:enumeration value="VALR"/>
            <xs:enumeration value="INVE"/>
            <xs:enumeration value="PLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason39">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionReason33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionStatus26Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason39"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RepairReason12">
        <xs:sequence>
            <xs:element name="Cd" type="RepairReason14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RepairReason14Choice">
        <xs:choice>
            <xs:element name="Cd" type="RepairReason4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RepairReason4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="ICUS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RepairStatus16Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RepairReason12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RepurchaseType19Choice">
        <xs:choice>
            <xs:element name="Cd" type="RepurchaseType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RepurchaseType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CADJ"/>
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PAIR"/>
            <xs:enumeration value="RATE"/>
            <xs:enumeration value="ROLP"/>
            <xs:enumeration value="TOPU"/>
            <xs:enumeration value="WTHD"/>
            <xs:enumeration value="PADJ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINExact2Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="XX|TS"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax16Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax210Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,210}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax30Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Restriction6Choice">
        <xs:choice>
            <xs:element name="Cd" type="OwnershipLegalRestrictions1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafeKeepingPlace2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlcFrmt" type="SafekeepingPlaceFormat17Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat17Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText15"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification85"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText15">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount27">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount30">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesRTGS5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesSettlementTransactionStatusAdvice002V07">
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentifications38"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lnkgs" type="Linkages50"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgSts" type="ProcessingStatus63Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IfrrdMtchgSts" type="MatchingStatus32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSts" type="MatchingStatus32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSts" type="SettlementStatus22Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDtls" type="TransactionDetails87"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionType25Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesTransactionType7Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SecuritiesTransactionType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNCB"/>
            <xs:enumeration value="BSBK"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="FCTA"/>
            <xs:enumeration value="INSP"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="MKDW"/>
            <xs:enumeration value="MKUP"/>
            <xs:enumeration value="NETT"/>
            <xs:enumeration value="NSYN"/>
            <xs:enumeration value="OWNE"/>
            <xs:enumeration value="OWNI"/>
            <xs:enumeration value="PAIR"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PORT"/>
            <xs:enumeration value="REAL"/>
            <xs:enumeration value="REDI"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="RELE"/>
            <xs:enumeration value="REPU"/>
            <xs:enumeration value="RODE"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SBBK"/>
            <xs:enumeration value="SBRE"/>
            <xs:enumeration value="SECB"/>
            <xs:enumeration value="SECL"/>
            <xs:enumeration value="SLRE"/>
            <xs:enumeration value="SUBS"/>
            <xs:enumeration value="SYND"/>
            <xs:enumeration value="TBAC"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="TRPO"/>
            <xs:enumeration value="TRVO"/>
            <xs:enumeration value="TURN"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="CLAI"/>
            <xs:enumeration value="AUTO"/>
            <xs:enumeration value="ETFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification20">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate15Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="SettlementDateCode11Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDateCode11Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDetails115">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="HldInd" type="HoldIndicator7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmTxCond" type="SettlementTransactionCondition28Choice"/>
            <xs:element name="SctiesTxTp" type="SecuritiesTransactionType25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlgCpcty" type="SettlingCapacity8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyTaxBsis" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesRTGS" type="SecuritiesRTGS5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Regn" type="Registration11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfclOwnrsh" type="BeneficialOwnership5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrTp" type="ExposureType17Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshClrSys" type="CashSettlementSystem5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCpcty" type="TaxCapacityParty5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RpTp" type="RepurchaseType19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClntSd" type="MarketClientSide5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckTrad" type="BlockTrade5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglRstrctns" type="Restriction6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSysMtd" type="SettlementSystemMethod5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetgElgblty" type="NettingEligibility5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CCPElgblty" type="CentralCounterPartyEligibility5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LttrOfGrnt" type="LetterOfGuarantee5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlSttlmInd" type="SettlementTransactionCondition5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElgblForColl" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties49">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification108"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount146"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount146"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount146"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount146"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount146"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementStatus22Choice">
        <xs:choice>
            <xs:element name="Pdg" type="PendingStatus50Choice"/>
            <xs:element name="Flng" type="FailingStatus12Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason7"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementSystemMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSET"/>
            <xs:enumeration value="YSET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementSystemMethod5Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementSystemMethod1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="ASGN"/>
            <xs:enumeration value="BUTC"/>
            <xs:enumeration value="CLEN"/>
            <xs:enumeration value="DLWM"/>
            <xs:enumeration value="DIRT"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="EXPI"/>
            <xs:enumeration value="FRCL"/>
            <xs:enumeration value="KNOC"/>
            <xs:enumeration value="NOMC"/>
            <xs:enumeration value="NACT"/>
            <xs:enumeration value="PENS"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="RHYP"/>
            <xs:enumeration value="RPTO"/>
            <xs:enumeration value="RESI"/>
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="SPDL"/>
            <xs:enumeration value="SPST"/>
            <xs:enumeration value="TRAN"/>
            <xs:enumeration value="TRIP"/>
            <xs:enumeration value="UNEX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementTransactionCondition28Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementTransactionCondition10Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NPAR"/>
            <xs:enumeration value="PARC"/>
            <xs:enumeration value="PARQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SettlingCapacity2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAGE"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="SPRI"/>
            <xs:enumeration value="RISP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlingCapacity8Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlingCapacity2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxCapacityParty5Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxLiability1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxLiability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="AGEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeDate6Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="TradeDateCode4Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeDateCode4Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionDetails87">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnEvtId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgtCollTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntTrptyCollTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntCollInstrId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyCollInstrId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification109"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafeKeepingPlace2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfTrad" type="PlaceOfTradeIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfClr" type="PlaceOfClearingIdentification1"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification20"/>
            <xs:element name="SttlmQty" type="Quantity10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="AmountAndDirection67"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LateDlvryDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdSttlmDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdValDt" type="DateAndDateTimeChoice"/>
            <xs:element name="SttlmDt" type="SettlementDate15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate6Choice"/>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code"/>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element name="SttlmParams" type="SettlementDetails115"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties49"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties49"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Invstr" type="PartyIdentification110"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QlfdFrgnIntrmy" type="PartyIdentification111"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmInstrPrcgAddtlDtls" type="RestrictedFINXMax350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifications38">
        <xs:sequence>
            <xs:element name="AcctOwnrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetgSvcPrvdrId" type="RestrictedFINXMax16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnmatchedReason11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="ACRU"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="CPCA"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DMCT"/>
            <xs:enumeration value="DCMX"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="INVE"/>
            <xs:enumeration value="LEOG"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="MIME"/>
            <xs:enumeration value="CMIS"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="DTRA"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="FRAP"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PLIS"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="PODU"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="REGD"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="DELN"/>
            <xs:enumeration value="UNBR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnmatchedReason20">
        <xs:sequence>
            <xs:element name="Cd" type="UnmatchedReason27Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnmatchedReason27Choice">
        <xs:choice>
            <xs:element name="Cd" type="UnmatchedReason11Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UnmatchedStatus21Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="UnmatchedReason20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
