Iso20022.UnitTest/Resources/Sese/sese.033.002.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 08 11:54:14, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.033.002.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.033.002.06">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AffirmationStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFFI"/>
            <xs:enumeration value="NAFI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AffirmationStatus9Choice">
        <xs:choice>
            <xs:element name="Cd" type="AffirmationStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AlternatePartyIdentification9">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType44Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection58">
        <xs:sequence>
            <xs:element name="Amt" type="RestrictedFINActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="RestrictedFINActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms27"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection59">
        <xs:sequence>
            <xs:element name="Amt" type="RestrictedFINActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection60">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrkrgAmtInd" type="YesNoIndicator"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="RestrictedFINActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="DateAndDateTimeChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AutoBorrowing1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LAMI"/>
            <xs:enumeration value="NBOR"/>
            <xs:enumeration value="YBOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AutomaticBorrowing8Choice">
        <xs:choice>
            <xs:element name="Cd" type="AutoBorrowing1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BeneficialOwnership5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BlockTrade1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLPA"/>
            <xs:enumeration value="BLCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BlockTrade5Choice">
        <xs:choice>
            <xs:element name="Cd" type="BlockTrade1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification6Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Prtry" type="RestrictedFINX2Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashParties30">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="PartyIdentificationAndAccount133"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="PartyIdentificationAndAccount134"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="PartyIdentificationAndAccount133"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="PartyIdentificationAndAccount134"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Intrmy" type="PartyIdentificationAndAccount134"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashSettlementSystem2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROS"/>
            <xs:enumeration value="NETS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashSettlementSystem5Choice">
        <xs:choice>
            <xs:element name="Cd" type="CashSettlementSystem2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CentralCounterPartyEligibility5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClassificationType33Choice">
        <xs:choice>
            <xs:element name="ClssfctnFinInstrm" type="CFIOct2015Identifier"/>
            <xs:element name="AltrnClssfctn" type="GenericIdentification86"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Counterparty10Choice">
        <xs:choice>
            <xs:element name="Sellr" type="PartyIdentificationAndAccount131"/>
            <xs:element name="Buyr" type="PartyIdentificationAndAccount131"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyToBuyOrSell1Choice">
        <xs:choice>
            <xs:element name="CcyToBuy" type="ActiveCurrencyCode"/>
            <xs:element name="CcyToSell" type="ActiveCurrencyCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode32Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesFincgInstr" type="SecuritiesFinancingInstruction002V06"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber6Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification86"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Eligibility1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="RETL"/>
            <xs:enumeration value="PROF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventFrequency3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FXStandingInstruction5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentAttributes78">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MarketIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCntBsis" type="InterestComputationMethodFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnForm" type="FormOfSecurity7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="Frequency27Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSts" type="SecuritiesPaymentStatus6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateChngFrqcy" type="Frequency27Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnStyle" type="OptionStyle9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FltgRateFxgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCllblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstPmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="YldToMtrtyRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtIntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxRateBsis" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnAttchdNb" type="Number23Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolNb" type="GenericIdentification39"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CllblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktOrIndctvPric" type="PriceType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcPric" type="Price3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptPric" type="Price3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsPric" type="Price3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPric" type="Price3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinNmnlQty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctSz" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UndrlygFinInstrmId" type="SecurityIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrAddtlDtls" type="RestrictedFINXMax350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber"/>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms27">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="RsltgAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FormOfSecurity7Choice">
        <xs:choice>
            <xs:element name="Cd" type="FormOfSecurity1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Frequency27Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency3Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification18">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax30Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification39">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINMax30Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="RestrictedFINMax8Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification84">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification85">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification86">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax30Text"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource4Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="RestrictedFINExact2Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType44Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InterestComputationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A014"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestComputationMethodFormat5Choice">
        <xs:choice>
            <xs:element name="Cd" type="InterestComputationMethod2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestorCapacity5Choice">
        <xs:choice>
            <xs:element name="Cd" type="Eligibility1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LegalFramework1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalFramework4Choice">
        <xs:choice>
            <xs:element name="Cd" type="LegalFramework1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Linkages43">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgPos" type="ProcessingPosition10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNb" type="DocumentNumber6Choice"/>
            <xs:element name="Ref" type="References50Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkdQty" type="PairedOrTurnedQuantity4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefOwnr" type="PartyIdentification103Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketClientSide5Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketClientSideCode"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketClientSideCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAKT"/>
            <xs:enumeration value="CLNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification2Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="RestrictedFINXMax30Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification4Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="RestrictedFINXMax30Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification90">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification2Choice"/>
            <xs:element name="Tp" type="MarketType16Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketType16Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="VARI"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MatchingStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACH"/>
            <xs:enumeration value="NMAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MatchingStatus28Choice">
        <xs:choice>
            <xs:element name="Cd" type="MatchingStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress12">
        <xs:sequence>
            <xs:element name="Nm" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NettingEligibility5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Number23Choice">
        <xs:choice>
            <xs:element name="Shrt" type="Exact3NumericText"/>
            <xs:element name="Lng" type="GenericIdentification18"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="NumberCount1Choice">
        <xs:choice>
            <xs:element name="CurInstrNb" type="Exact3NumericText"/>
            <xs:element name="TtlNb" type="TotalNumber1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionStyle2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionStyle9Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionStyle2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionType7Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities4">
        <xs:sequence>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OriginatorRole2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SINT"/>
            <xs:enumeration value="MLTF"/>
            <xs:enumeration value="RMKT"/>
            <xs:enumeration value="MKTM"/>
            <xs:enumeration value="INVE"/>
            <xs:enumeration value="TAGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherAmounts35">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsFees" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryNtlFdrlTax" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradAmt" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctgBrkrAmt" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDscntAllwnc" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtLevyTax" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclTax" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclTaxCtrySpcfc" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclBrkrComssn" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mrgn" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryAmt" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShppgAmt" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpclCncssn" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDty" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockXchgTax" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfTax" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTax" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValAddedTax" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTax" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetGnLoss" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CsmptnTax" type="AmountAndDirection58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdCptlstnAmt" type="AmountAndDirection58"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherParties29">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Invstr" type="PartyIdentificationAndAccount135"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QlfdFrgnIntrmy" type="PartyIdentificationAndAccount136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockXchg" type="PartyIdentificationAndAccount137"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradRgltr" type="PartyIdentificationAndAccount137"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="PartyIdentificationAndAccount136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="PartyIdentificationAndAccount136"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OwnershipLegalRestrictions1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A144"/>
            <xs:enumeration value="NRST"/>
            <xs:enumeration value="RSTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PairedOrTurnedQuantity4Choice">
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="PairdOffQty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrndQty" type="FinancialInstrumentQuantity15Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification103">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification103Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification104Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification109">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification114Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification111">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification113Choice">
        <xs:choice>
            <xs:element name="BICFI" type="BICFIIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification114Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification58Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount131">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount133">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAcct" type="CashAccountIdentification6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComssnAcct" type="CashAccountIdentification6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxAcct" type="CashAccountIdentification6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount134">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification113Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAcct" type="CashAccountIdentification6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComssnAcct" type="CashAccountIdentification6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxAcct" type="CashAccountIdentification6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount135">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount136">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount137">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="RestrictedFINXMax350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="RestrictedFINXMax140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="RestrictedFINXMax350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="RestrictedFINXMax350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PlaceOfClearingIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PlaceOfTradeIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MktTpAndId" type="MarketIdentification90"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="Price3">
        <xs:sequence>
            <xs:element name="Tp" type="YieldedOrValueType1Choice"/>
            <xs:element name="Val" type="PriceRateOrAmount1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmount1Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="RestrictedFINActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceType2Choice">
        <xs:choice>
            <xs:element name="Mkt" type="Price3"/>
            <xs:element name="Indctv" type="Price3"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriorityNumeric5Choice">
        <xs:choice>
            <xs:element name="Nmrc" type="Exact4NumericText"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProcessingPosition10Choice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessingPosition3Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity10Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="QuantityAndAccount47">
        <xs:sequence>
            <xs:element name="SttlmQty" type="Quantity10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnChc" type="RestrictedFINXMax210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification109"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafeKeepingPlace2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="QtyBrkdwn" type="QuantityBreakdown38"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityBreakdown38">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LotNb" type="GenericIdentification39"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotQty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotPric" type="Price3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TpOfPric" type="TypeOfPrice32Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateName2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="RestrictedFINXMax8Text"/>
            <xs:element name="RateNm" type="RestrictedFINXMax24Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateOrName2Choice">
        <xs:choice>
            <xs:element name="Rate" type="Rate2"/>
            <xs:element name="RateNm" type="RateName2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIXE"/>
            <xs:enumeration value="FORF"/>
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateType67Choice">
        <xs:choice>
            <xs:element name="Cd" type="RateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="References50Choice">
        <xs:choice>
            <xs:element name="SctiesSttlmTxId" type="RestrictedFINXMax16Text"/>
            <xs:element name="IntraPosMvmntId" type="RestrictedFINXMax16Text"/>
            <xs:element name="IntraBalMvmntId" type="RestrictedFINXMax16Text"/>
            <xs:element name="AcctSvcrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element name="MktInfrstrctrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element name="PoolId" type="RestrictedFINXMax16Text"/>
            <xs:element name="OthrTxId" type="RestrictedFINXMax16Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Reporting2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STEX"/>
            <xs:enumeration value="REGU"/>
            <xs:enumeration value="DEFR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Reporting9Choice">
        <xs:choice>
            <xs:element name="Cd" type="Reporting2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINExact2Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="XX|TS"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax30Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax8Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINX2Max34Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax210Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,210}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax24Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="24"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax30Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax8Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,8}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Restriction6Choice">
        <xs:choice>
            <xs:element name="Cd" type="OwnershipLegalRestrictions1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RevaluationIndicator4Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafeKeepingPlace2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlcFrmt" type="SafekeepingPlaceFormat17Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat17Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText15"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification85"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText15">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount27">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount30">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesFinancingInstruction002V06">
        <xs:sequence>
            <xs:element name="TxId" type="RestrictedFINXMax16Text"/>
            <xs:element name="TxTpAndAddtlParams" type="TransactionTypeAndAdditionalParameters13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbCounts" type="NumberCount1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Lnkgs" type="Linkages43"/>
            <xs:element name="TradDtls" type="SecuritiesTradeDetails59"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrbts" type="FinancialInstrumentAttributes78"/>
            <xs:element name="QtyAndAcctDtls" type="QuantityAndAccount47"/>
            <xs:element name="SctiesFincgDtls" type="SecuritiesFinancingTransactionDetails30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmParams" type="SettlementDetails105"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StgSttlmInstrDtls" type="StandingSettlementInstruction12"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshPties" type="CashParties30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OpngSttlmAmt" type="AmountAndDirection60"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAmts" type="OtherAmounts35"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrBizPties" type="OtherParties29"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesFinancingTransactionDetails30">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesFincgTradId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsgLegId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDt" type="TerminationDate5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateChngDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstCallBckDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComssnClctnDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateTp" type="RateType67Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rvaltn" type="RevaluationIndicator4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglFrmwk" type="LegalFramework4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstCmptnMtd" type="InterestComputationMethodFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDtMod" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstPmt" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateSpprt" type="RateName2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RpRate" type="Rate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockLnMrgn" type="Rate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesHrcut" type="Rate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsRate" type="Rate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricgRate" type="RateOrName2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sprd" type="Rate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxCallDely" type="Exact3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNbOfCollInstrs" type="Exact3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealAmt" type="AmountAndDirection59"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="AmountAndDirection59"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrftAmt" type="AmountAndDirection59"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrmAmt" type="AmountAndDirection59"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnAmtPerPcOfColl" type="AmountAndDirection59"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnTxAmt" type="AmountAndDirection59"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndLegNrrtv" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesFinancingTransactionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REPU"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SECB"/>
            <xs:enumeration value="SECL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SecuritiesPaymentStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="NILL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesPaymentStatus6Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesPaymentStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesRTGS5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTradeDetails59">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfTrad" type="PlaceOfTradeIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfClr" type="PlaceOfClearingIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate6Choice"/>
            <xs:element name="OpngSttlmDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealPric" type="Price3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDaysAcrd" type="Max3Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rptg" type="Reporting9Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradTxCond" type="TradeTransactionCondition6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrCpcty" type="InvestorCapacity5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradOrgtrRole" type="TradeOriginator4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyToBuyOrSell" type="CurrencyToBuyOrSell1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AffirmSts" type="AffirmationStatus9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSts" type="MatchingStatus28Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmInstrPrcgAddtlDtls" type="RestrictedFINXMax350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FxAddtlDtls" type="RestrictedFINXMax350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification20">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDetails105">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="HldInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="PriorityNumeric5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmTxCond" type="SettlementTransactionCondition22Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlgCpcty" type="SettlingCapacity8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyTaxBsis" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesRTGS" type="SecuritiesRTGS5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfclOwnrsh" type="BeneficialOwnership5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshClrSys" type="CashSettlementSystem5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCpcty" type="TaxCapacityParty5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClntSd" type="MarketClientSide5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FxStgInstr" type="FXStandingInstruction5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckTrad" type="BlockTrade5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglRstrctns" type="Restriction6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSysMtd" type="SettlementSystemMethod5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetgElgblty" type="NettingEligibility5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CCPElgblty" type="CentralCounterPartyEligibility5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trckg" type="Tracking5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AutomtcBrrwg" type="AutomaticBorrowing8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlSttlmInd" type="SettlementTransactionCondition5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElgblForColl" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties44">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification103"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount131"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount131"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount131"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount131"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount131"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementStandingInstructionDatabase1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="BRKR"/>
            <xs:enumeration value="VEND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementStandingInstructionDatabase5Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementStandingInstructionDatabase1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementSystemMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSET"/>
            <xs:enumeration value="YSET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementSystemMethod5Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementSystemMethod1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementTransactionCondition22Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementTransactionCondition6Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NPAR"/>
            <xs:enumeration value="PARC"/>
            <xs:enumeration value="PARQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SettlementTransactionCondition6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASGN"/>
            <xs:enumeration value="BUTC"/>
            <xs:enumeration value="CLEN"/>
            <xs:enumeration value="DIRT"/>
            <xs:enumeration value="DLWM"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="FRCL"/>
            <xs:enumeration value="KNOC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="RESI"/>
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="SPDL"/>
            <xs:enumeration value="SPST"/>
            <xs:enumeration value="EXPI"/>
            <xs:enumeration value="PENS"/>
            <xs:enumeration value="UNEX"/>
            <xs:enumeration value="TRIP"/>
            <xs:enumeration value="NOMC"/>
            <xs:enumeration value="TRAN"/>
            <xs:enumeration value="RHYP"/>
            <xs:enumeration value="ADEA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SettlingCapacity2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAGE"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="SPRI"/>
            <xs:enumeration value="RISP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlingCapacity8Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlingCapacity2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StandingSettlementInstruction12">
        <xs:sequence>
            <xs:element name="SttlmStgInstrDB" type="SettlementStandingInstructionDatabase5Choice"/>
            <xs:element name="CtrPty" type="Counterparty10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vndr" type="PartyIdentification111"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrDlvrgSttlmPties" type="SettlementParties44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRcvgSttlmPties" type="SettlementParties44"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxCapacityParty5Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxLiability1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxLiability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="AGEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TerminationDate5Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="Cd" type="DateCode32Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TotalNumber1">
        <xs:sequence>
            <xs:element name="CurInstrNb" type="Exact3NumericText"/>
            <xs:element name="TtlOfLkdInstrs" type="Exact3NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tracking5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeDate6Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="TradeDateCode4Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeDateCode4Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeOriginator4Choice">
        <xs:choice>
            <xs:element name="Cd" type="OriginatorRole2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TradeTransactionCondition4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBNS"/>
            <xs:enumeration value="XBNS"/>
            <xs:enumeration value="CCPN"/>
            <xs:enumeration value="XCPN"/>
            <xs:enumeration value="CDIV"/>
            <xs:enumeration value="XDIV"/>
            <xs:enumeration value="CRTS"/>
            <xs:enumeration value="XRTS"/>
            <xs:enumeration value="CWAR"/>
            <xs:enumeration value="XWAR"/>
            <xs:enumeration value="SPCU"/>
            <xs:enumeration value="SPEX"/>
            <xs:enumeration value="GTDL"/>
            <xs:enumeration value="BCRO"/>
            <xs:enumeration value="BCRP"/>
            <xs:enumeration value="BCFD"/>
            <xs:enumeration value="BCBL"/>
            <xs:enumeration value="BCBN"/>
            <xs:enumeration value="MAPR"/>
            <xs:enumeration value="NEGO"/>
            <xs:enumeration value="NMPR"/>
            <xs:enumeration value="BCPD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeTransactionCondition6Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeTransactionCondition4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionTypeAndAdditionalParameters13">
        <xs:sequence>
            <xs:element name="SctiesFincgTxTp" type="SecuritiesFinancingTransactionType1Code"/>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPrice14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AVER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TypeOfPrice32Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfPrice14Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="YieldedOrValueType1Choice">
        <xs:choice>
            <xs:element name="Yldd" type="YesNoIndicator"/>
            <xs:element name="ValTp" type="PriceValueType1Code"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
