Iso20022.UnitTest/Resources/Sese/sese.035.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.0.2.1) on 2010 Jan 04 12:08:30--><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.035.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.035.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalParameters2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PreConf" type="PreConfirmation1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlSttlm" type="PartialSettlement1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsPrtlConfId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgtCollTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntTrptyCollTxId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternatePartyIdentification2">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType4Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyInd" type="YesNoIndicator"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="DateAndDateTimeChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection4">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection5">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbt" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection9">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AutoBorrowing1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LAMI"/>
            <xs:enumeration value="NBOR"/>
            <xs:enumeration value="YBOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AutomaticBorrowing1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="AutoBorrowing1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BeneficialOwnership1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ind" type="YesNoIndicator"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BlockTrade1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="BlockTrade1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BlockTrade1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLPA"/>
            <xs:enumeration value="BLCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBAN2007Identifier"/>
                <xs:element name="Prtry" type="Max34Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashParties3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="PartyIdentificationAndAccount20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="PartyIdentificationAndAccount15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="PartyIdentificationAndAccount20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="PartyIdentificationAndAccount15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashSettlementSystem1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CashSettlementSystem2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashSettlementSystem2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROS"/>
            <xs:enumeration value="NETS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CentralCounterPartyEligibility1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ind" type="YesNoIndicator"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClassificationType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ClssfctnFinInstrm" type="CFIIdentifier"/>
                <xs:element name="AltrnClssfctn" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU"/>
            <xs:enumeration value="COPY"/>
            <xs:enumeration value="DUPL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Counterparty1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Sellr" type="PartyIdentificationAndAccount1"/>
                <xs:element name="Buyr" type="PartyIdentificationAndAccount1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateCode1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DateType5Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesFincgConf" type="SecuritiesFinancingConfirmationV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Eligibility1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="RETL"/>
            <xs:enumeration value="PROF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventFrequency3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="XtnsnEnvlp" type="ExtensionEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExtensionEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentAttributes8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MarketIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCntBsis" type="InterestComputationMethodFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnForm" type="FormOfSecurity2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="Frequency3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSts" type="SecuritiesPaymentStatus2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDrctn" type="PaymentDirection2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateChngFrqcy" type="Frequency3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrefToIncm" type="PreferenceToIncome2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnStyle" type="OptionStyle4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FltgRateFxgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCllblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstPmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtIntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxRateBsis" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnAttchdNb" type="Number2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolNb" type="Number2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CllblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktOrIndctvPric" type="PriceType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinNmnlQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctSz" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UndrlygFinInstrmId" type="SecurityIdentification11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrAddtlDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber"/>
                <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
                <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms11">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="RsltgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FormOfSecurity2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="FormOfSecurity1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Frequency3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="EventFrequency3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification21">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dmst" type="CountryCode"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IdentificationType4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TypeOfIdentification1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InterestComputationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A014"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestComputationMethodFormat1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="InterestComputationMethod2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestorCapacity1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="Eligibility1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LegalFramework1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="LegalFramework1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LegalFramework1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketClientSide1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="MarketClientSideCode"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MarketClientSideCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAKT"/>
            <xs:enumeration value="CLNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="MktIdrCd" type="MICIdentifier"/>
                <xs:element name="Desc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketIdentification4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification1Choice"/>
            <xs:element name="Tp" type="MarketType3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketIdentification5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification1Choice"/>
            <xs:element name="Tp" type="MarketType2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="MarketType5Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MarketType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="VARI"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketType3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="MarketType2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MarketType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NettingEligibility1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ind" type="YesNoIndicator"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Number2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Shrt" type="Exact3NumericText"/>
                <xs:element name="Lng" type="GenericIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OptionStyle2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionStyle4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="OptionStyle2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="OptionType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OriginatorRole2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SINT"/>
            <xs:enumeration value="MLTF"/>
            <xs:enumeration value="RMKT"/>
            <xs:enumeration value="MKTM"/>
            <xs:enumeration value="INVE"/>
            <xs:enumeration value="TAGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherAmounts4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsFees" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryNtlFdrlTax" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradAmt" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctgBrkrAmt" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDscntAllwnc" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtLevyTax" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclTax" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclBrkrComssn" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mrgn" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstgAmt" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryAmt" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShppgAmt" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpclCncssn" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDty" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockXchgTax" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfTax" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTax" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValAddedTax" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTax" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetGnLoss" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CsmptnTax" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdCptlstnAmt" type="AmountAndDirection9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BookVal" type="AmountAndDirection9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherParties2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Invstr" type="PartyIdentificationAndAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QlfdFrgnIntrmy" type="PartyIdentificationAndAccount21"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockXchg" type="PartyIdentificationAndAccount21"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradRgltr" type="PartyIdentificationAndAccount21"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="PartyIdentificationAndAccount21"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OwnershipLegalRestrictions1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A144"/>
            <xs:enumeration value="NRST"/>
            <xs:enumeration value="RSTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartialSettlement1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAIN"/>
            <xs:enumeration value="PARC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification10Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification12Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
                <xs:element name="Ctry" type="CountryCode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification13Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification30Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="BICIdentifier"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount1">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount15">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComssnAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount20">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComssnAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount21">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentDirection2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ind" type="PaymentDirectionIndicator"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentDirectionIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreConfirmation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRCA"/>
            <xs:enumeration value="PRSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PreferenceToIncome1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORDN"/>
            <xs:enumeration value="PFRD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PreferenceToIncome2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PreferenceToIncome1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Price2">
        <xs:sequence>
            <xs:element name="Tp" type="YieldedOrValueType1Choice"/>
            <xs:element name="Val" type="PriceRateOrAmountChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmountChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate"/>
                <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceType1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Mkt" type="Price2"/>
                <xs:element name="Indctv" type="Price2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceValueType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriorityNumeric1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Nmrc" type="Exact4NumericText"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
                <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityAndAccount6">
        <xs:sequence>
            <xs:element name="SttldQty" type="Quantity6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrevslySttldQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngToBeSttldQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrevslySttldAmt" type="AmountAndDirection5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngToBeSttldAmt" type="AmountAndDirection5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification13Choice"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateName1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max8Text"/>
            <xs:element name="RateNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateOrName1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="Rate2"/>
                <xs:element name="RateNm" type="RateName1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIXE"/>
            <xs:enumeration value="FORF"/>
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateType5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RateType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI"/>
            <xs:enumeration value="RECE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Reporting2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="Reporting2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Reporting2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STEX"/>
            <xs:enumeration value="REGU"/>
            <xs:enumeration value="DEFR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Restriction1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="OwnershipLegalRestrictions1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RevaluationIndicator1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ind" type="YesNoIndicator"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Id" type="SafekeepingPlaceTypeAndText3"/>
                <xs:element name="Ctry" type="CountryCode"/>
                <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
                <xs:element name="Prtry" type="GenericIdentification21"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText3">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesFinancingConfirmationV01">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification11"/>
            <xs:element name="TxIdDtls" type="TransactionTypeAndAdditionalParameters3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlParams" type="AdditionalParameters2"/>
            <xs:element name="TradDtls" type="SecuritiesTradeDetails6"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrbts" type="FinancialInstrumentAttributes8"/>
            <xs:element name="QtyAndAcctDtls" type="QuantityAndAccount6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesFincgDtls" type="SecuritiesFinancingTransactionDetails3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StgSttlmInstrDtls" type="StandingSettlementInstruction1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmParams" type="SettlementDetails9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshPties" type="CashParties3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttldAmt" type="AmountAndDirection2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAmts" type="OtherAmounts4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrBizPties" type="OtherParties2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgOrgtr" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgRcpt" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesFinancingTransactionDetails3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesFincgTradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsgLegId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDt" type="TerminationDate2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateChngDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateTp" type="RateType5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rvaltn" type="RevaluationIndicator1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglFrmwk" type="LegalFramework1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstCmptnMtd" type="InterestComputationMethodFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstPmt" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateSpprt" type="RateName1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RpRate" type="Rate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockLnMrgn" type="Rate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesHrcut" type="Rate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricgRate" type="RateOrName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sprd" type="Rate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxCallDely" type="Exact3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNbOfCollInstrs" type="Exact3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealAmt" type="AmountAndDirection4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="AmountAndDirection4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrftAmt" type="AmountAndDirection4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrmAmt" type="AmountAndDirection4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnAmtPerPcOfColl" type="AmountAndDirection4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnTxAmt" type="AmountAndDirection4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndLegNrrtv" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesFinancingTransactionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REPU"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SECB"/>
            <xs:enumeration value="SECL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SecuritiesPaymentStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="NILL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesPaymentStatus2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SecuritiesPaymentStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesRTGS1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ind" type="YesNoIndicator"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTradeDetails6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfTrad" type="MarketIdentification4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfClr" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="SettlementDate1Choice"/>
            <xs:element name="FctvSttlmDt" type="SettlementDate3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealPric" type="Price2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rptg" type="Reporting2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDaysAcrd" type="Max3Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradTxCond" type="TradeTransactionCondition1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrCpcty" type="InvestorCapacity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradOrgtrRole" type="TradeOriginator1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmInstrPrcgAddtlDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FxAddtlDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification11">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification11Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier"/>
                <xs:element name="OthrId" type="AlternateIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice"/>
                <xs:element name="DtCd" type="SettlementDateCode1Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice"/>
                <xs:element name="DtCd" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementDate4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WISS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementDateCode1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SettlementDate4Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDetails9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="PriorityNumeric1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmTxCond" type="SettlementTransactionCondition1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlgCpcty" type="SettlingCapacity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyTaxBsis" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesRTGS" type="SecuritiesRTGS1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfclOwnrsh" type="BeneficialOwnership1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshClrSys" type="CashSettlementSystem1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCpcty" type="TaxCapacityParty1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClntSd" type="MarketClientSide1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckTrad" type="BlockTrade1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglRstrctns" type="Restriction1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSysMtd" type="SettlementSystemMethod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetgElgblty" type="NettingEligibility1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CCPElgblty" type="CentralCounterPartyEligibility1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AutomtcBrrwg" type="AutomaticBorrowing1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlSttlmInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElgblForColl" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementStandingInstructionDatabase1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SettlementStandingInstructionDatabase1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementStandingInstructionDatabase1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="BRKR"/>
            <xs:enumeration value="VEND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementSystemMethod1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SettlementSystemMethod1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementSystemMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSET"/>
            <xs:enumeration value="YSET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementTransactionCondition1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SettlementTransactionCondition2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASGN"/>
            <xs:enumeration value="BUTC"/>
            <xs:enumeration value="CLEN"/>
            <xs:enumeration value="DIRT"/>
            <xs:enumeration value="DLWM"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="FRCL"/>
            <xs:enumeration value="KNOC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="RESI"/>
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="SPDL"/>
            <xs:enumeration value="SPST"/>
            <xs:enumeration value="EXPI"/>
            <xs:enumeration value="PENS"/>
            <xs:enumeration value="UNEX"/>
            <xs:enumeration value="TRIP"/>
            <xs:enumeration value="NOMC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlingCapacity1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SettlingCapacity1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlingCapacity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="SAGE"/>
            <xs:enumeration value="SPRI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StandingSettlementInstruction1">
        <xs:sequence>
            <xs:element name="SttlmStgInstrDB" type="SettlementStandingInstructionDatabase1Choice"/>
            <xs:element name="CtrPty" type="Counterparty1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vndr" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrDlvrgSttlmPties" type="SettlementParties5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRcvgSttlmPties" type="SettlementParties5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxCapacityParty1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TaxLiability1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxLiability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="AGEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TerminationDate2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice"/>
                <xs:element name="Cd" type="DateCode1Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDate1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice"/>
                <xs:element name="DtCd" type="TradeDateCode1Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDateCode1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DateType3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeOriginator1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="OriginatorRole2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionCondition1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TradeTransactionCondition4Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeTransactionCondition4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBNS"/>
            <xs:enumeration value="XBNS"/>
            <xs:enumeration value="CCPN"/>
            <xs:enumeration value="XCPN"/>
            <xs:enumeration value="CDIV"/>
            <xs:enumeration value="XDIV"/>
            <xs:enumeration value="CRTS"/>
            <xs:enumeration value="XRTS"/>
            <xs:enumeration value="CWAR"/>
            <xs:enumeration value="XWAR"/>
            <xs:enumeration value="SPCU"/>
            <xs:enumeration value="SPEX"/>
            <xs:enumeration value="GTDL"/>
            <xs:enumeration value="BCRO"/>
            <xs:enumeration value="BCRP"/>
            <xs:enumeration value="BCFD"/>
            <xs:enumeration value="BCBL"/>
            <xs:enumeration value="BCBN"/>
            <xs:enumeration value="MAPR"/>
            <xs:enumeration value="NEGO"/>
            <xs:enumeration value="NMPR"/>
            <xs:enumeration value="BCPD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionTypeAndAdditionalParameters3">
        <xs:sequence>
            <xs:element name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element name="SctiesFincgTxTp" type="SecuritiesFinancingTransactionType1Code"/>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code"/>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnEvtId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="YieldedOrValueType1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Yldd" type="YesNoIndicator"/>
                <xs:element name="ValTp" type="PriceValueType1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
