Iso20022.UnitTest/Resources/Sese/sese.021.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 08 11:45:25, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.021.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.021.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesTxStsQry" type="SecuritiesTransactionStatusQueryV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber12">
        <xs:sequence>
            <xs:element name="Nb" type="DocumentNumber5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Refs" type="Identification15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber5Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Identification15">
        <xs:sequence>
            <xs:element name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BsktId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ListId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrgmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnEvtId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification92Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification98">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification92Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount24">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionStatusQueryV04">
        <xs:sequence>
            <xs:element name="StsAdvcReqd" type="DocumentNumber12"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification98"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount24"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
