Iso20022.UnitTest/Resources/Sese/sese.011.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 04 16:05:12, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.011.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.011.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalReference6">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification90Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference7">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification97Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationPendingStatus7Choice">
        <xs:choice>
            <xs:element name="Rsn" type="Max350Text"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledStatus13Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element name="Rsn" type="CancelledStatusReason3Code"/>
            <xs:element name="XtndedRsn" type="Extended350Code"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNTA"/>
            <xs:enumeration value="CNCL"/>
            <xs:enumeration value="CNIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TrfInstrStsRpt" type="TransferInstructionStatusReportV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailedSettlementStatus2Choice">
        <xs:choice>
            <xs:element name="Rsn" type="Max350Text"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="InRepairStatus4Choice">
        <xs:choice>
            <xs:element name="Rsn" type="Max350Text"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketPracticeVersion1">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification70Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification90Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification97Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="LglNttyIdr" type="LEIIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingSettlementStatus3Choice">
        <xs:choice>
            <xs:element name="Rsn" type="PendingSettlementStatusReason2Code"/>
            <xs:element name="XtndedRsn" type="Extended350Code"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingSettlementStatusReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="MINF"/>
            <xs:enumeration value="ACOP"/>
            <xs:enumeration value="IINV"/>
            <xs:enumeration value="CINV"/>
            <xs:enumeration value="AINV"/>
            <xs:enumeration value="WTRF"/>
            <xs:enumeration value="USUA"/>
            <xs:enumeration value="ASTA"/>
            <xs:enumeration value="AFST"/>
            <xs:enumeration value="STST"/>
            <xs:enumeration value="LPRO"/>
            <xs:enumeration value="ADRQ"/>
            <xs:enumeration value="ADS1"/>
            <xs:enumeration value="ADS2"/>
            <xs:enumeration value="DRJC"/>
            <xs:enumeration value="CYIN"/>
            <xs:enumeration value="CYDV"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="WCPA"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="TAPR"/>
            <xs:enumeration value="XCNF"/>
            <xs:enumeration value="ESCA"/>
            <xs:enumeration value="NRCP"/>
            <xs:enumeration value="FVER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References49Choice">
        <xs:choice>
            <xs:element maxOccurs="2" minOccurs="1" name="RltdRef" type="AdditionalReference6"/>
            <xs:element maxOccurs="2" minOccurs="1" name="OthrRef" type="AdditionalReference6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedReason15Choice">
        <xs:choice>
            <xs:element name="Cd" type="TransferRejectedStatusReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionReason32">
        <xs:sequence>
            <xs:element name="Rsn" type="RejectedReason15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReversedStatus2Choice">
        <xs:choice>
            <xs:element name="Rsn" type="Max350Text"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransferInstructionStatus4">
        <xs:sequence>
            <xs:element name="Sts" type="TransferStatus4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferInstructionStatusReportV05">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRef" type="AdditionalReference7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="References49Choice"/>
            <xs:element name="StsRpt" type="TransferStatusAndReason4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktPrctcVrsn" type="MarketPracticeVersion1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransferRejectedStatusReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="ISTP"/>
            <xs:enumeration value="ICTN"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="IAQD"/>
            <xs:enumeration value="BLCA"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="IDNA"/>
            <xs:enumeration value="DLVY"/>
            <xs:enumeration value="LEGL"/>
            <xs:enumeration value="NSLA"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="INUK"/>
            <xs:enumeration value="INID"/>
            <xs:enumeration value="INAC"/>
            <xs:enumeration value="INNA"/>
            <xs:enumeration value="INPM"/>
            <xs:enumeration value="CYPA"/>
            <xs:enumeration value="PTNS"/>
            <xs:enumeration value="FTAX"/>
            <xs:enumeration value="ISAT"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="TREF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransferStatus2Choice">
        <xs:choice>
            <xs:element name="Sts" type="TransferInstructionStatus4"/>
            <xs:element name="PdgSttlm" type="PendingSettlementStatus3Choice"/>
            <xs:element name="Umtchd" type="TransferUnmatchedStatus3Choice"/>
            <xs:element name="InRpr" type="InRepairStatus4Choice"/>
            <xs:element maxOccurs="10" minOccurs="1" name="Rjctd" type="RejectionReason32"/>
            <xs:element name="FaildSttlm" type="FailedSettlementStatus2Choice"/>
            <xs:element name="Canc" type="CancelledStatus13Choice"/>
            <xs:element name="Rvsd" type="ReversedStatus2Choice"/>
            <xs:element name="CxlPdg" type="CancellationPendingStatus7Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TransferStatus4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="COSE"/>
            <xs:enumeration value="MACH"/>
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="STNP"/>
            <xs:enumeration value="SETT"/>
            <xs:enumeration value="COMP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransferStatusAndReason4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="TrfRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="AdditionalReference7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRef" type="Max35Text"/>
            <xs:element name="TrfSts" type="TransferStatus2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndOutDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification70Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransferUnmatchedReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CMIS"/>
            <xs:enumeration value="CPCA"/>
            <xs:enumeration value="DELN"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PODU"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DQUA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransferUnmatchedStatus3Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element name="Rsn" type="TransferUnmatchedReason2Code"/>
            <xs:element name="XtndedRsn" type="Extended350Code"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
