Iso20022.UnitTest/Resources/Sese/sese.002.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.0.0.60) on 2004 Nov 03 14:01:25-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:xsd:sese.002.001.01" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:xsd:sese.002.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="Account1">
<xs:sequence>
<xs:element name="Id" type="AccountIdentification1" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctSvcr" type="PartyIdentification1Choice"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentification1">
<xs:sequence>
<xs:element name="Prtry" type="SimpleIdentificationInformation"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="13"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
<xs:simpleContent>
<xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="13"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
<xs:simpleContent>
<xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveOrHistoricCurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AdditionalReference2">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="RefIssr" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="MsgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AlternateSecurityIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:choice>
<xs:element name="DmstIdSrc" type="CountryCode"/>
<xs:element name="PrtryIdSrc" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BloombergIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="CurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateAndDateTimeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Dt" type="ISODate"/>
<xs:element name="DtTm" type="ISODateTime"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateFormat1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Dt" type="ISODate"/>
<xs:element name="Cd" type="SettlementDate1Code"/>
<xs:element name="DtTm" type="ISODateTime"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DecimalNumber">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="17"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DeliveryParameters2">
<xs:sequence>
<xs:element name="RegdAdrInd" type="YesNoIndicator"/>
<xs:element name="NmAndAdr" type="NameAndAddress1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DistributionPolicy1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DIST"/>
<xs:enumeration value="ACCU"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="sese.002.001.01" type="sese.002.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="EuroclearClearstreamIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:complexType name="Extension1">
<xs:sequence>
<xs:element name="PlcAndNm" type="Max350Text"/>
<xs:element name="Txt" type="Max350Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstrument3">
<xs:sequence>
<xs:element name="Id" type="SecurityIdentification1Choice"/>
<xs:element name="Nm" type="Max350Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SplmtryId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="ReqdNAVCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="ClssTp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SctiesForm" type="FormOfSecurity1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="DstrbtnPlcy" type="DistributionPolicy1Code" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstrumentQuantity1">
<xs:sequence>
<xs:element name="Unit" type="DecimalNumber"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="FormOfSecurity1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BEAR"/>
<xs:enumeration value="REGD"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="GenericIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISINIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="IncomePreference1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CASH"/>
<xs:enumeration value="DRIP"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Intermediary1">
<xs:sequence>
<xs:element name="Id" type="PartyIdentification1Choice"/>
<xs:element name="Acct" type="Account1" minOccurs="0" maxOccurs="1"/>
<xs:element name="Role" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvestmentAccount10">
<xs:sequence>
<xs:element name="OwnrId" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="AcctId" type="AccountIdentification1"/>
<xs:element name="AcctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctDsgnt" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="IntrmyInf" type="Intermediary1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SctiesForm" type="FormOfSecurity1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="DmtrlsdInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="IncmPref" type="IncomePreference1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="BnfcryCertfctnInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="SfkpgPlc" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctSvcr" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvestmentAccount11">
<xs:sequence>
<xs:element name="OwnrId" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="AcctId" type="AccountIdentification1"/>
<xs:element name="AcctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctDsgnt" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="IntrmyInf" type="Intermediary1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SctiesForm" type="FormOfSecurity1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="DmtrlsdInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="IncmPref" type="IncomePreference1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="BnfcryCertfctnInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctSvcr" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LongPostalAddress1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Ustrd" type="Max140Text"/>
<xs:element name="Strd" type="StructuredLongPostalAddress1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max350Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="350"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="NameAndAddress1">
<xs:sequence>
<xs:element name="Nm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Adr" type="LongPostalAddress1Choice"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameAndAddress2">
<xs:sequence>
<xs:element name="Nm" type="Max35Text"/>
<xs:element name="Adr" type="LongPostalAddress1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Number">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="0"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PartyIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
<xs:element name="PrtryId" type="GenericIdentification1"/>
<xs:element name="NmAndAdr" type="NameAndAddress2"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentificationAndAccount2">
<xs:sequence>
<xs:element name="PtyId" type="PartyIdentification1Choice"/>
<xs:element name="AcctId" type="AccountIdentification1" minOccurs="0" maxOccurs="1"/>
<xs:element name="PrcgRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PrcgDt" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PercentageRate">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="10"/>
<xs:totalDigits value="11"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PriceMethod1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="FORW"/>
<xs:enumeration value="HIST"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PriceValue1">
<xs:sequence>
<xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="RICIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:complexType name="ReceiveInformation1">
<xs:sequence>
<xs:element name="SttlmPtiesDtls" type="ReceivingPartiesAndAccount1"/>
<xs:element name="PhysTrfInd" type="YesNoIndicator"/>
<xs:element name="PhysTrfDtls" type="DeliveryParameters2" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReceivingPartiesAndAccount1">
<xs:sequence>
<xs:element name="RcvrDtls" type="InvestmentAccount11"/>
<xs:element name="RcvrsCtdnDtls" type="PartyIdentificationAndAccount2" minOccurs="0" maxOccurs="1"/>
<xs:element name="RcvrsIntrmyDtls" type="PartyIdentificationAndAccount2" minOccurs="0" maxOccurs="1"/>
<xs:element name="RcvgAgtDtls" type="PartyIdentificationAndAccount2"/>
<xs:element name="SctiesSttlmSys" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PlcOfSttlmDtls" type="PartyIdentificationAndAccount2"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SecurityIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="ISIN" type="ISINIdentifier"/>
<xs:element name="AltrnId" type="AlternateSecurityIdentification1"/>
<xs:element name="RIC" type="RICIdentifier"/>
<xs:element name="TckrSymb" type="TickerIdentifier"/>
<xs:element name="Blmbrg" type="BloombergIdentifier"/>
<xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
<xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SettlementDate1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ASAP"/>
<xs:enumeration value="ENDC"/>
<xs:enumeration value="WHIF"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StructuredLongPostalAddress1">
<xs:sequence>
<xs:element name="BldgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="StrtNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="StrtBldgId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Flr" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TwnNm" type="Max35Text"/>
<xs:element name="DstrctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="RgnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Stat" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtyId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
<xs:element name="PstCdId" type="Max16Text"/>
<xs:element name="POB" type="Max16Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TickerIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Transfer1">
<xs:sequence>
<xs:element name="TrfRef" type="Max35Text"/>
<xs:element name="ReqdTrfDt" type="DateFormat1Choice"/>
<xs:choice>
<xs:element name="TtlUnitsNb" type="FinancialInstrumentQuantity1"/>
<xs:element name="PrtflTrfOutRate" type="PercentageRate"/>
</xs:choice>
<xs:element name="UnitsDtls" type="Unit1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="OwnAcctTrfInd" type="YesNoIndicator"/>
<xs:element name="AvrgPric" type="ActiveOrHistoricCurrencyAnd13DecimalAmount" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TransferOut2">
<xs:sequence>
<xs:element name="TrfDtls" type="Transfer1"/>
<xs:element name="FinInstrmDtls" type="FinancialInstrument3"/>
<xs:element name="AcctDtls" type="InvestmentAccount10"/>
<xs:element name="SttlmDtls" type="ReceiveInformation1"/>
<xs:element name="Xtnsn" type="Extension1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TypeOfPrice2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BIDE"/>
<xs:enumeration value="OFFR"/>
<xs:enumeration value="NAVL"/>
<xs:enumeration value="CREA"/>
<xs:enumeration value="CANC"/>
<xs:enumeration value="INTE"/>
<xs:enumeration value="SWNG"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="MIDD"/>
<xs:enumeration value="RINV"/>
<xs:enumeration value="SWIC"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UKTaxGroupUnitCode">
<xs:restriction base="xs:string">
<xs:enumeration value="GRP1"/>
<xs:enumeration value="GRP2"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Unit1">
<xs:sequence>
<xs:element name="UnitsNb" type="FinancialInstrumentQuantity1"/>
<xs:element name="AcqstnDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
<xs:element name="CertNb" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Grp1Or2Units" type="UKTaxGroupUnitCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="PricDtls" type="UnitPrice3" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="UnitPrice3">
<xs:sequence>
<xs:element name="PricTp" type="TypeOfPrice2Code"/>
<xs:element name="Val" type="PriceValue1"/>
<xs:element name="PricMtd" type="PriceMethod1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcrdIntrstNAV" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="NbOfDaysAcrd" type="Number" minOccurs="0" maxOccurs="1"/>
<xs:element name="TaxblIncmPerShr" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="sese.002.001.01">
<xs:sequence>
<xs:element name="PrvsRef" type="AdditionalReference2"/>
<xs:element name="PoolRef" type="AdditionalReference2" minOccurs="0" maxOccurs="1"/>
<xs:element name="RltdRef" type="AdditionalReference2" minOccurs="0" maxOccurs="1"/>
<xs:element name="TrfOutToBeCanc" type="TransferOut2" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
