Iso20022.UnitTest/Resources/Sese/sese.022.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.0.2.1) on 2010 Jan 04 12:08:31--><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.022.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.022.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="AcknowledgementReason1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason1">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="AcknowledgementReason3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU"/>
            <xs:enumeration value="COPY"/>
            <xs:enumeration value="DUPL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesStsOrStmtQryStsAdvc" type="SecuritiesStatusOrStatementQueryStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber1">
        <xs:sequence>
            <xs:element name="Nb" type="DocumentNumber1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ShrtNb" type="Exact3NumericText"/>
                <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
                <xs:element name="PrtryNb" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber2">
        <xs:sequence>
            <xs:element name="Nb" type="DocumentNumber1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Refs" type="Identification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="XtnsnEnvlp" type="ExtensionEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExtensionEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="Identification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Identification2">
        <xs:sequence>
            <xs:element name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BsktId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ListId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrgmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnEvtId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification10Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification13Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus1Choice"/>
                <xs:element name="Rjctd" type="RejectionOrRepairStatus5Choice"/>
                <xs:element name="Prtry" type="ProprietaryStatusAndReason1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason1">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification20"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RejectionReason24Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason2">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionAndRepairReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="RejectionOrRepairReason2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason24Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="MISM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesStatusOrStatementQueryStatusAdviceV01">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification11"/>
            <xs:element name="QryRef" type="Identification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification13Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsOrStmtReqd" type="StatusOrStatement1Choice"/>
            <xs:element name="PrcgSts" type="ProcessingStatus4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgOrgtr" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgRcpt" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusOrStatement1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="StsAdvc" type="DocumentNumber2"/>
                <xs:element name="Stmt" type="DocumentNumber1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
