Iso20022.UnitTest/Resources/Sese/sese.037.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 08 11:45:17, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.037.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.037.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification7">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType42Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection44">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms23"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection52">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClassificationType32Choice">
        <xs:choice>
            <xs:element name="ClssfctnFinInstrm" type="CFIOct2015Identifier"/>
            <xs:element name="AltrnClssfctn" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PrtflTrfNtfctn" type="PortfolioTransferNotificationV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentAttributes64">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MarketIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCntBsis" type="InterestComputationMethodFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnForm" type="FormOfSecurity6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="Frequency23Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSts" type="SecuritiesPaymentStatus5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateChngFrqcy" type="Frequency23Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnStyle" type="OptionStyle8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FltgRateFxgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCllblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstPmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="YldToMtrtyRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtIntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxRateBsis" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnAttchdNb" type="Number22Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolNb" type="GenericIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CllblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktOrIndctvPric" type="PriceType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinNmnlQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctSz" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UndrlygFinInstrmId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrAddtlDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms23">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="RsltgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FormOfSecurity6Choice">
        <xs:choice>
            <xs:element name="Cd" type="FormOfSecurity1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Frequency23Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification37">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType42Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InterestComputationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A014"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestComputationMethodFormat4Choice">
        <xs:choice>
            <xs:element name="Cd" type="InterestComputationMethod2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification3Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Number22Choice">
        <xs:choice>
            <xs:element name="Shrt" type="Exact3NumericText"/>
            <xs:element name="Lng" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Number3Choice">
        <xs:choice>
            <xs:element name="Shrt" type="Exact3NumericText"/>
            <xs:element name="Lng" type="Exact5NumericText"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionStyle2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionStyle8Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionStyle2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionType6Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherAmounts29">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsFees" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryNtlFdrlTax" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtLevyTax" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclTax" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryAmt" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShppgAmt" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDty" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockXchgTax" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfTax" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTax" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValAddedTax" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTax" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CsmptnTax" type="AmountAndDirection44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdCptlstnAmt" type="AmountAndDirection44"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherParties26">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Invstr" type="PartyIdentification99"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockXchg" type="PartyIdentification100"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradRgltr" type="PartyIdentification100"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OwnershipLegalRestrictions1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A144"/>
            <xs:enumeration value="NRST"/>
            <xs:enumeration value="RSTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification100">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification71Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification71Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification75">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification44Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification92Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification93Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification98">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification92Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification99">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification93Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount106">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification71Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PortfolioTransferNotificationV04">
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination"/>
            <xs:element name="StmtGnlDtls" type="Statement46"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification98"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TrfNtfctnDtls" type="SecuritiesTradeDetails48"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Price2">
        <xs:sequence>
            <xs:element name="Tp" type="YieldedOrValueType1Choice"/>
            <xs:element name="Val" type="PriceRateOrAmountChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmountChoice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceType1Choice">
        <xs:choice>
            <xs:element name="Mkt" type="Price2"/>
            <xs:element name="Indctv" type="Price2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity11">
        <xs:sequence>
            <xs:element name="SttlmQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnChc" type="Max210Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CertNb" type="SecuritiesCertificate4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="QtyBrkdwn" type="QuantityBreakdown30"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityBreakdown30">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LotNb" type="GenericIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TpOfPric" type="TypeOfPrice29Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI"/>
            <xs:enumeration value="RECE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Registration1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NREG"/>
            <xs:enumeration value="YREG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Registration9Choice">
        <xs:choice>
            <xs:element name="Cd" type="Registration1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Reporting1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STEX"/>
            <xs:enumeration value="REGU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Reporting7Choice">
        <xs:choice>
            <xs:element name="Cd" type="Reporting1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Restriction5Choice">
        <xs:choice>
            <xs:element name="Cd" type="OwnershipLegalRestrictions1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount24">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesCertificate4">
        <xs:sequence>
            <xs:element name="Nb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesPaymentStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="NILL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesPaymentStatus5Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesPaymentStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesRTGS4Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTradeDetails48">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnSndrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnRcvrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="Max35Text"/>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code"/>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate5Choice"/>
            <xs:element name="SttlmDt" type="SettlementDate9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDaysAcrd" type="Max3Number"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrbts" type="FinancialInstrumentAttributes64"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rptg" type="Reporting7Choice"/>
            <xs:element name="QtyDtls" type="Quantity11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmParams" type="SettlementDetails100"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties36"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties36"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="AmountAndDirection52"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAmts" type="OtherAmounts29"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrBizPties" type="OtherParties26"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementDate4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WISS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementDate9Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="SettlementDateCode7Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDateCode7Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementDate4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDetails100">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmTxCond" type="SettlementTransactionCondition19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Regn" type="Registration9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglRstrctns" type="Restriction5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesRTGS" type="SecuritiesRTGS4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSysMtd" type="SettlementSystemMethod4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCpcty" type="TaxCapacityParty4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyTaxBsis" type="GenericIdentification30"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties36">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification75"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount106"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount106"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount106"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount106"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount106"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementSystemMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSET"/>
            <xs:enumeration value="YSET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementSystemMethod4Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementSystemMethod1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementTransactionCondition19Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementTransactionCondition3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASGN"/>
            <xs:enumeration value="CLEN"/>
            <xs:enumeration value="DIRT"/>
            <xs:enumeration value="DLWM"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="FRCL"/>
            <xs:enumeration value="KNOC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="RESI"/>
            <xs:enumeration value="SPDL"/>
            <xs:enumeration value="SPST"/>
            <xs:enumeration value="UNEX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Statement46">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyPrtflTrfNtfctnRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptNb" type="Number3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtId" type="Max35Text"/>
            <xs:element name="StmtDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdTp" type="UpdateType15Choice"/>
            <xs:element name="ActvtyInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxCapacityParty4Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxLiability1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxLiability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="AGEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeDate5Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="TradeDateCode3Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeDateCode3Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPrice14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AVER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TypeOfPrice29Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfPrice14Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UpdateType15Choice">
        <xs:choice>
            <xs:element name="Cd" type="StatementUpdateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="YieldedOrValueType1Choice">
        <xs:choice>
            <xs:element name="Yldd" type="YesNoIndicator"/>
            <xs:element name="ValTp" type="PriceValueType1Code"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
