Iso20022.UnitTest/Resources/Sese/sese.010.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Feb 19 17:09:07, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.010.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.010.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalReference2">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference3">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancellationRejectedReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUTO"/>
            <xs:enumeration value="COSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancellationStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STNP"/>
            <xs:enumeration value="PACK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationStatusAndReason2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="TrfRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRef" type="Max35Text"/>
            <xs:choice>
                <xs:element name="Sts" type="TransferCancellationStatus2"/>
                <xs:element name="Rjctd" type="TransferCancellationRejectedStatus1"/>
                <xs:element name="Cmplt" type="TransferCancellationCompleteStatusAndReason1"/>
                <xs:element name="Pdg" type="TransferCancellationPendingStatus1"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CANS"/>
            <xs:enumeration value="CSUB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TrfCxlStsRpt" type="TransferCancellationStatusReportV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="LongPostalAddress1Choice">
        <xs:choice>
            <xs:element name="Ustrd" type="Max140Text"/>
            <xs:element name="Strd" type="StructuredLongPostalAddress1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketPracticeVersion1">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress2">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LongPostalAddress1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification1Choice">
        <xs:choice>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:choice>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References40Choice">
        <xs:choice>
            <xs:element maxOccurs="2" minOccurs="1" name="RltdRef" type="AdditionalReference3"/>
            <xs:element maxOccurs="2" minOccurs="1" name="OthrRef" type="AdditionalReference3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StructuredLongPostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtBldgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Stat" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtyId" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="PstCdId" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="POB" type="Max16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferCancellationCompleteStatusAndReason1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="CancelledStatusReason1Code"/>
                <xs:element name="XtndedRsn" type="Extended350Code"/>
                <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferCancellationPendingStatus1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferCancellationRejectedStatus1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="CancellationRejectedReason1Code"/>
                <xs:element name="XtndedRsn" type="Extended350Code"/>
                <xs:element maxOccurs="10" minOccurs="1" name="DataSrcSchme" type="GenericIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferCancellationStatus2">
        <xs:sequence>
            <xs:element name="Sts" type="CancellationStatus2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferCancellationStatusReportV04">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRef" type="AdditionalReference2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="References40Choice"/>
            <xs:element name="StsRpt" type="CancellationStatusAndReason2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktPrctcVrsn" type="MarketPracticeVersion1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
