Iso20022.UnitTest/Resources/Sese/sese.009.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Mar 03 21:42:58-->
<xs:schema elementFormDefault="qualified"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.009.001.02"
    xmlns="urn:iso:std:iso:20022:tech:xsd:sese.009.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account7">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification1">
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference3">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BeneficiaryCertificationCompletion1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NCER"/>
            <xs:enumeration value="ELEC"/>
            <xs:enumeration value="PHYS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ReqForTrfStsRptV02" type="RequestForTransferStatusReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="IncomePreference1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="DRIP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Intermediary11">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="Account7"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="Role" type="InvestmentFundRole2Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedRole" type="Extended350Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount22">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="OwnrId" type="PartyIdentification2Choice"/>
            <xs:element name="AcctId" type="AccountIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="IntrmyInf" type="Intermediary11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmtrlsdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmPref" type="IncomePreference1Code"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="BnfcryCertfctnCmpltn" type="BeneficiaryCertificationCompletion1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundRole2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FMCO"/>
            <xs:enumeration value="REGI"/>
            <xs:enumeration value="TRAG"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="CONC"/>
            <xs:enumeration value="UCL1"/>
            <xs:enumeration value="UCL2"/>
            <xs:enumeration value="TRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageAndBusinessReference6">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="PrvsRef" type="AdditionalReference3"/>
                <xs:element maxOccurs="1" minOccurs="0" name="OthrRef" type="AdditionalReference3"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="TrfRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="InvstmtAcctDtls" type="InvestmentAccount22"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification1"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestForTransferStatusReportV02">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1"
                name="ReqDtls" type="MessageAndBusinessReference6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
