Iso20022.UnitTest/Resources/Sese/sese.031.001.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 08 11:45:20, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.031.001.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.031.001.07">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus21Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcknowledgementReason9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason12Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="NSTP"/>
            <xs:enumeration value="RQWV"/>
            <xs:enumeration value="LATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AcknowledgementReason9">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AutoBorrowing2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LAMI"/>
            <xs:enumeration value="NBOR"/>
            <xs:enumeration value="YBOR"/>
            <xs:enumeration value="RTRN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AutomaticBorrowing7Choice">
        <xs:choice>
            <xs:element name="Cd" type="AutoBorrowing2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DeniedReason10">
        <xs:sequence>
            <xs:element name="Cd" type="DeniedReason15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeniedReason15Choice">
        <xs:choice>
            <xs:element name="Cd" type="DeniedReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DeniedReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DSET"/>
            <xs:enumeration value="DPRG"/>
            <xs:enumeration value="DREP"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeniedStatus15Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="DeniedReason10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesSttlmCondModStsAdvc" type="SecuritiesSettlementConditionModificationStatusAdviceV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber5Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldIndicator6">
        <xs:sequence>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="RegistrationReason5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Identification14">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LinkageType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="UNLK"/>
            <xs:enumeration value="SOFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LinkageType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="LinkageType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Linkages39">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgPos" type="ProcessingPosition8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNb" type="DocumentNumber5Choice"/>
            <xs:element name="Ref" type="References46Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefOwnr" type="PartyIdentification92Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MatchingDenied3Choice">
        <xs:choice>
            <xs:element name="Cd" type="MatchingProcess1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MatchingProcess1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNMT"/>
            <xs:enumeration value="MTRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification92Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification98">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification92Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason16">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason28Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason28Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingStatus38Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason16"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriorityNumeric4Choice">
        <xs:choice>
            <xs:element name="Nmrc" type="Exact4NumericText"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="WITH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingPosition8Choice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessingPosition4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus50Choice">
        <xs:choice>
            <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus21Choice"/>
            <xs:element name="Rjctd" type="RejectionOrRepairStatus31Choice"/>
            <xs:element name="Cmpltd" type="ProprietaryReason4"/>
            <xs:element name="Dnd" type="DeniedStatus15Choice"/>
            <xs:element name="Pdg" type="PendingStatus38Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason6">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References46Choice">
        <xs:choice>
            <xs:element name="SctiesSttlmTxId" type="Max35Text"/>
            <xs:element name="IntraPosMvmntId" type="Max35Text"/>
            <xs:element name="IntraBalMvmntId" type="Max35Text"/>
            <xs:element name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element name="PoolId" type="Max35Text"/>
            <xs:element name="CmonId" type="Max35Text"/>
            <xs:element name="TradId" type="Max35Text"/>
            <xs:element name="OthrTxId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Registration10Choice">
        <xs:choice>
            <xs:element name="Cd" type="Registration2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Registration2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PTYH"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CDEL"/>
            <xs:enumeration value="CVAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RegistrationReason5">
        <xs:sequence>
            <xs:element name="Cd" type="Registration10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason25Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason27Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason25">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionAndRepairReason25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus31Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionOrRepairReason25"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectionReason27Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="NRGM"/>
            <xs:enumeration value="NRGN"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="INVM"/>
            <xs:enumeration value="INVL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestDetails15">
        <xs:sequence>
            <xs:element name="Ref" type="References18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AutomtcBrrwg" type="AutomaticBorrowing7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lkg" type="LinkageType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="PriorityNumeric4Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrPrcg" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlSttlmInd" type="SettlementTransactionCondition5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesRTGS" type="SecuritiesRTGS4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HldInd" type="HoldIndicator6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgDnl" type="MatchingDenied3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnltrlSplt" type="UnilateralSplit3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Lnkgs" type="Linkages39"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesRTGS4Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesSettlementConditionModificationStatusAdviceV07">
        <xs:sequence>
            <xs:element name="ReqRef" type="Identification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification98"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqDtls" type="RequestDetails15"/>
            <xs:element name="PrcgSts" type="ProcessingStatus50Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesTransactionType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRAD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SettlementTransactionCondition5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NPAR"/>
            <xs:enumeration value="PARC"/>
            <xs:enumeration value="PARQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnilateralSplit3Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesTransactionType5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
