Iso20022.UnitTest/Resources/Sese/sese.020.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.0.2.1) on 2010 Jan 04 12:08:31--><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.020.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.020.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection8">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU"/>
            <xs:enumeration value="COPY"/>
            <xs:enumeration value="DUPL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesTxCxlReq" type="SecuritiesTransactionCancellationRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ShrtNb" type="Exact3NumericText"/>
                <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
                <xs:element name="PrtryNb" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="XtnsnEnvlp" type="ExtensionEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExtensionEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FXCancellation1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ind" type="YesNoIndicator"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber"/>
                <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
                <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericDocumentIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNb" type="DocumentNumber1Choice"/>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dmst" type="CountryCode"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification10Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification12Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
                <xs:element name="Ctry" type="CountryCode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification13Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification14Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
                <xs:element name="Ctry" type="CountryCode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount16">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
                <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI"/>
            <xs:enumeration value="RECE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="References2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="SctiesSttlmTxId" type="SettlementTypeAndIdentification3"/>
                <xs:element name="SctiesFincgTxId" type="SettlementTypeAndIdentification3"/>
                <xs:element name="IntraPosMvmntId" type="Max35Text"/>
                <xs:element name="OthrTxId" type="GenericDocumentIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionCancellationRequestV01">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification11"/>
            <xs:element name="Dtls" type="TransactionDetails11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgOrgtr" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgRcpt" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification11">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification11Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier"/>
                <xs:element name="OthrId" type="AlternateIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice"/>
                <xs:element name="DtCd" type="SettlementDateCode1Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementDate4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WISS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementDateCode1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SettlementDate4Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification36"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount16"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTypeAndIdentification3">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code"/>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDate1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice"/>
                <xs:element name="DtCd" type="TradeDateCode1Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDateCode1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DateType3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionDetails10">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate1Choice"/>
            <xs:element name="SttlmDt" type="SettlementDate1Choice"/>
            <xs:element name="SttlmQty" type="Quantity6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="AmountAndDirection8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Invstr" type="PartyIdentification14Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionDetails11">
        <xs:sequence>
            <xs:element name="AcctOwnrTxId" type="References2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification13Choice"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDtls" type="TransactionDetails10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FxCxl" type="FXCancellation1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
