Iso20022.UnitTest/Resources/Sese/sese.028.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Feb 19 10:27:02, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.028.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.028.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification2">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType4Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection22">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="DateAndDateTimeChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection23">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection4">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BeneficialOwnership1Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CFIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification5Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Prtry" type="Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashParties11">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="PartyIdentificationAndAccount53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="PartyIdentificationAndAccount55"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="PartyIdentificationAndAccount53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="PartyIdentificationAndAccount55"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashSettlementSystem1Choice">
        <xs:choice>
            <xs:element name="Cd" type="CashSettlementSystem2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CashSettlementSystem2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROS"/>
            <xs:enumeration value="NETS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClassificationType2Choice">
        <xs:choice>
            <xs:element name="ClssfctnFinInstrm" type="CFIIdentifier"/>
            <xs:element name="AltrnClssfctn" type="GenericIdentification19"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode1Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType5Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesSttlmTxAllgmtNtfctn" type="SecuritiesSettlementTransactionAllegementNotificationV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentAttributes35">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MarketIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCntBsis" type="InterestComputationMethodFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnForm" type="FormOfSecurity2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="Frequency3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSts" type="SecuritiesPaymentStatus2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateChngFrqcy" type="Frequency3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnStyle" type="OptionStyle4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FltgRateFxgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCllblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstPmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="YldToMtrtyRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtIntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxRateBsis" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnAttchdNb" type="Number2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolNb" type="GenericIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CllblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktOrIndctvPric" type="PriceType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinNmnlQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctSz" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UndrlygFinInstrmId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrAddtlDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms11">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="RsltgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FormOfSecurity2Choice">
        <xs:choice>
            <xs:element name="Cd" type="FormOfSecurity1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Frequency3Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency3Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification21">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification37">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="Identification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType4Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InterestComputationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A014"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestComputationMethodFormat1Choice">
        <xs:choice>
            <xs:element name="Cd" type="InterestComputationMethod2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="LegalFramework1Choice">
        <xs:choice>
            <xs:element name="Cd" type="LegalFramework1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LegalFramework1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketClientSide1Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketClientSideCode"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketClientSideCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAKT"/>
            <xs:enumeration value="CLNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification3Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification78">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification1Choice"/>
            <xs:element name="Tp" type="MarketType3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MarketType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="VARI"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Number2Choice">
        <xs:choice>
            <xs:element name="Shrt" type="Exact3NumericText"/>
            <xs:element name="Lng" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionStyle2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionStyle4Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionStyle2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherAmounts8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="AmountAndDirection23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsFees" type="AmountAndDirection23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradAmt" type="AmountAndDirection23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctgBrkrAmt" type="AmountAndDirection23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclTax" type="AmountAndDirection23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclBrkrComssn" type="AmountAndDirection23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="AmountAndDirection23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDty" type="AmountAndDirection23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTax" type="AmountAndDirection23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTax" type="AmountAndDirection23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CsmptnTax" type="AmountAndDirection23"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherParties11">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Invstr" type="PartyIdentification37Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QlfdFrgnIntrmy" type="PartyIdentification43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockXchg" type="PartyIdentification43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradRgltr" type="PartyIdentification43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="PartyIdentification43Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification36Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification19"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification37Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification19"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification40Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification19"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification42Choice">
        <xs:choice>
            <xs:element name="BICFI" type="BICFIIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="PrtryId" type="GenericIdentification19"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification43Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification19"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification48">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification44Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount42">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount53">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification40Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComssnAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount55">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification42Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComssnAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Price2">
        <xs:sequence>
            <xs:element name="Tp" type="YieldedOrValueType1Choice"/>
            <xs:element name="Val" type="PriceRateOrAmountChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmountChoice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceType1Choice">
        <xs:choice>
            <xs:element name="Mkt" type="Price2"/>
            <xs:element name="Indctv" type="Price2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QuantityAndAccount27">
        <xs:sequence>
            <xs:element name="SttlmQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnChc" type="Max210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification36Choice"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="QtyBrkdwn" type="QuantityBreakdown13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityBreakdown13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LotNb" type="GenericIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TpOfPric" type="TypeOfPrice3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateName1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max8Text"/>
            <xs:element name="RateNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIXE"/>
            <xs:enumeration value="FORF"/>
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateType5Choice">
        <xs:choice>
            <xs:element name="Cd" type="RateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI"/>
            <xs:enumeration value="RECE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Registration1Choice">
        <xs:choice>
            <xs:element name="Cd" type="Registration1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Registration1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NREG"/>
            <xs:enumeration value="YREG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RepurchaseType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CADJ"/>
            <xs:enumeration value="TOPU"/>
            <xs:enumeration value="WTHD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RepurchaseType8Choice">
        <xs:choice>
            <xs:element name="Cd" type="RepurchaseType6Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat3Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText3"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification21"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText3">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesFinancingTransactionDetails7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesFincgTradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsgLegId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDt" type="TerminationDate2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateTp" type="RateType5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglFrmwk" type="LegalFramework1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDtMod" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstPmt" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateSpprt" type="RateName1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RpRate" type="Rate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxCallDely" type="Exact3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="AmountAndDirection4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnTxAmt" type="AmountAndDirection4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndLegNrrtv" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesPaymentStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="NILL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesPaymentStatus2Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesPaymentStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesRTGS1Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesSettlementTransactionAllegementNotificationV04">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element name="SttlmTpAndAddtlParams" type="SettlementTypeAndAdditionalParameters2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Identification1"/>
            <xs:element name="TradDtls" type="SecuritiesTradeDetails36"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrbts" type="FinancialInstrumentAttributes35"/>
            <xs:element name="QtyAndAcctDtls" type="QuantityAndAccount27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesFincgDtls" type="SecuritiesFinancingTransactionDetails7"/>
            <xs:element name="SttlmParams" type="SettlementDetails49"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshPties" type="CashParties11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="AmountAndDirection22"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAmts" type="OtherAmounts8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrBizPties" type="OtherParties11"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTradeDetails36">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CollTxId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfTrad" type="MarketIdentification78"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfClr" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate1Choice"/>
            <xs:element name="SttlmDt" type="SettlementDate1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDaysAcrd" type="Max3Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradTxCond" type="TradeTransactionCondition1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TpOfPric" type="TypeOfPrice3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesTransactionType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNCB"/>
            <xs:enumeration value="BSBK"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="NETT"/>
            <xs:enumeration value="OWNE"/>
            <xs:enumeration value="OWNI"/>
            <xs:enumeration value="PAIR"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PORT"/>
            <xs:enumeration value="REAL"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="REPU"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SECB"/>
            <xs:enumeration value="SECL"/>
            <xs:enumeration value="SUBS"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="TRPO"/>
            <xs:enumeration value="TRVO"/>
            <xs:enumeration value="TURN"/>
            <xs:enumeration value="AUTO"/>
            <xs:enumeration value="CLAI"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="ETFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesTransactionType12Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesTransactionType10Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate1Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="SettlementDateCode1Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementDate4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WISS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementDateCode1Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementDate4Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDetails49">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="HldInd" type="YesNoIndicator"/>
            <xs:element name="SctiesTxTp" type="SecuritiesTransactionType12Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmTxCond" type="SettlementTransactionCondition5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlSttlmInd" type="SettlementTransactionCondition5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfclOwnrsh" type="BeneficialOwnership1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshClrSys" type="CashSettlementSystem1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClntSd" type="MarketClientSide1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Regn" type="Registration1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RpTp" type="RepurchaseType8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesRTGS" type="SecuritiesRTGS1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyTaxBsis" type="GenericIdentification20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties11">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification48"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount42"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount42"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount42"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount42"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount42"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLEN"/>
            <xs:enumeration value="DIRT"/>
            <xs:enumeration value="DLWM"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="SPDL"/>
            <xs:enumeration value="SPST"/>
            <xs:enumeration value="NOMC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementTransactionCondition5Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementTransactionCondition4Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NPAR"/>
            <xs:enumeration value="PARC"/>
            <xs:enumeration value="PARQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementTypeAndAdditionalParameters2">
        <xs:sequence>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code"/>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TerminationDate2Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="Cd" type="DateCode1Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeDate1Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="TradeDateCode1Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeDateCode1Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeTransactionCondition1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeTransactionCondition4Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TradeTransactionCondition4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBNS"/>
            <xs:enumeration value="XBNS"/>
            <xs:enumeration value="CCPN"/>
            <xs:enumeration value="XCPN"/>
            <xs:enumeration value="CDIV"/>
            <xs:enumeration value="XDIV"/>
            <xs:enumeration value="CRTS"/>
            <xs:enumeration value="XRTS"/>
            <xs:enumeration value="CWAR"/>
            <xs:enumeration value="XWAR"/>
            <xs:enumeration value="SPCU"/>
            <xs:enumeration value="SPEX"/>
            <xs:enumeration value="GTDL"/>
            <xs:enumeration value="BCRO"/>
            <xs:enumeration value="BCRP"/>
            <xs:enumeration value="BCFD"/>
            <xs:enumeration value="BCBL"/>
            <xs:enumeration value="BCBN"/>
            <xs:enumeration value="MAPR"/>
            <xs:enumeration value="NEGO"/>
            <xs:enumeration value="NMPR"/>
            <xs:enumeration value="BCPD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPrice14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AVER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TypeOfPrice3Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfPrice14Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="YieldedOrValueType1Choice">
        <xs:choice>
            <xs:element name="Yldd" type="YesNoIndicator"/>
            <xs:element name="ValTp" type="PriceValueType1Code"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
