Iso20022.UnitTest/Resources/Sese/sese.022.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 11 09:42:46, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.022.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.022.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus12Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcknowledgementReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason1">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason1Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason3Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesStsOrStmtQryStsAdvc" type="SecuritiesStatusOrStatementQueryStatusAdviceV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification24">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNb" type="DocumentNumber1Choice"/>
            <xs:element name="Ref" type="Identification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber1">
        <xs:sequence>
            <xs:element name="Nb" type="DocumentNumber1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber1Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification19"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DocumentNumber9">
        <xs:sequence>
            <xs:element name="Nb" type="DocumentNumber1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Refs" type="Identification11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Identification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Identification11">
        <xs:sequence>
            <xs:element name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BsktId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ListId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrgmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnEvtId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification36Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification19"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus22Choice">
        <xs:choice>
            <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus12Choice"/>
            <xs:element name="Rjctd" type="RejectionOrRepairStatus18Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason1">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification20"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason24Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason2">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionAndRepairReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus18Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionOrRepairReason2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectionReason24Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="MISM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesStatusOrStatementQueryStatusAdviceV03">
        <xs:sequence>
            <xs:element name="QryDtls" type="DocumentIdentification24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification36Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsOrStmtReqd" type="StatusOrStatement5Choice"/>
            <xs:element name="PrcgSts" type="ProcessingStatus22Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusOrStatement5Choice">
        <xs:choice>
            <xs:element name="StsAdvc" type="DocumentNumber9"/>
            <xs:element name="Stmt" type="DocumentNumber1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
