Iso20022.UnitTest/Resources/Tsmt/tsmt.014.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Feb 18 14:22:13, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.014.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.014.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Adjustment6">
        <xs:sequence>
            <xs:element name="Tp" type="AdjustmentType1Choice"/>
            <xs:element name="Drctn" type="AdjustmentDirection1Code"/>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AdjustmentDirection1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDD"/>
            <xs:enumeration value="SUBS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdjustmentType1Choice">
        <xs:choice>
            <xs:element name="Tp" type="AdjustmentType2Code"/>
            <xs:element name="OthrAdjstmntTp" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AdjustmentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REBA"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="CREN"/>
            <xs:enumeration value="SURC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AirportDescription1">
        <xs:sequence>
            <xs:element name="Twn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AirprtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AirportName1Choice">
        <xs:choice>
            <xs:element name="AirprtCd" type="Max6Text"/>
            <xs:element name="OthrAirprtDesc" type="AirportDescription1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AmountOrPercentage2Choice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Pctg" type="PercentageRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BICIdentification1">
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount24">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CertificateDataSet2">
        <xs:sequence>
            <xs:element name="DataSetId" type="DocumentIdentification1"/>
            <xs:element name="CertTp" type="TradeCertificateType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LineItm" type="LineItemAndPOIdentification1"/>
            <xs:element name="CertfdChrtcs" type="CertifiedCharacteristics2Choice"/>
            <xs:element name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfIsse" type="PostalAddress5"/>
            <xs:element name="Issr" type="PartyIdentification26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InspctnDt" type="DatePeriodDetails"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthrsdInspctrInd" type="YesNoIndicator"/>
            <xs:element name="CertId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trnsprt" type="SingleTransport3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GoodsDesc" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Consgnr" type="PartyIdentification26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Consgn" type="PartyIdentification26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Manfctr" type="PartyIdentification26"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertifiedCharacteristics2Choice">
        <xs:choice>
            <xs:element name="Orgn" type="CountryCode"/>
            <xs:element name="Qlty" type="Max70Text"/>
            <xs:element name="Anlys" type="Max70Text"/>
            <xs:element name="Wght" type="Quantity9"/>
            <xs:element name="Qty" type="Quantity9"/>
            <xs:element name="HlthIndctn" type="YesNoIndicator"/>
            <xs:element name="PhytosntryIndctn" type="YesNoIndicator"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Charge25">
        <xs:sequence>
            <xs:element name="Tp" type="FreightCharges1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Chrgs" type="ChargesDetails4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ChargeType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="STDE"/>
            <xs:enumeration value="STOR"/>
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="PICK"/>
            <xs:enumeration value="DNGR"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="INSU"/>
            <xs:enumeration value="COLF"/>
            <xs:enumeration value="CHOR"/>
            <xs:enumeration value="CHDE"/>
            <xs:enumeration value="AIRF"/>
            <xs:enumeration value="TRPT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ChargesDetails4">
        <xs:sequence>
            <xs:element name="ChrgsTp" type="ChargesType1Choice"/>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargesType1Choice">
        <xs:choice>
            <xs:element name="Tp" type="ChargeType8Code"/>
            <xs:element name="OthrChrgsTp" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CommercialDataSet4">
        <xs:sequence>
            <xs:element name="DataSetId" type="DocumentIdentification1"/>
            <xs:element name="ComrclDocRef" type="InvoiceIdentification1"/>
            <xs:element name="Buyr" type="PartyIdentification26"/>
            <xs:element name="Sellr" type="PartyIdentification26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BllTo" type="PartyIdentification26"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Goods" type="LineItem12"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PmtTerms" type="PaymentTerms4"/>
            <xs:element name="SttlmTerms" type="SettlementTerms3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Consignment3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlQty" type="Quantity10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlVol" type="Quantity10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlWght" type="Quantity10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DataSetSubmissionReferences3">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element name="PurchsOrdrRef" type="DocumentIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitrTxRef" type="Max35Text"/>
            <xs:element name="ForcdMtch" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DataSetSubmissionV04">
        <xs:sequence>
            <xs:element name="SubmissnId" type="MessageIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltdTxRefs" type="DataSetSubmissionReferences3"/>
            <xs:element name="CmonSubmissnRef" type="SimpleIdentificationInformation"/>
            <xs:element name="Instr" type="InstructionType3"/>
            <xs:element name="BuyrBk" type="BICIdentification1"/>
            <xs:element name="SellrBk" type="BICIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComrclDataSet" type="CommercialDataSet4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsprtDataSet" type="TransportDataSet4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InsrncDataSet" type="InsuranceDataSet1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CertDataSet" type="CertificateDataSet2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrCertDataSet" type="OtherCertificateDataSet1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DataSetSubmissn" type="DataSetSubmissionV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Vrsn" type="Number"/>
            <xs:element name="Submitr" type="BICIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification7">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="DtOfIsse" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact7NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{7}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalIncoterms1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification4Choice">
        <xs:choice>
            <xs:element name="BIC" type="BICIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress6"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FreightCharges1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLCT"/>
            <xs:enumeration value="PRPD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="Incoterms4">
        <xs:sequence>
            <xs:element name="IncotrmsCd" type="Incoterms4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lctn" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Incoterms4Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalIncoterms1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InstructionType3">
        <xs:sequence>
            <xs:element name="Tp" type="InstructionType3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InstructionType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MTCH"/>
            <xs:enumeration value="PMTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InsuranceClauses1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICCA"/>
            <xs:enumeration value="ICCB"/>
            <xs:enumeration value="ICCC"/>
            <xs:enumeration value="ICAI"/>
            <xs:enumeration value="IWCC"/>
            <xs:enumeration value="ISCC"/>
            <xs:enumeration value="IREC"/>
            <xs:enumeration value="ICLC"/>
            <xs:enumeration value="ISMC"/>
            <xs:enumeration value="CMCC"/>
            <xs:enumeration value="IRCE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InsuranceDataSet1">
        <xs:sequence>
            <xs:element name="DataSetId" type="DocumentIdentification1"/>
            <xs:element name="Issr" type="PartyIdentification26"/>
            <xs:element name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfIsse" type="PostalAddress5"/>
            <xs:element name="InsrncDocId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trnsprt" type="SingleTransport3"/>
            <xs:element name="InsrdAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InsrdGoodsDesc" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InsrncConds" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InsrncClauses" type="InsuranceClauses1Code"/>
            <xs:element name="Assrd" type="PartyIdentification29Choice"/>
            <xs:element name="ClmsPyblAt" type="PostalAddress5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClmsPyblIn" type="CurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoiceIdentification1">
        <xs:sequence>
            <xs:element name="InvcNb" type="Max35Text"/>
            <xs:element name="IsseDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LineItem12">
        <xs:sequence>
            <xs:element name="PurchsOrdrRef" type="DocumentIdentification7"/>
            <xs:element name="FnlSubmissn" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ComrclLineItms" type="LineItemDetails11"/>
            <xs:element name="LineItmsTtlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Adjstmnt" type="Adjustment6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrghtChrgs" type="Charge25"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax" type="Tax22"/>
            <xs:element name="TtlNetAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BuyrDfndInf" type="UserDefinedInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SellrDfndInf" type="UserDefinedInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Incotrms" type="Incoterms4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LineItemAndPOIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="LineItmId" type="Max70Text"/>
            <xs:element name="PurchsOrdrRef" type="DocumentIdentification7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LineItemDetails11">
        <xs:sequence>
            <xs:element name="LineItmId" type="Max70Text"/>
            <xs:element name="Qty" type="Quantity9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="UnitPrice18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctNm" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdctIdr" type="ProductIdentifier2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdctChrtcs" type="ProductCharacteristics1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdctCtgy" type="ProductCategory1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctOrgn" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Adjstmnt" type="Adjustment6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrghtChrgs" type="Charge25"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax" type="Tax22"/>
            <xs:element name="TtlAmt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MultimodalTransport3">
        <xs:sequence>
            <xs:element name="TakngInChrg" type="Max35Text"/>
            <xs:element name="PlcOfFnlDstn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress6">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherCertificateDataSet1">
        <xs:sequence>
            <xs:element name="DataSetId" type="DocumentIdentification1"/>
            <xs:element name="CertId" type="Max35Text"/>
            <xs:element name="CertTp" type="TradeCertificateType2Code"/>
            <xs:element name="IsseDt" type="ISODate"/>
            <xs:element name="Issr" type="PartyIdentification26"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CertInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification26">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification4"/>
            <xs:element name="PstlAdr" type="PostalAddress5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification29Choice">
        <xs:choice>
            <xs:element name="BIC" type="BICIdentifier"/>
            <xs:element name="NmAndAdr" type="PartyIdentification26"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentCodeOrOther1Choice">
        <xs:choice>
            <xs:element name="PmtCd" type="PaymentPeriod3"/>
            <xs:element name="PmtDueDt" type="ISODate"/>
            <xs:element name="OthrPmtTerms" type="Max140Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentPeriod3">
        <xs:sequence>
            <xs:element name="Cd" type="PaymentTime3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDays" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTerms4">
        <xs:sequence>
            <xs:element name="PmtTerms" type="PaymentCodeOrOther1Choice"/>
            <xs:element name="AmtOrPctg" type="AmountOrPercentage2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentTime3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMTD"/>
            <xs:enumeration value="EMTR"/>
            <xs:enumeration value="EPBE"/>
            <xs:enumeration value="EPRD"/>
            <xs:enumeration value="PRMD"/>
            <xs:enumeration value="PRMR"/>
            <xs:enumeration value="EPIN"/>
            <xs:enumeration value="EPAM"/>
            <xs:enumeration value="EPPO"/>
            <xs:enumeration value="EPRR"/>
            <xs:enumeration value="EPSD"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="IREC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element name="PstCdId" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCdId" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductCategory1">
        <xs:sequence>
            <xs:element name="Tp" type="ProductCategory1Code"/>
            <xs:element name="Ctgy" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductCategory1Choice">
        <xs:choice>
            <xs:element name="StrdPdctCtgy" type="ProductCategory1"/>
            <xs:element name="OthrPdctCtgy" type="GenericIdentification4"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProductCategory1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HRTR"/>
            <xs:enumeration value="QOTA"/>
            <xs:enumeration value="PRGP"/>
            <xs:enumeration value="LOBU"/>
            <xs:enumeration value="GNDR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProductCharacteristics1">
        <xs:sequence>
            <xs:element name="Tp" type="ProductCharacteristics1Code"/>
            <xs:element name="Chrtcs" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductCharacteristics1Choice">
        <xs:choice>
            <xs:element name="StrdPdctChrtcs" type="ProductCharacteristics1"/>
            <xs:element name="OthrPdctChrtcs" type="GenericIdentification4"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProductCharacteristics1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BISP"/>
            <xs:enumeration value="CHNR"/>
            <xs:enumeration value="CLOR"/>
            <xs:enumeration value="EDSP"/>
            <xs:enumeration value="ENNR"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="ORCR"/>
            <xs:enumeration value="PCTV"/>
            <xs:enumeration value="SISP"/>
            <xs:enumeration value="SIZE"/>
            <xs:enumeration value="SZRG"/>
            <xs:enumeration value="SPRM"/>
            <xs:enumeration value="STOR"/>
            <xs:enumeration value="VINR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProductIdentifier2">
        <xs:sequence>
            <xs:element name="Tp" type="ProductIdentifier2Code"/>
            <xs:element name="Idr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductIdentifier2Choice">
        <xs:choice>
            <xs:element name="StrdPdctIdr" type="ProductIdentifier2"/>
            <xs:element name="OthrPdctIdr" type="GenericIdentification4"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProductIdentifier2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BINR"/>
            <xs:enumeration value="COMD"/>
            <xs:enumeration value="EANC"/>
            <xs:enumeration value="HRTR"/>
            <xs:enumeration value="MANI"/>
            <xs:enumeration value="MODL"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="QOTA"/>
            <xs:enumeration value="STYL"/>
            <xs:enumeration value="SUPI"/>
            <xs:enumeration value="UPCC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity10">
        <xs:sequence>
            <xs:element name="UnitOfMeasr" type="UnitOfMeasure3Choice"/>
            <xs:element name="Val" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity9">
        <xs:sequence>
            <xs:element name="UnitOfMeasr" type="UnitOfMeasure3Choice"/>
            <xs:element name="Val" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Fctr" type="Max15NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTerms3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="FinancialInstitutionIdentification4Choice"/>
            <xs:element name="CdtrAcct" type="CashAccount24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ShipmentDate1Choice">
        <xs:choice>
            <xs:element name="PropsdShipmntDt" type="ISODate"/>
            <xs:element name="ActlShipmntDt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SingleTransport3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsprtByAir" type="TransportByAir2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsprtBySea" type="TransportBySea4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsprtByRoad" type="TransportByRoad2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsprtByRail" type="TransportByRail2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SingleTransport6">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TrnsprtByAir" type="TransportByAir4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TrnsprtBySea" type="TransportBySea5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TrnsprtByRoad" type="TransportByRoad4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TrnsprtByRail" type="TransportByRail4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tax22">
        <xs:sequence>
            <xs:element name="Tp" type="TaxType2Choice"/>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxType2Choice">
        <xs:choice>
            <xs:element name="Tp" type="TaxType9Code"/>
            <xs:element name="OthrTaxTp" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROV"/>
            <xs:enumeration value="NATI"/>
            <xs:enumeration value="STAT"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="COAX"/>
            <xs:enumeration value="VATA"/>
            <xs:enumeration value="CUST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeCertificateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANLY"/>
            <xs:enumeration value="QUAL"/>
            <xs:enumeration value="QUAN"/>
            <xs:enumeration value="WEIG"/>
            <xs:enumeration value="ORIG"/>
            <xs:enumeration value="HEAL"/>
            <xs:enumeration value="PHYT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeCertificateType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BENE"/>
            <xs:enumeration value="SHIP"/>
            <xs:enumeration value="UND1"/>
            <xs:enumeration value="UND2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransportByAir2">
        <xs:sequence>
            <xs:element name="DprtureAirprt" type="AirportName1Choice"/>
            <xs:element name="DstnAirprt" type="AirportName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AirCrrierNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportByAir4">
        <xs:sequence>
            <xs:element name="DprtureAirprt" type="AirportName1Choice"/>
            <xs:element name="DstnAirprt" type="AirportName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FlghtNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AirCrrierNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AirCrrierCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrrierAgtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrrierAgtCtry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportByRail2">
        <xs:sequence>
            <xs:element name="PlcOfRct" type="Max35Text"/>
            <xs:element name="PlcOfDlvry" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RailCrrierNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportByRail4">
        <xs:sequence>
            <xs:element name="PlcOfRct" type="Max35Text"/>
            <xs:element name="PlcOfDlvry" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RailCrrierNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RailCrrierCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrrierAgtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrrierAgtCtry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportByRoad2">
        <xs:sequence>
            <xs:element name="PlcOfRct" type="Max35Text"/>
            <xs:element name="PlcOfDlvry" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RoadCrrierNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportByRoad4">
        <xs:sequence>
            <xs:element name="PlcOfRct" type="Max35Text"/>
            <xs:element name="PlcOfDlvry" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RoadCrrierNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RoadCrrierCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrrierAgtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrrierAgtCtry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportBySea4">
        <xs:sequence>
            <xs:element name="PortOfLoadng" type="Max35Text"/>
            <xs:element name="PortOfDschrge" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VsslNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeaCrrierNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportBySea5">
        <xs:sequence>
            <xs:element name="PortOfLoadng" type="Max35Text"/>
            <xs:element name="PortOfDschrge" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VsslNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeaCrrierNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeaCrrierCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrrierAgtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrrierAgtCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrtrrNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnrNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IMONb" type="Exact7NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VygNb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportDataSet4">
        <xs:sequence>
            <xs:element name="DataSetId" type="DocumentIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Buyr" type="PartyIdentification26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sellr" type="PartyIdentification26"/>
            <xs:element name="Consgnr" type="PartyIdentification26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Consgn" type="PartyIdentification26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShipTo" type="PartyIdentification26"/>
            <xs:element name="TrnsprtInf" type="TransportDetails3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportDetails3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TrnsprtDocRef" type="DocumentIdentification7"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TrnsprtdGoods" type="TransportedGoods1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Consgnmt" type="Consignment3"/>
            <xs:element name="RtgSummry" type="TransportMeans4"/>
            <xs:element name="ShipmntDt" type="ShipmentDate1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrghtChrgs" type="Charge25"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Incotrms" type="Incoterms4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportMeans4">
        <xs:sequence>
            <xs:element name="IndvTrnsprt" type="SingleTransport6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MltmdlTrnsprt" type="MultimodalTransport3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportedGoods1">
        <xs:sequence>
            <xs:element name="PurchsOrdrRef" type="DocumentIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GoodsDesc" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BuyrDfndInf" type="UserDefinedInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SellrDfndInf" type="UserDefinedInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnitOfMeasure3Choice">
        <xs:choice>
            <xs:element name="UnitOfMeasrCd" type="UnitOfMeasure4Code"/>
            <xs:element name="OthrUnitOfMeasr" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UnitOfMeasure4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KGM"/>
            <xs:enumeration value="EA"/>
            <xs:enumeration value="LTN"/>
            <xs:enumeration value="MTR"/>
            <xs:enumeration value="INH"/>
            <xs:enumeration value="LY"/>
            <xs:enumeration value="GLI"/>
            <xs:enumeration value="GRM"/>
            <xs:enumeration value="CMT"/>
            <xs:enumeration value="MTK"/>
            <xs:enumeration value="FOT"/>
            <xs:enumeration value="1A"/>
            <xs:enumeration value="INK"/>
            <xs:enumeration value="FTK"/>
            <xs:enumeration value="MIK"/>
            <xs:enumeration value="ONZ"/>
            <xs:enumeration value="PTI"/>
            <xs:enumeration value="PT"/>
            <xs:enumeration value="QTI"/>
            <xs:enumeration value="QT"/>
            <xs:enumeration value="GLL"/>
            <xs:enumeration value="MMT"/>
            <xs:enumeration value="KTM"/>
            <xs:enumeration value="YDK"/>
            <xs:enumeration value="MMK"/>
            <xs:enumeration value="CMK"/>
            <xs:enumeration value="KMK"/>
            <xs:enumeration value="MMQ"/>
            <xs:enumeration value="CLT"/>
            <xs:enumeration value="LTR"/>
            <xs:enumeration value="LBR"/>
            <xs:enumeration value="STN"/>
            <xs:enumeration value="BLL"/>
            <xs:enumeration value="BX"/>
            <xs:enumeration value="BO"/>
            <xs:enumeration value="CT"/>
            <xs:enumeration value="CH"/>
            <xs:enumeration value="CR"/>
            <xs:enumeration value="INQ"/>
            <xs:enumeration value="MTQ"/>
            <xs:enumeration value="OZI"/>
            <xs:enumeration value="OZA"/>
            <xs:enumeration value="BG"/>
            <xs:enumeration value="BL"/>
            <xs:enumeration value="TNE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnitPrice18">
        <xs:sequence>
            <xs:element name="UnitPric" type="UnitOfMeasure3Choice"/>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Fctr" type="Max15NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UserDefinedInformation1">
        <xs:sequence>
            <xs:element name="Labl" type="Max35Text"/>
            <xs:element name="Inf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
