Iso20022.UnitTest/Resources/Tsmt/tsmt.002.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 11:39:36, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.002.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.002.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="Action2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBTW"/>
            <xs:enumeration value="RSTW"/>
            <xs:enumeration value="RSBS"/>
            <xs:enumeration value="ARDM"/>
            <xs:enumeration value="ARCS"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="WAIT"/>
            <xs:enumeration value="UPDT"/>
            <xs:enumeration value="SBDS"/>
            <xs:enumeration value="ARBA"/>
            <xs:enumeration value="ARRO"/>
            <xs:enumeration value="CINR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Activity1">
        <xs:sequence>
            <xs:element name="MsgNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ActivityDetails1">
        <xs:sequence>
            <xs:element name="DtTm" type="ISODateTime"/>
            <xs:element name="Actvty" type="Activity1"/>
            <xs:element name="Initr" type="BICIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ActivityReportItems2">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element maxOccurs="2" minOccurs="0" name="UsrTxRef" type="DocumentIdentification5"/>
            <xs:element name="RptdNtty" type="BICIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RptdItm" type="ActivityDetails1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgReqForActn" type="PendingActivity2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ActivityReportV03">
        <xs:sequence>
            <xs:element name="RptId" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdMsgRef" type="MessageIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rpt" type="ActivityReportItems2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BICIdentification1">
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ActvtyRpt" type="ActivityReportV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification5">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdIssr" type="BICIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingActivity2">
        <xs:sequence>
            <xs:element name="Tp" type="Action2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
