Iso20022.UnitTest/Resources/Seev/seev.006.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 10:08:05, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.006.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.006.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalStatus1">
        <xs:sequence>
            <xs:element name="Rsn" type="InstructionRejectionStatus1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalStatus2">
        <xs:sequence>
            <xs:element name="Rsn" type="CancellationRejectionStatus1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationProcessingStatus1">
        <xs:sequence>
            <xs:element name="Sts" type="CancellationStatus3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationRejectionStatus1Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationStatus2Choice">
        <xs:choice>
            <xs:element name="PrcgSts" type="CancellationProcessingStatus1"/>
            <xs:element name="RjctnSts" type="AdditionalStatus2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CancellationStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="CANP"/>
            <xs:enumeration value="CAND"/>
            <xs:enumeration value="RCIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DetailedInstructionStatus8">
        <xs:sequence>
            <xs:element name="InstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctId" type="Max35Text"/>
            <xs:element name="InstrSts" type="InstructionStatus4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MtgInstrSts" type="MeetingInstructionStatusV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Extension2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="XtnsnEnvlp" type="ExtensionEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExtensionEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:choice>
            <xs:element name="Dmst" type="CountryCode"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InstructionProcessingStatus1">
        <xs:sequence>
            <xs:element name="Sts" type="Status3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructionRejectionStatus1Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InstructionStatus3Choice">
        <xs:choice>
            <xs:element name="GblInstrSts" type="InstructionStatus4Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DtldInstrSts" type="DetailedInstructionStatus8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InstructionStatus4Choice">
        <xs:choice>
            <xs:element name="PrcgSts" type="InstructionProcessingStatus1"/>
            <xs:element name="RjctnSts" type="AdditionalStatus1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InstructionType1Choice">
        <xs:choice>
            <xs:element name="InstrId" type="MessageIdentification"/>
            <xs:element name="InstrCxlId" type="MessageIdentification"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InstructionTypeStatus1Choice">
        <xs:choice>
            <xs:element name="InstrSts" type="InstructionStatus3Choice"/>
            <xs:element name="CxlSts" type="CancellationStatus2Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingInstructionStatusV04">
        <xs:sequence>
            <xs:element name="Id" type="MessageIdentification1"/>
            <xs:element name="InstrTp" type="InstructionType1Choice"/>
            <xs:element name="MtgRef" type="MeetingReference4"/>
            <xs:element name="RptgPty" type="PartyIdentification9Choice"/>
            <xs:element name="SctyId" type="SecurityIdentification11"/>
            <xs:element name="InstrTpSts" type="InstructionTypeStatus1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingReference4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MtgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrMtgId" type="Max35Text"/>
            <xs:element name="MtgDtAndTm" type="ISODateTime"/>
            <xs:element name="Tp" type="MeetingType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clssfctn" type="MeetingTypeClassification1Choice"/>
            <xs:element maxOccurs="5" minOccurs="0" name="Lctn" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XMET"/>
            <xs:enumeration value="GMET"/>
            <xs:enumeration value="MIXD"/>
            <xs:enumeration value="SPCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingTypeClassification1Choice">
        <xs:choice>
            <xs:element name="Cd" type="MeetingTypeClassification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MeetingTypeClassification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMET"/>
            <xs:enumeration value="OMET"/>
            <xs:enumeration value="CLAS"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="VRHI"/>
            <xs:enumeration value="CORT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification9Choice">
        <xs:choice>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="IPOS"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="RBIS"/>
            <xs:enumeration value="EVNM"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="PRXY"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="SPLT"/>
            <xs:enumeration value="IPOA"/>
            <xs:enumeration value="IREG"/>
            <xs:enumeration value="DSEC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectionReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="RBIS"/>
            <xs:enumeration value="INIR"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DPRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification11">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification11Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINIdentifier"/>
            <xs:element name="OthrId" type="AlternateIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Status3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAND"/>
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="NOIN"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="RCIS"/>
            <xs:enumeration value="STIN"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
