Iso20022.UnitTest/Resources/Seev/seev.004.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Jul 25 15:57:46-->
<xs:schema elementFormDefault="qualified"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.004.001.02"
    xmlns="urn:iso:std:iso:20022:tech:xsd:seev.004.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateFinancialInstrumentIdentification1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode"/>
                <xs:element name="PrtryIdSrc" type="Max16Text"/>
            </xs:choice>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AttendanceCard1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0"
                name="AttndncCardLbllg" type="Max105Text"/>
            <xs:element name="DlvryMtd" type="DeliveryPlace1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAdr" type="NameAndAddress9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMPL"/>
            <xs:enumeration value="INDI"/>
            <xs:enumeration value="ENTR"/>
            <xs:enumeration value="OADR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MtgInstr" type="MeetingInstructionV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification5">
        <xs:sequence>
            <xs:element name="Issr" type="Max8Text"/>
            <xs:element name="Inf" type="Exact4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nrrtv" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldingBalance4">
        <xs:sequence>
            <xs:element name="Bal" type="UnitOrFaceAmountOrCodeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTp" type="SecuritiesEntryType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormatChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IndividualPerson13">
        <xs:sequence>
            <xs:element name="BirthNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PersonIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LongPostalAddress2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmplngPty" type="PartyIdentification9Choice"/>
            <xs:element name="AttndncCardDtls" type="AttendanceCard1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Instruction1">
        <xs:sequence>
            <xs:element name="InstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdExctnDt" type="ISODateTime"/>
            <xs:element name="VoteExctnConf" type="YesNoIndicator"/>
            <xs:element name="AcctDtls" type="SafekeepingAccount3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="Proxy2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteDtls" type="VoteDetails1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="MtgAttndee" type="IndividualPerson13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpcfcInstrReq" type="SpecificInstructionRequest1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LongPostalAddress2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ustrd" type="Max350Text"/>
                <xs:element name="Strd" type="PostalAddress1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingInstructionV02">
        <xs:sequence>
            <xs:element name="MtgInstrId" type="MessageIdentification1"/>
            <xs:element name="MtgRef" type="MeetingReference3"/>
            <xs:element name="InstgPty" type="PartyIdentification9Choice"/>
            <xs:element name="SctyId" type="SecurityIdentification3"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Instr" type="Instruction1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingReference3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MtgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrMtgId" type="Max35Text"/>
            <xs:element name="MtgDtAndTm" type="ISODateTime"/>
            <xs:element name="Tp" type="MeetingType2Code"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="Clssfctn" type="MeetingTypeClassification1Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedClssfctn" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="5" minOccurs="0" name="Lctn" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XMET"/>
            <xs:enumeration value="GMET"/>
            <xs:enumeration value="MIXD"/>
            <xs:enumeration value="SPCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MeetingTypeClassification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMET"/>
            <xs:enumeration value="OMET"/>
            <xs:enumeration value="CLAS"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="VRHI"/>
            <xs:enumeration value="CORT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress9">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LongPostalAddress2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification3">
        <xs:sequence>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification9Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification1"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DrvrsLicNb" type="Max35Text"/>
                <xs:element name="SclSctyNb" type="Max35Text"/>
                <xs:element name="AlnRegnNb" type="Max35Text"/>
                <xs:element name="PsptNb" type="Max35Text"/>
                <xs:element name="TaxIdNb" type="Max35Text"/>
                <xs:element name="IdntyCardNb" type="Max35Text"/>
                <xs:element name="MplyrIdNb" type="Max35Text"/>
                <xs:element name="OthrId" type="GenericIdentification4"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Proxy2">
        <xs:sequence>
            <xs:element name="PrxyTp" type="ProxyType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrsnDtls" type="IndividualPerson13"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="VoteInstrForAgndRsltn" type="Vote1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProxyType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHRM"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="HLDR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Quantity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QALL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SafekeepingAccount3">
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctDtls" type="SubAccount2"/>
            <xs:element maxOccurs="10" minOccurs="1" name="InstdBal" type="HoldingBalance4"/>
            <xs:element maxOccurs="10" minOccurs="0" name="RghtsHldr" type="PartyIdentification9Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceAsCodeAndPartyIdentification">
        <xs:sequence>
            <xs:element name="PlcSfkpg" type="SafekeepingPlace1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nrrtv" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty" type="PartyIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceFormatChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Id" type="SafekeepingPlaceAsCodeAndPartyIdentification"/>
                <xs:element name="IdAsDSS" type="GenericIdentification5"/>
                <xs:element name="IdAsCtry" type="CountryCode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesEntryType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOK"/>
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="PENR"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="SETD"/>
            <xs:enumeration value="BORR"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="SPOS"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="UNBA"/>
            <xs:enumeration value="INBA"/>
            <xs:enumeration value="REGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification3">
        <xs:sequence>
            <xs:element name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TckrSymb" type="TickerIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CUSIP" type="CUSIPIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SEDOL" type="SEDOLIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QUICK" type="QUICKIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrId" type="AlternateFinancialInstrumentIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecificInstructionRequest1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcptnRegn" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckgScties" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesRegn" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubAccount2">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnitOrFaceAmountOrCodeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber"/>
                <xs:element name="FaceAmt" type="CurrencyAndAmount"/>
                <xs:element name="Cd" type="Quantity1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vote1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="200" minOccurs="1"
                    name="VoteInstr" type="Vote4"/>
                <xs:element maxOccurs="200" minOccurs="1"
                    name="GblVoteInstr" type="Vote3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vote3">
        <xs:sequence>
            <xs:element name="IssrLabl" type="Max35Text"/>
            <xs:element name="VoteOptn" type="VoteInstruction2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vote4">
        <xs:sequence>
            <xs:element name="IssrLabl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="For" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Agnst" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Abstn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Wthhld" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WthMgmt" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgnstMgmt" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dscrtnry" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NoActn" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VoteDetails1">
        <xs:sequence>
            <xs:element name="VoteInstrForAgndRsltn" type="Vote1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="VoteInstrForMtgRsltn" type="VoteInstructionForMeetingResolution1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="VoteInstruction2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CFOR"/>
            <xs:enumeration value="CAGS"/>
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="WTHH"/>
            <xs:enumeration value="WMGT"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="DISC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VoteInstructionAtMeeting1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHRM"/>
            <xs:enumeration value="CAGS"/>
            <xs:enumeration value="CFOR"/>
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="WTHH"/>
            <xs:enumeration value="WMGT"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="NOAC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="VoteInstructionForMeetingResolution1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="VoteIndctn" type="VoteInstructionAtMeeting1Code"/>
                <xs:element name="Shrhldr" type="NameAndAddress9"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
