Iso20022.UnitTest/Resources/Seev/seev.042.002.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 08 11:41:35, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.042.002.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.042.002.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification35">
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification103Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat11Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CorpActnEvtAndBal" type="CorporateActionEventAndBalance10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceFormat7Choice">
        <xs:choice>
            <xs:element name="Bal" type="SignedQuantityFormat8"/>
            <xs:element name="ElgblBal" type="SignedQuantityFormat9"/>
            <xs:element name="NotElgblBal" type="SignedQuantityFormat9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionBalanceDetails33">
        <xs:sequence>
            <xs:element name="TtlElgblBal" type="Quantity22Choice"/>
            <xs:element name="UinstdBal" type="BalanceFormat7Choice"/>
            <xs:element name="TtlInstdBalDtls" type="InstructedBalanceDetails6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckdBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrrwdBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollInBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollOutBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLnBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OutForRegnBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPosBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtPosBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDtPosBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InTrnsShipmntBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegdBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OblgtdBal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgDlvryBal" type="PendingBalance4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgRctBal" type="PendingBalance4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionDeadline1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MKDT"/>
            <xs:enumeration value="RDDT"/>
            <xs:enumeration value="EARD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventAndBalance10">
        <xs:sequence>
            <xs:element name="GnlInf" type="EventInformation8"/>
            <xs:element name="UndrlygScty" type="SecurityIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="CorporateActionBalanceDetails33"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="DRCA"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="PRII"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="NOOF"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="WRTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType36Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType15Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionInstructionStatementReport002V05">
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination"/>
            <xs:element name="StmtGnlDtls" type="Statement48"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AcctAndStmtDtls" type="AccountIdentification35"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionMandatoryVoluntary1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAND"/>
            <xs:enumeration value="CHOS"/>
            <xs:enumeration value="VOLU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionMandatoryVoluntary4Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionMandatoryVoluntary1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption23Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionOption7Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MNGT"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="PROX"/>
            <xs:enumeration value="QINV"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="SPLI"/>
            <xs:enumeration value="PRUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CorporateActionStatementReportingType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MASE"/>
            <xs:enumeration value="SAME"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CorporateActionStatementType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="ALLL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateOrDateTimePeriodChoice">
        <xs:choice>
            <xs:element name="Dt" type="DatePeriodDetails"/>
            <xs:element name="DtTm" type="DateTimePeriodDetails"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DatePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeadlineCode4Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionDeadline1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DefaultProcessingOrStandingInstruction1Choice">
        <xs:choice>
            <xs:element name="DfltOptnInd" type="YesNoIndicator"/>
            <xs:element name="StgInstrInd" type="YesNoIndicator"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnInstrStmtRpt" type="CorporateActionInstructionStatementReport002V05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EventInformation8">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="RestrictedFINXMax16Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType36Choice"/>
            <xs:element name="MndtryVlntryEvtTp" type="CorporateActionMandatoryVoluntary4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNtfctnId" type="NotificationIdentification4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber"/>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Frequency26Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification84">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification85">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource4Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="RestrictedFINExact2Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InstructedBalanceDetails6">
        <xs:sequence>
            <xs:element name="TtlInstdBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnDtls" type="InstructedCorporateActionOption7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructedCorporateActionOption7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnNb" type="Exact3NumericText"/>
            <xs:element name="OptnTp" type="CorporateActionOption23Choice"/>
            <xs:element name="InstdBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfltActn" type="DefaultProcessingOrStandingInstruction1Choice"/>
            <xs:element name="DdlnDtTm" type="ISODateTime"/>
            <xs:element name="DdlnTp" type="DeadlineCode4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NotificationIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities7">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification103Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingBalance4">
        <xs:sequence>
            <xs:element name="Bal" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgTxs" type="SettlementTypeAndIdentification21"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="RestrictedFINDecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity9">
        <xs:sequence>
            <xs:element name="Qty" type="RestrictedFINDecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity21Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity22Choice">
        <xs:choice>
            <xs:element name="QtyChc" type="Quantity23Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity23Choice">
        <xs:choice>
            <xs:element name="OrgnlAndCurFaceAmt" type="OriginalAndCurrentQuantities7"/>
            <xs:element name="SgndQty" type="SignedQuantityFormat9"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINExact2Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="XX|TS"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax30Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat11Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText9"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification85"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText9">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification20">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTypeAndIdentification21">
        <xs:sequence>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element name="TxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="DateAndDateTimeChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat8">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="QtyChc" type="Quantity21Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedQuantityFormat9">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Statement48">
        <xs:sequence>
            <xs:element name="StmtTp" type="CorporateActionStatementType1Code"/>
            <xs:element name="RptgTp" type="CorporateActionStatementReportingType1Code"/>
            <xs:element name="StmtId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptNb" type="Max5NumericText"/>
            <xs:element name="StmtDtTm" type="DateAndDateTimeChoice"/>
            <xs:element name="Frqcy" type="Frequency26Choice"/>
            <xs:element name="UpdTp" type="UpdateType16Choice"/>
            <xs:element name="ActvtyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnDdlnPrd" type="DateOrDateTimePeriodChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateType16Choice">
        <xs:choice>
            <xs:element name="Cd" type="StatementUpdateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
