Iso20022.UnitTest/Resources/Seev/seev.034.001.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 08 11:37:12, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.034.001.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.034.001.07">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptedReason10Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcceptedStatus8Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcceptedStatusReason9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcceptedStatusReason9">
        <xs:sequence>
            <xs:element name="RsnCd" type="AcceptedReason10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSTP"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancelledReason8Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledStatus12Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancelledStatusReason11"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledStatusReason11">
        <xs:sequence>
            <xs:element name="RsnCd" type="CancelledReason8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CANO"/>
            <xs:enumeration value="CANS"/>
            <xs:enumeration value="CSUB"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification5Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Prtry" type="Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="DRCA"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="PRII"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="NOOF"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="WRTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType32Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType15Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionGeneralInformation91">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssActnNb" type="Max35Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType32Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionInstructionStatusAdviceV07">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="DocumentIdentification9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrDocId" type="DocumentIdentification33"/>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation91"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="InstrPrcgSts" type="InstructionProcessingStatus24Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnInstr" type="CorporateActionOption116"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateActionNarrative10"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative10">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlTxt" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PtyCtctNrrtv" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MKDW"/>
            <xs:enumeration value="MKUP"/>
            <xs:enumeration value="MNGT"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="PROX"/>
            <xs:enumeration value="QINV"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="SPLI"/>
            <xs:enumeration value="TAXI"/>
            <xs:enumeration value="PRUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionOption116">
        <xs:sequence>
            <xs:element name="OptnNb" type="OptionNumber1Choice"/>
            <xs:element name="OptnTp" type="CorporateActionOption21Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification92Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlElgblBal" type="SignedQuantityFormat7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdBal" type="SignedQuantityFormat7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UinstdBal" type="SignedQuantityFormat7"/>
            <xs:element name="StsQty" type="Quantity6Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption21Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionOption10Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnInstrStsAdvc" type="CorporateActionInstructionStatusAdviceV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification33">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocNb" type="DocumentNumber5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification3Choice">
        <xs:choice>
            <xs:element name="AcctSvcrDocId" type="Max35Text"/>
            <xs:element name="AcctOwnrDocId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification9">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber5Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification78">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstructionProcessingStatus24Choice">
        <xs:choice>
            <xs:element name="Canc" type="CancelledStatus12Choice"/>
            <xs:element name="AccptdForFrthrPrcg" type="AcceptedStatus8Choice"/>
            <xs:element name="Rjctd" type="RejectedStatus19Choice"/>
            <xs:element name="Pdg" type="PendingStatus42Choice"/>
            <xs:element name="DfltActn" type="NoSpecifiedReason1"/>
            <xs:element name="StgInstr" type="NoSpecifiedReason1"/>
            <xs:element name="PrtrySts" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NoSpecifiedReason1">
        <xs:sequence>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionNumber1Choice">
        <xs:choice>
            <xs:element name="Nb" type="Exact3NumericText"/>
            <xs:element name="Cd" type="OptionNumber1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionNumber1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNSO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification92Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingReason13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="BOIS"/>
            <xs:enumeration value="MCER"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="PENR"/>
            <xs:enumeration value="CERT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason33Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason13Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatus42Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingStatusReason10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatusReason10">
        <xs:sequence>
            <xs:element name="RsnCd" type="PendingReason33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity8">
        <xs:sequence>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason6">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity19Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedReason13Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason43Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedStatus19Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectedStatusReason17"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedStatusReason17">
        <xs:sequence>
            <xs:element name="RsnCd" type="RejectedReason13Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason43Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="INVA"/>
            <xs:enumeration value="OPTY"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="NMTY"/>
            <xs:enumeration value="BOIS"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTV"/>
            <xs:enumeration value="OPNM"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="REFT"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="EVNM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat8Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText6"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText6">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat7">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="QtyChc" type="Quantity19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
