Iso20022.UnitTest/Resources/Seev/seev.035.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.1.10.3) on 2011 Jun 08 10:56:15--><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.035.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.035.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountAndBalance9">
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification36Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="CorporateActionBalanceDetails1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification10">
        <xs:sequence>
            <xs:element name="IdCd" type="SafekeepingAccountIdentification1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification12Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ForAllAccts" type="AccountIdentification10"/>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="AcctsListAndBalDtls" type="AccountAndBalance9"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditionalBusinessProcess2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLAI"/>
            <xs:enumeration value="REVR"/>
            <xs:enumeration value="TAXR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalBusinessProcessFormat2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="AdditionalBusinessProcess2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndQuantityRatio2">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Qty" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPrice3">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerAmount2">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerFinancialInstrumentQuantity3">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="FinInstrmQty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AmountPriceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PLOT"/>
            <xs:enumeration value="PREM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountToAmountRatio2">
        <xs:sequence>
            <xs:element name="Amt1" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Amt2" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceFormat1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Bal" type="SignedQuantityFormat1"/>
                <xs:element name="ElgblBal" type="SignedQuantityFormat2"/>
                <xs:element name="NotElgblBal" type="SignedQuantityFormat2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BeneficiaryCertificationType1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="BeneficiaryCertificationType2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BeneficiaryCertificationType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCI"/>
            <xs:enumeration value="DOMI"/>
            <xs:enumeration value="NDOM"/>
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="NCOM"/>
            <xs:enumeration value="QIBB"/>
            <xs:enumeration value="TRBD"/>
            <xs:enumeration value="PAPW"/>
            <xs:enumeration value="PABD"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBAN2007Identifier"/>
                <xs:element name="Prtry" type="Max34Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashOption11">
        <xs:sequence>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctlPmtInd" type="Payment1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonElgblPrcdsInd" type="NonEligibleProceedsIndicator1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmTp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcctId" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtDtls" type="CorporateActionAmounts9"/>
            <xs:element name="DtDtls" type="CorporateActionDate17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateAndAmtDtls" type="RateDetails3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="PriceDetails3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClassificationType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ClssfctnFinInstrm" type="CFIIdentifier"/>
                <xs:element name="AltrnClssfctn" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionAmounts9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssCshAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetCshAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SlctnFees" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShr" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CptlGn" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndmntyAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ManfctrdDvddPmtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RinvstmtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullyFrnkdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UfrnkdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndryOrOthrAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshIncntiv" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxFreeAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxDfrrdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValAddedTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRclmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCdtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgOfFrgnTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgOfLclTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclStmpAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctgBrkrAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PngAgtComssnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclBrkrComssnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstgFeeAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryFeesAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShppgFeesAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EntitldAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmPrtn" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionBalanceDetails1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlElgblBal" type="Quantity3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckdBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrrwdBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollInBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollOutBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLnBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgDlvryBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgRctBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OutForRegnBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPosBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtPosBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDtPosBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InTrnsShipmntBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegdBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OblgtdBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UinstdBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AfctdBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UafctdBal" type="BalanceFormat1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate15">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlyRspnDdln" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CoverXprtnDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktDdln" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnDdln" type="DateFormat20Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptCostDbtDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DpstryCoverXprtnDt" type="DateFormat19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate17">
        <xs:sequence>
            <xs:element name="PmtDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="DateFormat11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXRateFxgDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateFormat19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventProcessingType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENL"/>
            <xs:enumeration value="DISN"/>
            <xs:enumeration value="REOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventProcessingTypeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionEventProcessingType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReference1">
        <xs:sequence>
            <xs:element name="EvtId" type="CorporateActionEventReference1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReference1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="LkdOffclCorpActnEvtId" type="Max35Text"/>
                <xs:element name="LkdCorpActnId" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventStatus1">
        <xs:sequence>
            <xs:element name="EvtCmpltnsSts" type="EventCompletenessStatus1Code"/>
            <xs:element name="EvtConfSts" type="EventConfirmationStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventType3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionEventType6Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PRII"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="WRTH"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="CREV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionGeneralInformation23">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssActnNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtPrcgTp" type="CorporateActionEventProcessingTypeChoice"/>
            <xs:element name="EvtTp" type="CorporateActionEventType3Choice"/>
            <xs:element name="MndtryVlntryEvtTp" type="CorporateActionMandatoryVoluntary1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlBizPrcInd" type="AdditionalBusinessProcessFormat2Choice"/>
            <xs:element name="UndrlygScty" type="FinancialInstrumentAttributes19"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionMandatoryVoluntary1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionMandatoryVoluntary1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionMandatoryVoluntary1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAND"/>
            <xs:enumeration value="CHOS"/>
            <xs:enumeration value="VOLU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionMovementPreliminaryAdviceV02">
        <xs:sequence>
            <xs:element name="MvmntPrlimryAdvcGnlInf" type="CorporateActionPreliminaryAdviceType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsMvmntPrlimryAdvcId" type="DocumentIdentification15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnId" type="DocumentIdentification15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MvmntConfId" type="DocumentIdentification15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="DocumentIdentification9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrDocId" type="DocumentIdentification13"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtsLkg" type="CorporateActionEventReference1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RvslRsn" type="CorporateActionReversalReason1"/>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation23"/>
            <xs:element name="AcctDtls" type="AccountIdentification12Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CorpActnMvmntDtls" type="CorporateActionOption20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateActionNarrative6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IssrAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PngAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubPngAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Regar" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RsellngAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhysSctiesAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrpAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SlctnAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InfAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTxt" type="UpdatedAdditionalInformation3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NrrtvVrsn" type="UpdatedAdditionalInformation3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InfConds" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InfToCmplyWth" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyRstrctn" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxtnConds" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsclmr" type="UpdatedAdditionalInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTxt" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NrrtvVrsn" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InfConds" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InfToCmplyWth" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxtnConds" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsclmr" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctNrrtv" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="UpdatedAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BsktOrIndxInf" type="UpdatedAdditionalInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption20">
        <xs:sequence>
            <xs:element name="OptnNb" type="Exact3NumericText"/>
            <xs:element name="OptnTp" type="CorporateActionOption2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnDspstn" type="FractionDispositionType1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OfferTp" type="OfferTypeFormat1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnFeatrs" type="OptionFeaturesFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmdtSctiesDstrbtnTp" type="IntermediateSecuritiesDistributionTypeFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnAvlbtySts" type="OptionAvailabilityStatus1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CertfctnTp" type="BeneficiaryCertificationType1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NonDmclCtry" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VldDmclCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyOptn" type="ActiveCurrencyCode"/>
            <xs:element name="DfltPrcgOrStgInstr" type="DefaultProcessingOrStandingInstruction1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsApldInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WdrwlAllwdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChngAllwdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtDtls" type="CorporateActionDate15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrdDtls" type="CorporateActionPeriod7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateAndAmtDtls" type="CorporateActionRate15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="CorporateActionPrice16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesQty" type="SecuritiesOption15"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesMvmntDtls" type="SecuritiesOption13"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshMvmntDtls" type="CashOption11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateActionNarrative5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionOption2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MNGT"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="PROX"/>
            <xs:enumeration value="QINV"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="SPLI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionPeriod7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PricClctnPrd" type="Period3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ParllTradgPrd" type="Period3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnPrd" type="Period3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RvcbltyPrd" type="Period3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvlgSspnsnPrd" type="Period3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrRvcbltyPrd" type="Period3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DpstrySspnsnPrdForWdrwl" type="Period3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionPreliminaryAdviceType1">
        <xs:sequence>
            <xs:element name="Tp" type="CorporateActionPreliminaryAdviceType1Code"/>
            <xs:element name="PrcgSts" type="CorporateActionProcessingStatus1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElgbltyInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionPreliminaryAdviceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEWM"/>
            <xs:enumeration value="REPL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionPrice16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShrPric" type="PriceFormat19Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GncCshPricRcvdPerPdct" type="PriceFormat20Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OverSbcptDpstPric" type="PriceFormat19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionPrice18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IndctvOrMktPric" type="IndicativeOrMarketPrice5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShrPric" type="PriceFormat19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionProcessingStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="EvtSts" type="CorporateActionEventStatus1"/>
                <xs:element name="ForInfOnlyInd" type="YesNoIndicator"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionRate15">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTax" type="RateAndAmountFormat14Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GrssDvddRate" type="GrossDividendRateFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxFctr" type="RateAndAmountFormat14Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrstRateUsdForPmt" type="InterestRateUsedForPaymentFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxAllwdOvrsbcptRate" type="RateFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrratnRate" type="RateFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTaxRate" type="RateFormat6Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxRltdRate" type="RateTypeAndAmountAndStatus6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxblIncmPerDvddShr" type="RateTypeAndAmountAndStatus11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionRate17">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlQtyForSbcbdRsltntScties" type="RatioFormat11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlQtyForExstgScties" type="RatioFormat11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewToOd" type="RatioFormat12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfrmatnRate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionReversalReason1">
        <xs:sequence>
            <xs:element name="Rsn" type="CorporateActionReversalReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionReversalReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionReversalReason1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionReversalReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DCBD"/>
            <xs:enumeration value="IVAD"/>
            <xs:enumeration value="IRED"/>
            <xs:enumeration value="IPRI"/>
            <xs:enumeration value="UPAY"/>
            <xs:enumeration value="IETR"/>
            <xs:enumeration value="FNRC"/>
            <xs:enumeration value="POCS"/>
            <xs:enumeration value="IPCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateCode11Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DateType8Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateCode3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DateType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateCode4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DateType7Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateCodeAndTimeFormat1">
        <xs:sequence>
            <xs:element name="DtCd" type="DateCode4Choice"/>
            <xs:element name="Tm" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat11Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice"/>
                <xs:element name="DtCd" type="DateCode3Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat18Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice"/>
                <xs:element name="NotSpcfdDt" type="DateType8Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat19Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice"/>
                <xs:element name="DtCd" type="DateCode11Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat20Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice"/>
                <xs:element name="DtCdAndTm" type="DateCodeAndTimeFormat1"/>
                <xs:element name="DtCd" type="DateCode11Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DefaultProcessingOrStandingInstruction1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DfltOptnInd" type="YesNoIndicator"/>
                <xs:element name="StgInstrInd" type="YesNoIndicator"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DividendRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TXBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnMvmntPrlimryAdvc" type="CorporateActionMovementPreliminaryAdviceV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocNb" type="DocumentNumber1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification15">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AcctSvcrDocId" type="Max35Text"/>
                <xs:element name="AcctOwnrDocId" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification9">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ShrtNb" type="Exact3NumericText"/>
                <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
                <xs:element name="PrtryNb" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventCompletenessStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="INCO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventConfirmationStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="UCON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentAttributes16">
        <xs:sequence>
            <xs:element name="SctyId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MarketIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCntBsis" type="InterestComputationMethodFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnStyle" type="OptionStyle4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCpnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FltgRateFxgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCllblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsFctr" type="RateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtFctr" type="RateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="RateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtIntrstRate" type="RateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinNmnlQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinExrcblQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinExrcblMltplQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctSz" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssePric" type="PriceFormat19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentAttributes19">
        <xs:sequence>
            <xs:element name="SctyId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MarketIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCntBsis" type="InterestComputationMethodFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnStyle" type="OptionStyle4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCpnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FltgRateFxgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCllblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="RateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtIntrstRate" type="RateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PctgOfDebtClm" type="RateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsFctr" type="RateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtFctr" type="RateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinNmnlQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinExrcblQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinExrcblMltplQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctSz" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity16Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber"/>
                <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
                <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
                <xs:element name="Cd" type="Quantity3Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber"/>
                <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
                <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms13">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RsltgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FractionDispositionType1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="FractionDispositionType4Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FractionDispositionType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYU"/>
            <xs:enumeration value="CINL"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="RDDN"/>
            <xs:enumeration value="RDUP"/>
            <xs:enumeration value="STAN"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification21">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GrossDividendRateFormat5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus1"/>
                <xs:element name="NotSpcfdRate" type="RateType13Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GrossDividendRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
            <xs:enumeration value="LTCG"/>
            <xs:enumeration value="STCG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IndicativeOrMarketPrice5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IndctvPric" type="PriceFormat19Choice"/>
                <xs:element name="MktPric" type="PriceFormat19Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InterestComputationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A014"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestComputationMethodFormat1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="InterestComputationMethod2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InterestRateUsedForPaymentFormat5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate"/>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus3"/>
                <xs:element name="NotSpcfdRate" type="RateType13Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntermediateSecuritiesDistributionTypeFormat6Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="IntermediateSecurityDistributionType4Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IntermediateSecurityDistributionType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXOF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="MktIdrCd" type="MICIdentifier"/>
                <xs:element name="Desc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketIdentification2">
        <xs:sequence>
            <xs:element name="Tp" type="MarketTypeFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MarketType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketTypeFormat1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="MarketType3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetDividendRateFormat5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus4"/>
                <xs:element name="NotSpcfdRate" type="RateValueType7Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NetDividendRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NonEligibleProceedsIndicator1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="NonEligibleProceedsIndicator1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NonEligibleProceedsIndicator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NELC"/>
            <xs:enumeration value="ACLI"/>
            <xs:enumeration value="ONEL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OfferType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISS"/>
            <xs:enumeration value="ERUN"/>
            <xs:enumeration value="FCFS"/>
            <xs:enumeration value="FINL"/>
            <xs:enumeration value="MINI"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="SQUE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OfferTypeFormat1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="OfferType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionAvailabilityStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="OptionAvailabilityStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OptionAvailabilityStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTV"/>
            <xs:enumeration value="CANC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionFeatures3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAOS"/>
            <xs:enumeration value="COND"/>
            <xs:enumeration value="MAXC"/>
            <xs:enumeration value="MAXS"/>
            <xs:enumeration value="OPLF"/>
            <xs:enumeration value="PROR"/>
            <xs:enumeration value="QOVE"/>
            <xs:enumeration value="QREC"/>
            <xs:enumeration value="VVPR"/>
            <xs:enumeration value="NOSE"/>
            <xs:enumeration value="PINS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionFeaturesFormat6Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="OptionFeatures3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OptionStyle2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionStyle4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="OptionStyle2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities2">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification36Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification46Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Payment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="CONT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PercentagePrice1">
        <xs:sequence>
            <xs:element name="PctgPricTp" type="PriceRateType3Code"/>
            <xs:element name="PricVal" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prd" type="Period4"/>
                <xs:element name="PrdCd" type="DateType8Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period4">
        <xs:sequence>
            <xs:element name="StartDt" type="DateFormat18Choice"/>
            <xs:element name="EndDt" type="DateFormat18Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceDetails3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcPric" type="PriceFormat23Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricPdPerPdct" type="PriceFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricRcvdPerPdct" type="PriceFormat22Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceFormat19Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PctgPric" type="PercentagePrice1"/>
                <xs:element name="AmtPric" type="AmountPrice3"/>
                <xs:element name="NotSpcfdPric" type="PriceValueType10Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceFormat20Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PctgPric" type="PercentagePrice1"/>
                <xs:element name="AmtPric" type="AmountPrice3"/>
                <xs:element name="NotSpcfdPric" type="PriceValueType8Code"/>
                <xs:element name="AmtPricPerFinInstrmQty" type="AmountPricePerFinancialInstrumentQuantity3"/>
                <xs:element name="AmtPricPerAmt" type="AmountPricePerAmount2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceFormat22Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PctgPric" type="PercentagePrice1"/>
                <xs:element name="AmtPric" type="AmountPrice3"/>
                <xs:element name="NotSpcfdPric" type="PriceValueType10Code"/>
                <xs:element name="AmtPricPerFinInstrmQty" type="AmountPricePerFinancialInstrumentQuantity3"/>
                <xs:element name="AmtPricPerAmt" type="AmountPricePerAmount2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceFormat23Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PctgPric" type="PercentagePrice1"/>
                <xs:element name="AmtPric" type="AmountPrice3"/>
                <xs:element name="NotSpcfdPric" type="PriceValueType10Code"/>
                <xs:element name="IndxPts" type="DecimalNumber"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceRateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="YIEL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PriceValueType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PriceValueType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TBSP"/>
            <xs:enumeration value="UNSP"/>
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="NILP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingPosition1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ProcessingPosition3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProprietaryQuantity2">
        <xs:sequence>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
                <xs:element name="PrtryQty" type="ProprietaryQuantity2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="QtyChc" type="Quantity4Choice"/>
                <xs:element name="PrtryQty" type="ProprietaryQuantity3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Quantity3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QALL"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="OrgnlAndCurFaceAmt" type="OriginalAndCurrentQuantities2"/>
                <xs:element name="SgndQty" type="SignedQuantityFormat2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
                <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityToQuantityRatio1">
        <xs:sequence>
            <xs:element name="Qty1" type="DecimalNumber"/>
            <xs:element name="Qty2" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat14Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate"/>
                <xs:element name="NotSpcfdRate" type="RateValueType7Code"/>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat15Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element name="NotSpcfdRate" type="RateValueType7Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateDetails3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTax" type="RateAndAmountFormat14Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GrssDvddRate" type="GrossDividendRateFormat5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrstRateUsdForPmt" type="InterestRateUsedForPaymentFormat5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxRltdRate" type="RateTypeAndAmountAndStatus6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTaxRate" type="RateFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsFees" type="RateAndAmountFormat14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlySlctnFeeRate" type="SolicitationFeeRateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FnlDvddRate" type="RateAndAmountFormat15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclStmp" type="RateFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullyFrnkdRate" type="RateAndAmountFormat14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshIncntivRate" type="RateFormat6Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetDvddRate" type="NetDividendRateFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonResdtRate" type="RateAndAmountFormat14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsnlDvddRate" type="RateAndAmountFormat15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AplblRate" type="RateFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SlctnFeeRate" type="SolicitationFeeRateFormat3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxCdtRate" type="TaxCreditRateFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxOnIncm" type="RateFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxOnPrfts" type="RateFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRclmRate" type="RateFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgOfFrgnTax" type="RateAndAmountFormat14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgOfLclTax" type="RateAndAmountFormat14Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateFormat3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate"/>
                <xs:element name="NotSpcfdRate" type="RateType5Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateFormat6Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate"/>
                <xs:element name="NotSpcfdRate" type="RateValueType7Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RateStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="INDI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateType10Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RateType3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateType11Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TaxType4Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateType13Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="GrossDividendRateType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateType13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="NILP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateType17Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DividendRateType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPU"/>
            <xs:enumeration value="PREC"/>
            <xs:enumeration value="TIER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RateType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateType6Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RateType7Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateType7Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="NetDividendRateType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SCHD"/>
            <xs:enumeration value="USCD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateTypeAndAmountAndStatus1">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType13Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus11">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType17Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus3">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType6Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus4">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType7Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus5">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType10Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus6">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType11Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateValueType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RatioFormat11Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="QtyToQty" type="QuantityToQuantityRatio1"/>
                <xs:element name="NotSpcfdRate" type="RateValueType7Code"/>
                <xs:element name="AmtToAmt" type="AmountToAmountRatio2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RatioFormat12Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="QtyToQty" type="QuantityToQuantityRatio1"/>
                <xs:element name="NotSpcfdRate" type="RateValueType7Code"/>
                <xs:element name="AmtToAmt" type="AmountToAmountRatio2"/>
                <xs:element name="AmtToQty" type="AmountAndQuantityRatio2"/>
                <xs:element name="QtyToAmt" type="AmountAndQuantityRatio2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Id" type="SafekeepingPlaceTypeAndText2"/>
                <xs:element name="Ctry" type="CountryCode"/>
                <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
                <xs:element name="Prtry" type="GenericIdentification21"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText2">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesOption13">
        <xs:sequence>
            <xs:element name="SctyDtls" type="FinancialInstrumentAttributes16"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TempFinInstrmInd" type="TemporaryFinancialInstrumentIndicator1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonElgblPrcdsInd" type="NonEligibleProceedsIndicator1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EntitldQty" type="Quantity6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnDspstn" type="FractionDispositionType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyOptn" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgPrd" type="Period3Choice"/>
            <xs:element name="DtDtls" type="SecurityDate5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateDtls" type="CorporateActionRate17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="CorporateActionPrice18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesOption15">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxExrcblQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinExrcblQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinExrcblMltplQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewBrdLotQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewDnmtnQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrntEndOddLotQty" type="FinancialInstrumentQuantity16Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BckEndOddLotQty" type="FinancialInstrumentQuantity16Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityDate5">
        <xs:sequence>
            <xs:element name="PmtDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AvlblDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddRnkgDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrpssDt" type="DateFormat19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat1">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="QtyChc" type="Quantity2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedQuantityFormat2">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SolicitationFeeRateFormat3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate"/>
                <xs:element name="NotSpcfdRate" type="RateValueType7Code"/>
                <xs:element name="AmtToQty" type="AmountAndQuantityRatio2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxCreditRateFormat5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate"/>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus5"/>
                <xs:element name="NotSpcfdRate" type="RateValueType7Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WITF"/>
            <xs:enumeration value="WITL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TemporaryFinancialInstrumentIndicator1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="TempInd" type="YesNoIndicator"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdatedAdditionalInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdDesc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdatedAdditionalInformation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdDesc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdDt" type="ISODate"/>
            <xs:element name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
