Iso20022.UnitTest/Resources/Seev/seev.033.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 08 11:37:12, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.033.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.033.001.06">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountAndBalance35">
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification92Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="CorporateActionBalanceDetails32"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification7">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType42Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPrice3">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerAmount2">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerFinancialInstrumentQuantity6">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="FinInstrmQty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AmountPriceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PLOT"/>
            <xs:enumeration value="PREM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceFormat5Choice">
        <xs:choice>
            <xs:element name="Bal" type="SignedQuantityFormat7"/>
            <xs:element name="ElgblBal" type="SignedQuantityFormat6"/>
            <xs:element name="NotElgblBal" type="SignedQuantityFormat6"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BaseOne14Rate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BeneficiaryCertificationType10Choice">
        <xs:choice>
            <xs:element name="Cd" type="BeneficiaryCertificationType5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BeneficiaryCertificationType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCI"/>
            <xs:enumeration value="NCOM"/>
            <xs:enumeration value="QIBB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClassificationType32Choice">
        <xs:choice>
            <xs:element name="ClssfctnFinInstrm" type="CFIOct2015Identifier"/>
            <xs:element name="AltrnClssfctn" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionBalanceDetails32">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlElgblBal" type="Quantity17Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckdBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrrwdBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollInBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollOutBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLnBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgDlvryBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgRctBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OutForRegnBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPosBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtPosBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDtPosBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InTrnsShipmntBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegdBal" type="BalanceFormat5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionChangeType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BERE"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="DEPH"/>
            <xs:enumeration value="GPPH"/>
            <xs:enumeration value="GTGP"/>
            <xs:enumeration value="GTPH"/>
            <xs:enumeration value="NAME"/>
            <xs:enumeration value="PHDE"/>
            <xs:enumeration value="REBE"/>
            <xs:enumeration value="TERM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionChangeTypeFormat6Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionChangeType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReference3">
        <xs:sequence>
            <xs:element name="EvtId" type="CorporateActionEventReference3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition7Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReference3Choice">
        <xs:choice>
            <xs:element name="LkdOffclCorpActnEvtId" type="Max35Text"/>
            <xs:element name="LkdCorpActnId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="DRCA"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="PRII"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="NOOF"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="WRTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType32Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType15Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionGeneralInformation88">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="Max35Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygScty" type="FinancialInstrumentAttributes65"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionInstructionV06">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ChngInstrInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CancInstrId" type="DocumentIdentification31"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrCxlReqId" type="DocumentIdentification31"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrDocId" type="DocumentIdentification32"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtsLkg" type="CorporateActionEventReference3"/>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation88"/>
            <xs:element name="AcctDtls" type="AccountAndBalance35"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BnfclOwnrDtls" type="PartyIdentification93"/>
            <xs:element name="CorpActnInstr" type="CorporateActionOption118"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateActionNarrative30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative30">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RegnDtls" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PtyCtctNrrtv" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CertfctnBrkdwn" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative32">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InfToCmplyWth" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DlvryDtls" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FXInstrsAddtlInf" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InstrAddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption118">
        <xs:sequence>
            <xs:element name="OptnNb" type="OptionNumber1Choice"/>
            <xs:element name="OptnTp" type="CorporateActionOption20Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnDspstn" type="FractionDispositionType28Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ChngTp" type="CorporateActionChangeTypeFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElgblForCollInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyToBuy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyToSell" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyOptn" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyId" type="SecurityIdentification19"/>
            <xs:element name="SctiesQty" type="SecuritiesOption52"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnReqdDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateAndAmtDtls" type="CorporateActionRate71"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="CorporateActionPrice60"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateActionNarrative32"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption20Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionOption9Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MKDW"/>
            <xs:enumeration value="MKUP"/>
            <xs:enumeration value="MNGT"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="PROX"/>
            <xs:enumeration value="QINV"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="SPLI"/>
            <xs:enumeration value="TAXI"/>
            <xs:enumeration value="PRUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionPrice60">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IndctvOrMktPric" type="IndicativeOrMarketPrice8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssePric" type="PriceFormat50Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricRcvdPerPdct" type="PriceFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricPdPerPdct" type="PriceFormat50Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionRate71">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PropsdRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OvrsbcptRate" type="RateAndAmountFormat39Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ReqdWhldgTaxRate" type="RateAndAmountFormat40Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ReqdScndLvlTaxRate" type="RateAndAmountFormat40Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnInstr" type="CorporateActionInstructionV06"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification31">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition7Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocNb" type="DocumentNumber5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition7Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification3Choice">
        <xs:choice>
            <xs:element name="AcctSvcrDocId" type="Max35Text"/>
            <xs:element name="AcctOwnrDocId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DocumentNumber5Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentAttributes65">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MarketIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCntBsis" type="InterestComputationMethodFormat4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCpnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FltgRateFxgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCllblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsFctr" type="BaseOne14Rate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtFctr" type="BaseOne14Rate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtIntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinNmnlQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctSz" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FractionDispositionType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYU"/>
            <xs:enumeration value="CINL"/>
            <xs:enumeration value="EXPI"/>
            <xs:enumeration value="DIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FractionDispositionType28Choice">
        <xs:choice>
            <xs:element name="Cd" type="FractionDispositionType10Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification78">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType42Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IndicativeOrMarketPrice8Choice">
        <xs:choice>
            <xs:element name="IndctvPric" type="PriceFormat50Choice"/>
            <xs:element name="MktPric" type="PriceFormat50Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InterestComputationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A014"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestComputationMethodFormat4Choice">
        <xs:choice>
            <xs:element name="Cd" type="InterestComputationMethod2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification3Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionNumber1Choice">
        <xs:choice>
            <xs:element name="Nb" type="Exact3NumericText"/>
            <xs:element name="Cd" type="OptionNumber1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionNumber1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNSO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities6">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification71Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification92Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification93">
        <xs:sequence>
            <xs:element name="OwnrId" type="PartyIdentification71Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmclCtry" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NonDmclCtry" type="CountryCode"/>
            <xs:element name="OwndSctiesQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CertfctnTp" type="BeneficiaryCertificationType10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnBrkdwn" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PercentagePrice1">
        <xs:sequence>
            <xs:element name="PctgPricTp" type="PriceRateType3Code"/>
            <xs:element name="PricVal" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceFormat49Choice">
        <xs:choice>
            <xs:element name="PctgPric" type="PercentagePrice1"/>
            <xs:element name="AmtPric" type="AmountPrice3"/>
            <xs:element name="NotSpcfdPric" type="PriceValueType9Code"/>
            <xs:element name="AmtPricPerFinInstrmQty" type="AmountPricePerFinancialInstrumentQuantity6"/>
            <xs:element name="AmtPricPerAmt" type="AmountPricePerAmount2"/>
            <xs:element name="IndxPts" type="DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceFormat50Choice">
        <xs:choice>
            <xs:element name="PctgPric" type="PercentagePrice1"/>
            <xs:element name="AmtPric" type="AmountPrice3"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceRateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="YIEL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PriceValueType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TBSP"/>
            <xs:enumeration value="UNSP"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingPosition7Choice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessingPosition3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity8">
        <xs:sequence>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity17Choice">
        <xs:choice>
            <xs:element name="QtyChc" type="Quantity18Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity18Choice">
        <xs:choice>
            <xs:element name="OrgnlAndCurFaceAmt" type="OriginalAndCurrentQuantities6"/>
            <xs:element name="SgndQty" type="SignedQuantityFormat6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity19Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity8"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Quantity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QALL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity20Choice">
        <xs:choice>
            <xs:element name="Cd" type="Quantity1Code"/>
            <xs:element name="OrgnlAndCurFaceAmt" type="OriginalAndCurrentQuantities1"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat39Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat40Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="RateTpAndRate" type="RateTypeAndPercentageRate8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType42Choice">
        <xs:choice>
            <xs:element name="Cd" type="WithholdingTaxRateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateTypeAndPercentageRate8">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType42Choice"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat8Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText6"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText6">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesOption52">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CondlQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="InstdQty" type="Quantity20Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat6">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedQuantityFormat7">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="QtyChc" type="Quantity19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WithholdingTaxRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BWIT"/>
            <xs:enumeration value="FTCA"/>
            <xs:enumeration value="NRAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
