Iso20022.UnitTest/Resources/Seev/seev.005.001.03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2009 Feb 02 17:37:08-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.005.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.005.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MtgInstrCxlReq" type="MeetingInstructionCancellationRequestV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification5">
        <xs:sequence>
            <xs:element name="Issr" type="Max8Text"/>
            <xs:element name="Inf" type="Exact4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nrrtv" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldingBalance5">
        <xs:sequence>
            <xs:element name="Bal" type="UnitOrFaceAmountOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTp" type="SecuritiesEntryType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormatChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dmst" type="CountryCode"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingInstructionCancellationRequestV03">
        <xs:sequence>
            <xs:element name="Id" type="MessageIdentification1"/>
            <xs:element name="PrvsRef" type="MessageIdentification"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtgRef" type="MeetingReference4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RqstngPty" type="PartyIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyId" type="SecurityIdentification11"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InstdPos" type="SafekeepingAccount4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingReference4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MtgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrMtgId" type="Max35Text"/>
            <xs:element name="MtgDtAndTm" type="ISODateTime"/>
            <xs:element name="Tp" type="MeetingType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clssfctn" type="MeetingTypeClassification1Choice"/>
            <xs:element maxOccurs="5" minOccurs="0" name="Lctn" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XMET"/>
            <xs:enumeration value="GMET"/>
            <xs:enumeration value="MIXD"/>
            <xs:enumeration value="SPCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingTypeClassification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="MeetingTypeClassification1Code"/>
                <xs:element name="Prtry" type="GenericIdentification13"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingTypeClassification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMET"/>
            <xs:enumeration value="OMET"/>
            <xs:enumeration value="CLAS"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="VRHI"/>
            <xs:enumeration value="CORT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification3">
        <xs:sequence>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification9Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification1"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Quantity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QALL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingAccount4">
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctDtls" type="SubAccount2"/>
            <xs:element maxOccurs="10" minOccurs="1" name="InstdBal" type="HoldingBalance5"/>
            <xs:element maxOccurs="10" minOccurs="0" name="RghtsHldr" type="PartyIdentification9Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceAsCodeAndPartyIdentification">
        <xs:sequence>
            <xs:element name="PlcSfkpg" type="SafekeepingPlace1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nrrtv" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty" type="PartyIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceFormatChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Id" type="SafekeepingPlaceAsCodeAndPartyIdentification"/>
                <xs:element name="IdAsDSS" type="GenericIdentification5"/>
                <xs:element name="IdAsCtry" type="CountryCode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesEntryType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOK"/>
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="PENR"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="SETD"/>
            <xs:enumeration value="BORR"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="SPOS"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="UNBA"/>
            <xs:enumeration value="INBA"/>
            <xs:enumeration value="REGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification11">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification11Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier"/>
                <xs:element name="OthrId" type="AlternateIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubAccount2">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnitOrFaceAmountOrCode1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber"/>
                <xs:element name="FaceAmt" type="ActiveCurrencyAndAmount"/>
                <xs:element name="Cd" type="Quantity1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
