Iso20022.UnitTest/Resources/Seev/seev.036.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.1.10.3) on 2011 Jun 08 10:56:15--><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.036.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.036.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account8Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="CshAcct" type="CashAccountIdentification5Choice"/>
                <xs:element name="ChrgsAcct" type="CashAccountIdentification5Choice"/>
                <xs:element name="TaxAcct" type="CashAccountIdentification5Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountAndBalance11">
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification36Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat2Choice"/>
            <xs:element name="Bal" type="CorporateActionBalanceDetails2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditionalBusinessProcess3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLAI"/>
            <xs:enumeration value="TAXR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalBusinessProcessFormat3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="AdditionalBusinessProcess3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification2">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType4Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndQuantityRatio2">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Qty" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPrice3">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerAmount2">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerFinancialInstrumentQuantity3">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="FinInstrmQty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AmountPriceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PLOT"/>
            <xs:enumeration value="PREM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountToAmountRatio2">
        <xs:sequence>
            <xs:element name="Amt1" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Amt2" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceFormat1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Bal" type="SignedQuantityFormat1"/>
                <xs:element name="ElgblBal" type="SignedQuantityFormat2"/>
                <xs:element name="NotElgblBal" type="SignedQuantityFormat2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBAN2007Identifier"/>
                <xs:element name="Prtry" type="Max34Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashOption12">
        <xs:sequence>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctlPmtInd" type="Payment1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmTp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="Account8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshPties" type="CashParties10"/>
            <xs:element name="AmtDtls" type="CorporateActionAmounts11"/>
            <xs:element name="DtDtls" type="CorporateActionDate7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxVchrDtls" type="TaxVoucher2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateAndAmtDtls" type="RateDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="PriceDetails2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashParties10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="PartyIdentificationAndAccount52"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="PartyIdentificationAndAccount54"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClmCtrPty" type="PartyIdentificationAndAccount52"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionAmounts11">
        <xs:sequence>
            <xs:element name="PstngAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssCshAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetCshAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SlctnFees" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShr" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CptlGn" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndmntyAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ManfctrdDvddPmtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RinvstmtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullyFrnkdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UfrnkdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndryOrOthrAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshIncntiv" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxFreeAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxDfrrdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValAddedTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRclmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCdtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgOfFrgnTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgOfLclTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclStmpAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctgBrkrAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PngAgtComssnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclBrkrComssnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstgFeeAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryFeesAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShppgFeesAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAmtBrghtFwd" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAmtCrrdFwd" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlDvddPyblAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxArrearsAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrncplOrCrps" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedPrmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmPrtn" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockXchgTax" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EUTaxRtntnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionBalanceDetails2">
        <xs:sequence>
            <xs:element name="ConfdBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlElgblBal" type="Quantity3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckdBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrrwdBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollInBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollOutBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLnBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgDlvryBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgRctBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OutForRegnBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPosBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtPosBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDtPosBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InTrnsShipmntBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegdBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AfctdBal" type="BalanceFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UafctdBal" type="BalanceFormat1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnDdln" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptCostDbtDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktDdln" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CoverXprtnDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgDt" type="DateFormat19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate7">
        <xs:sequence>
            <xs:element name="PstngDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXRateFxgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateAndDateTimeChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReference1">
        <xs:sequence>
            <xs:element name="EvtId" type="CorporateActionEventReference1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReference1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="LkdOffclCorpActnEvtId" type="Max35Text"/>
                <xs:element name="LkdCorpActnId" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventType5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionEventType7Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PRII"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="WRTH"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="MTNG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionGeneralInformation24">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssActnNb" type="Max35Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType5Choice"/>
            <xs:element name="UndrlygSctyId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlBizPrcInd" type="AdditionalBusinessProcessFormat3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionMovementConfirmationV02">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnId" type="DocumentIdentification15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MvmntPrlimryAdvcId" type="DocumentIdentification15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="DocumentIdentification9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrDocId" type="DocumentIdentification13"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtsLkg" type="CorporateActionEventReference1"/>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation24"/>
            <xs:element name="AcctDtls" type="AccountAndBalance11"/>
            <xs:element name="CorpActnConfDtls" type="CorporateActionOption23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateActionNarrative4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IssrAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PngAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubPngAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlTxt" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NrrtvVrsn" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RegnDtls" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InfConds" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InfToCmplyWth" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PtyCtctNrrtv" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxtnConds" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BsktOrIndxInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption23">
        <xs:sequence>
            <xs:element name="OptnNb" type="OptionNumber1Choice"/>
            <xs:element name="OptnTp" type="CorporateActionOption3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnFeatrs" type="OptionFeaturesFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnDspstn" type="FractionDispositionType12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyOptn" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtDtls" type="CorporateActionDate18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrdDtls" type="CorporateActionPeriod9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateAndAmtDtls" type="CorporateActionRate20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="CorporateActionPrice21"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfTrad" type="MarketIdentification4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesMvmntDtls" type="SecuritiesOption18"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshMvmntDtls" type="CashOption12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionOption3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MKDW"/>
            <xs:enumeration value="MKUP"/>
            <xs:enumeration value="MNGT"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="PROX"/>
            <xs:enumeration value="QINV"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="SPLI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionPeriod9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PricClctnPrd" type="Period5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnPrd" type="Period5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ParllTradgPrd" type="Period5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionPrice21">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GncCshPricRcvdPerPdct" type="PriceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShrPric" type="PriceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OverSbcptDpstPric" type="PriceFormat5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionPrice9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShrPric" type="PriceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndctvOrMktPric" type="IndicativeOrMarketPrice2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionRate20">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GrssDvddRate" type="GrossDividendRateFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxFctr" type="RateAndAmountFormat5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrstRateUsdForPmt" type="InterestRateUsedForPaymentFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxAllwdOvrsbcptRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrratnRate" type="PercentageRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxRltdRate" type="RateTypeAndAmountAndStatus6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTaxRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTax" type="RateAndAmountFormat5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxblIncmPerDvddShr" type="RateTypeAndAmountAndStatus11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionRate21">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlQtyForSbcbdRsltntScties" type="RatioFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlQtyForExstgScties" type="RatioFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewToOd" type="RatioFormat4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateCode11Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DateType8Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat19Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice"/>
                <xs:element name="DtCd" type="DateCode11Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat21Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice"/>
                <xs:element name="NotSpcfdDt" type="DateType8Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DateType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DividendRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TXBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnMvmntConf" type="CorporateActionMovementConfirmationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocNb" type="DocumentNumber1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification15">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AcctSvcrDocId" type="Max35Text"/>
                <xs:element name="AcctOwnrDocId" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification9">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ShrtNb" type="Exact3NumericText"/>
                <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
                <xs:element name="PrtryNb" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber"/>
                <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
                <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms11">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="RsltgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FractionDispositionType12Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="FractionDispositionType7Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FractionDispositionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYU"/>
            <xs:enumeration value="CINL"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="RDDN"/>
            <xs:enumeration value="RDUP"/>
            <xs:enumeration value="STAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FractionDispositionType4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="FractionDispositionType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FractionDispositionType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYU"/>
            <xs:enumeration value="CINL"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="RDDN"/>
            <xs:enumeration value="RDUP"/>
            <xs:enumeration value="STAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification21">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GrossDividendRateFormat2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GrossDividendRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
            <xs:enumeration value="LTCG"/>
            <xs:enumeration value="STCG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IdentificationType4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TypeOfIdentification1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IndicativeOrMarketPrice2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IndctvPric" type="PriceFormat5Choice"/>
                <xs:element name="MktPric" type="PriceFormat5Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InterestRateUsedForPaymentFormat2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate"/>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="MktIdrCd" type="MICIdentifier"/>
                <xs:element name="Desc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketIdentification4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification1Choice"/>
            <xs:element name="Tp" type="MarketType3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MarketType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="VARI"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketType3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="MarketType2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetDividendRateFormat2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus4"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NetDividendRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionFeatures1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COND"/>
            <xs:enumeration value="MAXC"/>
            <xs:enumeration value="MAXS"/>
            <xs:enumeration value="OPLF"/>
            <xs:enumeration value="PROR"/>
            <xs:enumeration value="QOVE"/>
            <xs:enumeration value="QREC"/>
            <xs:enumeration value="VVPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionFeaturesFormat1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="OptionFeatures1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionNumber1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Nb" type="Exact3NumericText"/>
                <xs:element name="Cd" type="OptionNumber1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OptionNumber1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNSO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities2">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification36Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification39Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
                <xs:element name="Ctry" type="CountryCode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification40Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification42Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICFI" type="BICFIIdentifier"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification46Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification39Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount51">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification40Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount52">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification40Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount54">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification42Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Payment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="CONT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PercentagePrice1">
        <xs:sequence>
            <xs:element name="PctgPricTp" type="PriceRateType3Code"/>
            <xs:element name="PricVal" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period5">
        <xs:sequence>
            <xs:element name="StartDt" type="DateFormat21Choice"/>
            <xs:element name="EndDt" type="DateFormat21Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceDetails2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcPric" type="PriceFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricPdPerPdct" type="PriceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricRcvdPerPdct" type="PriceFormat7Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceFormat5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PctgPric" type="PercentagePrice1"/>
                <xs:element name="AmtPric" type="AmountPrice3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceFormat6Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PctgPric" type="PercentagePrice1"/>
                <xs:element name="AmtPric" type="AmountPrice3"/>
                <xs:element name="IndxPts" type="DecimalNumber"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceFormat7Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PctgPric" type="PercentagePrice1"/>
                <xs:element name="AmtPric" type="AmountPrice3"/>
                <xs:element name="AmtPricPerFinInstrmQty" type="AmountPricePerFinancialInstrumentQuantity3"/>
                <xs:element name="AmtPricPerAmt" type="AmountPricePerAmount2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceRateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="YIEL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingPosition1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ProcessingPosition3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProprietaryQuantity2">
        <xs:sequence>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
                <xs:element name="PrtryQty" type="ProprietaryQuantity2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="QtyChc" type="Quantity4Choice"/>
                <xs:element name="PrtryQty" type="ProprietaryQuantity3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="OrgnlAndCurFaceAmt" type="OriginalAndCurrentQuantities2"/>
                <xs:element name="SgndQty" type="SignedQuantityFormat2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
                <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityToQuantityRatio1">
        <xs:sequence>
            <xs:element name="Qty1" type="DecimalNumber"/>
            <xs:element name="Qty2" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate"/>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateDetails2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTax" type="RateAndAmountFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsFees" type="RateAndAmountFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FnlDvddRate" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclStmp" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullyFrnkdRate" type="RateAndAmountFormat5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GrssDvddRate" type="GrossDividendRateFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshIncntivRate" type="PercentageRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrstRateUsdForPmt" type="InterestRateUsedForPaymentFormat2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetDvddRate" type="NetDividendRateFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonResdtRate" type="RateAndAmountFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsnlDvddRate" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AplblRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SlctnFeeRate" type="PercentageRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxCdtRate" type="TaxCreditRateFormat2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxRltdRate" type="RateTypeAndAmountAndStatus6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTaxRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxOnIncm" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxOnPrfts" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRclmRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgOfFrgnTax" type="RateAndAmountFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgOfLclTax" type="RateAndAmountFormat5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RateStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="INDI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateType10Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RateType3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateType11Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TaxType4Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateType13Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="GrossDividendRateType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateType17Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DividendRateType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPU"/>
            <xs:enumeration value="PREC"/>
            <xs:enumeration value="TIER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateType6Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RateType7Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateType7Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="NetDividendRateType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SCHD"/>
            <xs:enumeration value="USCD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateTypeAndAmountAndStatus1">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType13Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus11">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType17Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus3">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType6Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus4">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType7Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus5">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType10Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus6">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType11Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RatioFormat3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="QtyToQty" type="QuantityToQuantityRatio1"/>
                <xs:element name="AmtToAmt" type="AmountToAmountRatio2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RatioFormat4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="QtyToQty" type="QuantityToQuantityRatio1"/>
                <xs:element name="AmtToAmt" type="AmountToAmountRatio2"/>
                <xs:element name="AmtToQty" type="AmountAndQuantityRatio2"/>
                <xs:element name="QtyToAmt" type="AmountAndQuantityRatio2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Id" type="SafekeepingPlaceTypeAndText2"/>
                <xs:element name="Ctry" type="CountryCode"/>
                <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
                <xs:element name="Prtry" type="GenericIdentification21"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceFormat3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Id" type="SafekeepingPlaceTypeAndText3"/>
                <xs:element name="Ctry" type="CountryCode"/>
                <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
                <xs:element name="Prtry" type="GenericIdentification21"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText2">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText3">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesOption18">
        <xs:sequence>
            <xs:element name="SctyId" type="SecurityIdentification14"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TempFinInstrmInd" type="TemporaryFinancialInstrumentIndicator1Choice"/>
            <xs:element name="PstngQty" type="Quantity6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnDspstn" type="FractionDispositionType4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyOptn" type="ActiveCurrencyCode"/>
            <xs:element name="DtDtls" type="SecurityDate6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateDtls" type="CorporateActionRate21"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="CorporateActionPrice9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityDate6">
        <xs:sequence>
            <xs:element name="PstngDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AvlblDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrpssDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddRnkgDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateFormat19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties15">
        <xs:sequence>
            <xs:element name="Dpstry" type="PartyIdentification47"/>
            <xs:element name="Pty1" type="PartyIdentificationAndAccount51"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount51"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount51"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat1">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="QtyChc" type="Quantity2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedQuantityFormat2">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxCreditRateFormat2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate"/>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WITF"/>
            <xs:enumeration value="WITL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxVoucher2">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrgnDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrgnSttlmDt" type="DateAndDateTimeChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TemporaryFinancialInstrumentIndicator1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="TempInd" type="YesNoIndicator"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
