Iso20022.UnitTest/Resources/Seev/seev.044.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R7.1.20.5) on 2012 Apr 17 10:55:29-->
<xs:schema elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.044.001.03" xmlns="urn:iso:std:iso:20022:tech:xsd:seev.044.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification10">
        <xs:sequence>
            <xs:element name="IdCd" type="SafekeepingAccountIdentification1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification13Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ForAllAccts" type="AccountIdentification10"/>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="AcctsList" type="AccountIdentification15"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification15">
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification36Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventStatus1">
        <xs:sequence>
            <xs:element name="EvtCmpltnsSts" type="EventCompletenessStatus1Code"/>
            <xs:element name="EvtConfSts" type="EventConfirmationStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventType7Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionEventType8Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PRII"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="WRTH"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="DRCA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionGeneralInformation35">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssActnNb" type="Max35Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType7Choice"/>
            <xs:element name="MndtryVlntryEvtTp" type="CorporateActionMandatoryVoluntary1Choice"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionMandatoryVoluntary1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionMandatoryVoluntary1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionMandatoryVoluntary1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAND"/>
            <xs:enumeration value="CHOS"/>
            <xs:enumeration value="VOLU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionMovementPreliminaryAdviceCancellationAdviceV03">
        <xs:sequence>
            <xs:element name="CxlAdvcGnlInf" type="CorporateActionProcessingStatus1Choice"/>
            <xs:element name="MvmntPrlimryAdvcId" type="DocumentIdentification15"/>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation35"/>
            <xs:element name="AcctDtls" type="AccountIdentification13Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IssrAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PngAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubPngAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Regar" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RsellngAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhysSctiesAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrpAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SlctnAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InfAgt" type="PartyIdentification46Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionProcessingStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="EvtSts" type="CorporateActionEventStatus1"/>
                <xs:element name="ForInfOnlyInd" type="YesNoIndicator"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnMvmntPrlimryAdvcCxlAdvc" type="CorporateActionMovementPreliminaryAdviceCancellationAdviceV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification15">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventCompletenessStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="INCO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventConfirmationStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="UCON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification21">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification36Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification46Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingPosition1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ProcessingPosition3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Id" type="SafekeepingPlaceTypeAndText2"/>
                <xs:element name="Ctry" type="CountryCode"/>
                <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
                <xs:element name="Prtry" type="GenericIdentification21"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText2">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>