Iso20022.UnitTest/Resources/Seev/seev.037.002.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 08 11:41:34, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.037.002.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.037.002.07">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account9Choice">
        <xs:choice>
            <xs:element name="CshAcct" type="CashAccountIdentification6Choice"/>
            <xs:element name="ChrgsAcct" type="CashAccountIdentification6Choice"/>
            <xs:element name="TaxAcct" type="CashAccountIdentification6Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountAndBalance40">
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="RestrictedFINXMax35Text"/>
            <xs:element name="ConfdBal" type="BalanceFormat7Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditionalBusinessProcess7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLAI"/>
            <xs:enumeration value="TAXR"/>
            <xs:enumeration value="ACLA"/>
            <xs:enumeration value="ATXF"/>
            <xs:enumeration value="CNTR"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="NAMC"/>
            <xs:enumeration value="NPLE"/>
            <xs:enumeration value="SCHM"/>
            <xs:enumeration value="PPUT"/>
            <xs:enumeration value="PPRE"/>
            <xs:enumeration value="FPRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalBusinessProcessFormat14Choice">
        <xs:choice>
            <xs:element name="Cd" type="AdditionalBusinessProcess7Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceFormat7Choice">
        <xs:choice>
            <xs:element name="Bal" type="SignedQuantityFormat8"/>
            <xs:element name="ElgblBal" type="SignedQuantityFormat9"/>
            <xs:element name="NotElgblBal" type="SignedQuantityFormat9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashAccountIdentification6Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Prtry" type="RestrictedFINX2Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashOption48">
        <xs:sequence>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="Account9Choice"/>
            <xs:element name="PstngDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlPstngDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="DateAndDateTimeChoice"/>
            <xs:element name="PstngAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateAction36">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtDtls" type="CorporateActionDate50"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtStag" type="CorporateActionEventStageFormat15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlBizPrcInd" type="AdditionalBusinessProcessFormat14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtryTp" type="LotteryTypeFormat5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate50">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RcrdDt" type="DateFormat34Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExDvddDt" type="DateFormat34Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReference4">
        <xs:sequence>
            <xs:element name="EvtId" type="CorporateActionEventReference4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition10Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReference4Choice">
        <xs:choice>
            <xs:element name="LkdOffclCorpActnEvtId" type="RestrictedFINXMax16Text"/>
            <xs:element name="LkdCorpActnId" type="RestrictedFINXMax16Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventStage4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="RESC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventStageFormat15Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventStage4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="DRCA"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="PRII"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="NOOF"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="WRTH"/>
            <xs:enumeration value="MTNG"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType41Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType16Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionGeneralInformation98">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssActnNb" type="RestrictedFINXMax16Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType41Choice"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmdtSctiesDstrbtnTp" type="IntermediateSecuritiesDistributionTypeFormat17Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnlQty" type="FinancialInstrumentQuantity15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionMovementReversalAdvice002V07">
        <xs:sequence>
            <xs:element name="MvmntConfId" type="DocumentIdentification37"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrDocId" type="DocumentIdentification38"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtsLkg" type="CorporateActionEventReference4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RvslRsn" type="CorporateActionReversalReason4"/>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation98"/>
            <xs:element name="AcctDtls" type="AccountAndBalance40"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnDtls" type="CorporateAction36"/>
            <xs:element name="CorpActnConfDtls" type="CorporateActionOption126"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateActionNarrative35"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IssrAgt" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PngAgt" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubPngAgt" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative35">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlTxt" type="RestrictedFINXMax350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NrrtvVrsn" type="RestrictedFINXMax350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PtyCtctNrrtv" type="RestrictedFINXMax350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxtnConds" type="RestrictedFINXMax350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption126">
        <xs:sequence>
            <xs:element name="OptnNb" type="OptionNumber1Choice"/>
            <xs:element name="OptnTp" type="CorporateActionOption26Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesMvmntDtls" type="SecuritiesOption58"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshMvmntDtls" type="CashOption48"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption26Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionOption8Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MKDW"/>
            <xs:enumeration value="MKUP"/>
            <xs:enumeration value="MNGT"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="PROX"/>
            <xs:enumeration value="QINV"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="SPLI"/>
            <xs:enumeration value="PRUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CorporateActionReversalReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DCBD"/>
            <xs:enumeration value="IVAD"/>
            <xs:enumeration value="IRED"/>
            <xs:enumeration value="IPRI"/>
            <xs:enumeration value="UPAY"/>
            <xs:enumeration value="IETR"/>
            <xs:enumeration value="FNRC"/>
            <xs:enumeration value="POCS"/>
            <xs:enumeration value="IPCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionReversalReason4">
        <xs:sequence>
            <xs:element name="Rsn" type="CorporateActionReversalReason4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionReversalReason4Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionReversalReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode22Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType8Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat34Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="DateCode22Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnMvmntRvslAdvc" type="CorporateActionMovementReversalAdvice002V07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification37">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition10Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification38">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocNb" type="DocumentNumber6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition10Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification4Choice">
        <xs:choice>
            <xs:element name="AcctSvcrDocId" type="RestrictedFINXMax16Text"/>
            <xs:element name="AcctOwnrDocId" type="RestrictedFINXMax16Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DocumentNumber6Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification86"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber"/>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification84">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification86">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax30Text"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource4Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="RestrictedFINExact2Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IntermediateSecuritiesDistributionTypeFormat17Choice">
        <xs:choice>
            <xs:element name="Cd" type="IntermediateSecurityDistributionType4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="IntermediateSecurityDistributionType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXOF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LotteryType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORIG"/>
            <xs:enumeration value="SUPP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LotteryTypeFormat5Choice">
        <xs:choice>
            <xs:element name="Cd" type="LotteryType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress12">
        <xs:sequence>
            <xs:element name="Nm" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionNumber1Choice">
        <xs:choice>
            <xs:element name="Nb" type="Exact3NumericText"/>
            <xs:element name="Cd" type="OptionNumber1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionNumber1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNSO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalAndCurrentQuantities4">
        <xs:sequence>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification104Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProcessingPosition10Choice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessingPosition3Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProprietaryQuantity9">
        <xs:sequence>
            <xs:element name="Qty" type="RestrictedFINDecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity10Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity21Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity9"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINExact2Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="XX|TS"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINX2Max34Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax256Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,256}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax30Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesOption58">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification20"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="PstngQty" type="Quantity10Choice"/>
            <xs:element name="PstngDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlPstngDt" type="DateAndDateTimeChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification20">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat8">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="QtyChc" type="Quantity21Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedQuantityFormat9">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
