Iso20022.UnitTest/Resources/Admi/admi.004.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 09:49:00, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:admi.004.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:admi.004.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="admi.004.001.01" type="admi.004.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Event1">
        <xs:sequence>
            <xs:element name="EvtCd" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtParam" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="admi.004.001.01">
        <xs:sequence>
            <xs:element name="EvtInf" type="Event1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
