Iso20022.UnitTest/Resources/Caaa/caaa.005.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.1.0.4) on 2010 Nov 08 15:45:05--><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caaa.005.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caaa.005.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorCancellationRequest1">
        <xs:sequence>
            <xs:element name="Envt" type="CardPaymentEnvironment4"/>
            <xs:element name="Cntxt" type="CardPaymentContext1"/>
            <xs:element name="Tx" type="CardPaymentTransaction5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorCancellationRequestV01">
        <xs:sequence>
            <xs:element name="Hdr" type="Header1"/>
            <xs:element name="CxlReq" type="AcceptorCancellationRequest1"/>
            <xs:element name="SctyTrlr" type="ContentInformationType3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Acquirer1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="GenericIdentification32"/>
            <xs:element name="ParamsVrsn" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="DKPT"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="ERS2"/>
            <xs:enumeration value="ERSA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification1">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttendanceContext1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATTD"/>
            <xs:enumeration value="SATT"/>
            <xs:enumeration value="UATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient1Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification1"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent1"/>
            <xs:element name="MAC" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardDataReading1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TAGC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="BRCD"/>
            <xs:enumeration value="MGST"/>
            <xs:enumeration value="CICC"/>
            <xs:enumeration value="DFLE"/>
            <xs:enumeration value="CTLS"/>
            <xs:enumeration value="ECTL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentContext1">
        <xs:sequence>
            <xs:element name="PmtCntxt" type="PaymentContext1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleCntxt" type="SaleContext1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentEnvironment4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Acqrr" type="Acquirer1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mrchnt" type="Organisation5"/>
            <xs:element name="POI" type="PointOfInteraction1"/>
            <xs:element name="Card" type="PaymentCard3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardPaymentServiceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAFT"/>
            <xs:enumeration value="ORCR"/>
            <xs:enumeration value="CRDP"/>
            <xs:enumeration value="CSHB"/>
            <xs:enumeration value="CSHW"/>
            <xs:enumeration value="CSHD"/>
            <xs:enumeration value="DEFR"/>
            <xs:enumeration value="RESA"/>
            <xs:enumeration value="LOAD"/>
            <xs:enumeration value="RFND"/>
            <xs:enumeration value="QUCH"/>
            <xs:enumeration value="BALC"/>
            <xs:enumeration value="CACT"/>
            <xs:enumeration value="CAVR"/>
            <xs:enumeration value="PINC"/>
            <xs:enumeration value="VALC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardPaymentServiceType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGGR"/>
            <xs:enumeration value="DCCV"/>
            <xs:enumeration value="GRTT"/>
            <xs:enumeration value="INSP"/>
            <xs:enumeration value="LOYT"/>
            <xs:enumeration value="NRES"/>
            <xs:enumeration value="PUCO"/>
            <xs:enumeration value="RECP"/>
            <xs:enumeration value="SOAF"/>
            <xs:enumeration value="UNAF"/>
            <xs:enumeration value="VCAU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardPaymentServiceType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IRES"/>
            <xs:enumeration value="URES"/>
            <xs:enumeration value="PRES"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="FREC"/>
            <xs:enumeration value="RREC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentTransaction5">
        <xs:sequence>
            <xs:element name="TxCaptr" type="TrueFalseIndicator"/>
            <xs:element name="MrchntCtgyCd" type="Min3Max4Text"/>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element name="OrgnlTx" type="CardPaymentTransaction8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnId" type="Max35Text"/>
            <xs:element name="TxDtls" type="CardPaymentTransactionDetails5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTxData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransaction8">
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="POIId" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptTxId" type="Max35Text"/>
            <xs:element name="TxTp" type="CardPaymentServiceType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlSvc" type="CardPaymentServiceType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcAttr" type="CardPaymentServiceType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRslt" type="CardPaymentTransactionResult1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionDetails5">
        <xs:sequence>
            <xs:element name="Ccy" type="CurrencyCode"/>
            <xs:element name="TtlAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ICCRltdData" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionResult1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnNtty" type="GenericIdentification33"/>
            <xs:element name="RspnToAuthstn" type="ResponseType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnCd" type="Min6Max8Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardholderVerificationCapability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MNSG"/>
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="FCPN"/>
            <xs:enumeration value="FEPN"/>
            <xs:enumeration value="FDSG"/>
            <xs:enumeration value="FBIO"/>
            <xs:enumeration value="MNVR"/>
            <xs:enumeration value="FBIG"/>
            <xs:enumeration value="APKI"/>
            <xs:enumeration value="PKIS"/>
            <xs:enumeration value="CHDT"/>
            <xs:enumeration value="SCEC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIdentifier1">
        <xs:sequence>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType2">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AuthntcdData" type="AuthenticatedData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="ECRP"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DisplayCapabilities1">
        <xs:sequence>
            <xs:element name="DispTp" type="UserInterface2Code"/>
            <xs:element name="NbOfLines" type="Max3NumericText"/>
            <xs:element name="LineWidth" type="Max3NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrCxlReq" type="AcceptorCancellationRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent1">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent1">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification1"/>
            <xs:element name="NcrptdData" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvelopedData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient1Choice"/>
            <xs:element name="NcrptdCntt" type="EncryptedContent1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact10Text">
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification31">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification33">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header1">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction1Code"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification32"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO2ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3ACountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier1"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification1"/>
            <xs:element name="NcrptdKey" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier1">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Exact10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport1">
        <xs:sequence>
            <xs:element name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="CertificateIdentifier1"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification1"/>
            <xs:element name="NcrptdKey" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LocationCategory1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIXD"/>
            <xs:enumeration value="ABRD"/>
            <xs:enumeration value="NMDC"/>
            <xs:enumeration value="MOTO"/>
            <xs:enumeration value="HOME"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="AUTP"/>
            <xs:enumeration value="FAUQ"/>
            <xs:enumeration value="FAUP"/>
            <xs:enumeration value="CMPV"/>
            <xs:enumeration value="CMPK"/>
            <xs:enumeration value="FCMV"/>
            <xs:enumeration value="FCMK"/>
            <xs:enumeration value="RVRA"/>
            <xs:enumeration value="RVRR"/>
            <xs:enumeration value="FRVA"/>
            <xs:enumeration value="FRVR"/>
            <xs:enumeration value="CCAQ"/>
            <xs:enumeration value="CCAP"/>
            <xs:enumeration value="CCAV"/>
            <xs:enumeration value="CCAK"/>
            <xs:enumeration value="DGNP"/>
            <xs:enumeration value="DGNQ"/>
            <xs:enumeration value="RCLQ"/>
            <xs:enumeration value="RCLP"/>
            <xs:enumeration value="RJCT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min3Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min6Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min8Max28NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,28}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OnLineCapability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OFLN"/>
            <xs:enumeration value="ONLN"/>
            <xs:enumeration value="SMON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Organisation5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LctnCtgy" type="LocationCategory1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryCd" type="ISO3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeData" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="POIComponentType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SOFT"/>
            <xs:enumeration value="EMVK"/>
            <xs:enumeration value="EMVO"/>
            <xs:enumeration value="MRIT"/>
            <xs:enumeration value="CHIT"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="PEDV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentCard3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdCardData" type="ContentInformationType2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlainCardData" type="PlainCardData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCtryCd" type="Exact3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctPrfl" type="Exact4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardBrnd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCardData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentContext1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineCntxt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncCntxt" type="AttendanceContext1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxEnvt" type="TransactionEnvironment1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxChanl" type="TransactionChannel1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndntMsgCpbl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndntLang" type="ISO2ALanguageCode"/>
            <xs:element name="CardDataNtryMd" type="CardDataReading1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FllbckInd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PlainCardData2">
        <xs:sequence>
            <xs:element name="PAN" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISOYearMonth"/>
            <xs:element name="XpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcCd" type="Exact3NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TrckData" type="TrackData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteraction1">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrpId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cpblties" type="PointOfInteractionCapabilities1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cmpnt" type="PointOfInteractionComponent1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionCapabilities1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CardRdngCpblties" type="CardDataReading1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CrdhldrVrfctnCpblties" type="CardholderVerificationCapability1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineCpblties" type="OnLineCapability1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DispCpblties" type="DisplayCapabilities1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtLineWidth" type="Max3NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponent1">
        <xs:sequence>
            <xs:element name="POICmpntTp" type="POIComponentType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ManfctrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mdl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VrsnNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ApprvlNb" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="KeyTrnsprt" type="KeyTransport1"/>
                <xs:element maxOccurs="1" minOccurs="0" name="KEK" type="KEK1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="TECH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType1">
        <xs:sequence>
            <xs:element name="Rspn" type="Response1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SaleContext1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRcncltnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShftNb" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSaleData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability1">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification31"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TrckNb" type="Exact1NumericText"/>
            <xs:element name="TrckVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionChannel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="TLPH"/>
            <xs:enumeration value="ECOM"/>
            <xs:enumeration value="TVPY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransactionEnvironment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="PRIV"/>
            <xs:enumeration value="PUBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime"/>
            <xs:element name="TxRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UserInterface2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MDSP"/>
            <xs:enumeration value="CDSP"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
