Iso20022.UnitTest/Resources/Caaa/caaa.010.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 24 14:07:48, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caaa.010.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caaa.010.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorReconciliationResponse2">
        <xs:sequence>
            <xs:element name="Envt" type="CardPaymentEnvironment19"/>
            <xs:element name="TxRspn" type="ResponseType1"/>
            <xs:element name="Tx" type="TransactionReconciliation2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorReconciliationResponseV02">
        <xs:sequence>
            <xs:element name="Hdr" type="Header1"/>
            <xs:element name="RcncltnRspn" type="AcceptorReconciliationResponse2"/>
            <xs:element name="SctyTrlr" type="ContentInformationType6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKPT"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="CMD1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification2">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification3">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification7">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification8">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient2Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification3"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent1"/>
            <xs:element name="MAC" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentEnvironment19">
        <xs:sequence>
            <xs:element name="AcqrrId" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntId" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="POIId" type="GenericIdentification32"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIdentifier1">
        <xs:sequence>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType6">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AuthntcdData" type="AuthenticatedData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="ECRP"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrRcncltnRspn" type="AcceptorReconciliationResponseV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent1">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact10Text">
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification31">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header1">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction1Code"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification32"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier1"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification2"/>
            <xs:element name="NcrptdKey" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier1">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Exact10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport2">
        <xs:sequence>
            <xs:element name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="CertificateIdentifier1"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification7"/>
            <xs:element name="NcrptdKey" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max10000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="AUTP"/>
            <xs:enumeration value="FAUQ"/>
            <xs:enumeration value="FAUP"/>
            <xs:enumeration value="CMPV"/>
            <xs:enumeration value="CMPK"/>
            <xs:enumeration value="FCMV"/>
            <xs:enumeration value="FCMK"/>
            <xs:enumeration value="RVRA"/>
            <xs:enumeration value="RVRR"/>
            <xs:enumeration value="FRVA"/>
            <xs:enumeration value="FRVR"/>
            <xs:enumeration value="CCAQ"/>
            <xs:enumeration value="CCAP"/>
            <xs:enumeration value="CCAV"/>
            <xs:enumeration value="CCAK"/>
            <xs:enumeration value="DGNP"/>
            <xs:enumeration value="DGNQ"/>
            <xs:enumeration value="RCLQ"/>
            <xs:enumeration value="RCLP"/>
            <xs:enumeration value="RJCT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Recipient2Choice">
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyTrnsprt" type="KeyTransport2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KEK" type="KEK2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="TECH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType1">
        <xs:sequence>
            <xs:element name="Rspn" type="Response1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability1">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification31"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime"/>
            <xs:element name="TxRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReconciliation2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsPrd" type="TrueFalseIndicator"/>
            <xs:element name="RcncltnTxId" type="TransactionIdentifier1"/>
            <xs:element name="RcncltnId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxTtls" type="TransactionTotals2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTxData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionTotals2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="POIGrpId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctPrfl" type="Exact4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyCode"/>
            <xs:element name="Tp" type="TypeTransactionTotals2Code"/>
            <xs:element name="TtlNb" type="Max35NumericText"/>
            <xs:element name="CmltvAmt" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeTransactionTotals2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="CRDR"/>
            <xs:enumeration value="DEBT"/>
            <xs:enumeration value="DBTR"/>
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="FAIL"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
