Iso20022.UnitTest/Resources/Caaa/caaa.002.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 26 08:38:14, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caaa.002.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caaa.002.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorAuthorisationResponse4">
        <xs:sequence>
            <xs:element name="Envt" type="CardPaymentEnvironment33"/>
            <xs:element name="Tx" type="CardPaymentTransaction38"/>
            <xs:element name="TxRspn" type="CardPaymentTransaction39"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorAuthorisationResponseV04">
        <xs:sequence>
            <xs:element name="Hdr" type="Header10"/>
            <xs:element name="AuthstnRspn" type="AcceptorAuthorisationResponse4"/>
            <xs:element name="SctyTrlr" type="ContentInformationType11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Action3">
        <xs:sequence>
            <xs:element name="ActnTp" type="ActionType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgToPres" type="ActionMessage1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ActionMessage1">
        <xs:sequence>
            <xs:element name="MsgDstn" type="UserInterface1Code"/>
            <xs:element name="MsgCntt" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgCnttSgntr" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActionType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUSY"/>
            <xs:enumeration value="CPTR"/>
            <xs:enumeration value="DISP"/>
            <xs:enumeration value="NOVR"/>
            <xs:enumeration value="RQID"/>
            <xs:enumeration value="PINL"/>
            <xs:enumeration value="PINR"/>
            <xs:enumeration value="PRNT"/>
            <xs:enumeration value="RFRL"/>
            <xs:enumeration value="RQDT"/>
            <xs:enumeration value="DCCQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="MCC1"/>
            <xs:enumeration value="CMA9"/>
            <xs:enumeration value="CMA5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification11">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification12">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification13">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification14">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm15Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification15">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection41">
        <xs:sequence>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification15"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="MAC" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AuthenticationEntity2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICCD"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ISSR"/>
            <xs:enumeration value="TRML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthenticationMethod4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="PPSG"/>
            <xs:enumeration value="PSWD"/>
            <xs:enumeration value="SCRT"/>
            <xs:enumeration value="SCNL"/>
            <xs:enumeration value="SNCT"/>
            <xs:enumeration value="CPSG"/>
            <xs:enumeration value="ADDB"/>
            <xs:enumeration value="BIOM"/>
            <xs:enumeration value="CDHI"/>
            <xs:enumeration value="CRYP"/>
            <xs:enumeration value="CSCV"/>
            <xs:enumeration value="PSVE"/>
            <xs:enumeration value="CSEC"/>
            <xs:enumeration value="ADDS"/>
            <xs:enumeration value="TOKN"/>
            <xs:enumeration value="MANU"/>
            <xs:enumeration value="FPIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthorisationResult4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnNtty" type="GenericIdentification70"/>
            <xs:element name="RspnToAuthstn" type="ResponseType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnCd" type="Min6Max8Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmpltnReqrd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSTrggr" type="TMSTrigger1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardAccountType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CTDP"/>
            <xs:enumeration value="CHCK"/>
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="CURR"/>
            <xs:enumeration value="CDBT"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="EPRS"/>
            <xs:enumeration value="HEQL"/>
            <xs:enumeration value="ISTL"/>
            <xs:enumeration value="INVS"/>
            <xs:enumeration value="LCDT"/>
            <xs:enumeration value="MBNW"/>
            <xs:enumeration value="MNMK"/>
            <xs:enumeration value="MNMC"/>
            <xs:enumeration value="MTGL"/>
            <xs:enumeration value="RTRM"/>
            <xs:enumeration value="RVLV"/>
            <xs:enumeration value="SVNG"/>
            <xs:enumeration value="STBD"/>
            <xs:enumeration value="UVRL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentEnvironment33">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrId" type="GenericIdentification53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntId" type="GenericIdentification32"/>
            <xs:element name="POIId" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Card" type="PaymentCard10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="CardPaymentToken2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentToken2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TknChrtc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncLvl" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransaction38">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefId" type="Max35Text"/>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrchngData" type="Max140Text"/>
            <xs:element name="TxDtls" type="CardPaymentTransactionDetails20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransaction39">
        <xs:sequence>
            <xs:element name="AuthstnRslt" type="AuthorisationResult4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxVrfctnRslt" type="TransactionVerificationResult3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DclndPdctCd" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="AmountAndDirection41"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdBal" type="ContentInformationType10"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Actn" type="Action3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyConvs" type="CurrencyConversion3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionDetails20">
        <xs:sequence>
            <xs:element name="Ccy" type="CurrencyCode"/>
            <xs:element name="TtlAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtldAmt" type="DetailedAmount7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctTp" type="CardAccountType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ICCRltdData" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CONS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Commission18">
        <xs:sequence>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Commission19">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType10">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType11">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AuthntcdData" type="AuthenticatedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyConversion2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyConvsId" type="Max35Text"/>
            <xs:element name="TrgtCcy" type="CurrencyDetails1"/>
            <xs:element name="RsltgAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="XchgRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRateDcml" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NvrtdXchgRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldUntil" type="ISODateTime"/>
            <xs:element name="SrcCcy" type="CurrencyDetails1"/>
            <xs:element name="OrgnlAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ComssnDtls" type="Commission19"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MrkUpDtls" type="Commission18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CurrencyConversion3">
        <xs:sequence>
            <xs:element name="Rslt" type="CurrencyConversionResponse1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RsltRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Convs" type="CurrencyConversion2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CurrencyConversionResponse1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ODCC"/>
            <xs:enumeration value="DCCA"/>
            <xs:enumeration value="ICRD"/>
            <xs:enumeration value="IMER"/>
            <xs:enumeration value="IPRD"/>
            <xs:enumeration value="IRAT"/>
            <xs:enumeration value="NDCC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyDetails1">
        <xs:sequence>
            <xs:element name="AlphaCd" type="CurrencyCode"/>
            <xs:element name="NmrcCd" type="Exact3NumericText"/>
            <xs:element name="Dcml" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedAmount4">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Labl" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedAmount7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshBck" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Grtty" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Fees" type="DetailedAmount4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rbt" type="DetailedAmount4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ValAddedTax" type="DetailedAmount4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Srchrg" type="DetailedAmount4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrAuthstnRspn" type="AcceptorAuthorisationResponseV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification14"/>
            <xs:element name="NcrptdData" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="TR34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification53">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification70">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification76">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header10">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction4Code"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification53"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier2"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification13"/>
            <xs:element name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification11"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max10000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="AUTP"/>
            <xs:enumeration value="FAUQ"/>
            <xs:enumeration value="FAUP"/>
            <xs:enumeration value="CMPV"/>
            <xs:enumeration value="CMPK"/>
            <xs:enumeration value="FCMV"/>
            <xs:enumeration value="FCMK"/>
            <xs:enumeration value="RVRA"/>
            <xs:enumeration value="RVRR"/>
            <xs:enumeration value="FRVA"/>
            <xs:enumeration value="FRVR"/>
            <xs:enumeration value="CCAQ"/>
            <xs:enumeration value="CCAP"/>
            <xs:enumeration value="CCAV"/>
            <xs:enumeration value="CCAK"/>
            <xs:enumeration value="DGNP"/>
            <xs:enumeration value="DGNQ"/>
            <xs:enumeration value="RCLQ"/>
            <xs:enumeration value="RCLP"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="DCCQ"/>
            <xs:enumeration value="DCCP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min6Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min8Max28NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,28}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentCard10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdCardData" type="ContentInformationType10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlainCardData" type="PlainCardData8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskdPAN" type="Max30Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardBrnd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctTp" type="CardProductType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PlainCardData8">
        <xs:sequence>
            <xs:element name="PAN" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="Max10Text"/>
            <xs:element name="XpryDt" type="Max10Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="Recipient4Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport4"/>
            <xs:element name="KEK" type="KEK4"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="TECH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType1">
        <xs:sequence>
            <xs:element name="Rspn" type="Response1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TMSContactLevel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRIT"/>
            <xs:enumeration value="ASAP"/>
            <xs:enumeration value="DTIM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TMSTrigger1">
        <xs:sequence>
            <xs:element name="TMSCtctLvl" type="TMSContactLevel1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSCtctDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability2">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification76"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime"/>
            <xs:element name="TxRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionVerificationResult3">
        <xs:sequence>
            <xs:element name="Mtd" type="AuthenticationMethod4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VrfctnNtty" type="AuthenticationEntity2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rslt" type="Verification1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRslt" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UserInterface1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDSP"/>
            <xs:enumeration value="CRCP"/>
            <xs:enumeration value="MDSP"/>
            <xs:enumeration value="MRCP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Verification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAIL"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="NOVF"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="SUCC"/>
            <xs:enumeration value="ERRR"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
