Iso20022.UnitTest/Resources/Caaa/caaa.004.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.1.0.4) on 2010 Nov 08 15:45:05--><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caaa.004.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caaa.004.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorCompletionAdviceResponse1">
        <xs:sequence>
            <xs:element name="Envt" type="CardPaymentEnvironment3"/>
            <xs:element name="Tx" type="CardPaymentTransactionAdviceResponse1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSTrggr" type="TMSTrigger1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorCompletionAdviceResponseV01">
        <xs:sequence>
            <xs:element name="Hdr" type="Header2"/>
            <xs:element name="CmpltnAdvcRspn" type="AcceptorCompletionAdviceResponse1"/>
            <xs:element name="SctyTrlr" type="ContentInformationType3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Acquirer1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="GenericIdentification32"/>
            <xs:element name="ParamsVrsn" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="DKPT"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="ERS2"/>
            <xs:enumeration value="ERSA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification1">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient1Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification1"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent1"/>
            <xs:element name="MAC" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentEnvironment3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Acqrr" type="Acquirer1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntId" type="GenericIdentification32"/>
            <xs:element name="POIId" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdCardData" type="ContentInformationType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlainCardData" type="PlainCardData3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionAdviceResponse1">
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element name="Rspn" type="Response1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIdentifier1">
        <xs:sequence>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType1">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EnvlpdData" type="EnvelopedData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcdData" type="AuthenticatedData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgndData" type="SignedData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstdData" type="DigestedData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmdKeyNcrptdData" type="NamedKeyEncryptedData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AuthntcdData" type="AuthenticatedData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="ECRP"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DigestedData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DgstAlgo" type="AlgorithmIdentification1"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent1"/>
            <xs:element name="Dgst" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrCmpltnAdvcRspn" type="AcceptorCompletionAdviceResponseV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent1">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent1">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification1"/>
            <xs:element name="NcrptdData" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvelopedData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient1Choice"/>
            <xs:element name="NcrptdCntt" type="EncryptedContent1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact10Text">
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification31">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header2">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction1Code"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification32"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier1"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification1"/>
            <xs:element name="NcrptdKey" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier1">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Exact10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport1">
        <xs:sequence>
            <xs:element name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="CertificateIdentifier1"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification1"/>
            <xs:element name="NcrptdKey" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max10000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="3000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="AUTP"/>
            <xs:enumeration value="FAUQ"/>
            <xs:enumeration value="FAUP"/>
            <xs:enumeration value="CMPV"/>
            <xs:enumeration value="CMPK"/>
            <xs:enumeration value="FCMV"/>
            <xs:enumeration value="FCMK"/>
            <xs:enumeration value="RVRA"/>
            <xs:enumeration value="RVRR"/>
            <xs:enumeration value="FRVA"/>
            <xs:enumeration value="FRVR"/>
            <xs:enumeration value="CCAQ"/>
            <xs:enumeration value="CCAP"/>
            <xs:enumeration value="CCAV"/>
            <xs:enumeration value="CCAK"/>
            <xs:enumeration value="DGNP"/>
            <xs:enumeration value="DGNQ"/>
            <xs:enumeration value="RCLQ"/>
            <xs:enumeration value="RCLP"/>
            <xs:enumeration value="RJCT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min8Max28NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,28}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NamedKeyEncryptedData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyNm" type="Max140Text"/>
            <xs:element name="NcrptdCntt" type="EncryptedContent1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PlainCardData3">
        <xs:sequence>
            <xs:element name="PAN" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISOYearMonth"/>
            <xs:element name="XpryDt" type="ISOYearMonth"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="KeyTrnsprt" type="KeyTransport1"/>
                <xs:element maxOccurs="1" minOccurs="0" name="KEK" type="KEK1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="TECH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DgstAlgo" type="AlgorithmIdentification1"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max3000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sgnr" type="Signer1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Signer1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="SgnrId" type="CertificateIdentifier1"/>
            <xs:element name="DgstAlgo" type="AlgorithmIdentification1"/>
            <xs:element name="SgntrAlgo" type="AlgorithmIdentification1"/>
            <xs:element name="Sgntr" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TMSContactLevel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRIT"/>
            <xs:enumeration value="ASAP"/>
            <xs:enumeration value="DTIM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TMSTrigger1">
        <xs:sequence>
            <xs:element name="TMSCtctLvl" type="TMSContactLevel1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSCtctDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability1">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification31"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime"/>
            <xs:element name="TxRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
