Iso20022.UnitTest/Resources/Caaa/caaa.001.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 24 14:07:48, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caaa.001.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caaa.001.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorAuthorisationRequest2">
        <xs:sequence>
            <xs:element name="Envt" type="CardPaymentEnvironment9"/>
            <xs:element name="Cntxt" type="CardPaymentContext1"/>
            <xs:element name="Tx" type="CardPaymentTransaction11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorAuthorisationRequestV02">
        <xs:sequence>
            <xs:element name="Hdr" type="Header1"/>
            <xs:element name="AuthstnReq" type="AcceptorAuthorisationRequest2"/>
            <xs:element name="SctyTrlr" type="ContentInformationType6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Acquirer2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="GenericIdentification32"/>
            <xs:element name="ParamsVrsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AddressVerification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrDgts" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCdDgts" type="Max5NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKPT"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="CMD1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification2">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification3">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification6">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification7">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification8">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttendanceContext1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATTD"/>
            <xs:enumeration value="SATT"/>
            <xs:enumeration value="UATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient2Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification3"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent1"/>
            <xs:element name="MAC" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AuthenticationEntity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICCD"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="MERC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthenticationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BYPS"/>
            <xs:enumeration value="MANU"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="FPIN"/>
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="PPSG"/>
            <xs:enumeration value="PSWD"/>
            <xs:enumeration value="SCRT"/>
            <xs:enumeration value="SCNL"/>
            <xs:enumeration value="SNCT"/>
            <xs:enumeration value="CPSG"/>
            <xs:enumeration value="UKNW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CSCManagement1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRST"/>
            <xs:enumeration value="BYPS"/>
            <xs:enumeration value="UNRD"/>
            <xs:enumeration value="NCSC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="SVNG"/>
            <xs:enumeration value="CHCK"/>
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="UVRL"/>
            <xs:enumeration value="INVS"/>
            <xs:enumeration value="EPRS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardDataReading1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TAGC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="BRCD"/>
            <xs:enumeration value="MGST"/>
            <xs:enumeration value="CICC"/>
            <xs:enumeration value="DFLE"/>
            <xs:enumeration value="CTLS"/>
            <xs:enumeration value="ECTL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentContext1">
        <xs:sequence>
            <xs:element name="PmtCntxt" type="PaymentContext1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleCntxt" type="SaleContext1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentEnvironment9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Acqrr" type="Acquirer2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mrchnt" type="Organisation8"/>
            <xs:element name="POI" type="PointOfInteraction2"/>
            <xs:element name="Card" type="PaymentCard5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Crdhldr" type="Cardholder3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardPaymentServiceType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGGR"/>
            <xs:enumeration value="DCCV"/>
            <xs:enumeration value="GRTT"/>
            <xs:enumeration value="INSP"/>
            <xs:enumeration value="LOYT"/>
            <xs:enumeration value="NRES"/>
            <xs:enumeration value="PUCO"/>
            <xs:enumeration value="RECP"/>
            <xs:enumeration value="SOAF"/>
            <xs:enumeration value="UNAF"/>
            <xs:enumeration value="VCAU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardPaymentServiceType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IRES"/>
            <xs:enumeration value="URES"/>
            <xs:enumeration value="PRES"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="FREC"/>
            <xs:enumeration value="RREC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardPaymentServiceType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TP2P"/>
            <xs:enumeration value="TP2B"/>
            <xs:enumeration value="BALC"/>
            <xs:enumeration value="CACT"/>
            <xs:enumeration value="CRDP"/>
            <xs:enumeration value="CAFT"/>
            <xs:enumeration value="CAVR"/>
            <xs:enumeration value="CSHW"/>
            <xs:enumeration value="CSHB"/>
            <xs:enumeration value="CSHD"/>
            <xs:enumeration value="DEFR"/>
            <xs:enumeration value="LOAD"/>
            <xs:enumeration value="ORCR"/>
            <xs:enumeration value="PINC"/>
            <xs:enumeration value="QUCH"/>
            <xs:enumeration value="RFND"/>
            <xs:enumeration value="RESA"/>
            <xs:enumeration value="VALC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentTransaction11">
        <xs:sequence>
            <xs:element name="TxCaptr" type="TrueFalseIndicator"/>
            <xs:element name="TxTp" type="CardPaymentServiceType4Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlSvc" type="CardPaymentServiceType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcAttr" type="CardPaymentServiceType3Code"/>
            <xs:element name="MrchntCtgyCd" type="Min3Max4Text"/>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlTx" type="CardPaymentTransaction17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnId" type="Max35Text"/>
            <xs:element name="TxDtls" type="CardPaymentTransactionDetails1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlTxData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransaction17">
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="POIId" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptTxId" type="Max35Text"/>
            <xs:element name="TxTp" type="CardPaymentServiceType4Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlSvc" type="CardPaymentServiceType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcAttr" type="CardPaymentServiceType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRslt" type="CardPaymentTransactionResult1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionDetails1">
        <xs:sequence>
            <xs:element name="Ccy" type="CurrencyCode"/>
            <xs:element name="TtlAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtQlfr" type="TypeOfAmount1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DtldAmt" type="DetailedAmount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineRsn" type="OnLineReason1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UattnddLvlCtgy" type="Max35NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctTp" type="CardAccountType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcrngTx" type="RecurringTransaction1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Pdct" type="Product1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ICCRltdData" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionResult1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnNtty" type="GenericIdentification33"/>
            <xs:element name="RspnToAuthstn" type="ResponseType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnCd" type="Min6Max8Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardSecurityInformation1">
        <xs:sequence>
            <xs:element name="CSCMgmt" type="CSCManagement1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CSCVal" type="Min3Max4NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Cardholder3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Id" type="CardholderIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max45Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lang" type="ISO2ALanguageCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Authntcn" type="CardholderAuthentication3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrVrfctn" type="AddressVerification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrsnlData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardholderAuthentication3">
        <xs:sequence>
            <xs:element name="AuthntcnMtd" type="AuthenticationMethod2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnNtty" type="AuthenticationEntity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnVal" type="Max40Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrOnLinePIN" type="OnLinePIN2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnColltnInd" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardholderIdentification1">
        <xs:sequence>
            <xs:element name="CrdhldrIdVal" type="Max35Text"/>
            <xs:element name="CrdhldrIdTp" type="PersonIdentificationType4Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardholderVerificationCapability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MNSG"/>
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="FCPN"/>
            <xs:enumeration value="FEPN"/>
            <xs:enumeration value="FDSG"/>
            <xs:enumeration value="FBIO"/>
            <xs:enumeration value="MNVR"/>
            <xs:enumeration value="FBIG"/>
            <xs:enumeration value="APKI"/>
            <xs:enumeration value="PKIS"/>
            <xs:enumeration value="CHDT"/>
            <xs:enumeration value="SCEC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIdentifier1">
        <xs:sequence>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationCharacteristics1">
        <xs:sequence>
            <xs:element name="ComTp" type="POICommunicationType1Code"/>
            <xs:element name="RmotPty" type="PartyType7Code"/>
            <xs:element name="Actv" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType5">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType6">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AuthntcdData" type="AuthenticatedData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="ECRP"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DetailedAmount1">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfAmount2Code"/>
            <xs:element name="Val" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisplayCapabilities1">
        <xs:sequence>
            <xs:element name="DispTp" type="UserInterface2Code"/>
            <xs:element name="NbOfLines" type="Max3NumericText"/>
            <xs:element name="LineWidth" type="Max3NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrAuthstnReq" type="AcceptorAuthorisationRequestV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent1">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent2">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification6"/>
            <xs:element name="NcrptdData" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvelopedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient2Choice"/>
            <xs:element name="NcrptdCntt" type="EncryptedContent2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact10Text">
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Frequency4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification31">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification33">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification48">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Vrsn" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header1">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction1Code"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification32"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO2ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier1"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification2"/>
            <xs:element name="NcrptdKey" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier1">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Exact10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport2">
        <xs:sequence>
            <xs:element name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="CertificateIdentifier1"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification7"/>
            <xs:element name="NcrptdKey" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LocationCategory1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIXD"/>
            <xs:enumeration value="ABRD"/>
            <xs:enumeration value="NMDC"/>
            <xs:enumeration value="MOTO"/>
            <xs:enumeration value="HOME"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max40Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max45Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="45"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MemoryCharacteristics1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="TtlSz" type="DecimalNumber"/>
            <xs:element name="FreeSz" type="DecimalNumber"/>
            <xs:element name="Unit" type="MemoryUnit1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MemoryUnit1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BYTE"/>
            <xs:enumeration value="EXAB"/>
            <xs:enumeration value="GIGA"/>
            <xs:enumeration value="KILO"/>
            <xs:enumeration value="MEGA"/>
            <xs:enumeration value="PETA"/>
            <xs:enumeration value="TERA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="AUTP"/>
            <xs:enumeration value="FAUQ"/>
            <xs:enumeration value="FAUP"/>
            <xs:enumeration value="CMPV"/>
            <xs:enumeration value="CMPK"/>
            <xs:enumeration value="FCMV"/>
            <xs:enumeration value="FCMK"/>
            <xs:enumeration value="RVRA"/>
            <xs:enumeration value="RVRR"/>
            <xs:enumeration value="FRVA"/>
            <xs:enumeration value="FRVR"/>
            <xs:enumeration value="CCAQ"/>
            <xs:enumeration value="CCAP"/>
            <xs:enumeration value="CCAV"/>
            <xs:enumeration value="CCAK"/>
            <xs:enumeration value="DGNP"/>
            <xs:enumeration value="DGNQ"/>
            <xs:enumeration value="RCLQ"/>
            <xs:enumeration value="RCLP"/>
            <xs:enumeration value="RJCT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min3Max4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min3Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min6Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min8Max28NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,28}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OnLineCapability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OFLN"/>
            <xs:enumeration value="ONLN"/>
            <xs:enumeration value="SMON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OnLinePIN2">
        <xs:sequence>
            <xs:element name="NcrptdPINBlck" type="ContentInformationType5"/>
            <xs:element name="PINFrmt" type="PINFormat2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInpt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OnLineReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RNDM"/>
            <xs:enumeration value="ICCF"/>
            <xs:enumeration value="MERF"/>
            <xs:enumeration value="TRMF"/>
            <xs:enumeration value="ISSF"/>
            <xs:enumeration value="FRLT"/>
            <xs:enumeration value="EXFL"/>
            <xs:enumeration value="TAMT"/>
            <xs:enumeration value="CBIN"/>
            <xs:enumeration value="UBIN"/>
            <xs:enumeration value="CPAN"/>
            <xs:enumeration value="FLOW"/>
            <xs:enumeration value="CRCY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Organisation8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LctnCtgy" type="LocationCategory1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryCd" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeData" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PINFormat2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ISO0"/>
            <xs:enumeration value="ISO1"/>
            <xs:enumeration value="ISO2"/>
            <xs:enumeration value="ISO3"/>
            <xs:enumeration value="ISO4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POICommunicationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLTH"/>
            <xs:enumeration value="ETHR"/>
            <xs:enumeration value="GPRS"/>
            <xs:enumeration value="GSMF"/>
            <xs:enumeration value="PSTN"/>
            <xs:enumeration value="RS23"/>
            <xs:enumeration value="USBD"/>
            <xs:enumeration value="USBH"/>
            <xs:enumeration value="WIFI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentAssessment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPL"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="EVAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WAIT"/>
            <xs:enumeration value="OUTD"/>
            <xs:enumeration value="OPER"/>
            <xs:enumeration value="DACT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AQPP"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="TLPR"/>
            <xs:enumeration value="SCPR"/>
            <xs:enumeration value="SERV"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="DVCE"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="APLI"/>
            <xs:enumeration value="EMVK"/>
            <xs:enumeration value="EMVO"/>
            <xs:enumeration value="MDWR"/>
            <xs:enumeration value="DRVR"/>
            <xs:enumeration value="OPST"/>
            <xs:enumeration value="MRPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="PCPT"/>
            <xs:enumeration value="TMGT"/>
            <xs:enumeration value="SALE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentCard5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdCardData" type="ContentInformationType5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlainCardData" type="PlainCardData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCtryCd" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctPrfl" type="Exact4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardBrnd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCardData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentContext1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineCntxt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncCntxt" type="AttendanceContext1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxEnvt" type="TransactionEnvironment1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxChanl" type="TransactionChannel1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndntMsgCpbl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndntLang" type="ISO2ALanguageCode"/>
            <xs:element name="CardDataNtryMd" type="CardDataReading1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FllbckInd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PersonIdentificationType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PASS"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="EEID"/>
            <xs:enumeration value="DRVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PlainCardData1">
        <xs:sequence>
            <xs:element name="PAN" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISOYearMonth"/>
            <xs:element name="XpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcCd" type="Exact3NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TrckData" type="TrackData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSctyCd" type="CardSecurityInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteraction2">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrpId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cpblties" type="PointOfInteractionCapabilities1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cmpnt" type="PointOfInteractionComponent3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionCapabilities1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CardRdngCpblties" type="CardDataReading1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CrdhldrVrfctnCpblties" type="CardholderVerificationCapability1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineCpblties" type="OnLineCapability1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DispCpblties" type="DisplayCapabilities1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtLineWidth" type="Max3NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponent3">
        <xs:sequence>
            <xs:element name="Tp" type="POIComponentType3Code"/>
            <xs:element name="Id" type="PointOfInteractionComponentIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="PointOfInteractionComponentStatus1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="StdCmplc" type="GenericIdentification48"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtcs" type="PointOfInteractionComponentCharacteristics1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Assmnt" type="PointOfInteractionComponentAssessment1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentAssessment1">
        <xs:sequence>
            <xs:element name="Tp" type="POIComponentAssessment1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XprtnDt" type="ISODateTime"/>
            <xs:element name="Nb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentCharacteristics1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Mmry" type="MemoryCharacteristics1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Com" type="CommunicationCharacteristics1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyAccsMdls" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcbrIdntyMdls" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyChckVal" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ItmNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentStatus1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VrsnNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="POIComponentStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Product1">
        <xs:sequence>
            <xs:element name="PdctCd" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitOfMeasr" type="UnitOfMeasure1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctQty" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="PdctAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlPdctInf" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient2Choice">
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyTrnsprt" type="KeyTransport2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KEK" type="KEK2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RecurringTransaction1">
        <xs:sequence>
            <xs:element name="SeqNb" type="Max2NumericText"/>
            <xs:element name="PrdUnit" type="Frequency4Code"/>
            <xs:element name="InstlmtPrd" type="Number"/>
            <xs:element name="TtlNbOfPmts" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstChrgs" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="TECH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType1">
        <xs:sequence>
            <xs:element name="Rspn" type="Response1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SaleContext1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRcncltnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShftNb" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSaleData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability1">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification31"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TrckNb" type="Exact1NumericText"/>
            <xs:element name="TrckVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionChannel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="TLPH"/>
            <xs:enumeration value="ECOM"/>
            <xs:enumeration value="TVPY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransactionEnvironment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="PRIV"/>
            <xs:enumeration value="PUBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime"/>
            <xs:element name="TxRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTL"/>
            <xs:enumeration value="ESTM"/>
            <xs:enumeration value="MAXI"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="RPLT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSHB"/>
            <xs:enumeration value="GRTY"/>
            <xs:enumeration value="FEES"/>
            <xs:enumeration value="RBTS"/>
            <xs:enumeration value="VATX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnitOfMeasure1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PIEC"/>
            <xs:enumeration value="TONS"/>
            <xs:enumeration value="FOOT"/>
            <xs:enumeration value="GBGA"/>
            <xs:enumeration value="USGA"/>
            <xs:enumeration value="GRAM"/>
            <xs:enumeration value="INCH"/>
            <xs:enumeration value="KILO"/>
            <xs:enumeration value="PUND"/>
            <xs:enumeration value="METR"/>
            <xs:enumeration value="CMET"/>
            <xs:enumeration value="MMET"/>
            <xs:enumeration value="LITR"/>
            <xs:enumeration value="CELI"/>
            <xs:enumeration value="MILI"/>
            <xs:enumeration value="GBOU"/>
            <xs:enumeration value="USOU"/>
            <xs:enumeration value="GBQA"/>
            <xs:enumeration value="USQA"/>
            <xs:enumeration value="GBPI"/>
            <xs:enumeration value="USPI"/>
            <xs:enumeration value="MILE"/>
            <xs:enumeration value="KMET"/>
            <xs:enumeration value="YARD"/>
            <xs:enumeration value="SQKI"/>
            <xs:enumeration value="HECT"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="SMET"/>
            <xs:enumeration value="SCMT"/>
            <xs:enumeration value="SMIL"/>
            <xs:enumeration value="SQMI"/>
            <xs:enumeration value="SQYA"/>
            <xs:enumeration value="SQFO"/>
            <xs:enumeration value="SQIN"/>
            <xs:enumeration value="ACRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserInterface2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MDSP"/>
            <xs:enumeration value="CDSP"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
