Iso20022.UnitTest/Resources/Semt/semt.019.002.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 08 11:54:16, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.019.002.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.019.002.05">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AllegementStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="REMO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AllegementStatus4Choice">
        <xs:choice>
            <xs:element name="Cd" type="AllegementStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AlternatePartyIdentification9">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType44Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection59">
        <xs:sequence>
            <xs:element name="Amt" type="RestrictedFINActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection71">
        <xs:sequence>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="RestrictedFINActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="DateAndDateTimeChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection72">
        <xs:sequence>
            <xs:element name="Amt" type="RestrictedFINActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms27"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BeneficialOwnership5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification6Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Prtry" type="RestrictedFINX2Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CashSettlementSystem2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROS"/>
            <xs:enumeration value="NETS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashSettlementSystem5Choice">
        <xs:choice>
            <xs:element name="Cd" type="CashSettlementSystem2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClassificationType33Choice">
        <xs:choice>
            <xs:element name="ClssfctnFinInstrm" type="CFIOct2015Identifier"/>
            <xs:element name="AltrnClssfctn" type="GenericIdentification86"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode32Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesSttlmTxAllgmtRpt" type="SecuritiesSettlementTransactionAllegementReport002V05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventFrequency4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentAttributes78">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MarketIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCntBsis" type="InterestComputationMethodFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnForm" type="FormOfSecurity7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="Frequency27Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSts" type="SecuritiesPaymentStatus6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateChngFrqcy" type="Frequency27Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnStyle" type="OptionStyle9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FltgRateFxgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCllblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstPmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="YldToMtrtyRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtIntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxRateBsis" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnAttchdNb" type="Number23Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolNb" type="GenericIdentification39"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CllblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktOrIndctvPric" type="PriceType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcPric" type="Price3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptPric" type="Price3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsPric" type="Price3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPric" type="Price3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinNmnlQty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctSz" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UndrlygFinInstrmId" type="SecurityIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrAddtlDtls" type="RestrictedFINXMax350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber"/>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms27">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="RsltgAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FormOfSecurity7Choice">
        <xs:choice>
            <xs:element name="Cd" type="FormOfSecurity1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Frequency26Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Frequency27Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency3Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification18">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax30Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification39">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINMax30Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="RestrictedFINMax8Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification84">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification85">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification86">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax30Text"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource4Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="RestrictedFINExact2Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType44Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InterestComputationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A014"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestComputationMethodFormat5Choice">
        <xs:choice>
            <xs:element name="Cd" type="InterestComputationMethod2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LegalFramework1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalFramework4Choice">
        <xs:choice>
            <xs:element name="Cd" type="LegalFramework1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketClientSide5Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketClientSideCode"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketClientSideCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAKT"/>
            <xs:enumeration value="CLNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification2Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="RestrictedFINXMax30Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification4Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="RestrictedFINXMax30Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification90">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification2Choice"/>
            <xs:element name="Tp" type="MarketType16Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketType16Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="VARI"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress12">
        <xs:sequence>
            <xs:element name="Nm" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Number23Choice">
        <xs:choice>
            <xs:element name="Shrt" type="Exact3NumericText"/>
            <xs:element name="Lng" type="GenericIdentification18"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Number3Choice">
        <xs:choice>
            <xs:element name="Shrt" type="Exact3NumericText"/>
            <xs:element name="Lng" type="Exact5NumericText"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionStyle2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionStyle9Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionStyle2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionType7Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherAmounts36">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="AmountAndDirection72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsFees" type="AmountAndDirection72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradAmt" type="AmountAndDirection72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctgBrkrAmt" type="AmountAndDirection72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclTax" type="AmountAndDirection72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclBrkrComssn" type="AmountAndDirection72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="AmountAndDirection72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDty" type="AmountAndDirection72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTax" type="AmountAndDirection72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTax" type="AmountAndDirection72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CsmptnTax" type="AmountAndDirection72"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherParties31">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Invstr" type="PartyIdentification110"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QlfdFrgnIntrmy" type="PartyIdentification111"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockXchg" type="PartyIdentification111"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradRgltr" type="PartyIdentification111"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="PartyIdentification111"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification103">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification58Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification104Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification109">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification114Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification110">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification115Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification111">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification114Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification115Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification58Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount131">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification104Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="RestrictedFINXMax350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="RestrictedFINXMax140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="RestrictedFINXMax350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PlaceOfClearingIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PlaceOfTradeIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MktTpAndId" type="MarketIdentification90"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="Price3">
        <xs:sequence>
            <xs:element name="Tp" type="YieldedOrValueType1Choice"/>
            <xs:element name="Val" type="PriceRateOrAmount1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmount1Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="RestrictedFINActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceType2Choice">
        <xs:choice>
            <xs:element name="Mkt" type="Price3"/>
            <xs:element name="Indctv" type="Price3"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QuantityAndAccount50">
        <xs:sequence>
            <xs:element name="SttlmQty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnChc" type="RestrictedFINXMax210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification6Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="QtyBrkdwn" type="QuantityBreakdown38"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafeKeepingPlace2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityBreakdown38">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LotNb" type="GenericIdentification39"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotQty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotPric" type="Price3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TpOfPric" type="TypeOfPrice32Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateName2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="RestrictedFINXMax8Text"/>
            <xs:element name="RateNm" type="RestrictedFINXMax24Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIXE"/>
            <xs:enumeration value="FORF"/>
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateType67Choice">
        <xs:choice>
            <xs:element name="Cd" type="RateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI"/>
            <xs:enumeration value="RECE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Registration11Choice">
        <xs:choice>
            <xs:element name="Cd" type="Registration1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Registration1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NREG"/>
            <xs:enumeration value="YREG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RepurchaseType17Choice">
        <xs:choice>
            <xs:element name="Cd" type="RepurchaseType6Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RepurchaseType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CADJ"/>
            <xs:enumeration value="TOPU"/>
            <xs:enumeration value="WTHD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINExact2Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="XX|TS"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax30Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax8Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINX2Max34Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax210Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,210}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax24Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="24"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax30Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax8Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,8}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafeKeepingPlace2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlcFrmt" type="SafekeepingPlaceFormat17Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat17Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText15"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification85"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText15">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount27">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesFinancingTransactionDetails34">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesFincgTradId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsgLegId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDt" type="TerminationDate5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateTp" type="RateType67Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglFrmwk" type="LegalFramework4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDtMod" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstPmt" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateSpprt" type="RateName2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RpRate" type="Rate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxCallDely" type="Exact3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="AmountAndDirection59"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnTxAmt" type="AmountAndDirection59"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndLegNrrtv" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesPaymentStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="NILL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesPaymentStatus6Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesPaymentStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesRTGS5Choice">
        <xs:choice>
            <xs:element name="Ind" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesSettlementTransactionAllegementReport002V05">
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination"/>
            <xs:element name="StmtGnlDtls" type="Statement53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification109"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount27"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AllgmtDtls" type="SecuritiesTradeDetails61"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTradeDetails61">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CollTxId" type="RestrictedFINXMax16Text"/>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code"/>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="AllegementStatus4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfTrad" type="PlaceOfTradeIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfClr" type="PlaceOfClearingIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate6Choice"/>
            <xs:element name="SttlmDt" type="SettlementDate12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealPric" type="Price3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDaysAcrd" type="Max3Number"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrbts" type="FinancialInstrumentAttributes78"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradTxCond" type="TradeTransactionCondition6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TpOfPric" type="TypeOfPrice32Choice"/>
            <xs:element name="QtyAndAcctDtls" type="QuantityAndAccount50"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesFincgDtls" type="SecuritiesFinancingTransactionDetails34"/>
            <xs:element name="SttlmParams" type="SettlementDetails108"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="AmountAndDirection71"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAmts" type="OtherAmounts36"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrBizPties" type="OtherParties31"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesTransactionType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNCB"/>
            <xs:enumeration value="BSBK"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="NETT"/>
            <xs:enumeration value="OWNE"/>
            <xs:enumeration value="OWNI"/>
            <xs:enumeration value="PAIR"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PORT"/>
            <xs:enumeration value="REAL"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="REPU"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SECB"/>
            <xs:enumeration value="SECL"/>
            <xs:enumeration value="SUBS"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="TRPO"/>
            <xs:enumeration value="TRVO"/>
            <xs:enumeration value="TURN"/>
            <xs:enumeration value="AUTO"/>
            <xs:enumeration value="CLAI"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="ETFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesTransactionType22Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesTransactionType10Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification20">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate12Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="SettlementDateCode9Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementDate4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WISS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementDateCode9Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementDate4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDetails108">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="HldInd" type="YesNoIndicator"/>
            <xs:element name="SctiesTxTp" type="SecuritiesTransactionType22Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmTxCond" type="SettlementTransactionCondition26Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlSttlmInd" type="SettlementTransactionCondition5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfclOwnrsh" type="BeneficialOwnership5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshClrSys" type="CashSettlementSystem5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClntSd" type="MarketClientSide5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Regn" type="Registration11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RpTp" type="RepurchaseType17Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesRTGS" type="SecuritiesRTGS5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyTaxBsis" type="GenericIdentification47"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties44">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification103"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount131"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount131"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount131"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount131"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount131"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTransactionCondition26Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementTransactionCondition4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLEN"/>
            <xs:enumeration value="DIRT"/>
            <xs:enumeration value="DLWM"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="SPDL"/>
            <xs:enumeration value="SPST"/>
            <xs:enumeration value="NOMC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SettlementTransactionCondition5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NPAR"/>
            <xs:enumeration value="PARC"/>
            <xs:enumeration value="PARQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Statement53">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptNb" type="Number3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryRef" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtId" type="RestrictedFINXMax16Text"/>
            <xs:element name="StmtDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frqcy" type="Frequency26Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdTp" type="UpdateType16Choice"/>
            <xs:element name="ActvtyInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TerminationDate5Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="Cd" type="DateCode32Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeDate6Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="TradeDateCode4Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeDateCode4Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TradeTransactionCondition4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBNS"/>
            <xs:enumeration value="XBNS"/>
            <xs:enumeration value="CCPN"/>
            <xs:enumeration value="XCPN"/>
            <xs:enumeration value="CDIV"/>
            <xs:enumeration value="XDIV"/>
            <xs:enumeration value="CRTS"/>
            <xs:enumeration value="XRTS"/>
            <xs:enumeration value="CWAR"/>
            <xs:enumeration value="XWAR"/>
            <xs:enumeration value="SPCU"/>
            <xs:enumeration value="SPEX"/>
            <xs:enumeration value="GTDL"/>
            <xs:enumeration value="BCRO"/>
            <xs:enumeration value="BCRP"/>
            <xs:enumeration value="BCFD"/>
            <xs:enumeration value="BCBL"/>
            <xs:enumeration value="BCBN"/>
            <xs:enumeration value="MAPR"/>
            <xs:enumeration value="NEGO"/>
            <xs:enumeration value="NMPR"/>
            <xs:enumeration value="BCPD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeTransactionCondition6Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeTransactionCondition4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPrice14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AVER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TypeOfPrice32Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfPrice14Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UpdateType16Choice">
        <xs:choice>
            <xs:element name="Cd" type="StatementUpdateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="YieldedOrValueType1Choice">
        <xs:choice>
            <xs:element name="Yldd" type="YesNoIndicator"/>
            <xs:element name="ValTp" type="PriceValueType1Code"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
