Iso20022.UnitTest/Resources/Semt/semt.021.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.0.2.1) on 2010 Jan 04 12:08:31--><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.021.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.021.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgementReason2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="AcknowledgementReason5Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RepoCallAcknowledgementReason2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="NSTP"/>
            <xs:enumeration value="RQWV"/>
            <xs:enumeration value="LATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalQueryParameters1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="Status1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="Reason1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmId" type="SecurityIdentification11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AffirmationStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="AffirmationStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AffirmationStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFFI"/>
            <xs:enumeration value="NAFI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AllocationSatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="AllocationStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AllocationStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AOLF"/>
            <xs:enumeration value="AOLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationProcessingStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CancellationProcessingStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancellationProcessingStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAND"/>
            <xs:enumeration value="CANP"/>
            <xs:enumeration value="DEND"/>
            <xs:enumeration value="EXCH"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="PARF"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="REPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationReason4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CancelledStatusReason10Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CANS"/>
            <xs:enumeration value="CSUB"/>
            <xs:enumeration value="CXLR"/>
            <xs:enumeration value="CANT"/>
            <xs:enumeration value="CANZ"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="SCEX"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CANO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU"/>
            <xs:enumeration value="COPY"/>
            <xs:enumeration value="DUPL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventProcessingStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionEventProcessingStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventProcessingStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="RECD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventStage1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionEventStage2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventStage2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PWAL"/>
            <xs:enumeration value="SUAP"/>
            <xs:enumeration value="APPD"/>
            <xs:enumeration value="UNAC"/>
            <xs:enumeration value="WHOU"/>
            <xs:enumeration value="CLDE"/>
            <xs:enumeration value="LAPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndPeriod1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="StmtDt" type="DateAndDateTimeChoice"/>
                <xs:element name="StmtPrd" type="Period2Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeniedReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DeniedReason5Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DeniedReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DCAL"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DFOR"/>
            <xs:enumeration value="DPRG"/>
            <xs:enumeration value="DREP"/>
            <xs:enumeration value="DSET"/>
            <xs:enumeration value="IPNC"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="CDRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesStmtQry" type="SecuritiesStatementQueryV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber1">
        <xs:sequence>
            <xs:element name="Nb" type="DocumentNumber1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ShrtNb" type="Exact3NumericText"/>
                <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
                <xs:element name="PrtryNb" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="XtnsnEnvlp" type="ExtensionEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExtensionEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailingReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="FailingReason1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FailingReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="BYIY"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CANR"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="OBJT"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="STCD"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="MLAT"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Frequency4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="EventFrequency4Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GeneratedReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="RODE"/>
            <xs:enumeration value="SPLI"/>
            <xs:enumeration value="THRD"/>
            <xs:enumeration value="TRAN"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GeneratedReasons1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="GeneratedReason2Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dmst" type="CountryCode"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InstructionProcessingStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAN1"/>
            <xs:enumeration value="CAN2"/>
            <xs:enumeration value="CAN3"/>
            <xs:enumeration value="CAND"/>
            <xs:enumeration value="CANO"/>
            <xs:enumeration value="CANP"/>
            <xs:enumeration value="CGEN"/>
            <xs:enumeration value="COSE"/>
            <xs:enumeration value="CPRC"/>
            <xs:enumeration value="DFLA"/>
            <xs:enumeration value="DONE"/>
            <xs:enumeration value="DONF"/>
            <xs:enumeration value="EXCH"/>
            <xs:enumeration value="EXSE"/>
            <xs:enumeration value="FORC"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="NOTC"/>
            <xs:enumeration value="OPOD"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="PAFI"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="PPRC"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="REPR"/>
            <xs:enumeration value="SESE"/>
            <xs:enumeration value="STIN"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="UNDE"/>
            <xs:enumeration value="MPRC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstructionProcessingStatus2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="InstructionProcessingStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MatchingStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="MatchingStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MatchingStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACH"/>
            <xs:enumeration value="NMAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification10Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification13Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingCancellationReasons2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PendingReason7Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingProcessingReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PendingProcessingReason1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingProcessingReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="NEXT"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="CERT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PendingReason6Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PendingReason3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="REFU"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="TAMM"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="MCER"/>
            <xs:enumeration value="NPAY"/>
            <xs:enumeration value="NSEC"/>
            <xs:enumeration value="PENR"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="VLDA"/>
            <xs:enumeration value="PRSY"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PendingReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PendingReason7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DQUA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDtTmToDtTm" type="DateTimePeriodDetails"/>
                <xs:element name="FrDtToDt" type="Period2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="RepoCallAckRsn" type="AcknowledgementReason3Choice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="CxlRsn" type="CancellationReason4Choice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="PdgCxlRsn" type="PendingCancellationReasons2Choice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="GnrtdRsn" type="GeneratedReasons1Choice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="DndRsn" type="DeniedReason1Choice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="AckdAccptdRsn" type="AcknowledgementReason2Choice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="PdgRsn" type="PendingReason3Choice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="FlngRsn" type="FailingReason1Choice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="PdgPrcgRsn" type="PendingProcessingReason1Choice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="RjctnRsn" type="RejectionReason5Choice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="RprRsn" type="RepairReason3Choice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="PdgModRsn" type="PendingReason2Choice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="UmtchdRsn" type="UnmatchedReason2Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegistrationProcessingStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RegistrationProcessingStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RegistrationProcessingStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="REJT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectionReason16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DADR"/>
            <xs:enumeration value="INIR"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTV"/>
            <xs:enumeration value="INVA"/>
            <xs:enumeration value="REFT"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="NMTY"/>
            <xs:enumeration value="OPNM"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="OPTY"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DPRG"/>
            <xs:enumeration value="EVNM"/>
            <xs:enumeration value="STAT"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="SHAR"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="NRGM"/>
            <xs:enumeration value="MLEG"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CADE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="OWNT"/>
            <xs:enumeration value="NRGN"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="REQW"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="REPA"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="REPP"/>
            <xs:enumeration value="RREA"/>
            <xs:enumeration value="REQM"/>
            <xs:enumeration value="RERT"/>
            <xs:enumeration value="RSPR"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="INNA"/>
            <xs:enumeration value="ICOL"/>
            <xs:enumeration value="BPAR"/>
            <xs:enumeration value="BREF"/>
            <xs:enumeration value="BUSE"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="COMC"/>
            <xs:enumeration value="CONL"/>
            <xs:enumeration value="CPTY"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="DISE"/>
            <xs:enumeration value="DORD"/>
            <xs:enumeration value="FEEE"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="VASU"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="FORF"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="IEXE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RejectionReason16Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RepairReason3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RepairReason5Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RepairReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="REPA"/>
            <xs:enumeration value="CADE"/>
            <xs:enumeration value="RERT"/>
            <xs:enumeration value="RSPR"/>
            <xs:enumeration value="VASU"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="REPP"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="FORF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReplacementProcessingStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ReplacementProcessingStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReplacementProcessingStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEND"/>
            <xs:enumeration value="EXCH"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="REPL"/>
            <xs:enumeration value="REPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RepoCallAcknowledgementReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALD"/>
            <xs:enumeration value="CALP"/>
            <xs:enumeration value="ADEA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RepoCallRequestStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RepoCallRequestStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RepoCallRequestStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CACK"/>
            <xs:enumeration value="DEND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ResponseStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResponseStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACCT"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="SUBR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesSettlementStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="PENF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesStatementQueryV01">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification11"/>
            <xs:element name="StmtReqd" type="DocumentNumber1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtGnlDtls" type="Statement16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification13Choice"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlQryParams" type="AdditionalQueryParameters1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgOrgtr" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgRcpt" type="PartyIdentification10Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesStatementType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ACCT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification11">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification11Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier"/>
                <xs:element name="OthrId" type="AlternateIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementConditionModificationStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SettlementConditionModificationStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementConditionModificationStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="MODP"/>
            <xs:enumeration value="DEND"/>
            <xs:enumeration value="MODC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SecuritiesSettlementStatus1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Statement16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtDtOrPrd" type="DateAndPeriod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frqcy" type="Frequency4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdTp" type="UpdateType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtBsis" type="StatementBasis3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtTp" type="StatementType2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONT"/>
            <xs:enumeration value="SETT"/>
            <xs:enumeration value="TRAD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatementBasis3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="StatementBasis1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatementType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SecuritiesStatementType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Status1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AffirmSts" type="AffirmationStatus1Choice"/>
                <xs:element name="AllcnSts" type="AllocationSatus1Choice"/>
                <xs:element name="RepoCallReqSts" type="RepoCallRequestStatus1Choice"/>
                <xs:element name="CorpActnEvtPrcgSts" type="CorporateActionEventProcessingStatus1Choice"/>
                <xs:element name="CorpActnEvtStag" type="CorporateActionEventStage1Choice"/>
                <xs:element name="IfrrdMtchgSts" type="MatchingStatus1Choice"/>
                <xs:element name="InstrPrcgSts" type="InstructionProcessingStatus2Choice"/>
                <xs:element name="MtchgSts" type="MatchingStatus1Choice"/>
                <xs:element name="RegnPrcgSts" type="RegistrationProcessingStatus1Choice"/>
                <xs:element name="RspnSts" type="ResponseStatus1Choice"/>
                <xs:element name="RplcmntPrcgSts" type="ReplacementProcessingStatus1Choice"/>
                <xs:element name="CxlPrcgSts" type="CancellationProcessingStatus1Choice"/>
                <xs:element name="SttlmSts" type="SettlementStatus1Choice"/>
                <xs:element name="SttlmCondModSts" type="SettlementConditionModificationStatus1Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnmatchedReason2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="UnmatchedReason3Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnmatchedReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CMIS"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DELN"/>
            <xs:enumeration value="DEAL"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="CADE"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="VASU"/>
            <xs:enumeration value="DTRA"/>
            <xs:enumeration value="RSPR"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="RERT"/>
            <xs:enumeration value="REPA"/>
            <xs:enumeration value="REPP"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="FRAP"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="PODU"/>
            <xs:enumeration value="FORF"/>
            <xs:enumeration value="EXEC"/>
            <xs:enumeration value="REGD"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="CPCA"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="MCAN"/>
            <xs:enumeration value="LEOG"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="MIME"/>
            <xs:enumeration value="UNBR"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UpdateType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="StatementUpdateType1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
