Iso20022.UnitTest/Resources/Semt/semt.005.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.0.0.60) on 2004 Nov 03 14:01:25-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:xsd:semt.005.001.01" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:xsd:semt.005.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="Account1">
<xs:sequence>
<xs:element name="Id" type="AccountIdentification1" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctSvcr" type="PartyIdentification1Choice"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentification1">
<xs:sequence>
<xs:element name="Prtry" type="SimpleIdentificationInformation"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentification3">
<xs:sequence>
<xs:element name="Id" type="AccountIdentification1"/>
<xs:element name="Issr" type="Max8Text"/>
<xs:element name="Inf" type="Exact4AlphaNumericText"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentificationAndPurpose">
<xs:sequence>
<xs:element name="Id" type="AccountIdentification1"/>
<xs:element name="Purp" type="SecuritiesAccountPurposeType1Code"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentificationFormatChoice">
<xs:sequence>
<xs:choice>
<xs:element name="SmplId" type="AccountIdentification1"/>
<xs:element name="IdAndPurp" type="AccountIdentificationAndPurpose"/>
<xs:element name="IdAsDSS" type="AccountIdentification3"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountingStatementOfHoldings1">
<xs:sequence>
<xs:element name="MsgPgntn" type="Pagination"/>
<xs:element name="StmtGnlDtls" type="Statement4" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctDtls" type="SafekeepingAccount1" minOccurs="0" maxOccurs="1"/>
<xs:element name="BalForAcct" type="AggregateBalanceInformation2" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SubAcctDtls" type="SubAccountIdentification2" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="TtlVals" type="TotalValueInPageAndStatement" minOccurs="0" maxOccurs="1"/>
<xs:element name="Xtnsn" type="Extension1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveCurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="ActiveCurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="13"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
<xs:simpleContent>
<xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveOrHistoricCurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AdditionalBalanceInformation">
<xs:sequence>
<xs:element name="Qty" type="SubBalanceQuantity1Choice"/>
<xs:element name="SubBalTp" type="SecuritiesBalanceType2Code"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AdditionalReference2">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="RefIssr" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="MsgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AggregateBalanceInformation2">
<xs:sequence>
<xs:element name="AggtQty" type="BalanceQuantity1Choice"/>
<xs:element name="DaysAcrd" type="Number" minOccurs="0" maxOccurs="1"/>
<xs:element name="HldgVal" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="AcrdIntrstAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="BookVal" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="SfkpgPlc" type="SafekeepingPlaceFormatChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="FinInstrmDtls" type="FinancialInstrument4"/>
<xs:element name="PricDtls" type="PriceInformation1" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="FrgnXchgDtls" type="ForeignExchangeTerms3" minOccurs="0" maxOccurs="1"/>
<xs:element name="BalBrkdwnDtls" type="SubBalanceInformation1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="AddtlBalBrkdwnDtls" type="AdditionalBalanceInformation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="BalAtSfkpgPlc" type="AggregateBalancePerSafekeepingPlace2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AggregateBalancePerSafekeepingPlace2">
<xs:sequence>
<xs:element name="AggtBal" type="BalanceQuantity1Choice"/>
<xs:element name="DaysAcrd" type="Number" minOccurs="0" maxOccurs="1"/>
<xs:element name="HldgVal" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="AcrdIntrstAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="BookVal" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="SfkpgPlc" type="SafekeepingPlaceFormatChoice"/>
<xs:element name="PricDtls" type="PriceInformation1" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="FrgnXchgDtls" type="ForeignExchangeTerms3" minOccurs="0" maxOccurs="1"/>
<xs:element name="BalBrkdwnDtls" type="SubBalanceInformation1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="AddtlBalBrkdwnDtls" type="AdditionalBalanceInformation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AlternateSecurityIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:choice>
<xs:element name="DmstIdSrc" type="CountryCode"/>
<xs:element name="PrtryIdSrc" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="BalanceQuantity1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Qty" type="FinancialInstrumentQuantityChoice"/>
<xs:element name="QtyAsDSS" type="GenericIdentification6"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="BaseOneRate">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="10"/>
<xs:totalDigits value="11"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BloombergIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateAndDateTimeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Dt" type="ISODate"/>
<xs:element name="DtTm" type="ISODateTime"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DecimalNumber">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="17"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="DistributionPolicy1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DIST"/>
<xs:enumeration value="ACCU"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="semt.005.001.01" type="semt.005.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="EuroclearClearstreamIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="Exact4AlphaNumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{4}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Extension1">
<xs:sequence>
<xs:element name="PlcAndNm" type="Max350Text"/>
<xs:element name="Txt" type="Max350Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstrument4">
<xs:sequence>
<xs:element name="Id" type="SecurityIdentification1Choice"/>
<xs:element name="Nm" type="Max350Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SplmtryId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SctiesForm" type="FormOfSecurity1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="ClssTp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="DstrbtnPlcy" type="DistributionPolicy1Code" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstrumentQuantityChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Unit" type="DecimalNumber"/>
<xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
<xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ForeignExchangeTerms3">
<xs:sequence>
<xs:element name="UnitCcy" type="CurrencyCode"/>
<xs:element name="QtdCcy" type="CurrencyCode"/>
<xs:element name="XchgRate" type="BaseOneRate"/>
<xs:element name="QtnDt" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
<xs:element name="QtgInstn" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="FormOfSecurity1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BEAR"/>
<xs:enumeration value="REGD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Frequency1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="YEAR"/>
<xs:enumeration value="MNTH"/>
<xs:enumeration value="QURT"/>
<xs:enumeration value="MIAN"/>
<xs:enumeration value="WEEK"/>
<xs:enumeration value="DAIL"/>
<xs:enumeration value="ADHO"/>
<xs:enumeration value="INDA"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="FrequencyCodeAndDSSCodeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="FrqcyAsCd" type="Frequency1Code"/>
<xs:element name="FrqcyAsDSS" type="GenericIdentification7"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification5">
<xs:sequence>
<xs:element name="Issr" type="Max8Text"/>
<xs:element name="Inf" type="Exact4AlphaNumericText"/>
<xs:element name="Nrrtv" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification6">
<xs:sequence>
<xs:element name="Issr" type="Max8Text"/>
<xs:element name="Inf" type="Exact4AlphaNumericText"/>
<xs:element name="Bal" type="Number"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification7">
<xs:sequence>
<xs:element name="Issr" type="Max8Text"/>
<xs:element name="Inf" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISINIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="ImpliedCurrencyAndAmount">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Intermediary1">
<xs:sequence>
<xs:element name="Id" type="PartyIdentification1Choice"/>
<xs:element name="Acct" type="Account1" minOccurs="0" maxOccurs="1"/>
<xs:element name="Role" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LongPostalAddress1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Ustrd" type="Max140Text"/>
<xs:element name="Strd" type="StructuredLongPostalAddress1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="MICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z0-9]{4,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max350Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="350"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max5NumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max8Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="8"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="NameAndAddress2">
<xs:sequence>
<xs:element name="Nm" type="Max35Text"/>
<xs:element name="Adr" type="LongPostalAddress1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Number">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="0"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Pagination">
<xs:sequence>
<xs:element name="PgNb" type="Max5NumericText"/>
<xs:element name="LastPgInd" type="YesNoIndicator"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
<xs:element name="PrtryId" type="GenericIdentification1"/>
<xs:element name="NmAndAdr" type="NameAndAddress2"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentification3">
<xs:sequence>
<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PercentageRate">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="10"/>
<xs:totalDigits value="11"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PriceInformation1">
<xs:sequence>
<xs:element name="Val" type="PriceRateOrAmountOrUnknownChoice"/>
<xs:element name="ValTp" type="PriceValueType2Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="Tp" type="TypeOfPrice5Code"/>
<xs:element name="SrcOfPric" type="PriceSourceFormatChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="QtnDt" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="Yldd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PriceRateOrAmountOrUnknownChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Rate" type="PercentageRate"/>
<xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
<xs:element name="UknwnInd" type="YesNoIndicator"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PriceSource">
<xs:sequence>
<xs:element name="PricSrc" type="PriceSource1Code"/>
<xs:element name="Nrrtv" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PriceSource1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="FUND"/>
<xs:enumeration value="THEO"/>
<xs:enumeration value="VEND"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PriceSourceFormatChoice">
<xs:sequence>
<xs:choice>
<xs:element name="LclMktPlc" type="MICIdentifier"/>
<xs:element name="NonLclMktPlc" type="PriceSource"/>
<xs:element name="PlcAsDSS" type="GenericIdentification5"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PriceValueType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DISC"/>
<xs:enumeration value="PREM"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="QuantityAndAvailability">
<xs:sequence>
<xs:element name="Qty" type="FinancialInstrumentQuantityChoice"/>
<xs:element name="AvlbtyInd" type="YesNoIndicator"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="RICIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:complexType name="SafekeepingAccount1">
<xs:sequence>
<xs:element name="Id" type="AccountIdentificationFormatChoice"/>
<xs:element name="FngbInd" type="YesNoIndicator"/>
<xs:element name="Nm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Dsgnt" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="IntrmyInf" type="Intermediary1" minOccurs="0" maxOccurs="10"/>
<xs:element name="AcctOwnr" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctSvcr" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SafekeepingPlace1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CUST"/>
<xs:enumeration value="ICSD"/>
<xs:enumeration value="NCSD"/>
<xs:enumeration value="SHHE"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SafekeepingPlaceAsCodeAndPartyIdentification">
<xs:sequence>
<xs:element name="PlcSfkpg" type="SafekeepingPlace1Code"/>
<xs:element name="Nrrtv" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Pty" type="PartyIdentification3" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SafekeepingPlaceFormatChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Id" type="SafekeepingPlaceAsCodeAndPartyIdentification"/>
<xs:element name="IdAsDSS" type="GenericIdentification5"/>
<xs:element name="IdAsCtry" type="CountryCode"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SecuritiesAccountPurposeType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="MARG"/>
<xs:enumeration value="SHOR"/>
<xs:enumeration value="ABRD"/>
<xs:enumeration value="CEND"/>
<xs:enumeration value="DVPA"/>
<xs:enumeration value="PHYS"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SecuritiesBalanceType1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Strd" type="SecuritiesBalanceType1Code"/>
<xs:element name="Ustrd" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SecuritiesBalanceType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BLOK"/>
<xs:enumeration value="BORR"/>
<xs:enumeration value="COLI"/>
<xs:enumeration value="COLO"/>
<xs:enumeration value="LOAN"/>
<xs:enumeration value="MARG"/>
<xs:enumeration value="PDMT"/>
<xs:enumeration value="PRMT"/>
<xs:enumeration value="PRUM"/>
<xs:enumeration value="PECA"/>
<xs:enumeration value="PEND"/>
<xs:enumeration value="PENR"/>
<xs:enumeration value="PLED"/>
<xs:enumeration value="PDUM"/>
<xs:enumeration value="REGO"/>
<xs:enumeration value="RSTR"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="TRAN"/>
<xs:enumeration value="DRAW"/>
<xs:enumeration value="WDOC"/>
<xs:enumeration value="BTRA"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SecuritiesBalanceType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CLEN"/>
<xs:enumeration value="DIRT"/>
<xs:enumeration value="NOMI"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="SPOS"/>
<xs:enumeration value="UNRG"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SecurityIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="ISIN" type="ISINIdentifier"/>
<xs:element name="AltrnId" type="AlternateSecurityIdentification1"/>
<xs:element name="RIC" type="RICIdentifier"/>
<xs:element name="TckrSymb" type="TickerIdentifier"/>
<xs:element name="Blmbrg" type="BloombergIdentifier"/>
<xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
<xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Statement4">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="StmtDtTm" type="DateAndDateTimeChoice"/>
<xs:element name="CreDtTm" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="Frqcy" type="FrequencyCodeAndDSSCodeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="UpdTp" type="StatementUpdateTypeCodeAndDSSCodeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="ActvtyInd" type="YesNoIndicator"/>
<xs:element name="StmtBsis" type="StatementBasisCodeAndDSSCodeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="RptNb" type="Max5NumericText" minOccurs="0" maxOccurs="1"/>
<xs:element name="AudtdInd" type="YesNoIndicator"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="StatementBasis1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CONT"/>
<xs:enumeration value="SETT"/>
<xs:enumeration value="TRAD"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="StatementBasisCodeAndDSSCodeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="StmtBsisAsCd" type="StatementBasis1Code"/>
<xs:element name="StmtBsisAsDSS" type="GenericIdentification7"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="StatementUpdateTypeCode">
<xs:restriction base="xs:string">
<xs:enumeration value="COMP"/>
<xs:enumeration value="DELT"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="StatementUpdateTypeCodeAndDSSCodeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="StmtUpdTpAsCd" type="StatementUpdateTypeCode"/>
<xs:element name="StmtUpdTpAsDSS" type="GenericIdentification7"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StructuredLongPostalAddress1">
<xs:sequence>
<xs:element name="BldgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="StrtNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="StrtBldgId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Flr" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TwnNm" type="Max35Text"/>
<xs:element name="DstrctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="RgnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Stat" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtyId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
<xs:element name="PstCdId" type="Max16Text"/>
<xs:element name="POB" type="Max16Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubAccountIdentification2">
<xs:sequence>
<xs:element name="Id" type="AccountIdentificationFormatChoice"/>
<xs:element name="FngbInd" type="YesNoIndicator"/>
<xs:element name="ActvtyInd" type="YesNoIndicator"/>
<xs:element name="BalForSubAcct" type="AggregateBalanceInformation2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubBalanceInformation1">
<xs:sequence>
<xs:element name="Qty" type="SubBalanceQuantity1Choice"/>
<xs:element name="SubBalTp" type="SecuritiesBalanceType1Choice"/>
<xs:element name="AddtlBalBrkdwnDtls" type="AdditionalBalanceInformation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubBalanceQuantity1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Qty" type="FinancialInstrumentQuantityChoice"/>
<xs:element name="QtyAsDSS" type="GenericIdentification6"/>
<xs:element name="QtyAndAvlbty" type="QuantityAndAvailability"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TickerIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="TotalValueInPageAndStatement">
<xs:sequence>
<xs:element name="TtlHldgsValOfPg" type="ActiveCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="TtlHldgsValOfStmt" type="ActiveCurrencyAndAmount"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TypeOfPrice5Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BIDE"/>
<xs:enumeration value="OFFR"/>
<xs:enumeration value="NAVL"/>
<xs:enumeration value="CREA"/>
<xs:enumeration value="CANC"/>
<xs:enumeration value="INTE"/>
<xs:enumeration value="SWNG"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="MIDD"/>
<xs:enumeration value="RINV"/>
<xs:enumeration value="SWIC"/>
<xs:enumeration value="MRKT"/>
<xs:enumeration value="INDC"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="semt.005.001.01">
<xs:sequence>
<xs:element name="PrvsRef" type="AdditionalReference2"/>
<xs:element name="RltdRef" type="AdditionalReference2" minOccurs="0" maxOccurs="1"/>
<xs:element name="MsgPgntn" type="Pagination"/>
<xs:element name="StmtToBeCanc" type="AccountingStatementOfHoldings1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
