Iso20022.UnitTest/Resources/Semt/semt.022.002.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 08 11:54:16, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.022.002.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.022.002.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus25Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcknowledgementReason13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgedAcceptedStatus30Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcknowledgementReason18"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgedAcceptedStatus31Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcknowledgementReason19"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason13">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason16Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason16Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason18">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason21Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason19">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason22Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason21Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason22Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason3Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AcknowledgementReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="NSTP"/>
            <xs:enumeration value="RQWV"/>
            <xs:enumeration value="LATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AcknowledgementReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="NSTP"/>
            <xs:enumeration value="LATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationReason14">
        <xs:sequence>
            <xs:element name="Cd" type="CancellationReason24Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationReason18">
        <xs:sequence>
            <xs:element name="Cd" type="CancellationReason28Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationReason24Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason13Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationReason28Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationStatus17Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancellationReason14"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationStatus20Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancellationReason18"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CANS"/>
            <xs:enumeration value="CSUB"/>
            <xs:enumeration value="CXLR"/>
            <xs:enumeration value="CANT"/>
            <xs:enumeration value="CANZ"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="SCEX"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancelledStatusReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeniedReason16">
        <xs:sequence>
            <xs:element name="Cd" type="DeniedReason21Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeniedReason17">
        <xs:sequence>
            <xs:element name="Cd" type="DeniedReason24Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeniedReason21Choice">
        <xs:choice>
            <xs:element name="Cd" type="DeniedReason4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DeniedReason24Choice">
        <xs:choice>
            <xs:element name="Cd" type="DeniedReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DeniedReason4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DPRG"/>
            <xs:enumeration value="DREP"/>
            <xs:enumeration value="DSET"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeniedReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DSET"/>
            <xs:enumeration value="DPRG"/>
            <xs:enumeration value="DREP"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeniedStatus19Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="DeniedReason17"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DeniedStatus21Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="DeniedReason16"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesSttlmTxAudtTrlRpt" type="SecuritiesSettlementTransactionAuditTrailReport002V03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingReason10">
        <xs:sequence>
            <xs:element name="Cd" type="FailingReason11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailingReason11Choice">
        <xs:choice>
            <xs:element name="Cd" type="FailingReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FailingReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="BYIY"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CANR"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="OBJT"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="STCD"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="MLAT"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingStatus12Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="FailingReason10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification84">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="RestrictedFINXMax35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="Identification16">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MatchingStatus30Choice">
        <xs:choice>
            <xs:element name="Mtchd" type="ProprietaryReason5"/>
            <xs:element name="Umtchd" type="UnmatchedStatus20Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason7"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ModificationProcessingStatus8Choice">
        <xs:choice>
            <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus30Choice"/>
            <xs:element name="PdgPrcg" type="PendingProcessingStatus16Choice"/>
            <xs:element name="Dnd" type="DeniedStatus19Choice"/>
            <xs:element name="Rjctd" type="RejectionStatus24Choice"/>
            <xs:element name="Rprd" type="RepairStatus17Choice"/>
            <xs:element name="Modfd" type="ModificationStatus5Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ModificationReason5">
        <xs:sequence>
            <xs:element name="Cd" type="ModificationReason5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ModificationReason5Choice">
        <xs:choice>
            <xs:element name="Cd" type="ModifiedStatusReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ModificationStatus5Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="ModificationReason5"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ModifiedStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MDBY"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="RestrictedFINXMax35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification109">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification114Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification114Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingProcessingReason12">
        <xs:sequence>
            <xs:element name="Cd" type="PendingProcessingReason14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingProcessingReason13">
        <xs:sequence>
            <xs:element name="Cd" type="PendingProcessingReason15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingProcessingReason14Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingProcessingReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingProcessingReason15Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingProcessingReason3Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingProcessingReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="NEXT"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="CDEL"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="CDAC"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PendingProcessingReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="NEXT"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="CERT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingProcessingStatus15Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingProcessingReason12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingProcessingStatus16Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingProcessingReason13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingReason20">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason37Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason24">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason41Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason25">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason42Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="REFU"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="TAMM"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason37Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingReason41Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingReason42Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason9Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PendingReason9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="CDAC"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingStatus46Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatus50Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason24"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatus51Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason25"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus60Choice">
        <xs:choice>
            <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus25Choice"/>
            <xs:element name="PdgPrcg" type="PendingProcessingStatus15Choice"/>
            <xs:element name="Rjctd" type="RejectionStatus23Choice"/>
            <xs:element name="Rpr" type="RepairStatus16Choice"/>
            <xs:element name="Canc" type="CancellationStatus17Choice"/>
            <xs:element name="PdgCxl" type="PendingStatus46Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason7"/>
            <xs:element name="CxlReqd" type="ProprietaryReason5"/>
            <xs:element name="ModReqd" type="ProprietaryReason5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus61Choice">
        <xs:choice>
            <xs:element name="PdgCxl" type="PendingStatus51Choice"/>
            <xs:element name="Rjctd" type="RejectionOrRepairStatus35Choice"/>
            <xs:element name="Rpr" type="RejectionOrRepairStatus34Choice"/>
            <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus31Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason7"/>
            <xs:element name="Dnd" type="DeniedStatus21Choice"/>
            <xs:element name="Canc" type="CancellationStatus20Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason7">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification47"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason28Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason27Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason29Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason32Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason28">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionAndRepairReason28Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason29">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionAndRepairReason29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus34Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionOrRepairReason28"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus35Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionOrRepairReason29"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectionReason27Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="NRGM"/>
            <xs:enumeration value="NRGN"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="INVM"/>
            <xs:enumeration value="INVL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason30Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason30Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectionReason30Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="INVB"/>
            <xs:enumeration value="INVL"/>
            <xs:enumeration value="INVN"/>
            <xs:enumeration value="VALR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason31Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason31Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectionReason31Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="INVL"/>
            <xs:enumeration value="INVB"/>
            <xs:enumeration value="INVN"/>
            <xs:enumeration value="VALR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectionReason32Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="NRGN"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="NRGM"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason36">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionReason30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReason37">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionReason31Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionStatus23Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionStatus24Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason37"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RepairReason12">
        <xs:sequence>
            <xs:element name="Cd" type="RepairReason14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RepairReason13">
        <xs:sequence>
            <xs:element name="Cd" type="RepairReason14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RepairReason14Choice">
        <xs:choice>
            <xs:element name="Cd" type="RepairReason4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RepairReason4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="ICUS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RepairStatus16Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RepairReason12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RepairStatus17Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RepairReason13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax210Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,210}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount27">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesSettlementTransactionAuditTrailReport002V03">
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryRef" type="Identification16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="TransactionIdentifications34"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification109"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="StsTrl" type="StatusTrail7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementStatus22Choice">
        <xs:choice>
            <xs:element name="Pdg" type="PendingStatus50Choice"/>
            <xs:element name="Flng" type="FailingStatus12Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StatusTrail7">
        <xs:sequence>
            <xs:element name="StsDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndgOrgId" type="OrganisationIdentification9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrId" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgSts" type="ProcessingStatus60Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IfrrdMtchgSts" type="MatchingStatus30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSts" type="MatchingStatus30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSts" type="SettlementStatus22Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ModPrcgSts" type="ModificationProcessingStatus8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlSts" type="ProcessingStatus61Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sttld" type="ProprietaryReason5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifications34">
        <xs:sequence>
            <xs:element name="AcctOwnrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="RestrictedFINXMax16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnmatchedReason12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="ACRU"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="CPCA"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="LEOG"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="MIME"/>
            <xs:enumeration value="CMIS"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="DTRA"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="FRAP"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="PODU"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="REGD"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="DELN"/>
            <xs:enumeration value="UNBR"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DMCT"/>
            <xs:enumeration value="DCMX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnmatchedReason19">
        <xs:sequence>
            <xs:element name="Cd" type="UnmatchedReason26Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnmatchedReason26Choice">
        <xs:choice>
            <xs:element name="Cd" type="UnmatchedReason12Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UnmatchedStatus20Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="UnmatchedReason19"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
