Iso20022.UnitTest/Resources/Semt/semt.022.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 08 11:45:21, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.022.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.022.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus21Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcknowledgementReason9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgedAcceptedStatus23Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcknowledgementReason11"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgedAcceptedStatus24Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcknowledgementReason12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason11">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason12">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason12Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason14Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason15Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AcknowledgementReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="NSTP"/>
            <xs:enumeration value="RQWV"/>
            <xs:enumeration value="LATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AcknowledgementReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="NSTP"/>
            <xs:enumeration value="LATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AcknowledgementReason9">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationReason10">
        <xs:sequence>
            <xs:element name="Cd" type="CancellationReason21Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationReason19Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason13Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationReason21Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationReason9">
        <xs:sequence>
            <xs:element name="Cd" type="CancellationReason19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationStatus14Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancellationReason9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationStatus15Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancellationReason10"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CANS"/>
            <xs:enumeration value="CSUB"/>
            <xs:enumeration value="CXLR"/>
            <xs:enumeration value="CANT"/>
            <xs:enumeration value="CANZ"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="SCEX"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancelledStatusReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeniedReason10">
        <xs:sequence>
            <xs:element name="Cd" type="DeniedReason15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeniedReason11">
        <xs:sequence>
            <xs:element name="Cd" type="DeniedReason16Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeniedReason15Choice">
        <xs:choice>
            <xs:element name="Cd" type="DeniedReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DeniedReason16Choice">
        <xs:choice>
            <xs:element name="Cd" type="DeniedReason4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DeniedReason4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DPRG"/>
            <xs:enumeration value="DREP"/>
            <xs:enumeration value="DSET"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeniedReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DSET"/>
            <xs:enumeration value="DPRG"/>
            <xs:enumeration value="DREP"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeniedStatus15Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="DeniedReason10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DeniedStatus16Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="DeniedReason11"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesSttlmTxAudtTrlRpt" type="SecuritiesSettlementTransactionAuditTrailReportV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FailingReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="BYIY"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CANR"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="OBJT"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="STCD"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="MLAT"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingReason8">
        <xs:sequence>
            <xs:element name="Cd" type="FailingReason8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailingReason8Choice">
        <xs:choice>
            <xs:element name="Cd" type="FailingReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FailingStatus10Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="FailingReason8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="Identification14">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MatchingStatus25Choice">
        <xs:choice>
            <xs:element name="Mtchd" type="ProprietaryReason4"/>
            <xs:element name="Umtchd" type="UnmatchedStatus17Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ModificationProcessingStatus7Choice">
        <xs:choice>
            <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus23Choice"/>
            <xs:element name="PdgPrcg" type="PendingProcessingStatus13Choice"/>
            <xs:element name="Dnd" type="DeniedStatus15Choice"/>
            <xs:element name="Rjctd" type="RejectionStatus18Choice"/>
            <xs:element name="Rprd" type="RepairStatus13Choice"/>
            <xs:element name="Modfd" type="ModificationStatus4Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ModificationReason4">
        <xs:sequence>
            <xs:element name="Cd" type="ModificationReason4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ModificationReason4Choice">
        <xs:choice>
            <xs:element name="Cd" type="ModifiedStatusReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ModificationStatus4Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="ModificationReason4"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ModifiedStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MDBY"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification92Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification98">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification92Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingProcessingReason10">
        <xs:sequence>
            <xs:element name="Cd" type="PendingProcessingReason12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingProcessingReason10Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingProcessingReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingProcessingReason12Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingProcessingReason3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingProcessingReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="NEXT"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="CDEL"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="CDAC"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PendingProcessingReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="NEXT"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="CERT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingProcessingReason8">
        <xs:sequence>
            <xs:element name="Cd" type="PendingProcessingReason10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingProcessingStatus11Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingProcessingReason8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingProcessingStatus13Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingProcessingReason10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingReason15">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason27Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason16">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason28Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason17">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason27Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingReason28Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="REFU"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="TAMM"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason30Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason9Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PendingReason9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="CDAC"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingStatus37Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason15"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatus38Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason16"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatus39Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason17"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus49Choice">
        <xs:choice>
            <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus21Choice"/>
            <xs:element name="PdgPrcg" type="PendingProcessingStatus11Choice"/>
            <xs:element name="Rjctd" type="RejectionStatus17Choice"/>
            <xs:element name="Rpr" type="RepairStatus12Choice"/>
            <xs:element name="Canc" type="CancellationStatus14Choice"/>
            <xs:element name="PdgCxl" type="PendingStatus38Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason6"/>
            <xs:element name="CxlReqd" type="ProprietaryReason4"/>
            <xs:element name="ModReqd" type="ProprietaryReason4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus53Choice">
        <xs:choice>
            <xs:element name="PdgCxl" type="PendingStatus39Choice"/>
            <xs:element name="Rjctd" type="RejectionOrRepairStatus30Choice"/>
            <xs:element name="Rpr" type="RejectionOrRepairStatus31Choice"/>
            <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus24Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason6"/>
            <xs:element name="Dnd" type="DeniedStatus16Choice"/>
            <xs:element name="Canc" type="CancellationStatus15Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason6">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason24Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason32Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason25Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason27Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason24">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionAndRepairReason24Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason25">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionAndRepairReason25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus30Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionOrRepairReason24"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus31Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionOrRepairReason25"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionReason23Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason30Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionReason24Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason31Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionReason25">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionReason23Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReason26">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionReason24Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason27Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="NRGM"/>
            <xs:enumeration value="NRGN"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="INVM"/>
            <xs:enumeration value="INVL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectionReason30Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="INVB"/>
            <xs:enumeration value="INVL"/>
            <xs:enumeration value="INVN"/>
            <xs:enumeration value="VALR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectionReason31Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="INVL"/>
            <xs:enumeration value="INVB"/>
            <xs:enumeration value="INVN"/>
            <xs:enumeration value="VALR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectionReason32Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="NRGN"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="NRGM"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionStatus17Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason25"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionStatus18Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason26"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RepairReason10Choice">
        <xs:choice>
            <xs:element name="Cd" type="RepairReason4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RepairReason4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="ICUS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RepairReason8">
        <xs:sequence>
            <xs:element name="Cd" type="RepairReason10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RepairReason9">
        <xs:sequence>
            <xs:element name="Cd" type="RepairReason10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RepairStatus12Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RepairReason8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RepairStatus13Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RepairReason9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount24">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesSettlementTransactionAuditTrailReportV03">
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryRef" type="Identification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="TransactionIdentifications29"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification98"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="StsTrl" type="StatusTrail6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementStatus17Choice">
        <xs:choice>
            <xs:element name="Pdg" type="PendingStatus37Choice"/>
            <xs:element name="Flng" type="FailingStatus10Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StatusTrail6">
        <xs:sequence>
            <xs:element name="StsDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndgOrgId" type="OrganisationIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgSts" type="ProcessingStatus49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IfrrdMtchgSts" type="MatchingStatus25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSts" type="MatchingStatus25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSts" type="SettlementStatus17Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ModPrcgSts" type="ModificationProcessingStatus7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlSts" type="ProcessingStatus53Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sttld" type="ProprietaryReason4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifications29">
        <xs:sequence>
            <xs:element name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnmatchedReason12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="ACRU"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="CPCA"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="LEOG"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="MIME"/>
            <xs:enumeration value="CMIS"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="DTRA"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="FRAP"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="PODU"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="REGD"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="DELN"/>
            <xs:enumeration value="UNBR"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DMCT"/>
            <xs:enumeration value="DCMX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnmatchedReason16">
        <xs:sequence>
            <xs:element name="Cd" type="UnmatchedReason23Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnmatchedReason23Choice">
        <xs:choice>
            <xs:element name="Cd" type="UnmatchedReason12Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UnmatchedStatus17Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="UnmatchedReason16"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
