Iso20022.UnitTest/Resources/Semt/semt.007.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.0.0.60) on 2004 Nov 03 14:01:25-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:xsd:semt.007.001.01" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:xsd:semt.007.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="Account1">
<xs:sequence>
<xs:element name="Id" type="AccountIdentification1" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctSvcr" type="PartyIdentification1Choice"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentification1">
<xs:sequence>
<xs:element name="Prtry" type="SimpleIdentificationInformation"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentification3">
<xs:sequence>
<xs:element name="Id" type="AccountIdentification1"/>
<xs:element name="Issr" type="Max8Text"/>
<xs:element name="Inf" type="Exact4AlphaNumericText"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentificationAndPurpose">
<xs:sequence>
<xs:element name="Id" type="AccountIdentification1"/>
<xs:element name="Purp" type="SecuritiesAccountPurposeType1Code"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentificationFormatChoice">
<xs:sequence>
<xs:choice>
<xs:element name="SmplId" type="AccountIdentification1"/>
<xs:element name="IdAndPurp" type="AccountIdentificationAndPurpose"/>
<xs:element name="IdAsDSS" type="AccountIdentification3"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="13"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
<xs:simpleContent>
<xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveCurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="ActiveCurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AdditionalReference2">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="RefIssr" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="MsgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AlternateSecurityIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:choice>
<xs:element name="DmstIdSrc" type="CountryCode"/>
<xs:element name="PrtryIdSrc" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BloombergIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="CorporateActionEventType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DRIP"/>
<xs:enumeration value="CAPG"/>
<xs:enumeration value="DVCA"/>
<xs:enumeration value="DVOP"/>
<xs:enumeration value="DVSE"/>
<xs:enumeration value="LIQU"/>
<xs:enumeration value="MRGR"/>
<xs:enumeration value="NAME"/>
<xs:enumeration value="SOFF"/>
<xs:enumeration value="SPLF"/>
<xs:enumeration value="SPLR"/>
<xs:enumeration value="TEND"/>
<xs:enumeration value="BONU"/>
<xs:enumeration value="RHDI"/>
<xs:enumeration value="EXRI"/>
<xs:enumeration value="CHAN"/>
<xs:enumeration value="REDO"/>
<xs:enumeration value="EXOP"/>
<xs:enumeration value="EXOF"/>
<xs:enumeration value="DECR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CorporateActionEventType1CodeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Strd" type="CorporateActionEventType1Code"/>
<xs:element name="Ustrd" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CreditDebitCode">
<xs:restriction base="xs:string">
<xs:enumeration value="CRDT"/>
<xs:enumeration value="DBIT"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateAndDateTimeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Dt" type="ISODate"/>
<xs:element name="DtTm" type="ISODateTime"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DatePeriodDetails">
<xs:sequence>
<xs:element name="FrDt" type="ISODate"/>
<xs:element name="ToDt" type="ISODate"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DecimalNumber">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="17"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="DistributionPolicy1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DIST"/>
<xs:enumeration value="ACCU"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="semt.007.001.01" type="semt.007.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="EuroclearClearstreamIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="Exact4AlphaNumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{4}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Extension1">
<xs:sequence>
<xs:element name="PlcAndNm" type="Max350Text"/>
<xs:element name="Txt" type="Max350Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstrumentQuantity1">
<xs:sequence>
<xs:element name="Unit" type="DecimalNumber"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="FormOfSecurity1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BEAR"/>
<xs:enumeration value="REGD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Frequency1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="YEAR"/>
<xs:enumeration value="MNTH"/>
<xs:enumeration value="QURT"/>
<xs:enumeration value="MIAN"/>
<xs:enumeration value="WEEK"/>
<xs:enumeration value="DAIL"/>
<xs:enumeration value="ADHO"/>
<xs:enumeration value="INDA"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="GenericIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISINIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:complexType name="Intermediary1">
<xs:sequence>
<xs:element name="Id" type="PartyIdentification1Choice"/>
<xs:element name="Acct" type="Account1" minOccurs="0" maxOccurs="1"/>
<xs:element name="Role" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvestmentAccount12">
<xs:sequence>
<xs:element name="Id" type="AccountIdentification1"/>
<xs:element name="Nm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Dsgnt" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="IntrmyInf" type="Intermediary1" minOccurs="0" maxOccurs="10"/>
<xs:element name="AcctSvcr" type="PartyIdentification1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvestmentFundTransaction2">
<xs:sequence>
<xs:choice>
<xs:element name="TxTp" type="TransactionType1CodeChoice"/>
<xs:element name="CorpActnEvtTp" type="CorporateActionEventType1CodeChoice"/>
</xs:choice>
<xs:element name="BookgSts" type="TransactionStatus1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="MstrRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="OrdrRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="DealRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="LegId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="LegExctnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="OrdrDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
<xs:element name="SttldTxInd" type="YesNoIndicator"/>
<xs:element name="RegdTxInd" type="YesNoIndicator"/>
<xs:element name="UnitsQty" type="FinancialInstrumentQuantity1"/>
<xs:element name="CdtDbt" type="CreditDebitCode"/>
<xs:element name="Rvsl" type="ReversalCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="GrssSttlmAmt" type="ActiveCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="SttlmDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
<xs:element name="TradDtTm" type="DateAndDateTimeChoice"/>
<xs:element name="CumDvddInd" type="YesNoIndicator"/>
<xs:element name="PrtlyExctdInd" type="YesNoIndicator"/>
<xs:element name="PricDtls" type="UnitPrice1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvestmentFundTransactionsByFund1">
<xs:sequence>
<xs:element name="Id" type="SecurityIdentification1Choice"/>
<xs:element name="Nm" type="Max350Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SplmtryId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Form" type="FormOfSecurity1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="ClssTp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="DstrbtnPlcy" type="DistributionPolicy1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="TxDtls" type="InvestmentFundTransaction2" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="BalByPg" type="PaginationBalance1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LongPostalAddress1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Ustrd" type="Max140Text"/>
<xs:element name="Strd" type="StructuredLongPostalAddress1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max350Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="350"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max5NumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max8Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="8"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="NameAndAddress2">
<xs:sequence>
<xs:element name="Nm" type="Max35Text"/>
<xs:element name="Adr" type="LongPostalAddress1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Pagination">
<xs:sequence>
<xs:element name="PgNb" type="Max5NumericText"/>
<xs:element name="LastPgInd" type="YesNoIndicator"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaginationBalance1">
<xs:sequence>
<xs:choice>
<xs:element name="FrstOpngBal" type="FinancialInstrumentQuantity1" minOccurs="0" maxOccurs="1"/>
<xs:element name="IntrmyOpngBal" type="FinancialInstrumentQuantity1" minOccurs="0" maxOccurs="1"/>
</xs:choice>
<xs:choice>
<xs:element name="FnlClsgBal" type="FinancialInstrumentQuantity1" minOccurs="0" maxOccurs="1"/>
<xs:element name="IntrmyClsgBal" type="FinancialInstrumentQuantity1" minOccurs="0" maxOccurs="1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
<xs:element name="PrtryId" type="GenericIdentification1"/>
<xs:element name="NmAndAdr" type="NameAndAddress2"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PriceMethod1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="FORW"/>
<xs:enumeration value="HIST"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PriceValue1">
<xs:sequence>
<xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="RICIdentifier">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="ReversalCode">
<xs:restriction base="xs:string">
<xs:enumeration value="RVCD"/>
<xs:enumeration value="RVDB"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SecuritiesAccountPurposeType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="MARG"/>
<xs:enumeration value="SHOR"/>
<xs:enumeration value="ABRD"/>
<xs:enumeration value="CEND"/>
<xs:enumeration value="DVPA"/>
<xs:enumeration value="PHYS"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SecurityIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="ISIN" type="ISINIdentifier"/>
<xs:element name="AltrnId" type="AlternateSecurityIdentification1"/>
<xs:element name="RIC" type="RICIdentifier"/>
<xs:element name="TckrSymb" type="TickerIdentifier"/>
<xs:element name="Blmbrg" type="BloombergIdentifier"/>
<xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
<xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Statement5">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="StmtPrd" type="DatePeriodDetails"/>
<xs:element name="CreDtTm" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="Frqcy" type="Frequency1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="UpdTp" type="StatementUpdateTypeCode"/>
<xs:element name="ActvtyInd" type="YesNoIndicator"/>
<xs:element name="RptNb" type="Max5NumericText" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatementOfInvestmentFundTransactions1">
<xs:sequence>
<xs:element name="MsgPgntn" type="Pagination"/>
<xs:element name="StmtGnlDtls" type="Statement5" minOccurs="0" maxOccurs="1"/>
<xs:element name="InvstmtAcctDtls" type="InvestmentAccount12" minOccurs="0" maxOccurs="1"/>
<xs:element name="TxOnAcct" type="InvestmentFundTransactionsByFund1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SubAcctDtls" type="SubAccountIdentification4"/>
<xs:element name="Xtnsn" type="Extension1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="StatementUpdateTypeCode">
<xs:restriction base="xs:string">
<xs:enumeration value="COMP"/>
<xs:enumeration value="DELT"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="StructuredLongPostalAddress1">
<xs:sequence>
<xs:element name="BldgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="StrtNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="StrtBldgId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Flr" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TwnNm" type="Max35Text"/>
<xs:element name="DstrctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="RgnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Stat" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtyId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
<xs:element name="PstCdId" type="Max16Text"/>
<xs:element name="POB" type="Max16Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubAccountIdentification4">
<xs:sequence>
<xs:element name="Id" type="AccountIdentificationFormatChoice"/>
<xs:element name="ActvtyInd" type="YesNoIndicator"/>
<xs:element name="TxOnSubAcct" type="InvestmentFundTransactionsByFund1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TickerIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="TransactionStatus1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="RVSL"/>
<xs:enumeration value="REBO"/>
<xs:enumeration value="CANC"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="TransactionType1CodeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Strd" type="TransactionType2Code"/>
<xs:element name="Ustrd" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TransactionType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="REDM"/>
<xs:enumeration value="SUBS"/>
<xs:enumeration value="SSPL"/>
<xs:enumeration value="RWPL"/>
<xs:enumeration value="TRIN"/>
<xs:enumeration value="TOUT"/>
<xs:enumeration value="SWII"/>
<xs:enumeration value="SWIO"/>
<xs:enumeration value="SUAA"/>
<xs:enumeration value="REAA"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="TypeOfPrice2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BIDE"/>
<xs:enumeration value="OFFR"/>
<xs:enumeration value="NAVL"/>
<xs:enumeration value="CREA"/>
<xs:enumeration value="CANC"/>
<xs:enumeration value="INTE"/>
<xs:enumeration value="SWNG"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="MIDD"/>
<xs:enumeration value="RINV"/>
<xs:enumeration value="SWIC"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="UnitPrice1">
<xs:sequence>
<xs:element name="Tp" type="TypeOfPrice2Code"/>
<xs:element name="Val" type="PriceValue1"/>
<xs:element name="PricMtd" type="PriceMethod1Code" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="semt.007.001.01">
<xs:sequence>
<xs:element name="PrvsRef" type="AdditionalReference2"/>
<xs:element name="RltdRef" type="AdditionalReference2" minOccurs="0" maxOccurs="1"/>
<xs:element name="MsgPgntn" type="Pagination"/>
<xs:element name="StmtToBeCanc" type="StatementOfInvestmentFundTransactions1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
