Iso20022.UnitTest/Resources/Semt/semt.014.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.1.10.3) on 2011 May 25 16:05:57--><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.014.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.014.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="AcknowledgementReason3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason3">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="AcknowledgementReason5Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="NSTP"/>
            <xs:enumeration value="RQWV"/>
            <xs:enumeration value="LATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationReason1">
        <xs:sequence>
            <xs:element name="Cd" type="CancellationReason5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationReason5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CancelledStatusReason9Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationStatus4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="CancellationReason1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CANS"/>
            <xs:enumeration value="CSUB"/>
            <xs:enumeration value="CXLR"/>
            <xs:enumeration value="CANT"/>
            <xs:enumeration value="CANZ"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="SCEX"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="IntraPosMvmntStsAdvc" type="IntraPositionMovementStatusAdviceV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingReason1">
        <xs:sequence>
            <xs:element name="Cd" type="FailingReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailingReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="FailingReason1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FailingReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="BYIY"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CANR"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="OBJT"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="STCD"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="MLAT"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="FailingReason1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber"/>
                <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
                <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IntraPositionDetails9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification36Choice"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification14"/>
            <xs:element name="SttldQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="SttlmDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalFr" type="SecuritiesBalanceType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTo" type="SecuritiesBalanceType2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionMovementStatusAdviceV02">
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentifications10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgSts" type="IntraPositionProcessingStatus1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSts" type="SettlementStatus2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDtls" type="IntraPositionDetails9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionProcessingStatus1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rjctd" type="RejectionOrRepairStatus2Choice"/>
                <xs:element name="Rpr" type="RejectionOrRepairStatus2Choice"/>
                <xs:element name="Canc" type="CancellationStatus4Choice"/>
                <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus3Choice"/>
                <xs:element name="Prtry" type="ProprietaryStatusAndReason1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification36Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification19"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason1">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PendingReason1Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="REFU"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="TAMM"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingStatus3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="PendingReason1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason1">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification20"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RejectionReason22Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cd" type="RejectionAndRepairReason4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="RejectionOrRepairReason4"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason22Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesBalanceType13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOK"/>
            <xs:enumeration value="AWAS"/>
            <xs:enumeration value="AVAI"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="PLED"/>
            <xs:enumeration value="REGO"/>
            <xs:enumeration value="RSTR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="SPOS"/>
            <xs:enumeration value="UNRG"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="QUAS"/>
            <xs:enumeration value="COLA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesBalanceType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SecuritiesBalanceType13Code"/>
                <xs:element name="Prtry" type="GenericIdentification20"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementStatus2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Pdg" type="PendingStatus3Choice"/>
                <xs:element name="Flng" type="FailingStatus1Choice"/>
                <xs:element name="Prtry" type="ProprietaryStatusAndReason1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifications10">
        <xs:sequence>
            <xs:element name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
