Iso20022.UnitTest/Resources/Semt/semt.013.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 11 09:42:44, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.013.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.013.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClassificationType2Choice">
        <xs:choice>
            <xs:element name="ClssfctnFinInstrm" type="CFIIdentifier"/>
            <xs:element name="AltrnClssfctn" type="GenericIdentification19"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="IntraPosMvmntInstr" type="IntraPositionMovementInstructionV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber1Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification19"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="EventFrequency3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentAttributes36">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MarketIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCntBsis" type="InterestComputationMethodFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnForm" type="FormOfSecurity2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="Frequency3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSts" type="SecuritiesPaymentStatus2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateChngFrqcy" type="Frequency3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnStyle" type="OptionStyle4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FltgRateFxgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtCllblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstPmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtFctr" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="YldToMtrtyRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtIntrstRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxRateBsis" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpnAttchdNb" type="Number2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolNb" type="GenericIdentification37"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="QtyBrkdwn" type="QuantityBreakdown15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VarblRateInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CllblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PutblInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktOrIndctvPric" type="PriceType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPric" type="Price2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinNmnlQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctSz" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UndrlygFinInstrmId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrAddtlDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FormOfSecurity2Choice">
        <xs:choice>
            <xs:element name="Cd" type="FormOfSecurity1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Frequency3Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency3Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification21">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification37">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="Identification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InterestComputationMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A014"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestComputationMethodFormat1Choice">
        <xs:choice>
            <xs:element name="Cd" type="InterestComputationMethod2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IntraPositionDetails21">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="PriorityNumeric1Choice"/>
            <xs:element name="SttlmQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSubBalId" type="GenericIdentification37"/>
            <xs:element name="SttlmDt" type="DateAndDateTimeChoice"/>
            <xs:element name="BalFr" type="SecuritiesSubBalanceTypeAndQuantityBreakdown1"/>
            <xs:element name="BalTo" type="SecuritiesSubBalanceTypeAndQuantityBreakdown1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrPrcgAddtlDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionMovementInstructionV03">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnEvtId" type="Identification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbCounts" type="NumberCount1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Lnkgs" type="Linkages19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification36Choice"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat3Choice"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrbts" type="FinancialInstrumentAttributes36"/>
            <xs:element name="IntraPosDtls" type="IntraPositionDetails21"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Linkages19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgPos" type="ProcessingPosition1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNb" type="DocumentNumber1Choice"/>
            <xs:element name="Ref" type="References25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefOwnr" type="PartyIdentification36Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification3Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Number2Choice">
        <xs:choice>
            <xs:element name="Shrt" type="Exact3NumericText"/>
            <xs:element name="Lng" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="NumberCount1Choice">
        <xs:choice>
            <xs:element name="CurInstrNb" type="Exact3NumericText"/>
            <xs:element name="TtlNb" type="TotalNumber1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionStyle2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionStyle4Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionStyle2Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification36Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification19"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Price2">
        <xs:sequence>
            <xs:element name="Tp" type="YieldedOrValueType1Choice"/>
            <xs:element name="Val" type="PriceRateOrAmountChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmountChoice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceType1Choice">
        <xs:choice>
            <xs:element name="Mkt" type="Price2"/>
            <xs:element name="Indctv" type="Price2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriorityNumeric1Choice">
        <xs:choice>
            <xs:element name="Nmrc" type="Exact4NumericText"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProcessingPosition1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessingPosition3Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QuantityBreakdown12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LotNb" type="GenericIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSubBalTp" type="GenericIdentification20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityBreakdown15">
        <xs:sequence>
            <xs:element name="LotNb" type="GenericIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotQty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References25Choice">
        <xs:choice>
            <xs:element name="SctiesSttlmTxId" type="Max35Text"/>
            <xs:element name="IntraPosMvmntId" type="Max35Text"/>
            <xs:element name="IntraBalMvmntId" type="Max35Text"/>
            <xs:element name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element name="PoolId" type="Max35Text"/>
            <xs:element name="OthrTxId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat3Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText3"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification21"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText3">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesBalanceType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOK"/>
            <xs:enumeration value="AWAS"/>
            <xs:enumeration value="AVAI"/>
            <xs:enumeration value="BLCA"/>
            <xs:enumeration value="BLOT"/>
            <xs:enumeration value="BLOV"/>
            <xs:enumeration value="BORR"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="COLA"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="PECA"/>
            <xs:enumeration value="PEDA"/>
            <xs:enumeration value="PLED"/>
            <xs:enumeration value="REGO"/>
            <xs:enumeration value="RSTR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="TRAN"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="CLEN"/>
            <xs:enumeration value="DIRT"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="SPOS"/>
            <xs:enumeration value="UNRG"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="QUAS"/>
            <xs:enumeration value="LODE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesBalanceType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesBalanceType11Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SecuritiesPaymentStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="NILL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesPaymentStatus2Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesPaymentStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesSubBalanceTypeAndQuantityBreakdown1">
        <xs:sequence>
            <xs:element name="Tp" type="SecuritiesBalanceType3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="QtyBrkdwn" type="QuantityBreakdown12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TotalNumber1">
        <xs:sequence>
            <xs:element name="CurInstrNb" type="Exact3NumericText"/>
            <xs:element name="TtlOfLkdInstrs" type="Exact3NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="YieldedOrValueType1Choice">
        <xs:choice>
            <xs:element name="Yldd" type="YesNoIndicator"/>
            <xs:element name="ValTp" type="PriceValueType1Code"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
