Iso20022.UnitTest/Resources/Catm/catm.003.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 24 14:11:10, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:catm.003.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:catm.003.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorConfiguration2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="POIId" type="GenericIdentification35"/>
            <xs:element name="TermnlMgrId" type="GenericIdentification35"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DataSet" type="TerminalManagementDataSet6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorConfigurationContent2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcqrrPrtcolParams" type="AcquirerProtocolParameters3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MrchntParams" type="Max10000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TermnlParams" type="Max10000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ApplParams" type="ApplicationParameters2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="HstComParams" type="HostCommunicationParameter2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctyParams" type="SecurityParameters1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorConfigurationUpdateV02">
        <xs:sequence>
            <xs:element name="Hdr" type="Header4"/>
            <xs:element name="AccptrCfgtn" type="AcceptorConfiguration2"/>
            <xs:element name="SctyTrlr" type="ContentInformationType4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquirerHostConfiguration2">
        <xs:sequence>
            <xs:element name="HstId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgToSnd" type="MessageFunction3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquirerProtocolParameters3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AcqrrId" type="GenericIdentification32"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ApplId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Hst" type="AcquirerHostConfiguration2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineTx" type="AcquirerProtocolParameters4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffLineTx" type="AcquirerProtocolParameters4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnXchg" type="ExchangeConfiguration2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnByAcqrr" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlsPerCcy" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpltTtls" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardDataVrfctn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BtchTrfCntt" type="BatchTransactionType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgItm" type="MessageItemCondition1"/>
            <xs:element name="PrtctCardData" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquirerProtocolParameters4">
        <xs:sequence>
            <xs:element name="FinCaptr" type="FinancialCapture1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchTrf" type="ExchangeConfiguration2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmpltnXchg" type="ExchangeConfiguration3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlXchg" type="CancellationProcess1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKPT"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="CMD1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERS2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification2">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification3">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification4">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm4Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification5">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification6">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification7">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification8">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ApplicationParameters2">
        <xs:sequence>
            <xs:element name="ApplId" type="Max35Text"/>
            <xs:element name="Vrsn" type="Max16Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Params" type="Max10000Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdParams" type="ContentInformationType5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient2Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification3"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent1"/>
            <xs:element name="MAC" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BatchTransactionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DTCT"/>
            <xs:enumeration value="CNCL"/>
            <xs:enumeration value="FAIL"/>
            <xs:enumeration value="DCLN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancellationProcess1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADVC"/>
            <xs:enumeration value="NALW"/>
            <xs:enumeration value="REQU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIdentifier1">
        <xs:sequence>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType4">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EnvlpdData" type="EnvelopedData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcdData" type="AuthenticatedData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgndData" type="SignedData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstdData" type="DigestedData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmdKeyNcrptdData" type="NamedKeyEncryptedData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType5">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="ECRP"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CryptographicKey2">
        <xs:sequence>
            <xs:element name="Id" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Binary"/>
            <xs:element name="Vrsn" type="Exact10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CryptographicKeyType2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Fctn" type="KeyUsage1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActvtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DeactvtnDt" type="ISODateTime"/>
            <xs:element name="KeyVal" type="ContentInformationType5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CryptographicKey3">
        <xs:sequence>
            <xs:element name="Id" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Binary"/>
            <xs:element name="Vrsn" type="Exact10Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CryptographicKeyType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AES2"/>
            <xs:enumeration value="EDE3"/>
            <xs:enumeration value="DKP9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataSetCategory3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AQPR"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="TXCP"/>
            <xs:enumeration value="AKCP"/>
            <xs:enumeration value="DLGT"/>
            <xs:enumeration value="MGTP"/>
            <xs:enumeration value="MRPR"/>
            <xs:enumeration value="SCPR"/>
            <xs:enumeration value="SWPK"/>
            <xs:enumeration value="STRP"/>
            <xs:enumeration value="TRPR"/>
            <xs:enumeration value="VDPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DataSetIdentification3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max256Text"/>
            <xs:element name="Tp" type="DataSetCategory3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DigestedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DgstAlgo" type="AlgorithmIdentification5"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent1"/>
            <xs:element name="Dgst" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrCfgtnUpd" type="AcceptorConfigurationUpdateV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent1">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent2">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification6"/>
            <xs:element name="NcrptdData" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvelopedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient2Choice"/>
            <xs:element name="NcrptdCntt" type="EncryptedContent2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact10Text">
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExchangeConfiguration2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="XchgPlcy" type="ExchangePolicy1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmCond" type="ProcessTiming2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeConfiguration3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="XchgPlcy" type="ExchangePolicy1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmCond" type="ProcessTiming2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgFaild" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgDclnd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExchangePolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ONDM"/>
            <xs:enumeration value="IMMD"/>
            <xs:enumeration value="ASAP"/>
            <xs:enumeration value="AGRP"/>
            <xs:enumeration value="NBLT"/>
            <xs:enumeration value="TTLT"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="NONE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinancialCapture1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="BTCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification35">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header4">
        <xs:sequence>
            <xs:element name="DwnldTrf" type="TrueFalseIndicator"/>
            <xs:element name="FrmtVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification35"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification35"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HostCommunicationParameter2">
        <xs:sequence>
            <xs:element name="HstId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="NetworkParameters1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Key" type="CryptographicKey3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier1"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification2"/>
            <xs:element name="NcrptdKey" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier1">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Exact10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport2">
        <xs:sequence>
            <xs:element name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="CertificateIdentifier1"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification7"/>
            <xs:element name="NcrptdKey" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="KeyUsage1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENCR"/>
            <xs:enumeration value="DCPT"/>
            <xs:enumeration value="DENC"/>
            <xs:enumeration value="DDEC"/>
            <xs:enumeration value="TRNI"/>
            <xs:enumeration value="TRNX"/>
            <xs:enumeration value="MACG"/>
            <xs:enumeration value="MACV"/>
            <xs:enumeration value="SIGG"/>
            <xs:enumeration value="SUGV"/>
            <xs:enumeration value="PINE"/>
            <xs:enumeration value="PIND"/>
            <xs:enumeration value="PINV"/>
            <xs:enumeration value="KEYG"/>
            <xs:enumeration value="KEYI"/>
            <xs:enumeration value="KEYX"/>
            <xs:enumeration value="KEYD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="3000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAUQ"/>
            <xs:enumeration value="CCAQ"/>
            <xs:enumeration value="CMPV"/>
            <xs:enumeration value="DGNP"/>
            <xs:enumeration value="RCLQ"/>
            <xs:enumeration value="CCAV"/>
            <xs:enumeration value="BTCH"/>
            <xs:enumeration value="FRVA"/>
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="FCMV"/>
            <xs:enumeration value="RVRA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageItemCondition1">
        <xs:sequence>
            <xs:element name="ItmId" type="Max140Text"/>
            <xs:element name="Cond" type="MessageItemCondition1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Val" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MessageItemCondition1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MNDT"/>
            <xs:enumeration value="CFVL"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="ALWV"/>
            <xs:enumeration value="IFAV"/>
            <xs:enumeration value="COPY"/>
            <xs:enumeration value="UNSP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NamedKeyEncryptedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyNm" type="Max140Text"/>
            <xs:element name="NcrptdCntt" type="EncryptedContent2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetworkParameters1">
        <xs:sequence>
            <xs:element name="PmryAdr" type="Max35Text"/>
            <xs:element name="PmryPortNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryAdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryPortNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AccsCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntCert" type="Max3000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="MTMG"/>
            <xs:enumeration value="TMGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="MTMG"/>
            <xs:enumeration value="TMGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessRetry2">
        <xs:sequence>
            <xs:element name="Dely" type="Max9NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxNb" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessTiming2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="WtgTm" type="Max9NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StartTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="Max9NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTry" type="ProcessRetry2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient2Choice">
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyTrnsprt" type="KeyTransport2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KEK" type="KEK2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityParameters1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="POIChllng" type="Max140Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMChllng" type="Max140Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SmmtrcKey" type="CryptographicKey2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DgstAlgo" type="AlgorithmIdentification5"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max3000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sgnr" type="Signer2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Signer2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="SgnrId" type="CertificateIdentifier1"/>
            <xs:element name="DgstAlgo" type="AlgorithmIdentification5"/>
            <xs:element name="SgntrAlgo" type="AlgorithmIdentification4"/>
            <xs:element name="Sgntr" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TerminalManagementDataSet6">
        <xs:sequence>
            <xs:element name="Id" type="DataSetIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqCntr" type="Max9NumericText"/>
            <xs:element name="Cntt" type="AcceptorConfigurationContent2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
