Iso20022.UnitTest/Resources/Reda/reda.004.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.42.1) on 2013 May 24 16:27:14, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:reda.004.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.004.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification5Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBANIdentifier"/>
            <xs:element name="BBAN" type="BBANIdentifier"/>
            <xs:element name="DmstAcct" type="Max35Text"/>
            <xs:element name="DpstryAcct" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max70Text"/>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode"/>
                <xs:element name="PrtryIdSrc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BusinessDayConvention1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FWNG"/>
            <xs:enumeration value="PREC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount21">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="BICIdentifier"/>
            <xs:element name="Id" type="AccountIdentification5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount22">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyCode"/>
            <xs:element name="Svcr" type="BICIdentifier"/>
            <xs:element name="Id" type="AccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryAcct" type="CashAccount21"/>
            <xs:element name="AcctTpDesc" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactAttributes1">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element name="PstlAdr" type="PostalAddress1"/>
            <xs:element name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DividendPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="UNIT"/>
            <xs:enumeration value="BOTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FndPrcgPsptRpt" type="FundProcessingPassportReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EUSavingsDirective1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUSI"/>
            <xs:enumeration value="EUSO"/>
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventFrequency5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="CLOS"/>
            <xs:enumeration value="TOMN"/>
            <xs:enumeration value="TOWK"/>
            <xs:enumeration value="TWMN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument20">
        <xs:sequence>
            <xs:element name="PhysBrScties" type="YesNoIndicator"/>
            <xs:element name="DmtrlsdBrScties" type="YesNoIndicator"/>
            <xs:element name="PhysRegdScties" type="YesNoIndicator"/>
            <xs:element name="DmtrlsdRegdScties" type="YesNoIndicator"/>
            <xs:element name="DstrbtnPlcy" type="DistributionPolicy1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddPlcy" type="DividendPolicy1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddFrqcy" type="EventFrequency5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RinvstmtFrqcy" type="EventFrequency5Code"/>
            <xs:element name="FrntEndLd" type="YesNoIndicator"/>
            <xs:element name="BckEndLd" type="YesNoIndicator"/>
            <xs:element name="SwtchFee" type="YesNoIndicator"/>
            <xs:element name="EUSvgsDrctv" type="EUSavingsDirective1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Forms">
        <xs:sequence>
            <xs:element name="ApplForm" type="YesNoIndicator"/>
            <xs:element name="SgntrTp" type="SignatureType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundProcessingPassport1">
        <xs:sequence>
            <xs:element name="UpdtdDt" type="UpdatedDate"/>
            <xs:element name="SctyId" type="SecurityIdentification1"/>
            <xs:element name="MainFndOrdrDsk" type="ContactAttributes1"/>
            <xs:element name="FndMgmtCpny" type="ContactAttributes1"/>
            <xs:element name="FndDtls" type="FinancialInstrument20"/>
            <xs:element name="ValtnDealgChrtcs" type="ValuationDealingProcessingCharacteristics2"/>
            <xs:element name="InvstmtRstrctns" type="InvestmentRestrictions2"/>
            <xs:element name="SbcptPrcgChrtcs" type="ProcessingCharacteristics2"/>
            <xs:element name="RedPrcgChrtcs" type="ProcessingCharacteristics3"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SttlmDtls" type="CashAccount22"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclMktAnx" type="LocalMarketAnnex2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundProcessingPassportReportV02">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="FPP" type="FundProcessingPassport1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HoldingTransferable1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRAL"/>
            <xs:enumeration value="TRNA"/>
            <xs:enumeration value="RFOD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:complexType name="InvestmentRestrictions2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MinInitlSbcptAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinInitlSbcptUnits" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinSbsqntSbcptAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinSbsqntSbcptUnits" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxRedAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxRedUnits" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRedRstrctns" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinHldgAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinHldgUnits" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinHldgPrd" type="Max70Text"/>
            <xs:element name="HldgTrfbl" type="HoldingTransferable1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalMarketAnnex2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Ctry" type="CountryCode"/>
            <xs:element name="LclOrdrDsk" type="ContactAttributes1"/>
            <xs:element name="SbcptPrcgChrtcs" type="ProcessingCharacteristics2"/>
            <xs:element name="RedPrcgChrtcs" type="ProcessingCharacteristics3"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SttlmDtls" type="CashAccount22"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MainFundOrderDeskLocation1">
        <xs:sequence>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TmZoneOffSet" type="UTCOffset1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="HIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingCharacteristics2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DealgCcyAccptd" type="ActiveCurrencyCode"/>
            <xs:element name="InitlInvstmt" type="Forms"/>
            <xs:element name="SbsqntInvstmt" type="Forms"/>
            <xs:element name="AmtInd" type="YesNoIndicator"/>
            <xs:element name="UnitsInd" type="YesNoIndicator"/>
            <xs:element name="MainFndOrdrDskLctn" type="MainFundOrderDeskLocation1"/>
            <xs:element name="DealgCutOffTm" type="ISOTime"/>
            <xs:element name="DealgCutOffTmFrame" type="TimeFrame3"/>
            <xs:element name="DealgFrqcy" type="EventFrequency5Code"/>
            <xs:element name="DealgFrqcyDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdPrd" type="Max350Text"/>
            <xs:element name="SttlmCycl" type="TimeFrame5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingCharacteristics3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DealgCcyAccptd" type="ActiveCurrencyCode"/>
            <xs:element name="RedAuthstn" type="Forms"/>
            <xs:element name="AmtInd" type="YesNoIndicator"/>
            <xs:element name="UnitsInd" type="YesNoIndicator"/>
            <xs:element name="MainFndOrdrDskLctn" type="MainFundOrderDeskLocation1"/>
            <xs:element name="DealgCutOffTm" type="ISOTime"/>
            <xs:element name="DealgCutOffTmFrame" type="TimeFrame3"/>
            <xs:element name="DealgFrqcy" type="EventFrequency5Code"/>
            <xs:element name="DealgFrqcyDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtdPrd" type="Max350Text"/>
            <xs:element name="SttlmCycl" type="TimeFrame4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReferToFundOrderDesk1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RFOD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification7"/>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UmbrllNm" type="Max35Text"/>
            <xs:element name="BaseCcy" type="ActiveCurrencyCode"/>
            <xs:element name="CtryOfDmcl" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RegdDstrbtnCtry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification7">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier"/>
                <xs:element name="OthrId" type="AlternateSecurityIdentification3"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SignatureType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORIG"/>
            <xs:enumeration value="DIGI"/>
            <xs:enumeration value="ELEC"/>
            <xs:enumeration value="NONE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TimeFrame3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTmFrameDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMns" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonWorkgDayAdjstmnt" type="BusinessDayConvention1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefrToOrdrDsk" type="ReferToFundOrderDesk1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeFrame4Choice">
        <xs:choice>
            <xs:element name="TPlus" type="Number"/>
            <xs:element name="RPlus" type="Number"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TimeFrame5Choice">
        <xs:choice>
            <xs:element name="TPlus" type="Number"/>
            <xs:element name="Prepmt" type="YesNoIndicator"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UTCOffset1">
        <xs:sequence>
            <xs:element name="Sgn" type="PlusOrMinusIndicator"/>
            <xs:element name="NbOfHrs" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdatedDate">
        <xs:sequence>
            <xs:element name="Dt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValuationDealingProcessingCharacteristics2">
        <xs:sequence>
            <xs:element name="ValtnFrqcy" type="EventFrequency5Code"/>
            <xs:element name="ValtnFrqcyDesc" type="Max350Text"/>
            <xs:element name="DcmlstnUnits" type="Number"/>
            <xs:element name="DcmlstnPric" type="Number"/>
            <xs:element name="DualFndInd" type="YesNoIndicator"/>
            <xs:element name="PricMtd" type="PriceMethod1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PricCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
