Iso20022.UnitTest/Resources/Reda/reda.003.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Mar 03 21:42:58-->
<xs:schema elementFormDefault="qualified"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.003.001.03"
    xmlns="urn:iso:std:iso:20022:tech:xsd:reda.003.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy"
                    type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy"
                    type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference3">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode"/>
                <xs:element name="PrtryIdSrc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="BloombergIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="CalculationBasis2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AVER"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Charge15">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tp" type="ChargeType9Code"/>
                <xs:element name="XtndedTp" type="Extended350Code"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element name="Rate" type="PercentageRate"/>
            </xs:choice>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="ClctnBsis" type="CalculationBasis2Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedClctnBsis" type="Extended350Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ChargeType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MANF"/>
            <xs:enumeration value="BEND"/>
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="ADVI"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="PUBL"/>
            <xs:enumeration value="ACCT"/>
            <xs:enumeration value="EQUL"/>
            <xs:enumeration value="PENA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateOrDateTimePeriodChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DatePeriodDetails"/>
                <xs:element name="DtTm" type="DateTimePeriodDetails"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PricRptCrrctnV03" type="PriceReportCorrectionV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EUCapitalGain2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUSI"/>
            <xs:enumeration value="EUSO"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EUDividendStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIVI"/>
            <xs:enumeration value="DIVO"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventFrequency1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="TOMN"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="TWMN"/>
            <xs:enumeration value="TOWK"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="OVNG"/>
            <xs:enumeration value="ONDE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument8">
        <xs:sequence>
            <xs:element maxOccurs="10" minOccurs="1" name="Id" type="SecurityIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code"/>
            <xs:element name="DualFndInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1">
        <xs:sequence>
            <xs:element name="Unit" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification1"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PerformanceFactors1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnFctr" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="CmltvCorpActnFctr" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcmltnPrd" type="DatePeriodDetails"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NrmlPrfrmnc" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceCorrection3">
        <xs:sequence>
            <xs:element name="PrevslySntPricDtls" type="PriceValuation3"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="CrrctdPricDtls" type="PriceValuation3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="HIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriceReportCorrectionV03">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolRef" type="AdditionalReference3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsRef" type="AdditionalReference3"/>
            <xs:element name="MsgPgntn" type="Pagination"/>
            <xs:element maxOccurs="unbounded" minOccurs="1"
                name="PricCrrctnDtls" type="PriceCorrection3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceType2">
        <xs:sequence>
            <xs:element name="Strd" type="TypeOfPrice6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceValuation3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnDtTm" type="DateAndDateTimeChoice"/>
            <xs:element name="NAVDtTm" type="DateAndDateTimeChoice"/>
            <xs:element name="FinInstrmDtls" type="FinancialInstrument8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FndMgmtCpny" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="TtlNAV" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtValtnDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsValtnDtTm" type="DateAndDateTimeChoice"/>
            <xs:element name="ValtnTp" type="ValuationTiming1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnFrqcy" type="EventFrequency1Code"/>
            <xs:element name="OffclValtnInd" type="YesNoIndicator"/>
            <xs:element name="SspdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="PricDtls" type="UnitPrice15"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="ValtnSttstcs" type="ValuationStatistics3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrfrmncDtls" type="PerformanceFactors1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceValue1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceValue5">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceValueChange1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtSgn" type="PlusOrMinusIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier"/>
                <xs:element name="SEDOL" type="SEDOLIdentifier"/>
                <xs:element name="CUSIP" type="CUSIPIdentifier"/>
                <xs:element name="RIC" type="RICIdentifier"/>
                <xs:element name="TckrSymb" type="TickerIdentifier"/>
                <xs:element name="Blmbrg" type="BloombergIdentifier"/>
                <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
                <xs:element name="QUICK" type="QUICKIdentifier"/>
                <xs:element name="Wrtppr" type="WertpapierIdentifier"/>
                <xs:element name="Dtch" type="DutchIdentifier"/>
                <xs:element name="Vlrn" type="ValorenIdentifier"/>
                <xs:element name="SCVM" type="SicovamIdentifier"/>
                <xs:element name="Belgn" type="BelgianIdentifier"/>
                <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
                <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="StatisticsByPredefinedTimePeriods2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0"
                name="HghstPricVal12Mnths" type="PriceValue5"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="LwstPricVal12Mnths" type="PriceValue5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OneYrPricChng" type="PriceValueChange1"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="ThreeYrPricChng" type="PriceValueChange1"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="FiveYrPricChng" type="PriceValueChange1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatisticsByUserDefinedTimePeriod2">
        <xs:sequence>
            <xs:element name="Prd" type="DateOrDateTimePeriodChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HghstPricVal" type="PriceValue5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LwstPricVal" type="PriceValue5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricChng" type="PriceValueChange1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Yld" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tax17">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tp" type="TaxType12Code"/>
                <xs:element name="XtndedTp" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="7" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxClctnDtls" type="TaxCalculationInformation4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxCalculationInformation4">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="EUCptlGn" type="EUCapitalGain2Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedEUCptlGn" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="PctgOfDebtClm" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="PctgGrdfthdDebt" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="TaxblIncmPerDvdd" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="EUDvddSts" type="EUDividendStatus1Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedEUDvddSts" type="Extended350Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxType12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INPO"/>
            <xs:enumeration value="EUTR"/>
            <xs:enumeration value="AKT1"/>
            <xs:enumeration value="AKT2"/>
            <xs:enumeration value="ZWIS"/>
            <xs:enumeration value="MIET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxableIncomePerShareCalculated2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TSIY"/>
            <xs:enumeration value="TSIN"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPrice6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDE"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="NAVL"/>
            <xs:enumeration value="CREA"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="SWNG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="MIDD"/>
            <xs:enumeration value="RINV"/>
            <xs:enumeration value="SWIC"/>
            <xs:enumeration value="DDVR"/>
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="NAUP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPrice9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDE"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="NAVL"/>
            <xs:enumeration value="CREA"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="SWNG"/>
            <xs:enumeration value="MIDD"/>
            <xs:enumeration value="RINV"/>
            <xs:enumeration value="SWIC"/>
            <xs:enumeration value="DDVR"/>
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="NAUP"/>
            <xs:enumeration value="GUAR"/>
            <xs:enumeration value="ENAV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnitPrice15">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tp" type="TypeOfPrice9Code"/>
                <xs:element name="XtndedTp" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="PricMtd" type="PriceMethod1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1"
                name="ValInInvstmtCcy" type="PriceValue1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="ValInAltrntvCcy" type="PriceValue1"/>
            <xs:element name="ForExctnInd" type="YesNoIndicator"/>
            <xs:element name="CumDvddInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctnBsis" type="PercentageRate"/>
            <xs:element name="EstmtdPricInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDaysAcrd" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="TaxblIncmPerShr" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="TaxblIncmPerShrClctd" type="TaxableIncomePerShareCalculated2Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedTaxblIncmPerShrClctd" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0"
                name="TaxblIncmPerDvdd" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="EUDvddSts" type="EUDividendStatus1Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedEUDvddSts" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="ChrgDtls" type="Charge15"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="TaxLbltyDtls" type="Tax17"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="TaxRfndDtls" type="Tax17"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="ValuationStatistics3">
        <xs:sequence>
            <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element name="PricTpChngBsis" type="PriceType2"/>
            <xs:element name="PricChng" type="PriceValueChange1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Yld" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="ByPrdfndTmPrds" type="StatisticsByPredefinedTimePeriods2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="ByUsrDfndTmPrd" type="StatisticsByUserDefinedTimePeriod2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ValuationTiming1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EXCP"/>
            <xs:enumeration value="USUA"/>
            <xs:enumeration value="PATC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
