Iso20022.UnitTest/Resources/Reda/reda.003.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.0.1.3) on 2005 Mar 15 19:41:02-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:xsd:reda.003.001.02" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:xsd:reda.003.001.02">
<xs:element name="Document" type="Document"/>
<xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="13"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
<xs:simpleContent>
<xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="13"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
<xs:simpleContent>
<xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveOrHistoricCurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AdditionalReference3">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="RefIssr" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="MsgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AddressType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ADDR"/>
<xs:enumeration value="PBOX"/>
<xs:enumeration value="HOME"/>
<xs:enumeration value="BIZZ"/>
<xs:enumeration value="MLTO"/>
<xs:enumeration value="DLVY"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AlternateSecurityIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:choice>
<xs:element name="DmstIdSrc" type="CountryCode"/>
<xs:element name="PrtryIdSrc" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AmountPrice1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Amt" type="CurrencyAndAmount"/>
<xs:element name="UnitPric" type="UnitPrice4"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BloombergIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CalculationBasis1">
<xs:sequence>
<xs:element name="Strd" type="CalculationBasis1Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CalculationBasis1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="AVER"/>
<xs:enumeration value="DAIL"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Charge9">
<xs:sequence>
<xs:element name="Tp" type="ChargeType2"/>
<xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
<xs:element name="ClctnBsis" type="CalculationBasis1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ChargeType2">
<xs:sequence>
<xs:element name="Strd" type="ChargeType7Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ChargeType7Code">
<xs:restriction base="xs:string">
<xs:enumeration value="MANF"/>
<xs:enumeration value="BEND"/>
<xs:enumeration value="ADVI"/>
<xs:enumeration value="CUST"/>
<xs:enumeration value="PUBL"/>
<xs:enumeration value="ACCT"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="EQUL"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="CurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateAndDateTimeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Dt" type="ISODate"/>
<xs:element name="DtTm" type="ISODateTime"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateTimePeriodDetails">
<xs:sequence>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DecimalNumber">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="17"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="DistributionPolicy1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DIST"/>
<xs:enumeration value="ACCU"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="reda.003.001.02" type="reda.003.001.02"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="EUCapitalGain1">
<xs:sequence>
<xs:element name="Strd" type="EUCapitalGain1Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="EUCapitalGain1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="EUSI"/>
<xs:enumeration value="EUSO"/>
<xs:enumeration value="UKWN"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="EuroclearClearstreamIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="12"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Extension1">
<xs:sequence>
<xs:element name="PlcAndNm" type="Max350Text"/>
<xs:element name="Txt" type="Max350Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstrument5">
<xs:sequence>
<xs:element name="Id" type="SecurityIdentification1Choice"/>
<xs:element name="Nm" type="Max350Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SplmtryId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="ReqdNAVCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="ClssTp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SctiesForm" type="FormOfSecurity1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="DstrbtnPlcy" type="DistributionPolicy1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="DualFndInd" type="YesNoIndicator"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstrumentQuantity1">
<xs:sequence>
<xs:element name="Unit" type="DecimalNumber"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="FormOfSecurity1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BEAR"/>
<xs:enumeration value="REGD"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="GenericIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISINIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z0-9]{12,12}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max350Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="350"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max70Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="70"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="NameAndAddress5">
<xs:sequence>
<xs:element name="Nm" type="Max350Text"/>
<xs:element name="Adr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Number">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="0"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PartyIdentification2Choice">
<xs:sequence>
<xs:choice>
<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
<xs:element name="PrtryId" type="GenericIdentification1"/>
<xs:element name="NmAndAdr" type="NameAndAddress5"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PercentageRate">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="10"/>
<xs:totalDigits value="11"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PostalAddress1">
<xs:sequence>
<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="5"/>
<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PriceCorrection2">
<xs:sequence>
<xs:element name="PrevslySntPricDtls" type="PriceValuation2"/>
<xs:element name="CrrctdPricDtls" type="PriceValuation2" minOccurs="0" maxOccurs="1"/>
<xs:element name="Xtnsn" type="Extension1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PriceMethod1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="FORW"/>
<xs:enumeration value="HIST"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PriceType2">
<xs:sequence>
<xs:element name="Strd" type="TypeOfPrice6Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PriceValuation2">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="ValtnDtTm" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="TradDtTm" type="DateAndDateTimeChoice"/>
<xs:element name="FinInstrmDtls" type="FinancialInstrument5"/>
<xs:element name="TtlNAV" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="TtlUnitsNb" type="FinancialInstrumentQuantity1" minOccurs="0" maxOccurs="1"/>
<xs:element name="NxtValtnDtTm" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="PrvsValtnDtTm" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="ValtnCycl" type="ValuationTiming1Code"/>
<xs:element name="SspdInd" type="YesNoIndicator"/>
<xs:element name="PricDtls" type="UnitPrice6" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ValtnSttstcs" type="ValuationStatistics2" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PriceValue1">
<xs:sequence>
<xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PriceValue2">
<xs:sequence>
<xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="Rate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="RICIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SecurityIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="ISIN" type="ISINIdentifier"/>
<xs:element name="AltrnId" type="AlternateSecurityIdentification1"/>
<xs:element name="RIC" type="RICIdentifier"/>
<xs:element name="TckrSymb" type="TickerIdentifier"/>
<xs:element name="Blmbrg" type="BloombergIdentifier"/>
<xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
<xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatisticsByPredefinedTimePeriods1">
<xs:sequence>
<xs:element name="HghstPricVal12Mnths" type="PriceValue1" minOccurs="0" maxOccurs="1"/>
<xs:element name="LwstPricVal12Mnths" type="PriceValue1" minOccurs="0" maxOccurs="1"/>
<xs:element name="OneYrPricChng" type="PriceValue2" minOccurs="0" maxOccurs="1"/>
<xs:element name="ThreeYrPricChng" type="PriceValue2" minOccurs="0" maxOccurs="1"/>
<xs:element name="FiveYrPricChng" type="PriceValue2" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatisticsByUserDefinedTimePeriod1">
<xs:sequence>
<xs:element name="Prd" type="DateTimePeriodDetails"/>
<xs:element name="HghstPricVal" type="PriceValue1" minOccurs="0" maxOccurs="1"/>
<xs:element name="LwstPricVal" type="PriceValue1" minOccurs="0" maxOccurs="1"/>
<xs:element name="PricChng" type="PriceValue2" minOccurs="0" maxOccurs="1"/>
<xs:element name="Yld" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Tax8">
<xs:sequence>
<xs:element name="Tp" type="TaxType3"/>
<xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="Rate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
<xs:element name="TaxClctnDtls" type="TaxCalculationInformation2" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxCalculationInformation2">
<xs:sequence>
<xs:element name="EUCptlGn" type="EUCapitalGain1" minOccurs="0" maxOccurs="1"/>
<xs:element name="PctgOfDebtClm" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
<xs:element name="PctgGrdfthdDebt" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxType3">
<xs:sequence>
<xs:element name="Strd" type="TaxType6Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TaxType6Code">
<xs:restriction base="xs:string">
<xs:enumeration value="INPO"/>
<xs:enumeration value="EUTR"/>
<xs:enumeration value="AKT1"/>
<xs:enumeration value="AKT2"/>
<xs:enumeration value="ZWIS"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="TaxableIncomePerShareCalculated1">
<xs:sequence>
<xs:element name="Strd" type="TaxableIncomePerShareCalculated1Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TaxableIncomePerShareCalculated1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="TSIY"/>
<xs:enumeration value="TSIN"/>
<xs:enumeration value="UKWN"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="TickerIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="TypeOfPrice6Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BIDE"/>
<xs:enumeration value="OFFR"/>
<xs:enumeration value="NAVL"/>
<xs:enumeration value="CREA"/>
<xs:enumeration value="CANC"/>
<xs:enumeration value="INTE"/>
<xs:enumeration value="SWNG"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="MIDD"/>
<xs:enumeration value="RINV"/>
<xs:enumeration value="SWIC"/>
<xs:enumeration value="DDVR"/>
<xs:enumeration value="ACTU"/>
<xs:enumeration value="NAUP"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="TypeOfPrice8Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ACTU"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="UnitPrice4">
<xs:sequence>
<xs:element name="Tp" type="TypeOfPrice8Code"/>
<xs:element name="Val" type="PriceValue1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="UnitPrice6">
<xs:sequence>
<xs:element name="Tp" type="PriceType2"/>
<xs:element name="PricMtd" type="PriceMethod1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="ValInInvstmtCcy" type="PriceValue1" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="ValInAltrntvCcy" type="PriceValue1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ForExctnInd" type="YesNoIndicator"/>
<xs:element name="CumDvddInd" type="YesNoIndicator"/>
<xs:element name="ClctnBsis" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
<xs:element name="NbOfDaysAcrd" type="Number" minOccurs="0" maxOccurs="1"/>
<xs:element name="TaxblIncmPerShr" type="AmountPrice1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="TaxblIncmPerShrClctd" type="TaxableIncomePerShareCalculated1" minOccurs="0" maxOccurs="1"/>
<xs:element name="ChrgDtls" type="Charge9" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="TaxLbltyDtls" type="Tax8" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="TaxRfndDtls" type="Tax8" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ValuationStatistics2">
<xs:sequence>
<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
<xs:element name="PricTpChngBsis" type="PriceType2"/>
<xs:element name="PricChng" type="PriceValue2"/>
<xs:element name="Yld" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
<xs:element name="ByPrdfndTmPrds" type="StatisticsByPredefinedTimePeriods1" minOccurs="0" maxOccurs="1"/>
<xs:element name="ByUsrDfndTmPrd" type="StatisticsByUserDefinedTimePeriod1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ValuationTiming1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="EXCP"/>
<xs:enumeration value="USUA"/>
<xs:enumeration value="PATC"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="reda.003.001.02">
<xs:sequence>
<xs:element name="PoolRef" type="AdditionalReference3" minOccurs="0" maxOccurs="1"/>
<xs:element name="PrvsRef" type="AdditionalReference3"/>
<xs:element name="PricCrrctnDtls" type="PriceCorrection2" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
