Iso20022.UnitTest/Resources/Acmt/acmt.005.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.42.1) on 2013 May 24 16:27:13, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:acmt.005.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:acmt.005.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification1">
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountManagementMessageReference1">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="OthrRef" type="AdditionalReference3"/>
                <xs:element maxOccurs="1" minOccurs="0" name="PrvsRef" type="AdditionalReference3"/>
            </xs:choice>
            <xs:element name="StsReqTp" type="AccountManagementType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctApplId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcct" type="InvestmentAccount14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountManagementType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCO"/>
            <xs:enumeration value="ACCM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference3">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ReqForAcctMgmtStsRptV02" type="RequestForAccountManagementStatusReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GenderCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MALE"/>
            <xs:enumeration value="FEMA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification10">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:choice>
                <xs:element name="IdTp" type="PersonIdentificationType1Code"/>
                <xs:element name="XtndedIdTp" type="Extended350Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IndividualPerson4">
        <xs:sequence>
            <xs:element name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text"/>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Gndr" type="GenderCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BirthDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndividualPersonIdentificationChoice">
        <xs:choice>
            <xs:element name="IdNb" type="GenericIdentification10"/>
            <xs:element name="PrsnNm" type="IndividualPerson4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount14">
        <xs:sequence>
            <xs:element name="AcctId" type="AccountIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="IndvOwnrId" type="IndividualPersonIdentificationChoice"/>
                <xs:element maxOccurs="1" minOccurs="0" name="OrgOwnrId" type="PartyIdentification2Choice"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:choice>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PersonIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PASS"/>
            <xs:enumeration value="CPFA"/>
            <xs:enumeration value="SRSA"/>
            <xs:enumeration value="NRIN"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="SOCS"/>
            <xs:enumeration value="AREG"/>
            <xs:enumeration value="IDCD"/>
            <xs:enumeration value="EMID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestForAccountManagementStatusReportV02">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element name="ReqDtls" type="AccountManagementMessageReference1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
