Iso20022.UnitTest/Resources/Acmt/acmt.002.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Mar 03 21:42:58-->
<xs:schema elementFormDefault="qualified"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:acmt.002.001.02"
    xmlns="urn:iso:std:iso:20022:tech:xsd:acmt.002.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="AccountIdentification1"/>
            <xs:element name="AcctSvcr" type="PartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountDetailsConfirmationV02">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrRef" type="InvestmentFundOrder4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="AdditionalReference3"/>
            <xs:element name="ConfDtls" type="AccountManagementConfirmation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcct" type="InvestmentAccount27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctPties" type="AccountParties5"/>
            <xs:element maxOccurs="10" minOccurs="0" name="Intrmies" type="Intermediary12"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Plcmnt" type="ReferredAgent1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewIsseAllcn" type="NewIssueAllocation1"/>
            <xs:element maxOccurs="50" minOccurs="0"
                name="SvgsInvstmtPlan" type="InvestmentPlan4"/>
            <xs:element maxOccurs="10" minOccurs="0"
                name="WdrwlInvstmtPlan" type="InvestmentPlan4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshSttlm" type="InvestmentFundCashSettlementInformation3"/>
            <xs:element maxOccurs="30" minOccurs="0" name="SvcLvlAgrmt" type="DocumentToSend1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification1">
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentificationAndName3">
        <xs:sequence>
            <xs:element name="Id" type="CashAccountIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountManagementConfirmation1">
        <xs:sequence>
            <xs:element name="ConfTp" type="AccountManagementType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctApplId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountManagementType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCO"/>
            <xs:enumeration value="ACCM"/>
            <xs:enumeration value="GACC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AccountOwnershipType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="JOIN"/>
            <xs:enumeration value="COMO"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="SIGL"/>
            <xs:enumeration value="JOIT"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="TRUS"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="NFPO"/>
            <xs:enumeration value="ONIS"/>
            <xs:enumeration value="EURE"/>
            <xs:enumeration value="GOVO"/>
            <xs:enumeration value="LLCO"/>
            <xs:enumeration value="RGIC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AccountParties5">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PmryOwnr" type="InvestmentAccountOwnershipInformation5"/>
                <xs:element maxOccurs="5" minOccurs="1" name="Trstee" type="InvestmentAccountOwnershipInformation5"/>
                <xs:element name="CtdnForMnr" type="InvestmentAccountOwnershipInformation5"/>
                <xs:element name="Nmnee" type="InvestmentAccountOwnershipInformation5"/>
                <xs:element maxOccurs="5" minOccurs="1" name="JntOwnr" type="InvestmentAccountOwnershipInformation5"/>
            </xs:choice>
            <xs:element maxOccurs="10" minOccurs="0" name="ScndryOwnr" type="InvestmentAccountOwnershipInformation5"/>
            <xs:element maxOccurs="10" minOccurs="0" name="Bnfcry" type="InvestmentAccountOwnershipInformation5"/>
            <xs:element maxOccurs="5" minOccurs="0" name="PwrOfAttny" type="InvestmentAccountOwnershipInformation5"/>
            <xs:element maxOccurs="5" minOccurs="0" name="LglGuardn" type="InvestmentAccountOwnershipInformation5"/>
            <xs:element maxOccurs="5" minOccurs="0" name="SucssrOnDth" type="InvestmentAccountOwnershipInformation5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Admstr" type="InvestmentAccountOwnershipInformation5"/>
            <xs:element maxOccurs="5" minOccurs="0" name="OthrPty" type="ExtendedParty2"/>
            <xs:element maxOccurs="5" minOccurs="0" name="Grntr" type="InvestmentAccountOwnershipInformation5"/>
            <xs:element maxOccurs="5" minOccurs="0" name="Sttlr" type="InvestmentAccountOwnershipInformation5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENAB"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DELE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AccountStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENAB"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="FORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference3">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode"/>
                <xs:element name="PrtryIdSrc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AustrianBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AT[0-9]{5,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="BloombergIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchData">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CHIPSParticipantIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CP[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="CanadianPaymentsARNIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CA[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount12">
        <xs:sequence>
            <xs:element name="Id" type="CashAccountIdentification1Choice"/>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType1Code"/>
                <xs:element maxOccurs="1" minOccurs="0" name="XtndedTp" type="Extended350Code"/>
            </xs:choice>
            <xs:element name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element name="Sts" type="AccountStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount4">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentificationAndName3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrBrnch" type="BranchData"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="InvstmtAcctTp" type="FundCashAccount2Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedInvstmtAcctTp" type="Extended350Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountIdentification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBANIdentifier"/>
                <xs:element name="BBAN" type="BBANIdentifier"/>
                <xs:element name="UPIC" type="UPICIdentifier"/>
                <xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SACC"/>
            <xs:enumeration value="CACC"/>
            <xs:enumeration value="SVGS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CertificateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DFOR"/>
            <xs:enumeration value="GOST"/>
            <xs:enumeration value="LREF"/>
            <xs:enumeration value="AMLC"/>
            <xs:enumeration value="INCU"/>
            <xs:enumeration value="PASS"/>
            <xs:enumeration value="DVLC"/>
            <xs:enumeration value="IDEN"/>
            <xs:enumeration value="PRAD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Cheque4">
        <xs:sequence>
            <xs:element name="PyeeId" type="NameAndAddress5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CitizenshipInformation">
        <xs:sequence>
            <xs:element name="Ntlty" type="NationalityCode"/>
            <xs:element name="MnrInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentificationChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
                <xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
                <xs:element name="IENSC" type="IrishNSCIdentifier"/>
                <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
                <xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
                <xs:element name="CHBC" type="SwissBCIdentifier"/>
                <xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
                <xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
                <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
                <xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
                <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
                <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
                <xs:element name="CHSIC" type="SwissSICIdentifier"/>
                <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
                <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
                <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
                <xs:element name="HKNCC" type="HongKongBankIdentifier"/>
                <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
                <xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationAddress3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Email" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Phne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mob" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TlxAdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CommunicationMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SWMT"/>
            <xs:enumeration value="SWMX"/>
            <xs:enumeration value="FAXI"/>
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="PROP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CountryAndResidentialStatusType1">
        <xs:sequence>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="ResdtlSts" type="ResidentialStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeMinimusApplicable1">
        <xs:sequence>
            <xs:element name="NewIssePrmssn" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pctg" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeMinimusNotApplicable1">
        <xs:sequence>
            <xs:element name="RstrctdPrsnRsn" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DirectDebitMandate4">
        <xs:sequence>
            <xs:element name="DbtrAcct" type="AccountIdentificationAndName3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrTaxIdNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrNtlRegnNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="PartyIdentification2Choice"/>
            <xs:element name="DbtrAgt" type="FinancialInstitutionIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgtBrnch" type="BranchData"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="FinancialInstitutionIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgtBrnch" type="BranchData"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MndtId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AcctDtlsConfV02" type="AccountDetailsConfirmationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentToSend1">
        <xs:sequence>
            <xs:element name="Tp" type="Max140Text"/>
            <xs:element name="Rcpt" type="PartyIdentification2Choice"/>
            <xs:choice>
                <xs:element name="MtdOfTrnsmssn" type="CommunicationMethod1Code"/>
                <xs:element name="XtndedMtdOfTrnsmssn" type="Extended350Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventFrequency1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="TOMN"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="TWMN"/>
            <xs:enumeration value="TOWK"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="OVNG"/>
            <xs:enumeration value="ONDE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExtendedParty2">
        <xs:sequence>
            <xs:element name="XtndedPtyRole" type="Extended350Code"/>
            <xs:element name="OthrPtyDtls" type="InvestmentAccountOwnershipInformation5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FedwireRoutingNumberIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="FW[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
                <xs:element name="BIC" type="BICIdentifier"/>
                <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice"/>
                <xs:element name="PrtryId" type="SimpleIdentificationInformation"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument10">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctGrp" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FundCashAccount2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CPFO"/>
            <xs:enumeration value="CPFS"/>
            <xs:enumeration value="SRSA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FundCashAccount3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CPFO"/>
            <xs:enumeration value="CPFS"/>
            <xs:enumeration value="SRSA"/>
            <xs:enumeration value="HEDG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GenderCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MALE"/>
            <xs:enumeration value="FEMA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification9">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:choice>
                <xs:element name="IdTp" type="PersonIdentificationType1Code"/>
                <xs:element name="XtndedIdTp" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GermanBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="BL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HongKongBankIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="HK[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="IncomePreference1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="DRIP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IndividualPerson10">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedNmPrfx" type="Extended350Code"/>
            </xs:choice>
            <xs:element name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text"/>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmSfx" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Gndr" type="GenderCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lang" type="LanguageCode"/>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfBirth" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CityOfBirth" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prfssn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxtnCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="CtryAndResdtlSts" type="CountryAndResidentialStatusType1"/>
            <xs:element maxOccurs="5" minOccurs="1" name="PstlAdr" type="PostalAddress3"/>
            <xs:element maxOccurs="3" minOccurs="1" name="Ctznsh" type="CitizenshipInformation"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmplngCpny" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizFctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryComAdr" type="CommunicationAddress3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryComAdr" type="CommunicationAddress3"/>
            <xs:element maxOccurs="10" minOccurs="0" name="OthrId" type="GenericIdentification9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Intermediary12">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="Account2"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="WvdTrlrComssnInd" type="YesNoIndicator"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="Role" type="InvestmentFundRole3Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedRole" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryComAdr" type="CommunicationAddress3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryComAdr" type="CommunicationAddress3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount27">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification1"/>
            <xs:element name="Sts" type="AccountStatus2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max35Text"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="FundCashAccount3Code"/>
                <xs:element maxOccurs="1" minOccurs="0" name="XtndedTp" type="Extended350Code"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="OwnrshTp" type="AccountOwnershipType3Code"/>
                <xs:element name="XtndedOwnrshTp" type="Extended350Code"/>
            </xs:choice>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="TaxXmptnRsn" type="TaxExemptReason1Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedTaxXmptnRsn" type="Extended350Code"/>
            </xs:choice>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="StmtFrqcy" type="EventFrequency1Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedStmtFrqcy" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="RefCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lang" type="LanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmPref" type="IncomePreference1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxWhldgMtd" type="TaxWithholdingMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LttrInttRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcmltnRghtRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="ReqrdSgntriesNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FndFmlyNm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RndgDtls" type="RoundingParameters1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="FndsDtls" type="FinancialInstrument10"/>
            <xs:element maxOccurs="10" minOccurs="0" name="CshAcct" type="CashAccount12"/>
            <xs:element maxOccurs="10" minOccurs="0" name="SctiesAcct" type="SecuritiesAccount4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccountOwnershipInformation5">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Org" type="Organisation2"/>
                <xs:element name="IndvPrsn" type="IndividualPerson10"/>
            </xs:choice>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="MnyLndrgChck" type="MoneyLaunderingCheck1Code"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="XtndedMnyLndrgChck" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="InvstrPrflVldtn" type="PartyProfileInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="OwnrshBnfcryRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclXmptn" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgntryRghtInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentFundCashSettlementInformation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0"
                name="SbcptPmtInstrm" type="PaymentInstrument8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedPmtInstrm" type="PaymentInstrument9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddPmtInstrm" type="PaymentInstrument9"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="SvgsPlanPmtInstrm" type="PaymentInstrument8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentFundOrder4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundRole3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CACO"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="DATP"/>
            <xs:enumeration value="FIAG"/>
            <xs:enumeration value="FMCO"/>
            <xs:enumeration value="FACT"/>
            <xs:enumeration value="INVS"/>
            <xs:enumeration value="INVE"/>
            <xs:enumeration value="PAYI"/>
            <xs:enumeration value="REGI"/>
            <xs:enumeration value="TRAG"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="FNBR"/>
            <xs:enumeration value="FTAG"/>
            <xs:enumeration value="FIAD"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="CONC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestmentPlan4">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Frqcy" type="EventFrequency1Code"/>
                <xs:element name="XtndedFrqcy" type="Extended350Code"/>
            </xs:choice>
            <xs:element name="StartDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndDt" type="ISODate"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssAmtInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmPref" type="IncomePreference1Code"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="InitlNbOfInstlmt" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="TtlNbOfInstlmt" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RndgDrctn" type="RoundingDirection1Code"/>
            <xs:element maxOccurs="50" minOccurs="1" name="SctyDtls" type="Repartition1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshSttlm" type="InvestmentFundCashSettlementInformation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IrishNSCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IE[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItalianDomesticIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IT[0-9]{10,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LanguageCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MoneyLaunderingCheck1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PASS"/>
            <xs:enumeration value="NOTC"/>
            <xs:enumeration value="EXEM"/>
            <xs:enumeration value="CLMO"/>
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="POEP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NationalityCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="NewIssueAllocation1">
        <xs:sequence>
            <xs:element name="Rstrctd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XmptPrsnRsn" type="Max350Text"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="DeMnmsAplbl" type="DeMinimusApplicable1"/>
                <xs:element maxOccurs="1" minOccurs="0"
                    name="DeMnmsNotAplbl" type="DeMinimusNotApplicable1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NewZealandNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="NZ[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Organisation2">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxtnCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxIdNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtlRegnNb" type="Max35Text"/>
            <xs:element maxOccurs="5" minOccurs="1" name="PstlAdr" type="PostalAddress3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryComAdr" type="CommunicationAddress3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryComAdr" type="CommunicationAddress3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification1"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyProfileInformation1">
        <xs:sequence>
            <xs:element name="CertfctnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtngPty" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckngPty" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPty" type="Max140Text"/>
            <xs:choice>
                <xs:element name="CertTp" type="CertificateType1Code"/>
                <xs:element name="XtndedCertTp" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckngDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckngFrqcy" type="EventFrequency1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NxtRvsnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SlryRg" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrcOfWlth" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentCard2">
        <xs:sequence>
            <xs:element name="Tp" type="CardType1Code"/>
            <xs:element name="Nb" type="Max35Text"/>
            <xs:element name="HldrNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StartDt" type="ISOYearMonth"/>
            <xs:element name="XpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardIssrNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardIssrId" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Max3Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstrument8">
        <xs:sequence>
            <xs:element name="SttlmCcy" type="ActiveCurrencyCode"/>
            <xs:choice>
                <xs:element maxOccurs="3" minOccurs="1"
                    name="CshAcctDtls" type="CashAccount4"/>
                <xs:element name="PmtCardDtls" type="PaymentCard2"/>
                <xs:element name="DrctDbtDtls" type="DirectDebitMandate4"/>
                <xs:element name="Chq" type="YesNoIndicator"/>
                <xs:element name="BkrsDrft" type="YesNoIndicator"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstrument9">
        <xs:sequence>
            <xs:element name="SttlmCcy" type="ActiveCurrencyCode"/>
            <xs:choice>
                <xs:element maxOccurs="3" minOccurs="1"
                    name="CshAcctDtls" type="CashAccount4"/>
                <xs:element name="ChqDtls" type="Cheque4"/>
                <xs:element name="BkrsDrftDtls" type="Cheque4"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PersonIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PASS"/>
            <xs:enumeration value="CPFA"/>
            <xs:enumeration value="SRSA"/>
            <xs:enumeration value="NRIN"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="SOCS"/>
            <xs:enumeration value="AREG"/>
            <xs:enumeration value="IDCD"/>
            <xs:enumeration value="EMID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PortugueseNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="PT[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress3">
        <xs:sequence>
            <xs:element name="AdrTp" type="AddressType1Code"/>
            <xs:element name="MlngInd" type="YesNoIndicator"/>
            <xs:element name="RegnAdrInd" type="YesNoIndicator"/>
            <xs:element name="NmAndAdr" type="NameAndAddress4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Referred1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REFR"/>
            <xs:enumeration value="NRFR"/>
            <xs:enumeration value="UKNW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReferredAgent1">
        <xs:sequence>
            <xs:element name="Rfrd" type="Referred1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RfrdPlcmntAgt" type="PartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Repartition1">
        <xs:sequence>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element name="FinInstrm" type="FinancialInstrument10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResidentialStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RESI"/>
            <xs:enumeration value="PRES"/>
            <xs:enumeration value="NRES"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RoundingDirection1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RDUP"/>
            <xs:enumeration value="RDWN"/>
            <xs:enumeration value="STAN"/>
            <xs:enumeration value="DIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RoundingParameters1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RndgMdlus" type="DecimalNumber"/>
            <xs:element name="RndgDrctn" type="RoundingDirection1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="RU[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount4">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification1"/>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="FinInstrmSplmtryId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmNm" type="Max350Text"/>
            <xs:element name="Sts" type="AccountStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier"/>
                <xs:element name="SEDOL" type="SEDOLIdentifier"/>
                <xs:element name="CUSIP" type="CUSIPIdentifier"/>
                <xs:element name="RIC" type="RICIdentifier"/>
                <xs:element name="TckrSymb" type="TickerIdentifier"/>
                <xs:element name="Blmbrg" type="BloombergIdentifier"/>
                <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
                <xs:element name="QUICK" type="QUICKIdentifier"/>
                <xs:element name="Wrtppr" type="WertpapierIdentifier"/>
                <xs:element name="Dtch" type="DutchIdentifier"/>
                <xs:element name="Vlrn" type="ValorenIdentifier"/>
                <xs:element name="SCVM" type="SicovamIdentifier"/>
                <xs:element name="Belgn" type="BelgianIdentifier"/>
                <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
                <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SmallNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SouthAfricanNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ZA[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ES[0-9]{8,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissBCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissSICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxExemptReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="MASA"/>
            <xs:enumeration value="MISA"/>
            <xs:enumeration value="SISA"/>
            <xs:enumeration value="IISA"/>
            <xs:enumeration value="CUYP"/>
            <xs:enumeration value="PRYP"/>
            <xs:enumeration value="ASTR"/>
            <xs:enumeration value="EMPY"/>
            <xs:enumeration value="EMCY"/>
            <xs:enumeration value="EPRY"/>
            <xs:enumeration value="ECYE"/>
            <xs:enumeration value="NFPI"/>
            <xs:enumeration value="NFQP"/>
            <xs:enumeration value="DECP"/>
            <xs:enumeration value="IRAC"/>
            <xs:enumeration value="IRAR"/>
            <xs:enumeration value="KEOG"/>
            <xs:enumeration value="PFSP"/>
            <xs:enumeration value="401K"/>
            <xs:enumeration value="SIRA"/>
            <xs:enumeration value="403B"/>
            <xs:enumeration value="457X"/>
            <xs:enumeration value="RIRA"/>
            <xs:enumeration value="RIAN"/>
            <xs:enumeration value="RCRF"/>
            <xs:enumeration value="RCIP"/>
            <xs:enumeration value="EIFP"/>
            <xs:enumeration value="EIOP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxWithholdingMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WTHD"/>
            <xs:enumeration value="REPT"/>
            <xs:enumeration value="CRTF"/>
            <xs:enumeration value="WTRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UKDomesticSortCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SC[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
