Iso20022.UnitTest/Resources/Acmt/acmt.005.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 04 16:51:52, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:acmt.005.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:acmt.005.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountManagementMessageReference3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LkdRef" type="LinkedMessage3Choice"/>
            <xs:element name="StsReqTp" type="AccountManagementType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctApplId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExstgAcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcct" type="InvestmentAccount53"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountManagementType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCO"/>
            <xs:enumeration value="ACCM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference6">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification90Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ReqForAcctMgmtStsRpt" type="RequestForAccountManagementStatusReportV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GenderCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MALE"/>
            <xs:enumeration value="FEMA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification81">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="OtherIdentification3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IndividualPerson30">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text"/>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Gndr" type="GenderCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BirthDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndividualPersonIdentification2Choice">
        <xs:choice>
            <xs:element name="IdNb" type="GenericIdentification81"/>
            <xs:element name="PrsnNm" type="IndividualPerson30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount53">
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnrId" type="OwnerIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification70Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LinkedMessage3Choice">
        <xs:choice>
            <xs:element name="PrvsRef" type="AdditionalReference6"/>
            <xs:element name="OthrRef" type="AdditionalReference6"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification3Choice">
        <xs:choice>
            <xs:element name="Cd" type="PartyIdentificationType7Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OwnerIdentification2Choice">
        <xs:choice>
            <xs:element name="IndvOwnrId" type="IndividualPersonIdentification2Choice"/>
            <xs:element name="OrgOwnrId" type="PartyIdentification95"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification70Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification90Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification95">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification70Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNttyIdr" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyIdentificationType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATIN"/>
            <xs:enumeration value="IDCD"/>
            <xs:enumeration value="NRIN"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PASS"/>
            <xs:enumeration value="POCD"/>
            <xs:enumeration value="SOCS"/>
            <xs:enumeration value="SRSA"/>
            <xs:enumeration value="GUNL"/>
            <xs:enumeration value="GTIN"/>
            <xs:enumeration value="ITIN"/>
            <xs:enumeration value="CPFA"/>
            <xs:enumeration value="AREG"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="EMID"/>
            <xs:enumeration value="NINV"/>
            <xs:enumeration value="INCL"/>
            <xs:enumeration value="GIIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestForAccountManagementStatusReportV04">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element name="ReqDtls" type="AccountManagementMessageReference3"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
