Iso20022.UnitTest/Resources/Setr/setr.018.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.0.1.3) on 2005 Mar 15 19:41:02-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:xsd:setr.018.001.02" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:xsd:setr.018.001.02">
<xs:element name="Document" type="Document"/>
<xs:complexType name="AccountIdentification1">
<xs:sequence>
<xs:element name="Prtry" type="SimpleIdentificationInformation"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AdditionalReference3">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="RefIssr" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="MsgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AddressType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ADDR"/>
<xs:enumeration value="PBOX"/>
<xs:enumeration value="HOME"/>
<xs:enumeration value="BIZZ"/>
<xs:enumeration value="MLTO"/>
<xs:enumeration value="DLVY"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="setr.018.001.02" type="setr.018.001.02"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvestmentAccount13">
<xs:sequence>
<xs:element name="AcctId" type="AccountIdentification1"/>
<xs:element name="AcctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctDsgnt" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="OwnrId" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="AcctSvcr" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max350Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="350"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max70Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="70"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MessageAndBusinessReference2">
<xs:sequence>
<xs:choice>
<xs:element name="OthrRef" type="AdditionalReference3"/>
<xs:element name="PrvsRef" type="AdditionalReference3"/>
</xs:choice>
<xs:element name="IndvOrdrRef" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="InvstmtAcct" type="InvestmentAccount13" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameAndAddress5">
<xs:sequence>
<xs:element name="Nm" type="Max350Text"/>
<xs:element name="Adr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentification2Choice">
<xs:sequence>
<xs:choice>
<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
<xs:element name="PrtryId" type="GenericIdentification1"/>
<xs:element name="NmAndAdr" type="NameAndAddress5"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PostalAddress1">
<xs:sequence>
<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="5"/>
<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setr.018.001.02">
<xs:sequence>
<xs:element name="ReqDtls" type="MessageAndBusinessReference2" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
