Iso20022.UnitTest/Resources/Setr/setr.006.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.0.1.3) on 2005 Mar 15 19:41:02-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:xsd:setr.006.001.02" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:xsd:setr.006.001.02">
<xs:element name="Document" type="Document"/>
<xs:complexType name="Account2">
<xs:sequence>
<xs:element name="Id" type="AccountIdentification1" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctSvcr" type="PartyIdentification2Choice"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentification1">
<xs:sequence>
<xs:element name="Prtry" type="SimpleIdentificationInformation"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountIdentificationAndName3">
<xs:sequence>
<xs:element name="Id" type="CashAccountIdentification1Choice"/>
<xs:element name="Nm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="13"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
<xs:simpleContent>
<xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveCurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="ActiveCurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AdditionalReference3">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="RefIssr" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="MsgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AddressType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ADDR"/>
<xs:enumeration value="PBOX"/>
<xs:enumeration value="HOME"/>
<xs:enumeration value="BIZZ"/>
<xs:enumeration value="MLTO"/>
<xs:enumeration value="DLVY"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AlternateSecurityIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:choice>
<xs:element name="DmstIdSrc" type="CountryCode"/>
<xs:element name="PrtryIdSrc" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AmountPrice1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Amt" type="CurrencyAndAmount"/>
<xs:element name="UnitPric" type="UnitPrice4"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AustrianBankleitzahlIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AT[0-9]{5,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="BICIdentification1">
<xs:sequence>
<xs:element name="BIC" type="BICIdentifier"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="BICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BaseOneRate">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="10"/>
<xs:totalDigits value="11"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BloombergIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CHIPSParticipantIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CP[0-9]{4,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CHIPSUniversalIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CH[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CanadianPaymentsARNIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CA[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CancellationRight1">
<xs:sequence>
<xs:element name="Strd" type="CancellationRight2Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CancellationRight2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="VALI"/>
<xs:enumeration value="NOXO"/>
<xs:enumeration value="NOWA"/>
<xs:enumeration value="NOIN"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CashAccountIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="IBAN" type="IBANIdentifier"/>
<xs:element name="BBAN" type="BBANIdentifier"/>
<xs:element name="UPIC" type="UPICIdentifier"/>
<xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CashAccountType1">
<xs:sequence>
<xs:element name="Strd" type="FundCashAccount1Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Charge10">
<xs:sequence>
<xs:element name="Tp" type="ChargeType1"/>
<xs:element name="ChrgBsis" type="TaxationBasis1" minOccurs="0" maxOccurs="1"/>
<xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
<xs:element name="Rate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
<xs:element name="RcptId" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ChargeType1">
<xs:sequence>
<xs:element name="Strd" type="ChargeType6Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ChargeType6Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BEND"/>
<xs:enumeration value="FEND"/>
<xs:enumeration value="SWIT"/>
<xs:enumeration value="DLEV"/>
<xs:enumeration value="DISC"/>
<xs:enumeration value="PENA"/>
<xs:enumeration value="MANF"/>
<xs:enumeration value="POST"/>
<xs:enumeration value="REGF"/>
<xs:enumeration value="SHIP"/>
<xs:enumeration value="CHAR"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="CDSC"/>
<xs:enumeration value="EQUL"/>
<xs:enumeration value="CBCH"/>
<xs:enumeration value="PREM"/>
<xs:enumeration value="INIT"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Cheque3">
<xs:sequence>
<xs:element name="Nb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PyeeId" type="PartyIdentification2Choice"/>
<xs:element name="DrweeId" type="FinancialInstitutionIdentification3Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="DrwrId" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ClearingSystemMemberIdentificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
<xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
<xs:element name="IENSC" type="IrishNSCIdentifier"/>
<xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
<xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
<xs:element name="CHBC" type="SwissBCIdentifier"/>
<xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
<xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
<xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
<xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
<xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
<xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
<xs:element name="CHSIC" type="SwissSICIdentifier"/>
<xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
<xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
<xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
<xs:element name="HKNCC" type="HongKongBankIdentifier"/>
<xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
<xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Commission6">
<xs:sequence>
<xs:element name="Tp" type="CommissionType1" minOccurs="0" maxOccurs="1"/>
<xs:element name="Bsis" type="TaxationBasis1" minOccurs="0" maxOccurs="1"/>
<xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="Rate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
<xs:element name="RcptId" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="ComrclAgrmtRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="WvgDtls" type="CommissionWaiver2" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CommissionType1">
<xs:sequence>
<xs:element name="Strd" type="CommissionType5Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CommissionType5Code">
<xs:restriction base="xs:string">
<xs:enumeration value="FEND"/>
<xs:enumeration value="BEND"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CommissionWaiver2">
<xs:sequence>
<xs:element name="InstrBsis" type="WaivingType1"/>
<xs:element name="WvdRate" type="PercentageRate"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CopyInformation1">
<xs:sequence>
<xs:element name="CpyInd" type="YesNoIndicator"/>
<xs:element name="OrgnlRcvr" type="BICIdentification1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CountryAndResidentialStatusType1">
<xs:sequence>
<xs:element name="Ctry" type="CountryCode"/>
<xs:element name="ResdtlSts" type="ResidentialStatus1Code"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CreditTransfer3">
<xs:sequence>
<xs:element name="Ref" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CdtrDtls" type="Creditor2"/>
<xs:element name="DbtrDtls" type="Debtor2" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Creditor2">
<xs:sequence>
<xs:element name="Cdtr" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctId" type="AccountIdentificationAndName3"/>
<xs:element name="FnlAgt" type="FinancialInstitutionIdentification3Choice"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="CurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateAndDateTimeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Dt" type="ISODate"/>
<xs:element name="DtTm" type="ISODateTime"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Debtor2">
<xs:sequence>
<xs:element name="Dbtr" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctId" type="AccountIdentificationAndName3"/>
<xs:element name="FrstAgt" type="FinancialInstitutionIdentification3Choice"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DecimalNumber">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="17"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DeliveringPartiesAndAccount3">
<xs:sequence>
<xs:element name="DlvrrsCtdnDtls" type="PartyIdentificationAndAccount3" minOccurs="0" maxOccurs="1"/>
<xs:element name="DlvrrsIntrmyDtls" type="PartyIdentificationAndAccount3" minOccurs="0" maxOccurs="1"/>
<xs:element name="DlvrgAgtDtls" type="PartyIdentificationAndAccount3"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DeliveryParameters3">
<xs:sequence>
<xs:element name="Adr" type="NameAndAddress4"/>
<xs:element name="IssdCertNb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DistributionPolicy1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DIST"/>
<xs:enumeration value="ACCU"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="setr.006.001.02" type="setr.006.001.02"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="EUCapitalGain1">
<xs:sequence>
<xs:element name="Strd" type="EUCapitalGain1Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="EUCapitalGain1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="EUSI"/>
<xs:enumeration value="EUSO"/>
<xs:enumeration value="UKWN"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="EuroclearClearstreamIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="12"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Extension1">
<xs:sequence>
<xs:element name="PlcAndNm" type="Max350Text"/>
<xs:element name="Txt" type="Max350Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ExtensiveBranchNetworkIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AU[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FedwireRoutingNumberIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="FW[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="FinancialInstitutionIdentification3Choice">
<xs:sequence>
<xs:choice>
<xs:element name="NmAndAdr" type="NameAndAddress5"/>
<xs:element name="BIC" type="BICIdentifier"/>
<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice"/>
<xs:element name="PrtryId" type="SimpleIdentificationInformation"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstrument6">
<xs:sequence>
<xs:element name="Id" type="SecurityIdentification1Choice"/>
<xs:element name="Nm" type="Max350Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SplmtryId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="ClssTp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SctiesForm" type="FormOfSecurity1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="DstrbtnPlcy" type="DistributionPolicy1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="PdctGrp" type="Max140Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstrumentQuantity1">
<xs:sequence>
<xs:element name="Unit" type="DecimalNumber"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ForeignExchangeTerms4">
<xs:sequence>
<xs:element name="BuyAmt" type="ActiveCurrencyAnd13DecimalAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="SellAmt" type="ActiveCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="UnitCcy" type="CurrencyCode"/>
<xs:element name="QtdCcy" type="CurrencyCode"/>
<xs:element name="XchgRate" type="BaseOneRate"/>
<xs:element name="QtnDt" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
<xs:element name="QtgInstn" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="FormOfSecurity1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BEAR"/>
<xs:enumeration value="REGD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FundCashAccount1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CASH"/>
<xs:enumeration value="CPFO"/>
<xs:enumeration value="CPFS"/>
<xs:enumeration value="SRSA"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="FundOrderType1">
<xs:sequence>
<xs:element name="Strd" type="FundOrderType2Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="FundOrderType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BEDB"/>
<xs:enumeration value="INVP"/>
<xs:enumeration value="PREA"/>
<xs:enumeration value="STAF"/>
<xs:enumeration value="RGSV"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="FundSettlementParameters4">
<xs:sequence>
<xs:element name="SttlmDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
<xs:element name="SttlmPlc" type="PartyIdentification2Choice"/>
<xs:element name="SfkpgPlc" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="SctiesSttlmSysId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="RcvgSdDtls" type="ReceivingPartiesAndAccount3"/>
<xs:element name="DlvrgSdDtls" type="DeliveringPartiesAndAccount3" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericIdentification8">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="IdTp" type="IdentificationType1"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="GermanBankleitzahlIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="BL[0-9]{8,8}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="HongKongBankIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="HK[0-9]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ISINIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z0-9]{12,12}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:complexType name="IdentificationType1">
<xs:sequence>
<xs:element name="Strd" type="PersonIdentificationType1Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="IncomePreference1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CASH"/>
<xs:enumeration value="DRIP"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="IndividualPerson2">
<xs:sequence>
<xs:element name="Nm" type="Max350Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="BirthDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtryAndResdtlSts" type="CountryAndResidentialStatusType1" minOccurs="0" maxOccurs="1"/>
<xs:element name="OthrId" type="GenericIdentification8" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Intermediary4">
<xs:sequence>
<xs:element name="Id" type="PartyIdentification2Choice"/>
<xs:element name="Acct" type="Account2" minOccurs="0" maxOccurs="1"/>
<xs:element name="Role" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvestmentAccount13">
<xs:sequence>
<xs:element name="AcctId" type="AccountIdentification1"/>
<xs:element name="AcctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctDsgnt" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="OwnrId" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="AcctSvcr" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvestmentAccount15">
<xs:sequence>
<xs:element name="AcctId" type="AccountIdentification1" minOccurs="0" maxOccurs="1"/>
<xs:element name="Tp" type="CashAccountType1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="IrishNSCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="IE[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ItalianDomesticIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="IT[0-9]{10,10}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max350Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="350"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max70Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="70"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="NameAndAddress4">
<xs:sequence>
<xs:element name="Nm" type="Max350Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Adr" type="PostalAddress1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameAndAddress5">
<xs:sequence>
<xs:element name="Nm" type="Max350Text"/>
<xs:element name="Adr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="NewZealandNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="NZ[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Number">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="0"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PartyIdentification2Choice">
<xs:sequence>
<xs:choice>
<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
<xs:element name="PrtryId" type="GenericIdentification1"/>
<xs:element name="NmAndAdr" type="NameAndAddress5"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentificationAndAccount3">
<xs:sequence>
<xs:element name="PtyId" type="PartyIdentification2Choice"/>
<xs:element name="AcctId" type="AccountIdentification1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentInstrument7Choice">
<xs:sequence>
<xs:choice>
<xs:element name="CdtTrfDtls" type="CreditTransfer3"/>
<xs:element name="ChqDtls" type="Cheque3"/>
<xs:element name="AcctDtls" type="InvestmentAccount15"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentTransaction15">
<xs:sequence>
<xs:element name="SttlmAmt" type="ActiveCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="SttlmDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
<xs:element name="PmtInstrm" type="PaymentInstrument7Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PercentageRate">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="10"/>
<xs:totalDigits value="11"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PersonIdentificationType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="PASS"/>
<xs:enumeration value="CPFA"/>
<xs:enumeration value="SRSA"/>
<xs:enumeration value="NRIN"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="DRLC"/>
<xs:enumeration value="SOCS"/>
<xs:enumeration value="AREG"/>
<xs:enumeration value="IDCD"/>
<xs:enumeration value="EMID"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PortugueseNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="PT[0-9]{8,8}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PostalAddress1">
<xs:sequence>
<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="5"/>
<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PriceMethod1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="FORW"/>
<xs:enumeration value="HIST"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PriceType1">
<xs:sequence>
<xs:element name="Strd" type="TypeOfPrice7Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PriceValue1">
<xs:sequence>
<xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProfitAndLoss1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Prft" type="ActiveCurrencyAnd13DecimalAmount"/>
<xs:element name="Loss" type="ActiveCurrencyAnd13DecimalAmount"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="RICIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ReceivingPartiesAndAccount3">
<xs:sequence>
<xs:element name="RcvrsCtdnDtls" type="PartyIdentificationAndAccount3" minOccurs="0" maxOccurs="1"/>
<xs:element name="RcvrsIntrmyDtls" type="PartyIdentificationAndAccount3" minOccurs="0" maxOccurs="1"/>
<xs:element name="RcvgAgtDtls" type="PartyIdentificationAndAccount3"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RedemptionExecution4">
<xs:sequence>
<xs:element name="OrdrRef" type="Max35Text"/>
<xs:element name="DealRef" type="Max35Text"/>
<xs:element name="OrdrTp" type="FundOrderType1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FinInstrmDtls" type="FinancialInstrument6"/>
<xs:element name="UnitsNb" type="FinancialInstrumentQuantity1"/>
<xs:element name="Rndg" type="RoundingDirection2Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="NetAmt" type="ActiveCurrencyAndAmount"/>
<xs:element name="HldgsRedRate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
<xs:element name="GrssAmt" type="ActiveCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="TradDtTm" type="DateAndDateTimeChoice"/>
<xs:element name="PricDtls" type="UnitPrice5"/>
<xs:element name="PrtlyExctdInd" type="YesNoIndicator"/>
<xs:element name="CumDvddInd" type="YesNoIndicator"/>
<xs:element name="IntrmPrftAmt" type="ProfitAndLoss1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="FXDtls" type="ForeignExchangeTerms4" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="IncmPref" type="IncomePreference1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="Grp1Or2Units" type="UKTaxGroupUnitCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="ChrgGnlDtls" type="TotalCharges2" minOccurs="0" maxOccurs="1"/>
<xs:element name="ComssnGnlDtls" type="TotalCommissions2" minOccurs="0" maxOccurs="1"/>
<xs:element name="TaxGnlDtls" type="TotalTaxes2" minOccurs="0" maxOccurs="1"/>
<xs:element name="SttlmAndCtdyDtls" type="FundSettlementParameters4" minOccurs="0" maxOccurs="1"/>
<xs:element name="PhysDlvryInd" type="YesNoIndicator"/>
<xs:element name="PhysDlvryDtls" type="DeliveryParameters3" minOccurs="0" maxOccurs="1"/>
<xs:element name="ReqdSttlmCcy" type="CurrencyCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="ReqdNAVCcy" type="CurrencyCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="CshSttlmDtls" type="PaymentTransaction15" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RedemptionMultipleExecution2">
<xs:sequence>
<xs:element name="BnfcryDtls" type="IndividualPerson2" minOccurs="0" maxOccurs="1"/>
<xs:element name="PlcOfTrad" type="CountryCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="OrdrDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
<xs:element name="CxlRght" type="CancellationRight1" minOccurs="0" maxOccurs="1"/>
<xs:element name="InvstmtAcctDtls" type="InvestmentAccount13"/>
<xs:element name="IndvExctnDtls" type="RedemptionExecution4" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="BlkCshSttlmDtls" type="PaymentTransaction15" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ResidentialStatus1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="RESI"/>
<xs:enumeration value="PRES"/>
<xs:enumeration value="NRES"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="RoundingDirection2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="RDUP"/>
<xs:enumeration value="RDWN"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="RU[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SecurityIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="ISIN" type="ISINIdentifier"/>
<xs:element name="AltrnId" type="AlternateSecurityIdentification1"/>
<xs:element name="RIC" type="RICIdentifier"/>
<xs:element name="TckrSymb" type="TickerIdentifier"/>
<xs:element name="Blmbrg" type="BloombergIdentifier"/>
<xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
<xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SmallNetworkIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AU[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SouthAfricanNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="ZA[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SpanishDomesticInterbankingIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="ES[0-9]{8,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SwissBCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SW[0-9]{3,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SwissSICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SW[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Tax7">
<xs:sequence>
<xs:element name="Tp" type="TaxType2"/>
<xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
<xs:element name="Rate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
<xs:element name="RcptId" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="XmptnInd" type="YesNoIndicator"/>
<xs:element name="XmptnRsn" type="TaxExemptionReason1" minOccurs="0" maxOccurs="1"/>
<xs:element name="TaxClctnDtls" type="TaxCalculationInformation3" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxCalculationInformation3">
<xs:sequence>
<xs:element name="Bsis" type="TaxationBasis1" minOccurs="0" maxOccurs="1"/>
<xs:element name="EUCptlGn" type="EUCapitalGain1" minOccurs="0" maxOccurs="1"/>
<xs:element name="TaxblAmt" type="ActiveCurrencyAnd13DecimalAmount" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TaxExemptReason2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="NONE"/>
<xs:enumeration value="MASA"/>
<xs:enumeration value="MISA"/>
<xs:enumeration value="SISA"/>
<xs:enumeration value="IISA"/>
<xs:enumeration value="CUYP"/>
<xs:enumeration value="PRYP"/>
<xs:enumeration value="ASTR"/>
<xs:enumeration value="EMPY"/>
<xs:enumeration value="EMCY"/>
<xs:enumeration value="EPRY"/>
<xs:enumeration value="ECYE"/>
<xs:enumeration value="NFPI"/>
<xs:enumeration value="NFQP"/>
<xs:enumeration value="DECP"/>
<xs:enumeration value="IRAC"/>
<xs:enumeration value="IRAR"/>
<xs:enumeration value="KEOG"/>
<xs:enumeration value="PFSP"/>
<xs:enumeration value="401K"/>
<xs:enumeration value="SIRA"/>
<xs:enumeration value="403B"/>
<xs:enumeration value="457X"/>
<xs:enumeration value="RIRA"/>
<xs:enumeration value="RIAN"/>
<xs:enumeration value="RCRF"/>
<xs:enumeration value="RCIP"/>
<xs:enumeration value="EIFP"/>
<xs:enumeration value="EIOP"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="TaxExemptionReason1">
<xs:sequence>
<xs:element name="Strd" type="TaxExemptReason2Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxType2">
<xs:sequence>
<xs:element name="Strd" type="TaxType5Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TaxType5Code">
<xs:restriction base="xs:string">
<xs:enumeration value="PROV"/>
<xs:enumeration value="NATI"/>
<xs:enumeration value="STAT"/>
<xs:enumeration value="WITH"/>
<xs:enumeration value="KAPA"/>
<xs:enumeration value="INPO"/>
<xs:enumeration value="STAM"/>
<xs:enumeration value="WTAX"/>
<xs:enumeration value="INHT"/>
<xs:enumeration value="SOSU"/>
<xs:enumeration value="CTAX"/>
<xs:enumeration value="GIFT"/>
<xs:enumeration value="COAX"/>
<xs:enumeration value="EUTR"/>
<xs:enumeration value="AKT1"/>
<xs:enumeration value="AKT2"/>
<xs:enumeration value="ZWIS"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="TaxableIncomePerShareCalculated1">
<xs:sequence>
<xs:element name="Strd" type="TaxableIncomePerShareCalculated1Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TaxableIncomePerShareCalculated1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="TSIY"/>
<xs:enumeration value="TSIN"/>
<xs:enumeration value="UKWN"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="TaxationBasis1">
<xs:sequence>
<xs:element name="Strd" type="TaxationBasis3Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TaxationBasis3Code">
<xs:restriction base="xs:string">
<xs:enumeration value="FLAT"/>
<xs:enumeration value="PERU"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="TickerIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="TotalCharges2">
<xs:sequence>
<xs:element name="TtlAmtOfChrgs" type="ActiveCurrencyAnd13DecimalAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="ChrgDtls" type="Charge10" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TotalCommissions2">
<xs:sequence>
<xs:element name="TtlAmtOfComssns" type="ActiveCurrencyAnd13DecimalAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="ComssnDtls" type="Commission6" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TotalTaxes2">
<xs:sequence>
<xs:element name="TtlAmtOfTaxs" type="ActiveCurrencyAnd13DecimalAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="TaxDtls" type="Tax7" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TypeOfPrice7Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BIDE"/>
<xs:enumeration value="OFFR"/>
<xs:enumeration value="NAVL"/>
<xs:enumeration value="CREA"/>
<xs:enumeration value="CANC"/>
<xs:enumeration value="INTE"/>
<xs:enumeration value="SWNG"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="MIDD"/>
<xs:enumeration value="RINV"/>
<xs:enumeration value="SWIC"/>
<xs:enumeration value="DDVR"/>
<xs:enumeration value="ACTU"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="TypeOfPrice8Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ACTU"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UKDomesticSortCodeIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SC[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UKTaxGroupUnitCode">
<xs:restriction base="xs:string">
<xs:enumeration value="GRP1"/>
<xs:enumeration value="GRP2"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UPICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{8,17}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="UnitPrice4">
<xs:sequence>
<xs:element name="Tp" type="TypeOfPrice8Code"/>
<xs:element name="Val" type="PriceValue1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="UnitPrice5">
<xs:sequence>
<xs:element name="Tp" type="PriceType1"/>
<xs:element name="Val" type="PriceValue1"/>
<xs:element name="PricMtd" type="PriceMethod1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="NbOfDaysAcrd" type="Number" minOccurs="0" maxOccurs="1"/>
<xs:element name="TaxblIncmPerShr" type="AmountPrice1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="TaxblIncmPerShrClctd" type="TaxableIncomePerShareCalculated1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="WaivingInstruction2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="WICA"/>
<xs:enumeration value="WIUN"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="WaivingType1">
<xs:sequence>
<xs:element name="Strd" type="WaivingInstruction2Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="setr.006.001.02">
<xs:sequence>
<xs:element name="MstrRef" type="AdditionalReference3" minOccurs="0" maxOccurs="1"/>
<xs:element name="PoolRef" type="AdditionalReference3" minOccurs="0" maxOccurs="1"/>
<xs:element name="PrvsRef" type="AdditionalReference3" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="RltdRef" type="AdditionalReference3"/>
<xs:element name="MltplExctnDtls" type="RedemptionMultipleExecution2"/>
<xs:element name="IntrmyDtls" type="Intermediary4" minOccurs="0" maxOccurs="10"/>
<xs:element name="CpyDtls" type="CopyInformation1" minOccurs="0" maxOccurs="1"/>
<xs:element name="Xtnsn" type="Extension1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
