Iso20022.UnitTest/Resources/Setr/setr.057.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.42.1) on 2013 May 24 16:27:17, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:setr.057.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:setr.057.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification1">
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference3">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode"/>
                <xs:element name="PrtryIdSrc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="BloombergIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="ConfirmationRejectedStatus1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="RejectedConfirmationStatusReason1Code"/>
                <xs:element name="XtndedRsn" type="Extended350Code"/>
                <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="OrdrConfStsRptV01" type="OrderConfirmationStatusReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument10">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctGrp" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IndividualOrderConfirmationStatusAndReason1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="OrdrRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealRef" type="Max35Text"/>
            <xs:choice>
                <xs:element maxOccurs="10" minOccurs="1" name="ConfRjctd" type="ConfirmationRejectedStatus1"/>
                <xs:element maxOccurs="10" minOccurs="1" name="AmdmntRjctd" type="ConfirmationRejectedStatus1"/>
                <xs:element name="Sts" type="OrderConfirmationStatus1Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcctDtls" type="InvestmentAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmDtls" type="FinancialInstrument10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount13">
        <xs:sequence>
            <xs:element name="AcctId" type="AccountIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OwnrId" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OrderConfirmationStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STNP"/>
            <xs:enumeration value="CPNP"/>
            <xs:enumeration value="COAC"/>
            <xs:enumeration value="CREC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderConfirmationStatusReportV01">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:choice>
                <xs:element maxOccurs="2" minOccurs="0" name="OthrRef" type="AdditionalReference3"/>
                <xs:element maxOccurs="2" minOccurs="0" name="RltdRef" type="AdditionalReference3"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="IndvOrdrConfDtlsRpt" type="IndividualOrderConfirmationStatusAndReason1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:choice>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectedConfirmationStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DSAF"/>
            <xs:enumeration value="DFIN"/>
            <xs:enumeration value="DBEN"/>
            <xs:enumeration value="DPTD"/>
            <xs:enumeration value="DORD"/>
            <xs:enumeration value="DCXR"/>
            <xs:enumeration value="DUNB"/>
            <xs:enumeration value="DORT"/>
            <xs:enumeration value="DROU"/>
            <xs:enumeration value="DNAM"/>
            <xs:enumeration value="DGAM"/>
            <xs:enumeration value="DHRR"/>
            <xs:enumeration value="DGRP"/>
            <xs:enumeration value="DINP"/>
            <xs:enumeration value="DLIR"/>
            <xs:enumeration value="DARR"/>
            <xs:enumeration value="DPDI"/>
            <xs:enumeration value="DRSC"/>
            <xs:enumeration value="DNAV"/>
            <xs:enumeration value="DFXD"/>
            <xs:enumeration value="DCHD"/>
            <xs:enumeration value="DXOD"/>
            <xs:enumeration value="DTAD"/>
            <xs:enumeration value="DPDD"/>
            <xs:enumeration value="DSCA"/>
            <xs:enumeration value="DPID"/>
            <xs:enumeration value="DSAM"/>
            <xs:enumeration value="DSDT"/>
            <xs:enumeration value="DEXD"/>
            <xs:enumeration value="DIMD"/>
            <xs:enumeration value="DTRA"/>
            <xs:enumeration value="DTSA"/>
            <xs:enumeration value="DACI"/>
            <xs:enumeration value="DACO"/>
            <xs:enumeration value="DPSA"/>
            <xs:enumeration value="DPRA"/>
            <xs:enumeration value="DLID"/>
            <xs:enumeration value="DORF"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="DREF"/>
            <xs:enumeration value="IVAG"/>
            <xs:enumeration value="IRCU"/>
            <xs:enumeration value="IRIN"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="IDCU"/>
            <xs:enumeration value="IDIN"/>
            <xs:enumeration value="ICTR"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="NSLA"/>
            <xs:enumeration value="MEUT"/>
            <xs:enumeration value="MCOM"/>
            <xs:enumeration value="MCHA"/>
            <xs:enumeration value="MTAX"/>
            <xs:enumeration value="NATA"/>
            <xs:enumeration value="ALAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification3Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINIdentifier"/>
            <xs:element name="SEDOL" type="SEDOLIdentifier"/>
            <xs:element name="CUSIP" type="CUSIPIdentifier"/>
            <xs:element name="RIC" type="RICIdentifier"/>
            <xs:element name="TckrSymb" type="TickerIdentifier"/>
            <xs:element name="Blmbrg" type="BloombergIdentifier"/>
            <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
            <xs:element name="QUICK" type="QUICKIdentifier"/>
            <xs:element name="Wrtppr" type="WertpapierIdentifier"/>
            <xs:element name="Dtch" type="DutchIdentifier"/>
            <xs:element name="Vlrn" type="ValorenIdentifier"/>
            <xs:element name="SCVM" type="SicovamIdentifier"/>
            <xs:element name="Belgn" type="BelgianIdentifier"/>
            <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
            <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>
