Iso20022.UnitTest/Resources/Setr/setr.016.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.42.1) on 2013 May 24 16:27:15, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:setr.016.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:setr.016.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification1">
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference3">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode"/>
                <xs:element name="PrtryIdSrc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="BloombergIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="CancelledStatus2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="CancelledStatusReason2Code"/>
                <xs:element name="XtndedRsn" type="Extended350Code"/>
                <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANH"/>
            <xs:enumeration value="CANP"/>
            <xs:enumeration value="CXLR"/>
            <xs:enumeration value="CANO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Charge19">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tp" type="ChargeType11Code"/>
                <xs:element name="XtndedTp" type="Extended350Code"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element name="Rate" type="PercentageRate"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ChargeType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEND"/>
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="SWIT"/>
            <xs:enumeration value="DLEV"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PENA"/>
            <xs:enumeration value="POST"/>
            <xs:enumeration value="REGF"/>
            <xs:enumeration value="SHIP"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="CDSC"/>
            <xs:enumeration value="CBCH"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="INIT"/>
            <xs:enumeration value="BRKF"/>
            <xs:enumeration value="UCIC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Commission11">
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
                <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            </xs:choice>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CommissionType6Code"/>
                <xs:element maxOccurs="1" minOccurs="0" name="XtndedTp" type="Extended350Code"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="ComrclAgrmtRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewComrclAgrmtRefInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CommissionType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="BEND"/>
            <xs:enumeration value="CDPL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ConditionallyAcceptedStatus2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="5" minOccurs="1" name="RsnDtls" type="ConditionallyAcceptedStatusReason2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConditionallyAcceptedStatusReason2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="ConditionallyAcceptedStatusReason2Code"/>
                <xs:element name="XtndedRsn" type="Extended350Code"/>
                <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ConditionallyAcceptedStatusReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="AWRM"/>
            <xs:enumeration value="AWSM"/>
            <xs:enumeration value="DUPL"/>
            <xs:enumeration value="CRED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="OrdrInstrStsRptV03" type="OrderInstructionStatusReportV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExpectedExecutionDetails2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdTradDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdCshSttlmDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument10">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctGrp" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1">
        <xs:sequence>
            <xs:element name="Unit" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FundOrderData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcctDtls" type="InvestmentAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmDtls" type="FinancialInstrument10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HldgsRedRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundOrderData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlRedAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlSbcptAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmMtd" type="DeliveryReceiptType2Code"/>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="AddtlCshIn" type="ActiveOrHistoricCurrencyAndAmount"/>
                <xs:element maxOccurs="1" minOccurs="0" name="RsltgCshOut" type="ActiveOrHistoricCurrencyAndAmount"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InRepairStatus2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="RsnDtls" type="InRepairStatusReason3"/>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InRepairStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InRepairStatusReason3">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="InRepairStatusReason1Code"/>
                <xs:element name="XtndedRsn" type="Extended350Code"/>
                <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndividualOrderStatusAndReason2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="OrdrRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRef" type="Max35Text"/>
            <xs:choice>
                <xs:element name="Sts" type="OrderStatus4Code"/>
                <xs:element name="Canc" type="CancelledStatus2"/>
                <xs:element name="CondlyAccptd" type="ConditionallyAcceptedStatus2"/>
                <xs:element maxOccurs="10" minOccurs="1" name="Rjctd" type="RejectedStatus6"/>
                <xs:element name="Sspd" type="SuspendedStatus2"/>
                <xs:element name="InRpr" type="InRepairStatus2"/>
                <xs:element name="PrtlySttld" type="PartiallySettledStatus1"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="RprdConds" type="RepairedConditions3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrData" type="FundOrderData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewDtls" type="ExpectedExecutionDetails2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount13">
        <xs:sequence>
            <xs:element name="AcctId" type="AccountIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OwnrId" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderInstructionStatusReportV03">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:choice>
                <xs:element maxOccurs="2" minOccurs="0" name="OthrRef" type="AdditionalReference3"/>
                <xs:element maxOccurs="2" minOccurs="0" name="RltdRef" type="AdditionalReference3"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="OrdrDtlsRpt" type="OrderStatusAndReason7"/>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="IndvOrdrDtlsRpt" type="IndividualOrderStatusAndReason2"/>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="SwtchOrdrDtlsRpt" type="SwitchOrderStatusAndReason1"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OrderStatus4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="COSE"/>
            <xs:enumeration value="STNP"/>
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="SETT"/>
            <xs:enumeration value="CPNP"/>
            <xs:enumeration value="CNFC"/>
            <xs:enumeration value="DONE"/>
            <xs:enumeration value="DONF"/>
            <xs:enumeration value="OPOD"/>
            <xs:enumeration value="IACO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderStatusAndReason7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:choice>
                <xs:element name="Sts" type="OrderStatus4Code"/>
                <xs:element name="Canc" type="CancelledStatus2"/>
                <xs:element name="CondlyAccptd" type="ConditionallyAcceptedStatus2"/>
                <xs:element maxOccurs="10" minOccurs="1" name="Rjctd" type="RejectedStatus6"/>
                <xs:element name="Sspd" type="SuspendedStatus2"/>
                <xs:element name="PrtlySttld" type="PartiallySettledStatus1"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartiallySettledStatus1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="SettledStatusReason1Code"/>
                <xs:element name="XtndedRsn" type="Extended350Code"/>
                <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:choice>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectedStatus6">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="RejectedStatusReason7Code"/>
                <xs:element name="XtndedRsn" type="Extended350Code"/>
                <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectedStatusReason7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POIN"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="IDDB"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="IPAY"/>
            <xs:enumeration value="ICTR"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="IVAG"/>
            <xs:enumeration value="ISAF"/>
            <xs:enumeration value="DFOR"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="BLCA"/>
            <xs:enumeration value="BLTR"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="IDNA"/>
            <xs:enumeration value="UWAI"/>
            <xs:enumeration value="UDCY"/>
            <xs:enumeration value="UNAV"/>
            <xs:enumeration value="UPAY"/>
            <xs:enumeration value="URSC"/>
            <xs:enumeration value="SHIG"/>
            <xs:enumeration value="SLOW"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="DLVY"/>
            <xs:enumeration value="ORRF"/>
            <xs:enumeration value="IPAC"/>
            <xs:enumeration value="IOTP"/>
            <xs:enumeration value="NSLA"/>
            <xs:enumeration value="CUTO"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="FEEE"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="NRGM"/>
            <xs:enumeration value="DMON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RepairedConditions3">
        <xs:sequence>
            <xs:element maxOccurs="10" minOccurs="0" name="RprdChrg" type="Charge19"/>
            <xs:element maxOccurs="10" minOccurs="0" name="RprdComssn" type="Commission11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification3Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINIdentifier"/>
            <xs:element name="SEDOL" type="SEDOLIdentifier"/>
            <xs:element name="CUSIP" type="CUSIPIdentifier"/>
            <xs:element name="RIC" type="RICIdentifier"/>
            <xs:element name="TckrSymb" type="TickerIdentifier"/>
            <xs:element name="Blmbrg" type="BloombergIdentifier"/>
            <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
            <xs:element name="QUICK" type="QUICKIdentifier"/>
            <xs:element name="Wrtppr" type="WertpapierIdentifier"/>
            <xs:element name="Dtch" type="DutchIdentifier"/>
            <xs:element name="Vlrn" type="ValorenIdentifier"/>
            <xs:element name="SCVM" type="SicovamIdentifier"/>
            <xs:element name="Belgn" type="BelgianIdentifier"/>
            <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
            <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettledStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UPST"/>
            <xs:enumeration value="CPST"/>
            <xs:enumeration value="UCPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SuspendedStatus2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
                <xs:element maxOccurs="5" minOccurs="1" name="RsnDtls" type="SuspendedStatusReason2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SuspendedStatusReason2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="SuspendedStatusReason3Code"/>
                <xs:element name="XtndedRsn" type="Extended350Code"/>
                <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SuspendedStatusReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIC"/>
            <xs:enumeration value="FLOW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SwitchLegReferences1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="RedLegId" type="Max35Text"/>
                <xs:element name="SbcptLegId" type="Max35Text"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="LegRjctnRsn" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RprdConds" type="RepairedConditions3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcctDtls" type="InvestmentAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmDtls" type="FinancialInstrument10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SwitchOrderStatusAndReason1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="OrdrRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DealRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRef" type="Max35Text"/>
            <xs:choice>
                <xs:element name="Sts" type="OrderStatus4Code"/>
                <xs:element name="Canc" type="CancelledStatus2"/>
                <xs:element name="CondlyAccptd" type="ConditionallyAcceptedStatus2"/>
                <xs:element maxOccurs="10" minOccurs="1" name="Rjctd" type="RejectedStatus6"/>
                <xs:element name="Sspd" type="SuspendedStatus2"/>
                <xs:element name="InRpr" type="InRepairStatus2"/>
                <xs:element name="PrtlySttld" type="PartiallySettledStatus1"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LegInf" type="SwitchLegReferences1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrData" type="FundOrderData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewDtls" type="ExpectedExecutionDetails2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
