Iso20022.UnitTest/Resources/Setr/setr.016.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.0.1.3) on 2005 Mar 15 19:41:02-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:xsd:setr.016.001.02" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:xsd:setr.016.001.02">
<xs:element name="Document" type="Document"/>
<xs:complexType name="AccountIdentification1">
<xs:sequence>
<xs:element name="Prtry" type="SimpleIdentificationInformation"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="13"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
<xs:simpleContent>
<xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveCurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AdditionalReference3">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="RefIssr" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="MsgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AddressType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ADDR"/>
<xs:enumeration value="PBOX"/>
<xs:enumeration value="HOME"/>
<xs:enumeration value="BIZZ"/>
<xs:enumeration value="MLTO"/>
<xs:enumeration value="DLVY"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AlternateSecurityIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:choice>
<xs:element name="DmstIdSrc" type="CountryCode"/>
<xs:element name="PrtryIdSrc" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BloombergIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CancelledStatus1">
<xs:sequence>
<xs:choice>
<xs:element name="NoRsn" type="NoReasonCode"/>
<xs:element name="Rsn" type="CancelledStatusReason1"/>
<xs:element name="DataSrcSchme" type="GenericIdentification1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CancelledStatusReason1">
<xs:sequence>
<xs:element name="AddtlInf" type="Max350Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Charge11">
<xs:sequence>
<xs:choice>
<xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
<xs:element name="Rate" type="PercentageRate"/>
</xs:choice>
<xs:element name="Tp" type="ChargeType1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ChargeType1">
<xs:sequence>
<xs:element name="Strd" type="ChargeType6Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ChargeType6Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BEND"/>
<xs:enumeration value="FEND"/>
<xs:enumeration value="SWIT"/>
<xs:enumeration value="DLEV"/>
<xs:enumeration value="DISC"/>
<xs:enumeration value="PENA"/>
<xs:enumeration value="MANF"/>
<xs:enumeration value="POST"/>
<xs:enumeration value="REGF"/>
<xs:enumeration value="SHIP"/>
<xs:enumeration value="CHAR"/>
<xs:enumeration value="OTHR"/>
<xs:enumeration value="CDSC"/>
<xs:enumeration value="EQUL"/>
<xs:enumeration value="CBCH"/>
<xs:enumeration value="PREM"/>
<xs:enumeration value="INIT"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Commission7">
<xs:sequence>
<xs:choice>
<xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
<xs:element name="Rate" type="PercentageRate"/>
</xs:choice>
<xs:element name="Tp" type="CommissionType1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CommissionType1">
<xs:sequence>
<xs:element name="Strd" type="CommissionType5Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CommissionType5Code">
<xs:restriction base="xs:string">
<xs:enumeration value="FEND"/>
<xs:enumeration value="BEND"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ConditionallyAcceptedStatus1">
<xs:sequence>
<xs:choice>
<xs:element name="NoRsn" type="NoReasonCode"/>
<xs:element name="Rsn" type="ConditionallyAcceptedStatusReason1"/>
<xs:element name="DataSrcSchme" type="GenericIdentification1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ConditionallyAcceptedStatusReason1">
<xs:sequence>
<xs:element name="Strd" type="ConditionallyAcceptedStatusReason1Code" minOccurs="1" maxOccurs="4"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ConditionallyAcceptedStatusReason1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="AWMO"/>
<xs:enumeration value="AWSH"/>
<xs:enumeration value="DOCC"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateAndDateTimeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Dt" type="ISODate"/>
<xs:element name="DtTm" type="ISODateTime"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DistributionPolicy1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DIST"/>
<xs:enumeration value="ACCU"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="setr.016.001.02" type="setr.016.001.02"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="EuroclearClearstreamIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="12"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ExpectedExecutionDetails1">
<xs:sequence>
<xs:element name="XpctdTradDtTm" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="XpctdSttlmDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstrument6">
<xs:sequence>
<xs:element name="Id" type="SecurityIdentification1Choice"/>
<xs:element name="Nm" type="Max350Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SplmtryId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="ClssTp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SctiesForm" type="FormOfSecurity1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="DstrbtnPlcy" type="DistributionPolicy1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="PdctGrp" type="Max140Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="FormOfSecurity1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BEAR"/>
<xs:enumeration value="REGD"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="GenericIdentification1">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISINIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z0-9]{12,12}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:complexType name="InRepairStatus1">
<xs:sequence>
<xs:choice>
<xs:element name="NoRsn" type="NoReasonCode"/>
<xs:element name="Rsn" type="InRepairStatusReason1"/>
<xs:element name="DataSrcSchme" type="GenericIdentification1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InRepairStatusReason1">
<xs:sequence>
<xs:element name="AddtlInf" type="Max350Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IndividualOrderStatusAndReason1">
<xs:sequence>
<xs:choice>
<xs:element name="Sts" type="OrderStatus2Code"/>
<xs:element name="Canc" type="CancelledStatus1"/>
<xs:element name="CondlyAccptd" type="ConditionallyAcceptedStatus1"/>
<xs:element name="InRpr" type="InRepairStatus1"/>
<xs:element name="Rjctd" type="RejectedStatus3"/>
<xs:element name="Sspd" type="SuspendedStatus1"/>
<xs:element name="RprdConds" type="RepairedConditions2"/>
</xs:choice>
<xs:element name="OrdrRef" type="Max35Text"/>
<xs:element name="StsInitr" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="InvstmtAcctOrFinInstrm" type="InvestmentAccountOrFinancialInstrument1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="NewDtls" type="ExpectedExecutionDetails1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvestmentAccount13">
<xs:sequence>
<xs:element name="AcctId" type="AccountIdentification1"/>
<xs:element name="AcctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctDsgnt" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="OwnrId" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="AcctSvcr" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvestmentAccountOrFinancialInstrument1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="InvstmtAcct" type="InvestmentAccount13"/>
<xs:element name="FinInstrm" type="FinancialInstrument6"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max350Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="350"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max70Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="70"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="NameAndAddress5">
<xs:sequence>
<xs:element name="Nm" type="Max350Text"/>
<xs:element name="Adr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="NoReasonCode">
<xs:restriction base="xs:string">
<xs:enumeration value="NORE"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="OrderStatus2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="PACK"/>
<xs:enumeration value="COSE"/>
<xs:enumeration value="STNP"/>
<xs:enumeration value="RECE"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="OrderStatusAndReason3">
<xs:sequence>
<xs:choice>
<xs:element name="Sts" type="OrderStatus2Code"/>
<xs:element name="Canc" type="CancelledStatus1"/>
<xs:element name="CondlyAccptd" type="ConditionallyAcceptedStatus1"/>
<xs:element name="Rjctd" type="RejectedStatus3"/>
<xs:element name="Sspd" type="SuspendedStatus1"/>
</xs:choice>
<xs:element name="StsInitr" type="PartyIdentification2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="SwtchOrdrLegId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentification2Choice">
<xs:sequence>
<xs:choice>
<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
<xs:element name="PrtryId" type="GenericIdentification1"/>
<xs:element name="NmAndAdr" type="NameAndAddress5"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PercentageRate">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="10"/>
<xs:totalDigits value="11"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PostalAddress1">
<xs:sequence>
<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="5"/>
<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ctry" type="CountryCode"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="RICIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="RejectedStatus3">
<xs:sequence>
<xs:choice>
<xs:element name="Rsn" type="RejectedStatusReason6" minOccurs="1" maxOccurs="10"/>
<xs:element name="DataSrcSchme" type="GenericIdentification1" minOccurs="1" maxOccurs="10"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="RejectedStatusReason5Code">
<xs:restriction base="xs:string">
<xs:enumeration value="POIN"/>
<xs:enumeration value="ICAG"/>
<xs:enumeration value="IDDB"/>
<xs:enumeration value="INTE"/>
<xs:enumeration value="SAFE"/>
<xs:enumeration value="IPAY"/>
<xs:enumeration value="ICTR"/>
<xs:enumeration value="DEPT"/>
<xs:enumeration value="IVAG"/>
<xs:enumeration value="ISAF"/>
<xs:enumeration value="DFOR"/>
<xs:enumeration value="DSEC"/>
<xs:enumeration value="BLCA"/>
<xs:enumeration value="BLTR"/>
<xs:enumeration value="DOCC"/>
<xs:enumeration value="MONY"/>
<xs:enumeration value="SECU"/>
<xs:enumeration value="IDNA"/>
<xs:enumeration value="UWAI"/>
<xs:enumeration value="UDCY"/>
<xs:enumeration value="UNAV"/>
<xs:enumeration value="UPAY"/>
<xs:enumeration value="URSC"/>
<xs:enumeration value="SHIG"/>
<xs:enumeration value="SLOW"/>
<xs:enumeration value="ULNK"/>
<xs:enumeration value="DLVY"/>
<xs:enumeration value="ORRF"/>
<xs:enumeration value="IPAC"/>
<xs:enumeration value="IOTP"/>
<xs:enumeration value="NSLA"/>
<xs:enumeration value="CUTO"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="RejectedStatusReason6">
<xs:sequence>
<xs:element name="Strd" type="RejectedStatusReason5Code"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RepairedConditions2">
<xs:sequence>
<xs:element name="RprdChrg" type="Charge11" minOccurs="0" maxOccurs="10"/>
<xs:element name="RprdComssn" type="Commission7" minOccurs="0" maxOccurs="10"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SecurityIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="ISIN" type="ISINIdentifier"/>
<xs:element name="AltrnId" type="AlternateSecurityIdentification1"/>
<xs:element name="RIC" type="RICIdentifier"/>
<xs:element name="TckrSymb" type="TickerIdentifier"/>
<xs:element name="Blmbrg" type="BloombergIdentifier"/>
<xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
<xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SuspendedStatus1">
<xs:sequence>
<xs:choice>
<xs:element name="NoRsn" type="NoReasonCode"/>
<xs:element name="Rsn" type="SuspendedStatusReason1"/>
<xs:element name="DataSrcSchme" type="GenericIdentification1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SuspendedStatusReason1">
<xs:sequence>
<xs:element name="Strd" type="SuspendedStatusReason2Code" minOccurs="1" maxOccurs="3"/>
<xs:element name="AddtlInf" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SuspendedStatusReason2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="PRIC"/>
<xs:enumeration value="FLOW"/>
<xs:enumeration value="OTHR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="TickerIdentifier">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="setr.016.001.02">
<xs:sequence>
<xs:choice>
<xs:element name="OthrRef" type="AdditionalReference3" minOccurs="1" maxOccurs="2"/>
<xs:element name="RltdRef" type="AdditionalReference3" minOccurs="1" maxOccurs="2"/>
</xs:choice>
<xs:element name="MstrRef" type="AdditionalReference3" minOccurs="0" maxOccurs="1"/>
<xs:choice>
<xs:element name="OrdrDtlsRpt" type="OrderStatusAndReason3"/>
<xs:element name="IndvOrdrDtlsRpt" type="IndividualOrderStatusAndReason1" minOccurs="1" maxOccurs="unbounded"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
</xs:schema>
