Iso20022.UnitTest/Resources/Auth/auth.015.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 16 14:54:32, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.015.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.015.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CounterpartyIdentification2Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="ReportedPartyIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MnyMktOvrnghtIndxSwpsSttstclRpt" type="MoneyMarketOvernightIndexSwapsStatisticalReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MoneyMarketOvernightIndexSwapsStatisticalReportV01">
        <xs:sequence>
            <xs:element name="RptHdr" type="MoneyMarketReportHeader1"/>
            <xs:element name="OvrnghtIndxSwpsRpt" type="OvernightIndexSwap3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MoneyMarketReportHeader1">
        <xs:sequence>
            <xs:element name="RptgAgt" type="LEIIdentifier"/>
            <xs:element name="RefPrd" type="DateTimePeriod1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameOrSector1Choice">
        <xs:choice>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Sctr" type="SNA2008SectorIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OvernightIndexSwap3Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Tx" type="OvernightIndexSwapTransaction3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OvernightIndexSwapTransaction3">
        <xs:sequence>
            <xs:element name="RptdTxSts" type="TransactionOperationType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqTxIdr" type="Max105Text"/>
            <xs:element name="PrtryTxId" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyPrtryTxId" type="Max105Text"/>
            <xs:element name="CtrPtyId" type="CounterpartyIdentification2Choice"/>
            <xs:element name="TradDt" type="DateAndDateTimeChoice"/>
            <xs:element name="StartDt" type="ISODate"/>
            <xs:element name="MtrtyDt" type="ISODate"/>
            <xs:element name="FxdIntrstRate" type="Rate2"/>
            <xs:element name="TxTp" type="OvernightIndexSwapType1Code"/>
            <xs:element name="TxNmnlAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OvernightIndexSwapType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAID"/>
            <xs:enumeration value="RECE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="Rate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportedPartyIdentification1">
        <xs:sequence>
            <xs:element name="NmOrSctr" type="NameOrSector1Choice"/>
            <xs:element name="Lctn" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SNA2008SectorIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMND"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="CORR"/>
            <xs:enumeration value="NEWT"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
