Iso20022.UnitTest/Resources/Catp/catp.005.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2015 Aug 24 16:29:09, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:catp.005.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:catp.005.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="ATMCommand1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ATMCommand1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Maintenance command to perform on an ATM.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="ATMCommand1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of command to be performed by the ATM.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Urgcy" type="TMSContactLevel2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Urgency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Urgency of the command.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date time on which the command must be performed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CmdId" type="ATMCommandIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommandIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity issuing the command.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CmdParams" type="ATMCommandParameters1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommandParameters</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific parameters attached to the command.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMCommand1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ATMCommand1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of command to be performed by an ATM.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provide the ATM counters, resetting those that are applicable.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ASTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMStatusUpdate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the ATM required by the ATM manager.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CFGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConfigurationUpdate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Update the ATM configuration parameters.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCNT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountersInquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Current value of counters, no reinitialisation of the counters.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DISC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Disconnect</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Perform a disconnection followed by a reconnection.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SNDM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SendMessage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Send a specific message to initiate a process.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMCommandIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ATMCommandIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the entity issuing the command.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Origin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity issuing the command.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the command for the issuer of the command.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prcr" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Processor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification or address of the host performing the command.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMCommandParameters1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ATMCommandParameters1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specific parameters attached to an ATM command.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="ATMReqrdGblSts" type="ATMStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMRequiredGlobalStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Required status of the ATM, parameters of the status update command.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XpctdMsgFctn" type="MessageFunction8Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpectedMessageFunction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message to send for the send message command.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqrdCfgtnParam" type="ATMConfigurationParameter1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequiredConfigurationParameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters to be used by the configuration update command.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ATMConfigurationParameter1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ATMConfigurationParameter1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Configuration parameter version of the ATM.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="DataSetCategory7Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the ATM configuration.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vrsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Active version of the configuration.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMMessageFunction1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ATMMessageFunction1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the type of process related to an ATM message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Fctn" type="MessageFunction7Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Function</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of requested function.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMSvcCd" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMServiceCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Codification of the type of service for the ATM.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="HstSvcCd" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HostServiceCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Codification of the type of service for the ATM manager host.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMReject1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ATMReject1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to the reject of a message from an ATM or an ATM manager.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctInitrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectInitiatorIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity sending the reject message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RjctRsn" type="RejectReason1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">High level information allowing the sender of a request or an advice to know the types of error, and handle them accordingly.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max500Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information related to the sending of a reject message in response to a request or an advice.&#13;
For logging purpose, in order to allow further analysis, statistics and deferred processing on the success or the failure of the request processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cmd" type="ATMCommand1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Command</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Maintenance command to perform on the ATM.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgInErr" type="Max100KBinary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageInError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Received message that has been rejected.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMRejectV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ATMRejectV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The ATMReject message is sent by any entity to reject a received message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Hdr" type="Header22">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Header</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the protocol management on a segment of the path from the ATM to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ATMRjct" type="ATMReject1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMReject</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the reject of a message from an ATM or an ATM manager.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ATMStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status of the ATM</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INSV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InService</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Component is in service.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OUTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutOfService</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ATM out of service.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataSetCategory7Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DataSetCategory7Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of an ATM configuration.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATMC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMConfiguration</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Configuration parameters of the ATM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ATMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMProtocol</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ATM protocol parameters, including the configuration of the hosts.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="APPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ApplicationParameters</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment application specific configuration parameters for the point of interaction (POI) system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardApplication</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Configuration parameters of the card application.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPRC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardConfiguration</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Configuration of the cards accepted by the terminal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OEXR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OfflineExchangeRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Local rates for currency exchanges.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AMNT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreDefinedAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Predefined amounts to be presented to the customer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOCC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LocationConfiguration</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Configuration of the location.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MNOC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MobileOperator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Configuration of the mobile operator cards accepted by the terminal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ATMRjct" type="ATMRejectV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification77">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification77</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="PartyType12Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identified entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType12Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity assigning the identification  (for example merchant, acceptor, acquirer, or tax authority).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country of the entity (ISO 3166-1 alpha-2 or alpha-3)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header22">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Header22</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to the protocol management on a segment of the path from the ATM to the acquirer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgFctn" type="ATMMessageFunction1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageFunction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the type of process related to the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtcolVrsn" type="Max6Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProtocolVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the ATM protocol specifications.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an exchange occurrence.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InitgPty" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitiatingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the partner that has initiated the exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the partner that is the recipient of the message exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcStat" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessState</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of the sender of the message inside the process flow.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Traceability</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of partners involved in exchange from the merchant to the issuer, with the relative timestamp of their exchanges.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max100KBinary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Binary data of 100K maximum.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max500Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 500 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max6Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 6 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction7Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageFunction7Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the type of process related to an ATM message.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provide the ATM counters resettting those that are applicable.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMPA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMCompletionAcknowledgement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acknowledgement of a completion advice.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMPD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMCompletionAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice of an ATM transaction completion.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACMD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMControl</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Global ATM commands.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DVCC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMDeviceControl</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Maintenance commands to perform.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DIAQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMDiagnosticRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for a diagnostic.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DIAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMDiagnosticResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response to a diagnostic request.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GSTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMGlobalStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Global status of the ATM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INQQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMInquiryRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for an inquiry.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INQP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMInquiryResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response to an inquiry request.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KYAQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMKeyDownloadRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for a key download.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KYAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMKeyDownloadResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response to a key download.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PINQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMPINManagementRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for a cardholder PIN management.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PINP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMPINManagementResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response to a cardholder PIN management request.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJAQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMRequestReject</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rejected request message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMResponseReject</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rejected response message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WITV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMWithdrawalAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response of a withdrawal transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WITK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMWithdrawalAknowledgement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acknowledgement of a withdrawal transaction advice.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WITQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMWithdrawalRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for a withdrawal transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WITP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMWithdrawalResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response to a withdrawal transaction request.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INQC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountersInquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Current value of counters, no reinitialisation of the counters.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="H2AP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HostToATMAcknowledgement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acknowledgement of a request from a host to an ATM for contacting.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="H2AQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HostToATMRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request from a host to an ATM to be contacted by this ATM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TMOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Logical or physical operation on the ATM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityControl</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security Commands.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security detailed report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SKSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityKeyCompletion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Result of the key download with the status of the downloaded keys including key check values.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityKeyStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of cryptographic keys.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction8Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageFunction8Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the type of process requested by the host to an ATM.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provide the ATM counters resettting those that are applicable.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GSTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMGlobalStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Global status of the ATM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security detailed report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INQC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountersInquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Current value of counters, no reinitialisation of the counters.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KEYQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyExchangeRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request of a key exchange.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityKeyStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of cryptographic keys.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Min2Max3AlphaText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alpha string with a minimum length of 2 characters and  a maximum length of 3 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType12Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyType12Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of identified entity.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity acquiring card transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ATMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity managing the ATM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CISP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardIssuerProcessor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity providing issuing card payment processing services on behalf on an issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DelegateIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party to whom the card issuer delegates to authorise card payment transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HSTG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HostingEntity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity hosting the ATM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party acting on behalf of other parties to process or forward data to other parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OATM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginatingATM</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ATM initiating the transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason of transmission of a rejection message in response to a request or an advice.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToProcess</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Not possible to process the message, for instance the security module is unavailable, the hardware is unavailable, or there is a problem of resource.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IMSG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidMessage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid envelope of the message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PARS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ParsingError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid message:  At least one of the data element or data structure is not present , the format, or the content of one data element or one data structure is not correct.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SECU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Security</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security error (for example an invalid key or an incorrect MAC value).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INTP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitiatingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid identification data for the sender.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCPP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid identification data for the the receiver.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DuplicateMessage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Duplicate message, the identification of the exchange is the same than a previous message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VERS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProtocolVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the protocol couldn't be supported by the recipient.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MSGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of message the recipient receives is unknow or unsupported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TMSContactLevel2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TMSContactLevel2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Urgency of the command.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AsSoonAsPossible</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Terminal management system has to be contacted as soon as possible (for example after reconciliation).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Critical</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Terminal management system has to be contacted before the next transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DTIM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Terminal management system has to be contacted at the date and time provided.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENCS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndCustomerSession</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">After the end of the customer session</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Traceability4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Traceability4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of partners involved in exchange from the ATM to the issuer, with the relative timestamp of their exchanges.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification77">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelayIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a partner of a message exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SequenceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the relay node in the path, to enable identification of several hosts in parallel.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TracDtTmIn" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TraceDateTimeIn</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of incoming data exchange for relaying or processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TracDtTmOut" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TraceDateTimeOut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of the outgoing exchange for relaying or processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
